@page "/dashboard/sch0.0/block0_1"
@using Blazored.FluentValidation
@using Income.Viewmodels
@using Income.Viewmodels.SCH0_0
@layout Income.Components.Layout.DashboardLayout
@inject Block_0_1_VM block_0_1_VM
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@using FluentValidation
@using Microsoft.AspNetCore.Components.Forms
@using System.Linq.Expressions
@inject IToastService toastService
@inject ILoggingService Logger
@inject Warning_VM warningVM

@if (editContext != null)
{
    <EditForm EditContext="@editContext">
        <FluentValidationValidator />
        <CommonContentHeader SelectedFsuId="@SelectedFsuId"
                             survey_time="@survey_time" />
        <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">
            <div class="main-content">
                
                <div class="card custom-card">
                    <div class="card-header">
                        <h3 class="card-title"><span class="text-primary fw-bolder me-2">[0]</span>Descriptive identification of sample FSU</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">1</span>State / UT</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_0_1">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">2</span>District</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_0_2">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">3</span>Sub-District/Tehsill</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_0_3">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">4</span>Village Name / Town</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_0_4">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">5</span>Investigator Unit No</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_0_5">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">6</span>Block No</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_0_6">
                                </div>
                            </div>
                            @* <div class="col-sm-12">
                        <div class="mb-3"> 
                            <label class="form-label"><span class="form-badge">7</span>Sample Sub-unit (SU)</label> 
                             <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.block_0_7"> 
                         </div>
                    </div> *@
                        </div>
                    </div>

                </div>
                <div class="card custom-card">
                    <div class="card-header">
                        <h3 class="card-title"><span class="text-primary fw-bolder me-2">[1]</span>Identification of sample FSU</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">1</span>Serial number of sample FSU</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_1">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">2</span>Round Number</label>
                                    <input type="text" class="form-control" placeholder="" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">3</span>Schedule Number</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_3">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">4</span>Sample</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.Block_1_4_Selected">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">5</span>Sector</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.Block_1_5_Selected">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">6</span>NSS Region Code</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_6">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">7</span>District Code</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_7">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">8</span>Stratum Number</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_8">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">9</span>Sub-stratum Number</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_9">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">10</span>Sub-round Number</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_10">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">11</span>FOD sub-region Code</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_11">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">12</span>Frame Code</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.Block_1_12_Selected">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">13</span>Population of village or number of households of UFS Block</label>
                                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_13">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">14</span>Approx. present population</label>
                                    <input type="text"
                                           class="form-control"
                                           maxlength="6"
                                           @bind="Block114Text"
                                           @bind:event="oninput"
                                           disabled="@(block_0_1_VM.DisablePopulation)" />
                                    <ValidationMessage For="@(() => block_0_1_VM.block_0_1.Block_1_14)" />
                                    @if (!string.IsNullOrEmpty(Block_1_14_ErrorMessage))
                                    {
                                        <div class="text-success mt-1 fw-bold">
                                            @Block_1_14_ErrorMessage
                                        </div>
                                    }
                                </div>                     
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label"><span class="form-badge">15</span>Total number of SUs to be formed (D)</label>
                                <input type="text" class="form-control" placeholder="" disabled value="@block_0_1_VM.block_0_1.Block_1_15">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3" EditContext="EditContext">
                                <label class="form-label"><span class="form-badge">16</span>Survey Code</label>
                                <select disabled="@SessionStorage.hamlet_selection_done" class="form-select w-100" value="@block_0_1_VM.block_0_1.Block_1_16" @onchange="@((ChangeEventArgs e) => SurveyCodeSelectionChanged(e))">
                                    <option value="">Select</option>
                                    @if (block_0_1_VM.survey_code_list != null && block_0_1_VM.survey_code_list.Count > 0)
                                    {
                                        @foreach (var item in block_0_1_VM.survey_code_list)
                                        {
                                            <option value="@item.id">@item.title</option>
                                        }
                                    }
                                </select>
                                <ValidationMessage For="@(() => block_0_1_VM.block_0_1.Block_1_16)" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3" hidden="@(!block_0_1_VM.ShowItem17)">
                                <label class="form-label">
                                    <span class="form-badge">17</span>
                                    Reason for substitution of original sample (code)
                                </label>
                                <select disabled="@SessionStorage.hamlet_selection_done" class="form-select w-100" value="@block_0_1_VM.block_0_1.Block_1_17" @onchange="@((ChangeEventArgs e) => SubstitutionCodeSelectionChanged(e))">
                                    <option value="">Select</option>
                                    @if (block_0_1_VM.substitution_reason_list != null && block_0_1_VM.substitution_reason_list.Count > 0)
                                    {
                                        @foreach (var item in block_0_1_VM.substitution_reason_list)
                                        {
                                            <option value="@item.id">@item.title</option>
                                        }
                                    }
                                </select>
                                <ValidationMessage For="@(() => block_0_1_VM.block_0_1.Block_1_17)" />
                            </div>
                        </div>
                        @* When user will select code 9 - others in q.17 the 17.1 will be enabled *@
                        <div class="col-sm-12" hidden="@(!block_0_1_VM.ShowItem17RemarksField)">
                            <div class="mb-3">
                                <label class="form-label">
                                    <span class="form-badge">17.1</span>
                                    Reason
                                </label>
                                <textarea maxlength="50" disabled="@SessionStorage.hamlet_selection_done" type="text" rows="2" class="form-control" @bind="block_0_1_VM.block_0_1.remarks_block_1_17" placeholder="Enter your remarks here..." oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '')"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card custom-card">
                    <div class="card-header">
                        <h3 class="card-title"><span class="text-primary fw-bolder me-2">18</span>Remarks</h3>
                    </div>
                    <div class="card-body">
                        <textarea maxlength="500" disabled="@SessionStorage.FSU_Submitted" type="text" class="form-control disabled w-100" placeholder="Enter your remarks here..." rows="2" @bind="block_0_1_VM.block_0_1.remarks" oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '')"></textarea>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="footer">
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-outline-secondary" onclick="@GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="btn btn-outline-primary me-2" hidden="@(!(SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO && !SessionStorage.hamlet_selection_done))" @onclick="@(() => HandleSubmit(false))"><i class="fi fi-rr-disk me-1"></i>Save</button>
                        <NavLink class="btn btn-primary" @onclick="@(() => HandleSubmit(true))">Next<i class="fi fi-rr-angle-right ms-1"></i></NavLink>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}       
@code {
    bool is_go_next = false;
    EditContext editContext;
    int SelectedFsuId = SessionStorage.SelectedFSUId;
    private CommonConfig commonConfig = new CommonConfig();
    DateTime survey_time = DateTime.Now;
    bool IsBlock_1_14_ErrorMessageVisible = false;
    string Block_1_14_ErrorMessage = string.Empty;
    string Block_1_17_ErrorMessage = string.Empty;
    private FluentValidationValidator? validator;
    DBQueries DBQueries = new();

    private string Block114Text
    {
        get => block_0_1_VM.block_0_1?.Block_1_14?.ToString() ?? string.Empty;
        set
        {
            // keep only digits
            var digits = new string(value.Where(char.IsDigit).ToArray());

            // max 6 chars
            if (digits.Length > 6)
                digits = digits.Substring(0, 6);

            block_0_1_VM.block_0_1.Block_1_14 =
                string.IsNullOrEmpty(digits) ? null : int.Parse(digits);

            editContext?.NotifyFieldChanged(
                editContext.Field(nameof(block_0_1_VM.block_0_1.Block_1_14))
            );

            CheckWarning();
        }
    }


    void CheckWarning()
    {
        try
        {

            Block_1_14_ErrorMessage = string.Empty;
            if (block_0_1_VM.block_0_1 != null && block_0_1_VM.block_0_1.Block_1_14.HasValue)
            {
                // Your existing logic
                int sector = block_0_1_VM.block_0_1.Block_1_5 ?? 0;
                int framePop = block_0_1_VM.block_0_1.Block_1_13 ?? 0;
                int value = block_0_1_VM.block_0_1.Block_1_14.GetValueOrDefault();
                if (sector == 1)
                {
                    if (framePop > 0)
                    {
                        double change = ((double)(value - framePop) / framePop) * 100;
                        if (Math.Abs(change) >= 20)
                        {
                            IsBlock_1_14_ErrorMessageVisible = true;
                            Block_1_14_ErrorMessage =
                                "W006: Wide variation in approximate population and frame population";
                        }
                    }
                }
                else if (sector == 2)
                {
                    int maxValue = (int)(framePop * 4 * 1.2);
                    int minValue = (int)(framePop * 4 * 0.80);

                    if (value < minValue || value > maxValue)
                    {
                        IsBlock_1_14_ErrorMessageVisible = true;
                        Block_1_14_ErrorMessage =
                            "W006: Wide variation in approximate population and frame population";
                    }
                }
            }
            
        }
        catch (Exception ex)
        {

        }

    }


    async void GoBack()
    {
        NavigationManager.NavigateTo("/dashboard/fsulist");
        // await JSRuntime.InvokeVoidAsync("__handleGoBack");
        return;
    }

    protected override async Task OnInitializedAsync()
    {
        //NavigationManager.LocationChanged += Nav_LocationChanged;
        block_0_1_VM.NotifyUiUpdate += StateHasChanged;
        await block_0_1_VM.Init();
        if (block_0_1_VM.block_0_1 != null && block_0_1_VM.block_0_1.Block_1_14.HasValue)
        {
            CheckWarning();
        }
        if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO && block_0_1_VM.block_0_1 != null)
        {
            survey_time = block_0_1_VM.block_0_1.survey_timestamp.GetValueOrDefault();
        }
        editContext = new EditContext(block_0_1_VM.block_0_1);
    }

    private async void Nav_LocationChanged(object sender, LocationChangedEventArgs e)
    {
        if (e.IsNavigationIntercepted == false)
        {
            await block_0_1_VM.Init(); // replace with your initialization logic
        }
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= Nav_LocationChanged;
    }

    async Task HandleSubmit(bool goNext)
    {
        try
        {

            if(goNext && SessionStorage.hamlet_selection_done)
            {
                Navigate();
                return;
            }

            // Trigger full form validation
            var isValid = editContext?.Validate() ?? false;

            if (isValid)
            {
                if(block_0_1_VM.ShowItem17RemarksField && string.IsNullOrWhiteSpace(block_0_1_VM.block_0_1.remarks_block_1_17))
                {
                    toastService.ShowError("Enter remarks before proceeding");
                    return;
                }
            }

            if (!isValid)
            {
                toastService.ShowError("Please correct the highlighted validation errors before proceeding.");
                return;
            }

            // Save data
            var saveSuccess = await block_0_1_VM.Save();

            if (!saveSuccess)
            {
                toastService.ShowError("Failed to save data. Please try again.");
                return;
            }

            // Show confirmation after successful validation + save
            toastService.ShowSuccess("Data successfully validated and saved");
            if(!string.IsNullOrEmpty(Block_1_14_ErrorMessage))
            {
                warningVM.AddWarning(Block_1_14_ErrorMessage, "0", "1", "14");
            }
            await warningVM.SaveWarningAsync("0", "1", 0);
            warningVM._tempWarnings.Clear();


            // If this is only a Save (not Next), stop here
            if (!goNext)
            {
                return;
            }
            Navigate();

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error in HandleSubmit: {ex.Message}");
            toastService.ShowError("An unexpected error occurred while processing the form.");
        }
    }

    private void Navigate()
    {
        try
        {
            // ✅ Navigation logic after successful save
            var model = block_0_1_VM.block_0_1;
            var sector = model.Block_1_5 ?? 0;
            var totalSU = model.Block_1_15 ?? 0;
            var surveyCode = model.Block_1_16 ?? 0;

            // Navigation rules:
            // 1. For rural FSU (sector = 1) and D > 1 (Block_1_15) → Hamlet formation page (2.1)
            // 2. For rural FSU (sector = 1) and D = 1 (Block_1_15) → Block 4 (no hamlets formed)
            // 3. For urban FSU (sector = 2) → Hamlet selection page (2.2)
            // 4. If survey code != 1 or 4 → Field operation (FSU cannot be surveyed)

            if (surveyCode == 1 || surveyCode == 4)
            {
                if (sector == 1)
                {
                    if (totalSU > 1)
                        NavigationManager.NavigateTo("/dashboard/sch0.0/block_2_1");
                    else
                        NavigationManager.NavigateTo("/dashboard/sch0.0/block_4");
                }
                else
                {
                    if(totalSU > 1)
                        NavigationManager.NavigateTo("/dashboard/sch0.0/block_2_2U");
                    else
                        NavigationManager.NavigateTo("/dashboard/sch0.0/block_4");
                }
            }
            else
            {
                NavigationManager.NavigateTo("/dashboard/sch0.0/block_11");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error in Navigate: " + ex.Message);
        }
    }

    public void SurveyCodeSelectionChanged(ChangeEventArgs args)
    {
        try
        {
            block_0_1_VM.SurveyCodeSelectionChanged(args);
            editContext?.NotifyFieldChanged(editContext.Field(nameof(block_0_1_VM.block_0_1.Block_1_16)));
            editContext?.NotifyFieldChanged(editContext.Field(nameof(block_0_1_VM.block_0_1.Block_1_14)));
        }
        catch (Exception ex)
        {

        }
    }

    public void SubstitutionCodeSelectionChanged(ChangeEventArgs args)
    {
        try
        {
            var val = args.Value?.ToString();

            if (short.TryParse(val, out short result))
            {
                block_0_1_VM.block_0_1.Block_1_17 = result;
                block_0_1_VM.ShowItem17RemarksField = block_0_1_VM.ShowItem17 && block_0_1_VM.block_0_1.Block_1_17.GetValueOrDefault() == 9;

            }
            else
            {
                block_0_1_VM.block_0_1.Block_1_17 = null;
            }

            editContext?.NotifyFieldChanged(
                editContext.Field(nameof(block_0_1_VM.block_0_1.Block_1_17))
            );
        }
        catch
        {
            block_0_1_VM.block_0_1.Block_1_17 = null;
        }
    }
}
