@page "/dashboard/sch0.0/block0_1"
@using Income.Viewmodels.SCH0_0
@layout Income.Components.Layout.DashboardLayout
@inject Block_0_1_VM block_0_1_VM
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@using FluentValidation
@using Microsoft.AspNetCore.Components.Forms

<div class="my-2">
    <CommonContentHeader 
        SelectedFsuId="@SelectedFsuId"
        survey_time="@survey_time"
    />

    
    <div class="card-style2 my-4">
        <div class="w-100 pb-3 ps-4 pt-3 mb-3" style="border-bottom: 1.5px solid black;">
            <p class="fs-5 m-0"><span class="text-primary me-2">[0]</span>Descriptive identification of sample FSU</p>
        </div>
        <div class="row px-4">
            <div class="mb-3 col-4">
                <label class="form-label fw-bold"><span class="badge bg-primary me-2">1</span>State / UT</label>
                <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_0_1">
            </div>
            <div class="mb-3 col-4">
                <label class="form-label fw-bold"><span class="badge bg-primary me-2">2</span>District</label>
                <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_0_2">
            </div>
            <div class="mb-3 col-4">
                <label class="form-label fw-bold"><span class="badge bg-primary me-2">3</span>Sub-District/Tehsill</label>
                <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_0_3">
            </div>
            <div class="mb-3 col-4">
                <label class="form-label fw-bold"><span class="badge bg-primary me-2">4</span>Village Name / Town</label>
                <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_0_4">
            </div>
            <div class="mb-3 col-4">
                <label class="form-label fw-bold"><span class="badge bg-primary me-2">5</span>Investigator Unit No</label>
                <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_0_5">
            </div>
            <div class="mb-3 col-4">
                <label class="form-label fw-bold"><span class="badge bg-primary me-2">6</span>Block No</label>
                <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_0_6">
            </div>
            @* <div class="mb-3 col-4"> *@
            @*     <label class="form-label fw-bold"><span class="badge bg-primary me-2">7</span>Sample Sub-unit (SU)</label> *@
            @*     <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.block_0_7"> *@
            @* </div> *@
        </div>
    </div>

    <EditForm Model="@block_0_1_VM.block_0_1" OnValidSubmit="@(() => HandleSubmit(false))">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="card-style2 mb-4">
            <div class="w-100 pb-3 ps-4 pt-3 mb-3" style="border-bottom: 1.5px solid black;">
                <p class="fs-5 m-0"><span class="text-primary me-2">[1]</span>Identification of sample FSU</p>
            </div>
            <div class="row px-4">
                <div class="mb-3 col-4">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">1</span>Serial number of sample FSU</label>
                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_1">
                </div>
                <div class="mb-3 col-4">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">2</span>Round Number</label>
                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_2">
                </div>
                <div class="mb-3 col-4">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">3</span>Schedule Number</label>
                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_3">
                </div>
                <div class="mb-3 col-4">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">4</span>Sample</label>
                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.Block_1_4_Selected">
                </div>
                <div class="mb-3 col-4">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">5</span>Sector</label>
                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.Block_1_5_Selected">
                </div>
                <div class="mb-3 col-4">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">6</span>NSS Region Code</label>
                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_6">
                </div>
                <div class="mb-3 col-4">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">7</span>District Code</label>
                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_7">
                </div>
                <div class="mb-3 col-4">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">8</span>Stratum Number</label>
                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_8">
                </div>
                <div class="mb-3 col-4">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">9</span>Sub-stratum Number</label>
                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_9">
                </div>
                <div class="mb-3 col-4">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">10</span>Sub-round Number</label>
                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_10">
                </div>
                <div class="mb-3 col-4">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">11</span>FOD sub-region Code</label>
                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_11">
                </div>
                <div class="mb-3 col-4">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">12</span>Frame Code</label>
                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.Block_1_12_Selected">
                </div>
                <div class="mb-3 col-4">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">13</span>Population of village or number of households of UFS Block</label>
                    <input type="text" class="form-control" placeholder="" disabled @bind="block_0_1_VM.block_0_1.Block_1_13">
                </div>

                <div class="mb-3 col-4">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">14</span>Approx. present population</label>
                    <InputNumber type="number" class="form-control" @bind-Value="block_0_1_VM.block_0_1.Block_1_14" disabled="@(!block_0_1_VM.EnablePopulation)" />
                </div>

                <div class="mb-3 col-4">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">15</span>Total number of SUs to be formed (D)</label>
                    <input type="text" class="form-control" placeholder="" disabled value="@block_0_1_VM.block_0_1.Block_1_15">
                </div>
                <div class="mb-3 col-4" EditContext="EditContext">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">16</span>Survey Code</label>
                    <select class="form-select w-100" value="@block_0_1_VM.block_0_1.Block_1_16" @onchange="@((ChangeEventArgs e) => block_0_1_VM.SurveyCodeSelectionChanged(e))">
                        <option value="">Select</option>
                        @if (block_0_1_VM.survey_code_list != null && block_0_1_VM.survey_code_list.Count > 0)
                        {
                            @foreach (var item in block_0_1_VM.survey_code_list)
                            {
                                <option value="@item.id">@item.title</option>
                            }
                        }
                    </select>
                    <ValidationComponent @ref="block_0_1_VM.survey_code" is_error="@block_0_1_VM.is_error" field_name="Survey Code" />
                </div>
                <div class="mb-3 col-4" hidden="@(!block_0_1_VM.ShowItem17)">
                        <label class="form-label fw-bold">
                            <span class="badge bg-primary me-2">17</span>
                            Reason for substitution of original sample (code)
                        </label>
                        <select class="form-select w-100" @bind="block_0_1_VM.block_0_1.Block_1_17">
                            <option value="">Select</option>
                            @if (block_0_1_VM.substitution_reason_list != null && block_0_1_VM.substitution_reason_list.Count > 0)
                            {
                                @foreach (var item in block_0_1_VM.substitution_reason_list)
                                {
                                    <option value="@item.id">@item.title</option>
                                }
                            }
                        </select>
                        <ValidationComponent @ref="block_0_1_VM.substitution_reason"
                                             is_error="@block_0_1_VM.is_error"
                                             field_name="Substitution Reason" />
                    </div>
                <div class="mb-3 col-12">
                    <label class="form-label fw-bold"><span class="badge bg-primary me-2">18</span>Remarks</label>
                    <textarea type="text" class="form-control disabled" placeholder="" cols="4" value="@block_0_1_VM.block_0_1.remarks"></textarea>
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <button class="btn btn-outline-primary" onclick="@GoBack"><i class="bi bi-chevron-left me-1"></i>Back</button>
            <div class="d-flex">
                <button class="btn btn-primary me-2" @onclick="@(() => HandleSubmit(false))"><i class="bi bi-floppy-fill me-1"></i>Save</button>
                <NavLink class="btn btn-outline-primary" @onclick="@(() => HandleSubmit(true))">Next<i class="bi bi-chevron-right ms-1"></i></NavLink>
            </div>
        </div>
    </EditForm>    
</div>

@code {
    int SelectedFsuId = SessionStorage.SelectedFSUId;
    private CommonConfig commonConfig = new CommonConfig();
    DateTime survey_time = DateTime.Now;
    async void GoBack()
    {
        await JSRuntime.InvokeVoidAsync("__handleGoBack");
        return;
    }
    protected override async Task OnInitializedAsync()
    {
        block_0_1_VM.NotifyUiUpdate += StateHasChanged;
        await block_0_1_VM.Init();
    }

    async Task HandleSubmit(bool is_go_next)
    {
        Console.WriteLine("Form validated successfully");

        await block_0_1_VM.Save();
        //Navigation rules -
        // 1. For rural FSU (Block_1_5 = 1) and D > 1 (Block_1_15) -> Hamlet formation page (2.1)
        // 2. For rural FSU (Block_1_5 = 1) and D = 1 (Block_1_15) -> Block 4 (No hamlets formed)
        // 3. For urban FSU (Block_1_5 = 2), irrespective of D (Block_1_15) -> Hamlet selection page (2.2)
        // 4. If Block_1_16 (Survey code) != 1 or 4, go to Field Operation
        if (is_go_next)
        {
            if (block_0_1_VM.block_0_1.Block_1_16 == 1 || block_0_1_VM.block_0_1.Block_1_16 == 4)
            {
                //Rural FSU
                if (block_0_1_VM.block_0_1.Block_1_5 == 1)
                {
                    if (block_0_1_VM.block_0_1.Block_1_15 > 1)
                    {
                        //navigate to hamlet formation page for rural FSU
                        NavigationManager.NavigateTo("/dashboard/sch0.0/block_2_1");
                    }
                    else
                    {
                        //navigate to block 4 page
                    }
                }
                //Urban FSU
                else
                {
                    //navigate to hamlet selection page
                }
            }
            
            else
            {
                //navigate to field operation (FSU cannot be surveyed)
            }
            //NavigationManager.NavigateTo("/dashboard/sch0.0/block_3");
        }
        //NavigationManager.NavigateTo("/dashboard/sch0.0/block_3");
        // int field_validation = await JSRuntime.InvokeAsync<int>("__FieldValidate", commonConfig.Sch_0_0_Block_1_RequiredFields(block_0_1_VM.block_0_1.survey_code.ToString()), JsonConvert.SerializeObject(block_0_1_VM.block_0_1));
        // if (field_validation == 0)
        // {
        //     block_0_1_VM.is_error = true;
        //     await block_0_1_VM.approx_present_pop.Validate(block_0_1_VM.is_error, block_0_1_VM.block_0_1.approx_present_population.ToString(), CommonConstants.VALIDATION_TYPE_REG_EXP, CommonConstants.REG_EXP_POSITIVE_NUMBER_NON_ZERO);
        //     await block_0_1_VM.survey_code.Validate(block_0_1_VM.is_error, block_0_1_VM.block_0_1.survey_code.ToString(), CommonConstants.VALIDATION_TYPE_SELECT);
        //     if (CommonConstants.LOOKUP_SURVEY_CODE_4 == block_0_1_VM.block_0_1.survey_code.ToString() || CommonConstants.LOOKUP_SURVEY_CODE_7 == block_0_1_VM.block_0_1.survey_code.ToString())
        //     {
        //         await block_0_1_VM.substitution_reason.Validate(block_0_1_VM.is_error, block_0_1_VM.block_0_1.substitution_reason.ToString(), CommonConstants.VALIDATION_TYPE_SELECT);
        //     }
        //     return;
        // }
        // block_0_1_VM.is_error = false;
        // await block_0_1_VM.approx_present_pop.Validate(block_0_1_VM.is_error, block_0_1_VM.block_0_1.approx_present_population.ToString(), CommonConstants.VALIDATION_TYPE_REG_EXP, CommonConstants.REG_EXP_POSITIVE_NUMBER_NON_ZERO);
        // await block_0_1_VM.survey_code.Validate(block_0_1_VM.is_error, block_0_1_VM.block_0_1.survey_code.ToString(), CommonConstants.VALIDATION_TYPE_SELECT);
        // await block_0_1_VM.substitution_reason.Validate(block_0_1_VM.is_error, block_0_1_VM.block_0_1.substitution_reason.ToString(), CommonConstants.VALIDATION_TYPE_SELECT);
        // if (is_go_next)
        // {
            
        //     return;
        // }
        // return;
    }
}
