@page "/dashboard/sch0.0/block_5"
@using Income.Database.Models.Common
@using Income.Database.Models.SCH0_0
@layout Income.Components.Layout.DashboardLayout
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject ILoggingService Logger


<div class="main-content">
    <CommonContentHeader 
        SelectedFsuId="@SelectedFsuId"
        survey_time="@survey_time"  
    />
    <ConfirmDialog @ref="dialog" />

    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">
                <span class="text-primary fw-bolder me-2">[Block 5]</span>List of sub divisions of selected SU with poplation equal to or more than 1500 (750 for special cases) and selection and identification of selected sub division
            </h3>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <fieldset disabled="@((SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO) || SessionStorage.selection_done)">
                    <table class="table table-striped table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>Selected</th>
                            <th>Serial Number</th>
                            <th>% of population</th>
                        </tr>
                        <tr>
                            <th>(1)</th>
                            <th>(2)</th>
                            <th>(3)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (block_5 != null && block_5.Count > 0)
                        {
                            foreach (var item in block_5)
                            {
                                <tr>
                                    <td>
                                        <div class="siteCustomCheckbox">
                                            <label>
                                                <input type="checkbox" disabled @bind="item.IsChecked">
                                            </label>
                                        </div>
                                    </td>
                                    <td>@item.serial_number</td>
                                    <td><input type="number" step="0.1" min="0" max="100" disabled="@(is_selection_done)" class="form-control form-control-sm" value="@item.Percentage" onkeypress="return /^(\d+(\.\d?)?)?$/.test(event.target.value + event.key)" @oninput="(e) => HandleChange(e, item.id)" /></td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" class="bg-success"></td>
                            <td class="bg-success text-success fw-bolder">Total Population:- <span>@total_population_percentage %</span></td>
                        </tr>
                    </tfoot>
                </table>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    @* Remarks Card *@
    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">Remarks</h3>
        </div>
        <div class="card-body">
            <fieldset disabled="@((SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO) || SessionStorage.FSU_Submitted)">
                <textarea maxlength="500" class="form-control disabled w-100" disabled="@SessionStorage.FSU_Submitted" @bind="@remarks" placeholder="Enter your remarks here..." rows="2" ></textarea>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="d-flex">
                <NavLink class="btn btn-outline-secondary" @onclick="GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</NavLink>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end">
                @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                {
                    <button hidden="@((is_selection_done))" class="btn btn-outline-primary me-2" @onclick="@(() => HandleSubmit("SELECTION"))"><i class="fi fi-rr-checkbox me-2"></i>Do Selection</button>
                }
                @* <NavLink class="btn btn-primary me-2" @onclick="@(() => HandleSubmit("SAVE"))"><i class="bi bi-floppy-fill me-1"></i>Save</NavLink> *@
                <NavLink class="btn btn-primary" @onclick="@(() => HandleSubmit("NEXT"))">Next<i class="fi fi-rr-angle-right ms-1"></i></NavLink>
            </div>
        </div>
    </div>
</div>

@code {
    int SelectedFsuId = SessionStorage.SelectedFSUId;
    DateTime survey_time = DateTime.Now;
    CommonQueries commonQueries = new();
    DBQueries SCH_0_0_Queries = new();
    Tbl_Sch_0_0_Block_4? block_4 = new();
    List<Tbl_Sch_0_0_Block_5> block_5 = new();
    double? total_population_percentage = new();
    bool is_selection_done = false;
    string? remarks = string.Empty;
    Tbl_Sch_0_0_Block_0_1 block_0_1 = new();
    private ConfirmDialog dialog = default!;
    [Inject] Repository _repo { get; set; }

    async void GoBack()
    {
        NavigationManager.NavigateTo("/dashboard/sch0.0/block_4");
    }
    protected override async Task OnInitializedAsync()
    {
        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
        {
            block_uri = "/dashboard/sch0.0/block_5",
            block_title = "Sch 0.0 Block 5",
            block_code = CommonEnum.sch_0_0_block_5.ToString(),
        };
        await commonQueries.InsertVisitedBlock(vb);
        var response = await SCH_0_0_Queries.FetchSCH0Block5Data();
        block_0_1 = await SCH_0_0_Queries.FetchBlock1();
        if (block_0_1 != null)
        {
            remarks = block_0_1.remarks_block_5;
        }
        block_4 = await SCH_0_0_Queries.GetBlock4();
        if (response == null || response.Count == 0)
        {
            if (block_0_1 != null)
            {
                block_5 = new();
                if (block_4 != null)
                {
                    for (var i = 0; i < block_4.number_of_sub_division_of_su_to_be_formed; i++)
                    {
                        block_5.Add(new Tbl_Sch_0_0_Block_5
                        {
                            id = Guid.NewGuid(),
                            serial_number = i + 1,
                        });
                    }
                }

                StateHasChanged();
            }
            else
            {
                toastService.ShowError("Getting error while fetching data. Please try again.");
                return;
            }
        }
        else
        {
            block_5 = response.OrderBy(k => k.serial_number).ToList();
            is_selection_done = response.FirstOrDefault(k => k.IsChecked == true) != null ? true : false;
            total_population_percentage = CalculateTotalPopulationPercentage(block_5);
            StateHasChanged();
            return;
        }
        if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            survey_time = block_5.FirstOrDefault()?.survey_timestamp.GetValueOrDefault() ?? DateTime.Now;
        }
        return;
    }
    const double EPSILON = 0.000001;

    async Task HandleSubmit(string action)
    {
        if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            NavigationManager.NavigateTo($"/dashboard/sch0.0/block_3/{true}");
            return;
        }
        if (total_population_percentage != 100)
        {
            toastService.ShowError("Total population percentage should be 100%");
            return;
        }
        if (block_5.Any(row =>
                            row.Percentage == null ||
                            Math.Abs(row.Percentage.Value) < EPSILON))
        {
            toastService.ShowError("Percentage cannot be zero");
            return;
        }
        block_0_1.remarks_block_5 = remarks;
        await SCH_0_0_Queries.SaveBlock1(block_0_1);
        if (action == "SELECTION")
        {
            if(PopulationVariationExists())
            {
                var options_0 = new ConfirmDialogOptions { IsVerticallyCentered = true };
                var confirmation_0 = await dialog.ShowAsync(
                    title: "Alert",
                    message1: "W017(iii): All the sub-divisions need to have more or less equal population. Do you want to continue?",
                    confirmDialogOptions: options_0);

                if (!confirmation_0)
                {
                    return;
                }
            }
            Random num = new Random();
            int? from_val = block_5[0].serial_number;
            int? to_val = block_5[block_5.Count - 1].serial_number;
            int selection_index = num.Next(Convert.ToInt32(from_val), Convert.ToInt32(to_val));
            block_5[selection_index - 1].IsChecked = true;
            is_selection_done = true;
            toastService.ShowSuccess($"Selection Has been done for Serial Number : {block_5[selection_index - 1].serial_number}");
            var response = await _repo.SaveManyAsync(block_5);
            //var response = await SCH_0_0_Queries.SaveSCH0Block5(block_5);
            block_0_1.remarks_block_5 = remarks;
            //await SCH_0_0_Queries.SaveBlock1(block_0_1);
            await _repo.SaveAsync(block_0_1);
            if (response != 1)
            {
                toastService.ShowSuccess($"Error while storing data into database, Please try again!");
                return;
            }
            SessionStorage.hamlet_selection_done = true;
            SessionStorage.subdivision_selection_done = true;
            StateHasChanged();
            return;
        }
        else
        {
            block_0_1.remarks_block_5 = remarks;
            //await SCH_0_0_Queries.SaveBlock1(block_0_1);
            await _repo.SaveAsync(block_0_1);
            if (action == "SAVE")
            {
                //var response = await SCH_0_0_Queries.SaveSCH0Block5(block_5);
                var response = await _repo!.SaveManyAsync(block_5);
                if (response != 1)
                {
                    toastService.ShowError($"Error while storing data into database, Please try again!");
                    return;
                }
                
                return;
            }
            else if (action == "NEXT")
            {
                if (is_selection_done != true)
                {
                    toastService.ShowError($"You need to perform do selection first to continue, Please try again!");
                    return;
                }
                else
                {
                    //var response = await SCH_0_0_Queries.SaveSCH0Block5(block_5);
                    var response = await _repo!.SaveManyAsync(block_5);
                    if (response != 1)
                    {
                        toastService.ShowError($"Error while storing data into database, Please try again!");
                        return;
                    }
                    NavigationManager.NavigateTo($"/dashboard/sch0.0/block_3/{true}");
                }
            }
        }
    }
    public bool PopulationVariationExists()
    {
        try
        {
            var percentages = block_5
                      .Select(row => row.Percentage.GetValueOrDefault()) // Extract Percentage values.
                      .ToList();
            double minValue = percentages.Min();
            double maxValue = percentages.Max();
            return Math.Abs(maxValue - minValue) > 5;
        }
        catch (Exception ex)
        {
            return false;
        }
    }

    void HandleChange(ChangeEventArgs args, Guid id)
    {
        try
        {
            var item_index = block_5.FindIndex(k => k.id == id);
            if (item_index != -1)
            {
                var val = args.Value?.ToString() ?? "";
                if (System.Text.RegularExpressions.Regex.IsMatch(val, @"^\d{0,3}(\.\d{0,1})?$"))
                {
                    if (double.TryParse(val, out double value))
                        block_5[item_index].Percentage = value;
                    else
                        block_5[item_index].Percentage = null;
                }
                else
                {
                    // Reset to previous valid value if invalid input
                    block_5[item_index].Percentage = Math.Round(block_5[item_index].Percentage.Value, 1);
                    StateHasChanged();
                }
                // if (!string.IsNullOrEmpty(val) || !string.IsNullOrWhiteSpace(val))
                // {
                //     block_5[item_index].Percentage = Convert.ToInt32(val);
                // }
                // else
                // {
                //     block_5[item_index].Percentage = block_5[item_index].Percentage;
                // }
            }
            total_population_percentage = CalculateTotalPopulationPercentage(block_5);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }

    public double? CalculateTotalPopulationPercentage(List<Tbl_Sch_0_0_Block_5> data_set)
    {
        double? total_population_percentage = data_set.Sum(x => x.Percentage ?? 0);
        return total_population_percentage;
    }
}
