@page "/dashboard/sch0.0/block_4"
@using Income.Database.Models.Common
@using Income.Database.Models.SCH0_0
@layout Income.Components.Layout.DashboardLayout
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject ILoggingService Logger


<div class="main-content">
    <CommonContentHeader 
    SelectedFsuId="@SelectedFsuId"
    survey_time="@survey_time" 
    />
    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">
                <span class="text-primary fw-bolder me-2">[4]</span>Identification of selected sub-unit and formation of sub-division
            </h3>
        </div>
        <div class="card-body">
            <fieldset disabled="@((SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO) || SessionStorage.selection_done)">
                <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label for="" class="form-label">
                            <span class="form-badge">1</span> Sample sub-unit(SU) number
                        </label>
                        <input type="text" class="form-control form-control-sm" id="" disabled @bind="block_4.sample_su_number">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label for="" class="form-label">
                            <span class="form-badge">2</span> Approximate population of the SU
                        </label>
                        <input disabled="@(DisableEdit)" type="number" class="form-control form-control-sm no-spinner" id="" value="@block_4.approximate_population_su" @oninput="HandleChange">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <label for="" class="form-label">
                            <span class="form-badge">3</span> Number of Sub-divisions of SU to be formed(D1)
                        </label>
                        <input type="text" class="form-control form-control-sm" id="" disabled @bind="block_4.number_of_sub_division_of_su_to_be_formed">
                    </div>
                </div>
            </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="footer">
    @* Remarks Card *@
    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">Remarks</h3>
        </div>
        <div class="card-body">
            <fieldset disabled="@((SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO) || SessionStorage.FSU_Submitted)">
                <textarea maxlength="500" class="form-control disabled w-100" disabled="@SessionStorage.FSU_Submitted" @bind="remarks" placeholder="Enter your remarks here..." rows="2" ></textarea>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="d-flex">
                <NavLink class="btn btn-outline-secondary" onclick="@GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</NavLink>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end">
                @* <NavLink class="btn btn-outline-primary me-2" @onclick="@(() => HandleSubmit(false))"><i class="fi fi-rr-disk me-1"></i>Save</NavLink> *@
                <NavLink class="btn btn-primary" @onclick="@(() => HandleSubmit(true))">Next<i class="fi fi-rr-angle-right ms-1"></i></NavLink>
            </div>
        </div>
    </div>
</div>
@code {
    int SelectedFsuId = SessionStorage.SelectedFSUId;
    Tbl_Sch_0_0_Block_0_1 block_0_1 = new();
    List<Tbl_Sch_0_0_Block_2_2> block_2_2 = new();
    Tbl_Sch_0_0_Block_4? block_4 = new();
    List<Tbl_Sch_0_0_Block_5>? block_5 = new();
    DateTime survey_time = DateTime.Now;
    CommonQueries commonQueries = new();
    DBQueries Queries = new();
    ValidationComponent population_ref = new();
    bool is_error = false;
    CommonFunction commonFunction = new();
    CommonConfig commonConfig = new();
    string? remarks = string.Empty;
    bool DisableEdit = false;
    #region
    [Inject] Repository? _repository { get; set; }
    #endregion

    async void GoBack()
    {
        if (block_0_1.Block_1_15.GetValueOrDefault() > 1)
            NavigationManager.NavigateTo($"/dashboard/sch0.0/block_3/{false}");
        else
        {
            NavigationManager.NavigateTo("/dashboard/sch0.0/block0_1");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
            {
                block_uri = "/dashboard/sch0.0/block_4",
                block_title = "Sch 0.0 Block 4",
                block_code = CommonEnum.sch_0_0_block_4.ToString(),
            };
        await commonQueries.InsertVisitedBlock(vb);
        block_0_1 = await Queries.FetchBlock1() ?? new();
        if (block_0_1 != null)
        {
            remarks = block_0_1.remarks_block_4;
        }
        block_2_2 = await Queries.FetchSCH0Block2_2Data() ?? new();
        block_4 = await Queries.GetBlock4() ?? null;
        block_5 = await Queries.FetchSCH0Block5Data();
        var selected_su = block_2_2.Find(k => k.IsChecked == true);

        if(block_4 == null)
        {
            block_4 = new();
            block_4.id = Guid.NewGuid();
            if (block_0_1 != null)
            {
                if (selected_su != null)
                {
                    block_4.sample_su_number = selected_su?.serial_number;
                    var calc = (selected_su?.Percentage / 100) * block_0_1.Block_1_14;
                    block_4.approximate_population_su = (int)calc;
                    block_0_1.approximate_population_su = (int)calc;
                    int subDivisions = CommonFunction.CalculateNoOfSubDivisions(block_0_1.state_code, block_0_1.approximate_population_su.GetValueOrDefault(), block_0_1.Block_1_5.GetValueOrDefault(), block_0_1.Block_1_7!);
                    block_4.number_of_sub_division_of_su_to_be_formed = subDivisions == 0 ? 1 : subDivisions;
                    block_0_1.number_of_sub_division_of_su_to_be_formed = block_4.number_of_sub_division_of_su_to_be_formed;
                    block_0_1.sample_su_number = selected_su?.serial_number;
                }
                else
                {
                    int subDivisions = CommonFunction.CalculateNoOfSubDivisions(block_0_1.state_code, block_0_1.Block_1_14.GetValueOrDefault(), block_0_1.Block_1_5.GetValueOrDefault(), block_0_1.Block_1_7!);
                    block_4.sample_su_number = 1;
                    block_4.approximate_population_su = block_0_1.Block_1_14;
                    block_4.number_of_sub_division_of_su_to_be_formed = subDivisions;
                    block_0_1.approximate_population_su = block_0_1.Block_1_14;
                    block_0_1.number_of_sub_division_of_su_to_be_formed = subDivisions;
                    block_0_1.sample_su_number = 1;
                }
                DisableEdit = block_0_1.Block_1_15 <= 1 || SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO;
            }
        }
        else
        {
            if(block_5 != null && block_5.Count > 0 && block_5.Any())
            {
                DisableEdit = true;
                return;
            }
            else
            {
                DisableEdit = block_0_1.Block_1_15 <= 1 || SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO;
            }

            if(!DisableEdit)
            {
                return;
            }

            if (selected_su != null)
            {
                block_4.sample_su_number = selected_su?.serial_number;
                var calc = (selected_su?.Percentage / 100) * block_0_1.Block_1_14;
                block_4.approximate_population_su = (int)calc;
                block_0_1.approximate_population_su = (int)calc;
                int subDivisions = CommonFunction.CalculateNoOfSubDivisions(block_0_1.state_code, block_0_1.approximate_population_su.GetValueOrDefault(), block_0_1.Block_1_5.GetValueOrDefault(), block_0_1.Block_1_7!);
                block_4.number_of_sub_division_of_su_to_be_formed = subDivisions == 0 ? 1 : subDivisions;
                block_0_1.number_of_sub_division_of_su_to_be_formed = block_4.number_of_sub_division_of_su_to_be_formed;
                block_0_1.sample_su_number = selected_su?.serial_number;
            }
            else
            {
                int subDivisions = CommonFunction.CalculateNoOfSubDivisions(block_0_1.state_code, block_0_1.Block_1_14.GetValueOrDefault(), block_0_1.Block_1_5.GetValueOrDefault(), block_0_1.Block_1_7!);
                block_4.sample_su_number = 1;
                block_4.approximate_population_su = block_0_1.Block_1_14;
                block_4.number_of_sub_division_of_su_to_be_formed = subDivisions;
                block_0_1.approximate_population_su = block_0_1.Block_1_14;
                block_0_1.number_of_sub_division_of_su_to_be_formed = subDivisions;
                block_0_1.sample_su_number = 1;
            }
        }

        remarks = block_0_1?.remarks_block_4;

        if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            survey_time = block_4?.survey_timestamp.GetValueOrDefault() ?? DateTime.Now;
        }
        StateHasChanged();
        return;
    }

    void AssignOrUpdateData()
    {
        // if (selected_su != null)
        // {
        //     block_4.sample_su_number = selected_su?.serial_number;
        //     var calc = (selected_su?.Percentage / 100) * block_0_1.Block_1_14;
        //     block_4.approximate_population_su = (int)calc;
        //     block_0_1.approximate_population_su = (int)calc;
        //     int subDivisions = CommonFunction.CalculateNoOfSubDivisions(block_0_1.state_code, block_0_1.approximate_population_su.GetValueOrDefault(), block_0_1.Block_1_5.GetValueOrDefault(), block_0_1.Block_1_7!);
        //     block_4.number_of_sub_division_of_su_to_be_formed = subDivisions == 0 ? 1 : subDivisions;
        //     block_0_1.number_of_sub_division_of_su_to_be_formed = block_4.number_of_sub_division_of_su_to_be_formed;
        //     block_0_1.sample_su_number = selected_su?.serial_number;
        // }
        // else
        // {
        //     block_4.sample_su_number = 1;
        //     block_4.approximate_population_su = block_0_1.Block_1_14;
        //     block_4.number_of_sub_division_of_su_to_be_formed = 1;
        //     block_0_1.approximate_population_su = block_0_1.Block_1_14;
        //     block_0_1.number_of_sub_division_of_su_to_be_formed = 1;
        //     block_0_1.sample_su_number = 1;
        // }
    }

    void HandleChange(ChangeEventArgs eventArgs)
    {
        try
        {
            string value = eventArgs.Value.ToString();
            if (string.IsNullOrEmpty(value))
            {
                block_4.approximate_population_su = 0;
                block_4.number_of_sub_division_of_su_to_be_formed = 1;
                block_0_1.approximate_population_su = 0;
                block_0_1.number_of_sub_division_of_su_to_be_formed = 1;
                StateHasChanged();
                return;
            }
            else
            {
                block_4.approximate_population_su = Convert.ToInt32(value);
                block_0_1.approximate_population_su = Convert.ToInt32(value);
                int subDivisions = CommonFunction.CalculateNoOfSubDivisions(block_0_1.state_code, block_0_1.approximate_population_su.GetValueOrDefault(), block_0_1.Block_1_5.GetValueOrDefault(), block_0_1.Block_1_7!);
                block_4.number_of_sub_division_of_su_to_be_formed = subDivisions == 0 ? 1 : subDivisions;
                block_0_1.number_of_sub_division_of_su_to_be_formed = block_4.number_of_sub_division_of_su_to_be_formed;
                StateHasChanged();
                return;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
            toastService.ShowError("Error in population input: " + ex.ToString());
            return;
        }
    }

    async Task HandleSubmit(bool go_next)
    {
        if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            if (block_0_1.number_of_sub_division_of_su_to_be_formed > 1)
                NavigationManager.NavigateTo("/dashboard/sch0.0/block_5");
            else
            {
                NavigationManager.NavigateTo("/dashboard/sch0.0/block_7");
            }
            return;
        }
        if (block_4?.approximate_population_su > block_0_1.Block_1_14)
        {
            toastService.ShowError("Approximate population of the SU cannot be greater than the total population of the selected FSU.");
            return;
        }
        else if (block_4?.approximate_population_su <= 0)
        {
            toastService.ShowError("Approximate population of the SU cannot be zero or negative.");
            return;
        }
        block_0_1.remarks_block_4 = remarks;
        var update = await _repository!.SaveAsync(block_0_1);
        //var update_block_4 = await Queries.SaveBlock4(block_4);
        var update_block_4 = await _repository.SaveAsync(block_4);
        if (update_block_4 != 0)
        {
            if (block_4.number_of_sub_division_of_su_to_be_formed > 1)
                NavigationManager.NavigateTo("/dashboard/sch0.0/block_5");
            else
            {
                if (block_2_2 != null && block_2_2.Count == 0)
                {
                    var data = new Tbl_Sch_0_0_Block_2_2
                    {
                        id = Guid.NewGuid(),
                        fsu_id = SessionStorage.SelectedFSUId,
                        serial_number = 1,
                        Percentage = 100,
                        HamletName = "H1",
                        IsChecked = true,
                        SampleHgSbNumber = "1",
                        SamplingSerialNumberOfTheHgSb = "0",

                    };
                    List<Tbl_Sch_0_0_Block_2_2> list = [];
                    list.Add(data);

                    await Queries.SaveSCH0Block2_2(list);
                }
                NavigationManager.NavigateTo("/dashboard/sch0.0/block_7");
            }
        }
        else
        {
            toastService.ShowError("Error while saving data! Please try again.");
        }
    }
}