@page "/dashboard/sch0.0/block_7"
@using Blazored.FluentValidation
@using Income.Common.SCH0_0
@using Income.Database.Models.Common
@using Income.Database.Models.SCH0_0
@using Income.SurveyLibrary
@using Income.Validators.SCH0_0
@using System.Diagnostics
@using Income.Viewmodels
@layout Income.Components.Layout.DashboardLayout
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject PreloadService preloadService
@inject ILoggingService Logger
@inject Warning_VM warningVM

<GlobalErrorBoundary>
    <div class="main-content">
        <CommonContentHeader SelectedFsuId="@SelectedFsuId"
                             survey_time="@survey_time" />
        <ConfirmDialog @ref="dialog" />

        <div class="card custom-card">

            <!-- 🔹 Sticky Top Action Header -->
            <div class="card-header">
                <h3 class="card-title">
                    <span class="text-primary me-2">[Block 7]</span>List of households and selection of households for Schedule on HIS
                </h3>
                <div class="card-tools" hidden="@SessionStorage.selection_done">
                    <div class="d-flex align-items-center" hidden="@SessionStorage.selection_done">
                        <button class="btn btn-outline-primary me-2" @onclick="@(() => Generate())">
                            <i class="fi fi-rr-settings me-1"></i>Generate
                        </button>
                        <button class="btn btn-primary" @onclick="@(() => HandleModal("ADD"))">
                            <i class="fi fi-rr-plus me-1"></i>Add
                        </button>
                    </div>
                    
                </div>
            </div>
            <!-- 🔹 Scrollable table -->
            <div class="card-body p-0">
                <div class="table-responsive table-wrapper">
                    <table class="table table-striped table-bordered mb-0">
                    <thead>
                        <tr>
                            <th style="min-width:10px;">Srl.No.</th>
                            <th style="min-width:50px;">House Number</th>
                            <th style="min-width:170px;">Is the house used only for non-residential purposes? (yes-1, no-2)</th>
                            <th style="min-width:70px;">Household Serial Number</th>
                            <th style="min-width:100px;">Name of the head of the household</th>
                            <th style="min-width:50px;">Household Size</th>
                            <th style="min-width:170px;">Highest education level attained among the household members</th>
                            <th style="min-width:50px;">Household Type</th>
                            <th style="min-width:250px;">Total amount of land owned (possessed or leased out) by the household as on the date of the survey</th>
                            <th style="min-width:200px;">Usual monthly consumption expenditure of the household (Rs.)</th>
                            @* <th style="min-width:100px;">SSS number for Schedule HIS 2026</th>
                            <th style="min-width:40px;">Selected</th> *@
                            @if (!SessionStorage.selection_done)
                            {
                                <th style="min-width:40px;">Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>(0)</th>
                            <th>(1)</th>
                            <th>(2)</th>
                            <th>(3)</th>
                            <th>(4)</th>
                            <th>(5)</th>
                            <th>(6)</th>
                            <th>(7)</th>
                            <th>(8)</th>
                            <th>(9)</th>
                            @if (!SessionStorage.selection_done)
                            {
                                <th>(10)</th>
                            }
                        </tr>
                        @if (ListItems != null && ListItems.Count > 0)
                        {
                            foreach (var item in ListItems)
                            {
                                if (item.is_deleted != true)
                                {
                                    <tr>
                                        <td>@item.Block_7_1</td>
                                        <td>@item.Block_7_2</td>
                                        <td>@item.is_household</td>
                                        <td>@item.Block_7_3</td>
                                        <td>@item.Block_7_4</td>
                                        <td>@item.Block_7_5</td>
                                        <td>@item.Block_7_6</td>
                                        <td>@item.Block_7_7</td>
                                        <td>@item.Block_7_8</td>
                                        <td>@item.Block_7_9</td>
                                        @* <td>@item.SSS</td>
                                        <td>
                                            <div class="siteCustomCheckbox">
                                                <label>
                                                    <input type="checkbox" @bind="item.isSelected" disabled />
                                                </label>    
                                            </div>
                                        </td> *@

                                        @if (!SessionStorage.selection_done)
                                            {
                                                <td class="d-flex align-items-center">
                                                    <button class="btn btn-link me-3 fs-6"
                                                            @onclick="@(() => HandleModal("INSERT", item))">
                                                        <i class="fi fi-rr-insert"></i>
                                                    </button>
                                                    <button class="btn btn-link me-3 fs-6"
                                                            @onclick="@(() => HandleModal("UPDATE", item))">
                                                        <i class="fi fi-rr-pencil"></i>
                                                    </button>
                                                    <button class="btn btn-link fs-6 text-danger"
                                                            @onclick="@(() => HandleDelete(item.id))">
                                                        <i class="fi fi-rr-trash"></i>
                                                    </button>
                                                </td>
                                            }
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <!-- 🔹 Footer Navigation (Always visible) -->
    <div class="footer">
        @* Remarks Card *@
        <div class="card custom-card">
            <div class="card-header">
                <h3 class="card-title">Remarks</h3>
            </div>
            <div class="card-body">
                <fieldset disabled="@((SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO) || SessionStorage.selection_done)">
                    <textarea maxlength="500" type="text" class="form-control disabled w-100" disabled="@SessionStorage.FSU_Submitted" placeholder="Enter your remarks here..." @bind="@remarks" rows="2" oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '')"></textarea>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="d-flex">
                    <NavLink class="btn btn-outline-secondary" onclick="@GoBack">
                        <i class="fi fi-rr-angle-left me-1"></i>Back
                    </NavLink>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="d-flex align-items-center justify-content-end">
                    <NavLink class="btn btn-primary" @onclick="@(() => HandleSubmit("NEXT"))">
                        Next<i class="fi fi-rr-angle-right ms-1"></i>
                    </NavLink>
                </div>
            </div>
        </div>
    </div>

    <Modal @ref="AddModal" CloseOnEscape="false" UseStaticBackdrop="true" ShowCloseButton="false" Size="ModalSize.ExtraLarge" Fullscreen="ModalFullscreen.LargeDown">
        <HeaderTemplate>
            <h5 class="modal-title">@(modalHeader)</h5>
        </HeaderTemplate>
        <BodyTemplate>
            @if (fields != null)
            {
                <EditForm id="YourEditFormId" EditContext="@editContext" OnValidSubmit="@HandleAddRow">
                    <FluentValidationValidator />
                    <fieldset disabled="@((SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO) || SessionStorage.selection_done)">
                        <div class="row">
                            <!-- Serial Number -->
                            <div class="mb-3">
                                <div class="col-sm-12">
                                    <label class="form-label"><span class="form-badge">0</span>Serial Number of Row</label>
                                    <InputNumber class="form-control" @bind-Value="fields.Block_7_1" Disabled="true" />
                                </div>
                            </div>
                            <!-- House Number -->
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">1</span>House Number</label>
                                    <InputText class="form-control"
                                                @bind-Value="fields.Block_7_2"
                                                />
                                    <ValidationMessage For="@(() => fields.Block_7_2)" />
                                </div>
                            </div>

                            <!-- Is Household -->
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">2</span>Is the house used only for non-residential purposes? (yes-1, no-2)</label>
                                    <InputSelect class="form-select" @bind-Value="fields.is_household" oninput="@(((ChangeEventArgs e) => OnIsHouseholdChanged(e)))">
                                        <option value="">- Select -</option>
                                        @if (commonList?.LOOKUP_CONST_YES_NO != null)
                                        {
                                            foreach (var item in commonList.LOOKUP_CONST_YES_NO)
                                            {
                                                <option value="@item.id">@item.title</option>
                                            }
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => fields.is_household)" />
                                </div>
                            </div>

                            <!-- Household Serial Number -->
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">3</span>Household Serial Number</label>
                                    <InputNumber class="form-control" @bind-Value="fields.Block_7_3" Disabled="true" />
                                </div>
                            </div>

                            <!-- Head of Household Name -->
                            <div class="col-sm-12" hidden="@(fields.is_household == 1)"> 
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">4</span>Name of Head of Household</label>
                                    <InputText class="form-control"
                                               maxlength="50"
                                                onkeypress="return /^[A-Za-z ]*$/.test(event.target.value + event.key)"
                                                @bind-Value="fields.Block_7_4"
                                                @oninput="OnHeadNameInput"/>
                                    <ValidationMessage For="@(() => fields.Block_7_4)" />
                                </div>
                            </div>


                            <!-- Household Size -->
                            <div class="col-sm-12" hidden="@(fields.is_household == 1)">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">5</span>Household Size</label>
                                    <InputNumber class="form-control no-spinner"
                                                    @oninput="OnHHDSizeInput"
                                                    @bind-Value="fields.Block_7_5"
                                                    />
                                    <ValidationMessage For="@(() => fields.Block_7_5)" />
                                    <div class="text-success mt-1 fw-bold" hidden="@(!ShowPopulationWarning)">
                                        @PopulationWarningMessage
                                    </div>
                                </div>
                            </div>

                            <!-- Highest Education Level -->
                            <div class="col-sm-12" hidden="@(fields.is_household == 1)">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">6</span>Highest education level attained among the household members (entry in code) – (for urban only) code 2 in item 5 of Block 1)</label>
                                    <InputSelect class="form-select"
                                                    @bind-Value="fields.Block_7_6" Disabled="@(sector == 1)">
                                        <option value="">- Select -</option>
                                        @if (Block_7_Constants.HighestEdu != null)
                                        {
                                            foreach (var item in Block_7_Constants.HighestEdu)
                                            {
                                                <option value="@item.id">@item.title</option>
                                            }
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => fields.Block_7_6)" />
                                </div>
                            </div>

                            <!-- Household Type -->
                            <div class="col-sm-12" hidden="@(fields.is_household == 1)">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">7</span>Household Type (entry in code)</label>
                                    <InputSelect class="form-select" @bind-Value="fields.Block_7_7">
                                        <option value="">- Select -</option>
                                        @if (sector == 1 && Block_7_Constants.HHDTypeRural != null)
                                        {
                                            foreach (var item in Block_7_Constants.HHDTypeRural)
                                            {
                                                <option value="@item.id">@item.title</option>
                                            }
                                        }
                                        else if (sector == 2 && Block_7_Constants.HHDTypeUrban != null)
                                        {
                                            foreach (var item in Block_7_Constants.HHDTypeUrban)
                                            {
                                                <option value="@item.id">@item.title</option>
                                            }
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => fields.Block_7_7)" />
                                </div>
                            </div>

                            <!-- Total Land Owned -->
                            <div class="col-sm-12" hidden="@(fields.is_household == 1)">
                                <div class="mb-3">
                                    <label class="form-label"><span class="form-badge">8</span>Total amount of land owned (possessed or leased out) by the household as on the date of the survey (in acres in three places of decimal) – ((for rural only) code 1 in item 5 of Block 1)</label>
                                    <InputNumber class="form-control no-spinner"
                                                    @bind-Value="fields.Block_7_8"
                                                    step="any"
                                                    Disabled="@(sector == 2)"
                                                    oninput="if(this.value.length > 10) this.value = this.value.slice(0, 10)"
                                                    onkeypress="return /^(\d+(\.\d{0,3})?)?$/.test(event.target.value + event.key)" />
                                    <ValidationMessage For="@(() => fields.Block_7_8)" />
                                </div>
                            </div>

                            <!-- Monthly Expenditure -->
                            <div class="col-sm-12" hidden="@(fields.is_household == 1)">
                                <div>
                                    <label class="form-label"><span class="form-badge">9</span>usual monthly consumption expenditure of the household (in Rs.)</label>
                                    <input class="form-control no-spinner"
                                                    type="number"
                                                    step="1"
                                                    value="@fields.Block_7_9"
                                           @oninput="OnMonthlyExpInputText" />
                                    <ValidationMessage For="@(() => fields.Block_7_9)" />
                                </div>
                            </div>
                        </div>

                        @* <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-outline-primary"
                                    @onclick="@(() => HandleModal("CLOSE"))">
                                Close
                            </button>
                        </div> *@
                    </fieldset>
                </EditForm>
            }
        </BodyTemplate>
        <FooterTemplate>
            <button class="btn btn-outline-secondary me-auto" @onclick="@(() => HandleModal("CLOSE"))">Close</button>
            <button type="submit" class="btn btn-primary" form="YourEditFormId"><i class="fi fi-rr-disk me-1"></i>Save</button>
        </FooterTemplate>

    </Modal>
</GlobalErrorBoundary>



@code {
    EditContext editContext;
    int SelectedFsuId = SessionStorage.SelectedFSUId;
    DateTime survey_time = DateTime.Now;
    CommonQueries commonQueries = new();
    DBQueries SCH_0_0_Queries = new();
    CommonConfig commonConfig = new();
    Modal AddModal = default;
    public int sector { get; set; } = 0;
    Tbl_Sch_0_0_Block_7 fields = new();
    List<Tbl_Sch_0_0_Block_7> ListItems = new();
    ValidationComponent house_number_ref = new();
    ValidationComponent purpose_ref = new();
    ValidationComponent head_name_ref = new();
    ValidationComponent size_ref = new();
    CommonList commonList = new();
    Tbl_Sch_0_0_Block_0_1 block_1_obj;
    private ValidationMessageStore messageStore;
    private ConfirmDialog dialog = default!;
    private bool ShowPopulationWarning = false;
    private string PopulationWarningMessage = "Please re-check the value";
    string? remarks = string.Empty;
    int originalSrl = 0;
    bool isAdd = false;
    string modalHeader = string.Empty;

    bool HideInsertBtn = false;

    CommonFunction commonFunctions = new();
    bool is_error = false;

    async void GoBack()
    {
        await JSRuntime.InvokeVoidAsync("__handleGoBack");
        return;
    }
    protected override async Task OnInitializedAsync()
    {
        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
            {
                block_uri = "/dashboard/sch0.0/block_7",
                block_title = "Sch 0.0 Block 7",
                block_code = CommonEnum.sch_0_0_block_7.ToString(),
            };

        await commonQueries.InsertVisitedBlock(vb);
        var block_0_1 = await SCH_0_0_Queries.FetchBlock1();
        if (block_0_1 != null)
        {
            block_1_obj = block_0_1;
            remarks = block_1_obj.remarks_block_7;
            SessionStorage.FSU_Sector = sector = block_0_1.Block_1_5.GetValueOrDefault();
        }
        var response = await SCH_0_0_Queries.GetBlock7Data(SessionStorage.SelectedFSUId);
        if (response != null && response.Count > 0)
        {
            ListItems = new();
            ListItems = response.OrderBy(x => x.Block_7_1).ToList();
            HideInsertBtn = ListItems.Any(x => x.SSS != 0);
            if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {
                survey_time = ListItems
                                .OrderByDescending(x => x.survey_timestamp)
                                .Select(x => (DateTime?)x.survey_timestamp)
                                .FirstOrDefault().GetValueOrDefault();

            }
            StateHasChanged();
        }
    }

    private void OnMonthlyExpInputText(ChangeEventArgs e)
    {
        var input = e.Value?.ToString() ?? string.Empty;

        // Keep only digits
        var numericOnly = new string(input.Where(char.IsDigit).ToArray());

        // If empty, treat as zero and exit
        if (string.IsNullOrWhiteSpace(numericOnly))
        {
            fields.Block_7_9 = 0;
            return;
        }

        // TryParse safely handles invalid values and overflow
        if (int.TryParse(numericOnly, out int parsedValue))
        {
            fields.Block_7_9 = parsedValue;
        }
        else
        {
            // Overflow or unexpected numeric parsing failure
            // Decide how you want to handle it:
            // Option A: Set to max int
            //fields.Block_7_9 = int.MaxValue;

            // Option B: Set to zero
            fields.Block_7_9 = 0;
        }

        editContext?.NotifyFieldChanged(
    FieldIdentifier.Create(() => fields.Block_7_9));

        StateHasChanged();
    }



    private void OnIsHouseholdChanged(ChangeEventArgs e)
    {
        var selectedValue = e.Value?.ToString();

        if (selectedValue == "1")
        {
            fields.Block_7_4 = string.Empty;
            fields.Block_7_5 = 0;
            fields.Block_7_6 = null;
            fields.Block_7_7 = null;
            fields.Block_7_8 = null;
            fields.Block_7_9 = 0;
            fields.Block_7_3 = 0;
        }
        else if (selectedValue == "2")
        {
            if (isAdd)
                fields.Block_7_3 = ReturnHHDSamplingSerialNumber();
            else
                fields.Block_7_3 = originalSrl + 1;
        }

    }


    private async Task LoadData()
    {
        var response = await SCH_0_0_Queries.GetBlock7Data(SessionStorage.SelectedFSUId);
        if (response != null && response.Count > 0)
        {
            ListItems?.Clear();
            ListItems?.AddRange(response.OrderBy(x => x.Block_7_1).ToList());
            StateHasChanged();
        }
    }

    /// <summary>
    /// Generates true random households based on sector(n=size)
    /// Weightage - 80% households and 20% non-households
    /// </summary>
    /// <returns></returns>
    private async Task Generate()
    {
        try
        {
            int max_srl_no = ListItems.Count > 0 ? ListItems.Max(x => x.Block_7_1.GetValueOrDefault()) + 1 : 1;
            int max_hhd_srl_no = ListItems.Count > 0 ? ListItems.Max(x => x.Block_7_3.GetValueOrDefault()) + 1 : 1;
            List<Tbl_Sch_0_0_Block_7> generatedHHDs = new();
            var education_levels = Block_7_Constants.HighestEdu.Select(x => x.id).ToArray();
            var household_types = sector == 1 ? Block_7_Constants.HHDTypeRural.Select(x => x.id).ToArray() : Block_7_Constants.HHDTypeUrban.Select(x => x.id).ToArray();
            int size = 20;
            Random gen = new();
            for(int i = 1; i<=size; i++)
            {
                Tbl_Sch_0_0_Block_7 obj = new();
                obj.id = Guid.NewGuid();
                obj.is_household = (gen.NextDouble() < 0.95) ? 2 : 1;
                obj.Block_7_1 = max_srl_no++;
                obj.Block_7_2 = $"H-{obj.Block_7_1}";
                obj.Block_7_3 = obj.is_household == 2 ? max_hhd_srl_no++ : 0;
                obj.Block_7_4 = $"Head {obj.Block_7_1}";
                obj.Block_7_5 = obj.is_household == 2 ? gen.Next(1, 11) : 0;
                obj.Block_7_6 = obj.is_household == 2 ? (sector == 1 ? null : education_levels[gen.Next(education_levels.Length)]) : null;
                obj.Block_7_7 = obj.is_household == 2 ? household_types[gen.Next(household_types.Length)] : null;
                obj.Block_7_8 = obj.is_household == 2 ? (sector == 1 ? Math.Round(gen.NextDouble() * 5, 3) : null) : 0;
                obj.Block_7_9 = obj.is_household == 2 ? gen.Next(5000, 100000) : 0;
                obj.UMPCE = obj.is_household == 2 ? (obj.Block_7_9 / obj.Block_7_5) : 0;
                generatedHHDs.Add(obj);
            }
            var response = await SCH_0_0_Queries.SaveBulkBlock7(generatedHHDs);
            await LoadData();
        }
        catch(Exception ex)
        {
            toastService.ShowError($"Getting Error while generating households {ex}, Please try again!");
        }
    }


    async Task HandleSubmit(string action = "")
    {
        string firstWarning = string.Empty;
        string secondWarning = string.Empty;

        if(SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO && ListItems.Count == 0)
        {
            toastService.ShowError("Please add a household/establishment before proceeding");
            return;
        }

        if(SessionStorage.FSU_Submitted || SessionStorage.selection_done)
        {
            NavigationManager.NavigateTo("/dashboard/sch0.0/block_7_selection");
            return;
        }

        var subU = await SCH_0_0_Queries.FetchSCH0Block2_2Data() ?? new();
        var subD = await SCH_0_0_Queries.FetchSCH0Block5Data() ?? new();
        var block_4 = await SCH_0_0_Queries.GetBlock4();

        int total_listed_population = ListItems.Sum(x => x.Block_7_5.GetValueOrDefault());
        double lowerLimit = 0.0;
        double upperLimit = 0.0;
        bool isWithin5Percent = false;

        block_1_obj.remarks_block_7 = remarks;
        if (block_1_obj.id != Guid.Empty)
            await SCH_0_0_Queries.SaveBlock1(block_1_obj);

        //1. No subU and subD OR subU exists but no subD
        if((subU.Count == 0  && subD.Count == 0) || (subU.Count > 0 && subD.Count == 0))
        {
            if(block_4 != null)
            {
                lowerLimit = 0.95 * block_4.approximate_population_su.GetValueOrDefault();
                upperLimit = 1.05 * block_4.approximate_population_su.GetValueOrDefault();
                isWithin5Percent = total_listed_population >= lowerLimit && total_listed_population <= upperLimit;
                if(!isWithin5Percent)
                {
                    firstWarning = $"W025(i) : Population mismatch:\n" + $"{total_listed_population} should be within ±5% of {block_4.approximate_population_su.GetValueOrDefault()}.\n\n";
                }
            }
        }

        //2. subD exists
        else if (subD.Count > 0)
        {
            if (block_4 != null)
            {
                double selectedSubDPercentage = 1;
                var selectedSubD = subD.FirstOrDefault(x => x.IsChecked == true);
                if (selectedSubD != null)
                {
                    selectedSubDPercentage = selectedSubD.Percentage.GetValueOrDefault();
                }
                var sDPop = block_4.approximate_population_su.GetValueOrDefault() * (selectedSubDPercentage / 100);
                lowerLimit = 0.95 * sDPop;
                upperLimit = 1.05 * sDPop;
                isWithin5Percent = total_listed_population >= lowerLimit && total_listed_population <= upperLimit;
                if (!isWithin5Percent)
                {
                    firstWarning = $"W025(i) : Population mismatch:\n" + $"{total_listed_population} should be within ±5% of {sDPop}";
                }
            }
        }

        
        // If message exists, show confirm dialog
        if (!string.IsNullOrWhiteSpace(firstWarning))
        {

            var options = new ConfirmDialogOptions { IsVerticallyCentered = true };
            var confirmation = await dialog.ShowAsync(
                title: "Alert",
                message1: firstWarning,
                message2: "Do you want to continue?",
                confirmDialogOptions: options
            );

            if (confirmation)
            {
                warningVM.AddWarning(firstWarning, "0", "7", "0");
                await warningVM.SaveWarningAsync("0", "7", 0);
                NavigationManager.NavigateTo("/dashboard/sch0.0/block_7_selection");
            }
        }
        else
        {
            NavigationManager.NavigateTo("/dashboard/sch0.0/block_7_selection");
        }
    }


    async Task HandleDelete(Guid id)
    {
        var options = new ConfirmDialogOptions { IsVerticallyCentered = true };
        var confirmation = await dialog.ShowAsync(
            title: "Alert",
            message1: "Are you sure you want to delete?",
            confirmDialogOptions: options
        );
        if(!confirmation)
        {
            return;
        }
        int item_index = ListItems.FindIndex(l => l.id == id);
        if (item_index != -1)
        {
            ListItems[item_index].is_deleted = true;
            await SCH_0_0_Queries.DeleteHHD(id);
            toastService.ShowSuccess("Row deleted successfully!");
            await LoadData();
        }
        else
        {
            toastService.ShowError("Not Able to delete row, Please try again!");
            return;
        }
    }

    async Task HandleModal(string action = "", Tbl_Sch_0_0_Block_7? data = null)
    {
        try
        {
            ShowPopulationWarning = false;
            if (action == "ADD")
            {
                modalHeader = "Add Household";
                isAdd = true;
                if (data == null)
                {
                    fields = new();
                    fields.id = Guid.NewGuid();
                    fields.Block_7_1 = ReturnHHDSerialNumber().GetValueOrDefault();
                    fields.Block_7_3 = ReturnHHDSamplingSerialNumber().GetValueOrDefault();
                }
                else
                {
                    fields = data;
                }
                // Recreate EditContext for the new model
                editContext = new EditContext(fields);
                messageStore = new ValidationMessageStore(editContext);
                editContext.OnFieldChanged += ClearFieldErrorsOnChange;

                await AddModal.ShowAsync();
            }
            else if (action == "UPDATE")
            {
                modalHeader = "Update Household";
                isAdd = false;
                if (data != null)
                {
                    fields = data.ShallowCopy();
                    originalSrl = data.Block_7_3.GetValueOrDefault();
                    // Recreate EditContext for the new model
                    if (fields.Block_7_5 > 30)
                    {
                        ShowPopulationWarning = true;
                    }
                    editContext = new EditContext(fields);
                    messageStore = new ValidationMessageStore(editContext);
                    editContext.OnFieldChanged += ClearFieldErrorsOnChange;
                    await AddModal.ShowAsync();
                }
            }
            else if(action == "INSERT")
            {
                modalHeader = "Insert Household";
                isAdd = false;
                fields = new();
                if (data != null)
                {
                    fields.id = Guid.NewGuid();
                    originalSrl = data.Block_7_3.GetValueOrDefault();
                    fields.Block_7_1 = data.Block_7_1;
                    fields.Block_7_3 = data.is_household == 2 ?  (data.Block_7_3 + 1) : 0;
                    editContext = new EditContext(fields);
                    messageStore = new ValidationMessageStore(editContext);
                    editContext.OnFieldChanged += ClearFieldErrorsOnChange;

                    await AddModal.ShowAsync();
                }
            }
            else
            {
                await AddModal.HideAsync();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }

    private void ClearFieldErrorsOnChange(object? sender, FieldChangedEventArgs e)
    {
        // Remove only that field's messages
        messageStore.Clear(e.FieldIdentifier);

        // Tell Blazor to re-render the validation summary/messages
        editContext.NotifyValidationStateChanged();
    }

    private void OnHeadNameInput(ChangeEventArgs e)
    {
        string input = e.Value?.ToString() ?? string.Empty;

        // Allow only A-Z, a-z and space
        string filtered = new string(input.Where(c => char.IsLetter(c) || c == ' ').ToArray());

        // Assign filtered value
        fields.Block_7_4 = filtered;

        // Clear the validation message for this field
        var fieldIdentifier = editContext.Field(nameof(fields.Block_7_4));
        messageStore.Clear(fieldIdentifier);
        editContext.NotifyValidationStateChanged();

        // Optional: validate again
        editContext.Validate();

        StateHasChanged();
    }


    private void OnHHDSizeInput(ChangeEventArgs e)
    {
        fields.Block_7_5 = e.Value != null && int.TryParse(e.Value.ToString(), out int result) ? result : (int?)null;

        if (fields.Block_7_5 > 30)
        {
            ShowPopulationWarning = true;
            PopulationWarningMessage = "W024(ii): Household size is greater than 30";
        }
        else
        {
            ShowPopulationWarning = false;
            PopulationWarningMessage = string.Empty;
        }

        editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => fields.Block_7_5));

        StateHasChanged();
    }


    private void HandleFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        if (editContext != null)
        {
            editContext.Validate();
            StateHasChanged();
        }
    }

    /// <summary>
    /// Save or Update Row
    /// </summary>
    /// <returns></returns>
    async Task HandleAddRow()
    {
        var block_5_obj = fields;
        if (block_5_obj != null)
        {
            if (block_5_obj.Block_7_5.HasValue && block_5_obj.Block_7_5.Value > 0 &&
        block_5_obj.Block_7_9.HasValue)
            {
                block_5_obj.UMPCE = (double)block_5_obj.Block_7_9.Value / block_5_obj.Block_7_5.Value;
            }
            else
            {
                block_5_obj.UMPCE = null;
            }
            await SCH_0_0_Queries.SaveUpdateSCH0Block7(block_5_obj);
            await SCH_0_0_Queries.ReserializeHHD();
            if (block_5_obj.Block_7_5 > 30)
            {
                warningVM.AddWarning("W024 (ii): Household size is greater than 30", "0", "7", "5", block_5_obj.Block_7_3.GetValueOrDefault());
                await warningVM.SaveWarningAsync("0", "7", block_5_obj.Block_7_1.GetValueOrDefault());
            }
        }
        await AddModal.HideAsync();
        await LoadData();
               
    }

    int? ReturnHHDSerialNumber()
    {
        try
        {
            // Get the maximum Block_7_1 value from non-deleted items
            if (ListItems.Count() > 0)
            {
                return ListItems.Max(x => x.Block_7_1.GetValueOrDefault()) + 1;
            }
            else
            {
                return 1;
            }
        }
        catch(Exception ex)
        {
            toastService.ShowError($"Getting Error while generating Household Serial Number {ex}, Please try again!");
            return 0;
        }
    }

    int? ReturnHHDSamplingSerialNumber()
    {
        try
        {
            // Get the maximum Block_7_1 value from non-deleted items
            if (ListItems.Count() > 0)
            {
                var households = ListItems.Where(x => x.is_household == 2);
                if (households != null && households.Count() > 0)
                {
                    return households.Max(x => x.Block_7_3.GetValueOrDefault()) + 1;
                }
                else
                {
                    return 1;
                }
            }
            else
            {
                return 1;
            }
        }
        catch(Exception ex)
        {
            toastService.ShowError($"Getting Error while generating Household sampling Serial Number {ex}, Please try again!");
            return 0;
        }
    }
}
