@page "/dashboard/sch0.0/block_11"
@using Income.Database.Models.Common
@using Income.Database.Models.SCH0_0
@layout Income.Components.Layout.DashboardLayout
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IToastService toastService

<div class="main-content">
    <CommonContentHeader 
        SelectedFsuId="@SelectedFsuId"
        survey_time="@survey_time" 
    />
    <div class="card custom-card">
        <div class="card-header d-flex align-items-center">
            <h3 class="card-title m-0 d-flex align-items-center">
                <span class="text-primary me-2">[Block 11]</span>Particulars of sampling of households
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">1a</span>Enumerator Name
                        </label>
                        <input type="text" class="form-control is_sso" @bind="tbl_Sch_0_0_FieldOperation.enumerator_name" disabled>
                    </div>
                </div>
                <div class="col-sm-12">
                    @if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
                    {
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">1b</span>Supervisor Name
                            </label>
                            <input type="text" class="form-control" @bind="tbl_Sch_0_0_FieldOperation.supervisor_name" disabled>
                        </div>
                    }
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">2.1</span>Date of start of field work
                        </label>
                        <input type="text" class="form-control is_sso" @bind="tbl_Sch_0_0_FieldOperation.field_work_start_date" disabled>
                    </div>
                </div>
               <div class="col-sm-12">
                    @if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
                    {
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">2.1</span>Date of end of field work
                            </label>
                            <input type="text" class="form-control is_sso" @bind="tbl_Sch_0_0_FieldOperation.field_work_end_date" disabled>
                        </div>
                    }
               </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">3</span>total time taken to canvass the schedule by the team of enumerator (SE/JSO) (in hours)
                        </label>
                        <input type="text" class="form-control is_sso" @bind="tbl_Sch_0_0_FieldOperation.time_taken">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="d-flex align-items-center mb-3">
                        <label class="form-label me-3 mb-0">
                            <span class="form-badge">4</span>
                            Whether any remark has been entered by SE/JSO/SS/SSO
                        </label>
                        <div class="d-flex align-items-center">
                            <div class="customRadioButton me-5">
                                <label class="d-flex align-items-center">
                                    <input type="radio" id="Yes" name="yesRemarks">
                                    <span class="label-text ms-2">Yes</span>
                                </label>
                            </div>
                            <div class="customRadioButton">
                                <label class="d-flex align-items-center">
                                    <input type="radio" id="No" name="yesRemarks">
                                    <span class="label-text ms-2">No</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 5.i -->
                <div class="col-sm-12">
                    <div class="d-flex align-items-center mb-3">
                        <label class="form-label me-3 mb-0">
                            <span class="form-badge">5.i</span>
                            In Block 9/10
                        </label>
                        <div class="d-flex align-items-center">
                            <div class="customRadioButton me-5">
                                <label class="d-flex align-items-center">
                                    <input disabled class="is_sso" value="1" type="radio"
                                           id="remarkBlockYes" name="remarks_block_9_10" checked="@remarks_block_9_10_yes">
                                    <span class="label-text ms-1" for="remarkBlockYes">Yes</span>
                                </label>
                            </div>
                            <div class="customRadioButton">
                                <label class="d-flex align-items-center">
                                    <input disabled class="is_sso" value="2" type="radio"
                                           id="remarkBlockNo" name="remarks_block_9_10" checked="@(!remarks_block_9_10_yes)">
                                    <span class="label-text ms-1"  for="remarkBlockNo">No</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 5.ii -->
                <div class="col-sm-12">
                    <div class="d-flex align-items-center mb-3">
                        <label class="form-label me-3 mb-0">
                            <span class="form-badge">5.ii</span>
                            Elsewhere in the schedule
                        </label>
                        <div class="d-flex align-items-center">
                            <div class="customRadioButton me-5">
                                <label class="d-flex align-items-center">
                                    <input disabled class="is_sso" value="1" type="radio"
                                            id="remarkElseYes" name="remarks_elsewhere" checked="@remarks_elsewhere_yes">
                                    <span class="label-text ms-1" for="remarkElseYes">Yes</span>
                                </label>
                            </div>
                            <div class="customRadioButton">
                                <label class="d-flex align-items-center">
                                    <input disabled class="is_sso" value="2" type="radio"
                                           id="remarkElseNo" name="remarks_elsewhere" checked="@(!remarks_elsewhere_yes)">
                                    <span class="label-text ms-1" for="remarkElseNo">No</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    @* Remarks Card *@
    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">Remarks</h3>
        </div>
        <div class="card-body">
            <textarea type="text" class="form-control disabled w-100" placeholder="" rows="4"></textarea>
        </div>
    </div>
</div>
<div class="footer">
    <div class="row">
        <div class="col-sm-6">
            <div class=d-flex>
                <button class="btn btn-outline-secondary" onclick="@GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex justify-content-end">
                @if (SessionStorage.role_name == CommonConstants.ROLE_NAME_JSO)
                {
                    <NavLink class="btn btn-outline-primary me-2 is_sso action" @onclick="@(() => HandleSubmit(false))"><i class="fi fi-rr-disk me-1"></i>Save</NavLink>
                }
                <NavLink class="btn btn-primary" @onclick="@(() => HandleSubmit(true))">Exit<i class="fi fi-rr-cross-circle ms-1"></i></NavLink>
            </div>
        </div>
    </div>
</div>

@code {
    int SelectedFsuId = SessionStorage.SelectedFSUId;
    DateTime survey_time = DateTime.Now;
    Tbl_Sch_0_0_FieldOperation tbl_Sch_0_0_FieldOperation = new();
    CommonQueries commonQueries = new();
    DBQueries DBQueries = new();
    private string start_date = string.Empty;
    private string end_date = string.Empty;
    private bool remarks_block_9_10_yes = false;
    private bool remarks_elsewhere_yes = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (SessionStorage.role_name != CommonConstants.ROLE_NAME_JSO)
            {
                await JSRuntime.InvokeVoidAsync("__disableFieldsAndButtons");
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {

        try
        {
            Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
            {
                block_uri = "/dashboard/sch0.0/block_11",
                block_title = "Sch 0.0 Block 11",
                block_code = CommonEnum.sch_0_0_block_11.ToString(),
            };
            await commonQueries.InsertVisitedBlock(vb);
            var block_1 = await DBQueries.FetchBlock1();
            tbl_Sch_0_0_FieldOperation = await DBQueries.FetchBlock2();
            if (tbl_Sch_0_0_FieldOperation == null)
            {
                tbl_Sch_0_0_FieldOperation = new Tbl_Sch_0_0_FieldOperation
                {
                    id = Guid.NewGuid(),
                    fsu_id = SelectedFsuId,
                    enumerator_name = SessionStorage.user_name,
                    field_work_start_date = DateTime.Now,
                };
            }
            else
            {
                if(SessionStorage.GetUserRole() == SessionStorage.UserRole.SSO)
                {
                    tbl_Sch_0_0_FieldOperation.supervisor_name = SessionStorage.user_name;
                    tbl_Sch_0_0_FieldOperation.field_work_end_date = DateTime.Now;
                }
            }

            remarks_block_9_10_yes = !string.IsNullOrEmpty(block_1?.EnumeratorRemarks) || !string.IsNullOrEmpty(block_1?.SupervisorRemarks);

            StateHasChanged();
            return;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            return;
        }
    }
    async void GoBack()
    {
        await JSRuntime.InvokeVoidAsync("__handleGoBack");
        return;
    }
    public async Task HandleSubmit(bool is_go_next)
    {

        try
        {
            if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
            {
                var res = await DBQueries.SaveBlock2(tbl_Sch_0_0_FieldOperation);
                if (res.GetValueOrDefault() > 0)
                {
                    toastService.ShowSuccess("Data saved successfully");
                    if (is_go_next)
                    {
                        NavigationManager.NavigateTo("/dashboard/fsulist");
                        return;
                    }
                }
                else
                {
                    toastService.ShowError("Failed to save data");
                    return;
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
        finally
        {
            
        }
    }

    private async Task LoadData()
    {
        try
        {
            
        }
        catch (Exception ex)
        {
        }
    }
}
