@page "/dashboard/sch0.0/block_2_2U"
@layout Income.Components.Layout.DashboardLayout
@inject IJSRuntime JSRuntime
@using Income.Database.Models.Common
@using Income.Database.Models.SCH0_0
@using Income.Viewmodels
@using Income.Viewmodels.SCH0_0
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject PreloadService preloadService
@inject Block_2_2_VM block_2_2_VM
@inject ILoggingService Logger
@inject Warning_VM warningVM

<div class="main-content">
    <CommonContentHeader SelectedFsuId="@SelectedFsuId"
                         survey_time="@survey_time" />
    <ConfirmDialog @ref="dialog" />
    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">
                <span class="text-primary fw-bolder me-2">[Block 2.2]</span>List of sub-units (SU) and identification of selected SU
            </h3>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">
                    <table class="table table-striped table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>selected</th>
                            <th>Serial number of SU</th>
                            <th>% of population in the SU</th>
                            <th>selected SU</th>
                        </tr>
                        <tr>
                            <th>(1)</th>
                            <th>(2)</th>
                            <th>(3)</th>
                            <th>(4)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (block_2_2_VM.tbl_Sch_0_0_Block_2_2 != null && block_2_2_VM.tbl_Sch_0_0_Block_2_2.Count > 0)
                        {
                            foreach (var item in block_2_2_VM.tbl_Sch_0_0_Block_2_2)
                            {
                                <tr>
                                    <td>
                                        <div class="siteCustomCheckbox">
                                            <label>
                                                <input type="checkbox" disabled @bind="item.IsChecked">
                                            </label>
                                        </div>
                                    </td>
                                    <td>@item.serial_number</td>
                                    <td>
                                        <input value="@item.Percentage"
                                               type="number" step="0.1" min="0" max="100"
                                               @oninput="(e) => OnInputChanged(e, item)"
                                               disabled="@(!block_2_2_VM.AllowSelection)"
                                               onkeypress="return /^(\d+(\.\d?)?)?$/.test(event.target.value + event.key)" />
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-between m-0 p-0">
                                            <p class="m-0 p-0">@item.SampleHgSbNumber</p>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" class="bg-success"></td>  @* Empty cells for first three columns *@
                            <td class="bg-success text-success fw-bolder">
                                Total Population - <span> @block_2_2_VM.Total_population_percentage </span>%
                            </td>
                            <td class="bg-success"></td>  @* Last column (selected SU) remains blank *@
                        </tr>
                    </tfoot>
                </table>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">Remarks</h3>
        </div>
        <div class="card-body">
            <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">
                <textarea maxlength="500" class="form-control disabled w-100" @bind="remarks" rows="2" placeholder="Enter your remarks here..." oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '')"></textarea>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="d-flex align-items-center">
                <NavLink class="btn btn-outline-secondary d-flex align-items-center" onclick="@GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</NavLink>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end">
                <NavLink class="btn btn-outline-primary me-2" hidden="@(!block_2_2_VM.AllowSelection)" @onclick="@(() => DoSelection())"><i class="fi fi-rr-checkbox me-1"></i>Do Selection</NavLink>
                @* <NavLink class="btn btn-outline-primary me-2" @onclick="@(() => HandleSubmit(false))"><i class="fi fi-rr-disk me-1"></i>Save</NavLink> *@
                <NavLink class="btn btn-primary" @onclick="@(() => HandleSubmit(true))">Next<i class="fi fi-rr-angle-right ms-1"></i></NavLink>
            </div>
        </div>
    </div>
</div>
@code {
    int SelectedFsuId = SessionStorage.SelectedFSUId;
    DateTime survey_time = DateTime.Now;
    CommonQueries commonQueries = new();
    DBQueries SCH_0_0_Queries = new();
    private ConfirmDialog dialog = default!;
    private string remarks = string.Empty;
    Tbl_Sch_0_0_Block_0_1 block_0_1 = new();

    async void GoBack()
    {
        // await JSRuntime.InvokeVoidAsync("__handleGoBack");
        NavigationManager.NavigateTo("/dashboard/sch0.0/block_2_1");
        return;
    }

    private void OnInputChanged(ChangeEventArgs e, Tbl_Sch_0_0_Block_2_2 item)
    {
        string input = e.Value?.ToString() ?? "";
        if (System.Text.RegularExpressions.Regex.IsMatch(input, @"^\d{0,3}(\.\d{0,1})?$"))
        {
            if (double.TryParse(input, out double value))
                item.Percentage = value;
            else
                item.Percentage = null;
        }
        else
        {
            // Reset to previous valid value if invalid input
            item.Percentage = Math.Round(item.Percentage.Value, 1);
            StateHasChanged();
        }

        block_2_2_VM.CalculateTotalPopulationPercentage_Urban();
    }


    protected override async Task OnInitializedAsync()
    {
        block_2_2_VM.NotifyUiUpdate += StateHasChanged;
        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
        {
            block_uri = "/dashboard/sch0.0/block_2_2U",
            block_title = "Sch 0.0 Block 2.2",
            block_code = CommonEnum.sch_0_0_block_2_2.ToString(),
        };
        await commonQueries.InsertVisitedBlock(vb);
        await block_2_2_VM.Init();
        block_0_1 = await SCH_0_0_Queries.FetchBlock1();
        remarks = block_0_1?.remarks_block_2_2;
        if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            survey_time = block_2_2_VM.tbl_Sch_0_0_Block_2_2?.FirstOrDefault()?.survey_timestamp.GetValueOrDefault() ?? DateTime.Now;
        }

    }

    async void DoSelection()
    {
        var result = block_2_2_VM.ValidateUrban();
        if (!result.IsValid)
        {
            foreach (var error in result.Errors)
            {
                toastService.ShowError(error);
            }
        }
        else
        {
            if (block_2_2_VM.PopulationVariationExists())
            {
                var options_0 = new ConfirmDialogOptions { IsVerticallyCentered = true };
                var confirmation_0 = await dialog.ShowAsync(
                    title: "Alert",
                    message1: "W014(iii): All the sub-units need to have more or less equal population. Do you want to continue?",
                    confirmDialogOptions: options_0);

                if (confirmation_0)
                {
                    preloadService.Show(SpinnerColor.Light, "Processing, please wait");
                    block_2_2_VM.DoSelection();
                    warningVM.AddWarning("W014(iii): All the sub-units need to have more or less equal population", "0", "2.2", "4");
                    await warningVM.SaveWarningAsync("0", "2.2", 0);
                    toastService.ShowSuccess("SU selection done successfully");
                    preloadService.Hide();
                }
            }
            else
            {
                var options = new ConfirmDialogOptions { IsVerticallyCentered = true };
                var confirmation = await dialog.ShowAsync(
                    title: "Alert",
                    message1: "Do you want to proceed?",
                    confirmDialogOptions: options);

                if (confirmation)
                {
                    preloadService.Show(SpinnerColor.Light, "Processing, please wait");
                    block_2_2_VM.DoSelection();
                    toastService.ShowSuccess("SU selection done successfully");
                    preloadService.Hide();
                }
            }
        }
    }

    async Task HandleSubmit(bool action)
    {
        try
        {
            if (block_2_2_VM.Total_population_percentage != 100)
            {
                toastService.ShowError("Total population percentage should be 100%");
            }
            else if (!block_2_2_VM.tbl_Sch_0_0_Block_2_2.Any(x => x.IsChecked == true))
            {
                toastService.ShowError("Selection has not been done");
            }
            else
            {
                block_0_1.remarks_block_2_2 = remarks;
                await SCH_0_0_Queries.SaveBlock1(block_0_1);
                NavigationManager.NavigateTo($"/dashboard/sch0.0/block_3/{false}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            toastService.ShowError("An error occurred while navigating");
            return;
        }

    }
}


