@page "/dashboard/sch0.0/block_11"
@using Income.Database.Models.Common
@using Income.Database.Models.SCH0_0
@using Income.Viewmodels
@layout Income.Components.Layout.DashboardLayout
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject Warning_VM warningVM
@inject ILoggingService Logger
@inject NetworkService networkService
@inject ILoggingService loggingService

<div class="main-content">
    <CommonContentHeader 
        SelectedFsuId="@SelectedFsuId"
        survey_time="@survey_time" 
    />
    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">
                <span class="text-primary me-2">[Block 11]</span>Particulars of sampling of households
            </h3>

            @if (ShowValidateButton)
            {
                <div class="card-tools">
                    <Button class="btn btn-primary is_sso action" @onclick="@(() => OpenValidatePage())"><i class="fi fi-rr-memo-circle-check me-1"></i>Validate</Button>
                </div>
            }

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">1a</span>Enumerator Name
                        </label>
                        <input type="text" class="form-control is_sso" @bind="tbl_Sch_0_0_FieldOperation.enumerator_name" disabled>
                    </div>
                </div>
                <div class="col-sm-12">
                    @if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
                    {
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">1b</span>Supervisor Name
                            </label>
                            <input type="text" class="form-control" @bind="tbl_Sch_0_0_FieldOperation.supervisor_name" disabled>
                        </div>
                    }
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">2.1</span>Date of start of field work
                        </label>
                        <input type="text" class="form-control is_sso" @bind="block_0_1.survey_timestamp" disabled>
                    </div>
                </div>
               <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">2.2</span>Date of end of field work
                        </label>
                        <input type="text" class="form-control is_sso" @bind="tbl_Sch_0_0_FieldOperation.field_work_end_date" disabled>
                    </div>
               </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">3</span>total time taken to canvass the schedule by the team of enumerator (SE/JSO) (in hours)
                        </label>
                        <input type="text"
                                disabled="@(SessionStorage.FSU_Submitted)"
                               class="form-control is_sso"
                               value="@tbl_Sch_0_0_FieldOperation.time_taken"
                               onkeypress="return event.key.match(/^[0-9]$/)"
                               @oninput="TimeTakenChanged" />

                            @if (!string.IsNullOrEmpty(StatusMessage))
                            {
                                <div class="@StatusClass">@StatusMessage</div>
                            }

                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="d-flex align-items-center mb-3">
                        <label class="form-label me-3 mb-0">
                            <span class="form-badge">4</span>
                            Whether any remark has been entered by SE/JSO/SS/SSO
                        </label>
                        <div class="d-flex align-items-center">
                            <div class="customRadioButton me-5">
                                <label class="d-flex align-items-center">
                                    <input disabled type="radio" id="Yes" checked="@(!string.IsNullOrEmpty(remarks))" name="yesRemarks">
                                    <span class="label-text ms-2">Yes</span>
                                </label>
                            </div>
                            <div class="customRadioButton">
                                <label class="d-flex align-items-center">
                                    <input disabled type="radio" id="No" checked="@(string.IsNullOrEmpty(remarks))" name="yesRemarks">
                                    <span class="label-text ms-2">No</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 5.i -->
                <div class="col-sm-12">
                    <div class="d-flex align-items-center mb-3">
                        <label class="form-label me-3 mb-0">
                            <span class="form-badge">5.i</span>
                            In Block 9/10
                        </label>
                        <div class="d-flex align-items-center">
                            <div class="customRadioButton me-5">
                                <label class="d-flex align-items-center">
                                    <input disabled class="is_sso" value="1" type="radio"
                                           id="remarkBlockYes" name="remarks_block_9_10" checked="@remarks_block_9_10_yes">
                                    <span class="label-text ms-1" for="remarkBlockYes">Yes</span>
                                </label>
                            </div>
                            <div class="customRadioButton">
                                <label class="d-flex align-items-center">
                                    <input disabled class="is_sso" value="2" type="radio"
                                           id="remarkBlockNo" name="remarks_block_9_10" checked="@(!remarks_block_9_10_yes)">
                                    <span class="label-text ms-1"  for="remarkBlockNo">No</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 5.ii -->
                <div class="col-sm-12">
                    <div class="d-flex align-items-center">
                        <label class="form-label me-3 mb-0">
                            <span class="form-badge">5.ii</span>
                            Elsewhere in the schedule
                        </label>
                        <div class="d-flex align-items-center">
                            <div class="customRadioButton me-5">
                                <label class="d-flex align-items-center">
                                    <input disabled class="is_sso" value="1" type="radio"
                                            id="remarkElseYes" name="remarks_elsewhere" checked="@remarks_elsewhere_yes">
                                    <span class="label-text ms-1" for="remarkElseYes">Yes</span>
                                </label>
                            </div>
                            <div class="customRadioButton">
                                <label class="d-flex align-items-center">
                                    <input disabled class="is_sso" value="2" type="radio"
                                           id="remarkElseNo" name="remarks_elsewhere" checked="@(!remarks_elsewhere_yes)">
                                    <span class="label-text ms-1" for="remarkElseNo">No</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    @* Remarks Card *@
    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">Remarks</h3>
        </div>
        <div class="card-body">
            <textarea maxlength="500" type="text" disabled="@SessionStorage.FSU_Submitted" class="form-control disabled w-100" @bind="@remarks" placeholder="" rows="2"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class=d-flex>
                <button class="btn btn-outline-secondary" onclick="@GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex justify-content-end">
                @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO && !SessionStorage.FSU_Submitted)
                {
                    <Button class="btn btn-primary is_sso action me-2" @onclick="@(() => SubmitData())"><i class="fi fi-rr-memo-circle-check me-1"></i>Submit to SSO</Button>
                }
                @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO && !SessionStorage.FSU_Submitted)
                {
                    <Button class="btn btn-outline-primary me-2 is_sso action" @onclick="@(() => HandleSubmit(false))"><i class="fi fi-rr-disk me-1"></i>Save</Button>
                }
                <NavLink class="btn btn-primary" @onclick="@(() => HandleSubmit(true))">Exit<i class="fi fi-rr-cross-circle ms-1"></i></NavLink>
            </div>
        </div>
    </div>
</div>

@code {
    int SelectedFsuId = SessionStorage.SelectedFSUId;
    DateTime survey_time = DateTime.Now;
    Tbl_Sch_0_0_Block_0_1 block_0_1 = new();
    Tbl_Sch_0_0_FieldOperation tbl_Sch_0_0_FieldOperation = new();
    CommonQueries commonQueries = new();
    DBQueries DBQueries = new();
    private string start_date = string.Empty;
    private string end_date = string.Empty;
    private bool remarks_block_9_10_yes = false;
    private bool remarks_elsewhere_yes = false;
    private bool remarks_block_11 = false;
    int surveyCode = 0;
    string StatusMessage = "";
    string StatusClass = "";
    string? remarks = "";

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         if (SessionStorage.role_name != CommonConstants.ROLE_NAME_JSO)
    //         {
    //             await JSRuntime.InvokeVoidAsync("__disableFieldsAndButtons");
    //         }
    //     }
    // }

    private string? timeTakenError;
    private bool ShowValidateButton;

    protected override async Task OnInitializedAsync()
    {

        try
        {
            Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
            {
                block_uri = "/dashboard/sch0.0/block_11",
                block_title = "Sch 0.0 Block 11",
                block_code = CommonEnum.sch_0_0_block_11.ToString(),
            };
            await commonQueries.InsertVisitedBlock(vb);
            var block_1 = await DBQueries.FetchBlock1();
            if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
            {
                ShowValidateButton = !SessionStorage.FSU_Submitted;
            }
            else
            {
                ShowValidateButton = true;
            }
            if (block_1 != null)
            {
                block_0_1 = block_1;
                surveyCode = block_1.Block_1_16.GetValueOrDefault();
                remarks = block_0_1.remarks_block_11;
            }
            tbl_Sch_0_0_FieldOperation = await DBQueries.FetchBlock2();
            if (tbl_Sch_0_0_FieldOperation == null)
            {
                tbl_Sch_0_0_FieldOperation = new Tbl_Sch_0_0_FieldOperation
                {
                    id = Guid.NewGuid(),
                    field_work_start_date = block_1.survey_timestamp,
                    field_work_end_date = DateTime.Now,
                    fsu_id = SelectedFsuId,
                    enumerator_name = SessionStorage.user_name,
                };
            }
            else
            {

                if(SessionStorage.GetUserRole() == SessionStorage.UserRole.SSO)
                {
                    tbl_Sch_0_0_FieldOperation.supervisor_name = SessionStorage.user_name;
                }
            }

            remarks_block_9_10_yes = !string.IsNullOrEmpty(block_1?.EnumeratorRemarks) || !string.IsNullOrEmpty(block_1?.SupervisorRemarks);
            remarks_elsewhere_yes = !string.IsNullOrEmpty(block_1?.remarks_block_2_2) || !string.IsNullOrEmpty(block_1?.remarks_block_3) ||
                                    !string.IsNullOrEmpty(block_1?.remarks_block_4) || !string.IsNullOrEmpty(block_1?.remarks_block_5) ||
                                    !string.IsNullOrEmpty(block_1?.remarks_block_6) || !string.IsNullOrEmpty(block_1?.remarks_block_7) ||
                                    !string.IsNullOrEmpty(block_1?.remarks_block_7_selection);

            remarks_block_11 = !string.IsNullOrEmpty(block_1?.remarks_block_11);

            StateHasChanged();
            return;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            return;
        }
    }
    async void GoBack()
    {
        await JSRuntime.InvokeVoidAsync("__handleGoBack");
        return;
    }

    private void TimeTakenChanged(ChangeEventArgs e)
    {
        StatusMessage = string.Empty;
        var txt = e.Value?.ToString() ?? "";
        // Validate and convert to integer
        if (int.TryParse(txt, out int value))
        {
            tbl_Sch_0_0_FieldOperation.time_taken = value;
            //Warning - if time < 5
            if ((surveyCode == 1 || surveyCode == 4) && value < 5)
            {
                StatusClass = "text-success";
                StatusMessage = "W000: Time taken should be > 5 hours";
            }
            //For zero case - time should be < 5
            else if ((surveyCode == 2 || surveyCode == 3 || surveyCode == 5 || surveyCode == 6 || surveyCode == 7) && value > 5)
            {
                StatusClass = "text-success";
                StatusMessage = "W000: Time taken should be < 5 hours";
            }
        }
        else
        {
            tbl_Sch_0_0_FieldOperation.time_taken = null;       // or null if nullable
            // StatusMessage = "Invalid entry";
            // StatusClass = "text-danger";  // red
        }
    }

    private bool HardChecksFailed()
    {
        try
        {
            StatusMessage = string.Empty;
            if (surveyCode == 1 || surveyCode == 4)
            {
                // //(iii) surveycode = 1 or 4 -> time should be zero
                // if (tbl_Sch_0_0_FieldOperation.time_taken == null || tbl_Sch_0_0_FieldOperation.time_taken <= 0)
                // {
                //     StatusMessage = "H000: Time taken cannot be blank or zero";
                //     StatusClass = "text-danger";
                // }
                //(vi) surveycode = 1 or 4 -> time should be between 5 and 60
                if (tbl_Sch_0_0_FieldOperation.time_taken < 5 || tbl_Sch_0_0_FieldOperation.time_taken > 60)
                {
                    StatusMessage = "H011 (v): Time taken must be between 5 and 60 hours";
                    StatusClass = "text-danger";
                }
            }
            return !string.IsNullOrEmpty(StatusMessage);
        }
        catch (Exception ex)
        {
            return false;
        }
    }

    private bool WarningsPresent()
    {
        try
        {
            StatusMessage = string.Empty;
            int value = tbl_Sch_0_0_FieldOperation.time_taken.GetValueOrDefault();
            //Warning - if time < 5
            // if ((surveyCode == 1 || surveyCode == 4) && value < 5)
            // {
            //     StatusClass = "text-success";
            //     StatusMessage = "W000: Time taken should be > 5 hours";
            // }
            //For zero case - time should be < 5
            if ((surveyCode == 2 || surveyCode == 3 || surveyCode == 5 || surveyCode == 6 || surveyCode == 7) && value > 5)
            {
                StatusClass = "text-success";
                StatusMessage = "W011(vi): Time taken should be < 5 hours";
            }
            return !string.IsNullOrEmpty(StatusMessage);
        }
        catch
        {
            return false;
        }
    }

    public async Task HandleSubmit(bool is_go_next)
    {

        try
        {
            if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
            {
                bool isInvalid = HardChecksFailed();
                if (isInvalid)
                {
                    toastService.ShowError("Please address pending errors");
                    return;
                }
                if (WarningsPresent())
                {
                    warningVM.AddWarning(StatusMessage, "0", "11", "3");
                }
                var res = await DBQueries.SaveBlock2(tbl_Sch_0_0_FieldOperation);
                if (res.GetValueOrDefault() > 0)
                {
                    block_0_1.remarks_block_11 = remarks;
                    await DBQueries.SaveBlock1(block_0_1);
                    //await warningVM.SaveWarningAsync(false, warningVM.WarningList, "0", "11", 0);
                    await DBQueries.UpsertWarningAsync(warningVM.WarningList);
                    toastService.ShowSuccess("Data saved successfully");
                    StateHasChanged();
                    if (is_go_next)
                    {
                        NavigationManager.NavigateTo("/dashboard/fsulist");
                        return;
                    }
                }
                else
                {
                    toastService.ShowError("Failed to save data");
                    return;
                }
            }
            else
            {
                NavigationManager.NavigateTo("/dashboard/fsulist");
                return;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
        finally
        {

        }
    }

    bool isBusy = false;

    private async Task SubmitData()
    {
        try
        {
            if(isBusy)
            {
                return;
            }
            isBusy = true;
            int lookup_submit_status = 0;
            int lookup_sub_submit_status = 0;
            var fsu = await commonQueries.FetchFsuByFsuId(SessionStorage.SelectedFSUId);
            if (fsu != null)
            {
                lookup_submit_status = fsu.lookupFsuSubmitStatus.GetValueOrDefault();
            }
            if (new int [] {21,12,22,31,32, 80 }.Contains(lookup_submit_status))
            {
                toastService.ShowInfo("FSU has already been submitted");
                return;
            }
            var warnings = await DBQueries.GetWarningList(schedule: "0");
            if (warnings.Any(x => x.warning_status == 1))
            {
                toastService.ShowError("Warnings need to be resolved before submission");
                return;
            }
            var sch00block2 = await DBQueries.FetchBlock2();
            if (sch00block2 == null)
            {
                toastService.ShowError("Please save before proceeding");
                return;
            }
            Submission_Model data = new();
            data.IncomeSchHISDto = null;

            //Fetch SCH0 Data
            data.IncomeSch00block0 = await DBQueries.FetchBlock1();
            data.IncomeSch00block2_1 = await DBQueries.FetchSCH0Block2_1Data();
            data.IncomeSch00block2_2 = await DBQueries.FetchSCH0Block2_2Data();
            var block_3 = await DBQueries.GetFileData(0);
            var block_6 = await DBQueries.GetFileData(1);

            if(block_3 != null)
            {
                block_3.file_image_source = ExtractBase64(block_3.file_image_source);
            }
            if (block_6 != null)
            {
                block_6.file_image_source = ExtractBase64(block_6.file_image_source);
            }
            data.IncomeSch00block3 = new() { block_3, block_6 };
            data.IncomeSch00block_4 = await DBQueries.GetBlock4();
            data.IncomeSch00block_5 = await DBQueries.FetchSCH0Block5Data();
            data.IncomeSch00block_7 = await DBQueries.GetBlock7DataWithDeleted();
            data.IncomeSch00FieldOp = await DBQueries.FetchBlock2();
            data.IncomeSch00WarningList = await DBQueries.GetWarningList(schedule: "0");

            string json = JsonConvert.SerializeObject(data);
            Upsert_Model payload = new()
            {
                fsu_id = SessionStorage.SelectedFSUId.ToString(),
                submitted_json_data = json,
                survey_id = SessionStorage.surveyId,
                created_on = DateTime.Now
            };

            if ((SessionStorage.user_role == CommonConstants.USER_CODE_JSO) || (SessionStorage.user_role == CommonConstants.USER_CODE_JSO2))
            {
                payload.lookup_fsu_submit_status = 80;  //status will be 80 when enumerator submits (only for SCH0)
                payload.lookup_fsu_sub_submit_status = 21; // status = 21 when submitting to SSO
            }

            if ((SessionStorage.user_role == CommonConstants.USER_CODE_SSO) || (SessionStorage.user_role == CommonConstants.USER_CODE_SSO2))
            {
                payload.lookup_fsu_submit_status = 80;
                payload.lookup_fsu_sub_submit_status = 12; // status = 12 when referring back to ENM
            }

            //string final_payload = JsonConvert.SerializeObject(payload);
            var response = await networkService.PostAsync(CommonConfig.BaseController, CommonConfig.SAVE_SUBMITTED_RESPONSE, payload);
            if (response != null && response.IsSuccessStatusCode)
            {
                toastService.ShowSuccess("Data submitted successfully");
                SessionStorage.FSU_Submitted = true;
                fsu.lookupFsuSubmitStatus = 80;
                await commonQueries.UpdateFSU(fsu);
                StateHasChanged();
            }
            else
            {
                toastService.ShowError("Data could not be submitted");
            }
        }
        catch (Exception ex)
        {
            await Logger.LogError(ex.Message);
        }
        finally
        {
            isBusy = false;
        }
    }

    public static string? ExtractBase64(string dataUri)
    {
        if (string.IsNullOrWhiteSpace(dataUri))
            return null;

        // Find where the comma appears in the data URI
        var commaIndex = dataUri.IndexOf(',');

        if (commaIndex < 0 || commaIndex == dataUri.Length - 1)
            return null; // Not a valid data URI

        // Return everything after the comma → pure base64 string
        return dataUri.Substring(commaIndex + 1);
    }

    private bool IsValidationDone()
    {
        try
        {
            var warnings = warningVM.WarningList.Where(w => w.schedule == "0");
            if (warnings != null && warnings.Count() > 0)
            {
                return false;
            }
            return true;
        }
        catch
        {
            return false;
        }

    }


    private void OpenValidatePage()
    {
        NavigationManager.NavigateTo($"/dashboard/validate_page?schedule={0}");
    }
}
