@page "/dashboard/fsulist"
@using Income.Common.SCH0_0
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Database.Models.SCH0_0
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject PreloadService preloadService
@inject NetworkService commonService;
@inject IToastService toastService
@inject ILoggingService loggingService

<div class="main-content">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h3 class="page-heading m-0">FSU List</h3>
        <div class="ms-auto">
            <NavLink class="btn btn-sm btn-dark text-white d-flex align-items-center" onclick="@(async() => await Fsu_Load())">Reload <i class="fi fi-rr-rotate-right ms-2"></i></NavLink>
        </div>
    </div>
    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">FSU List</h3>
            <div class="card-tools">
                <input class="form-control" placeholder="Search..." @oninput="@((ChangeEventArgs e) => HandleSearch(e))" />
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-bordered table-striped mb-0 custom-badge">
                    <thead class="text-uppercase">
                        <tr>
                            @* @if (SessionStorage.role_name == CommonConstants.ROLE_NAME_DS)
                            {
                                <th><input class="form-check-input" type="checkbox" style="width: 20px; height: 20px" checked="@(tbl_Fsu_List.Count == selected_guid.Count)"/></th>
                            } *@
                            <th>subround</th>
                            <th>fsu id</th>
                            <th>location details</th>
                            <th>frame population</th>
                            <th>status</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (temp_fsu_list?.Count > 0)
                        {
                            @foreach (var item in temp_fsu_list)
                            {
                                <tr>
                                    @* @if(SessionStorage.role_name == CommonConstants.ROLE_NAME_DS)
                                    {
                                        <td><input class="form-check-input" type="checkbox" checked="@((selected_guid.Contains(item.fsu_id) ? true : false))" /></td>
                                    } *@
                                    <td>@item.subrnd</td>
                                    <td>@item.fsu_id</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <i style="font-size: 20px;" class="fi fi-ss-marker text-danger"></i>
                                            <div class="ms-2 text-secondary">
                                                <p class="m-0 fst-italic">Village/ Town - <span class="text-primary">@item.fsuname</span></p>
                                                <div class="d-flex flex-column">
                                                    <p class="m-0 fs-13"><span class="fst-italic">IV Unit - </span> <span class="text-primary">@item.iv_unit</span></p>
                                                    <p class="mb-0 fs-13"><span class="fst-italic">Block - </span><span class="text-primary">@item.block</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@item.framepop</td>
                                    <td>
                                        @{
                                            bool onlysch00submitted = false;
                                            var message = string.Empty;
                                            if(item.lookupFsuSubmitStatus == 80)
                                            {
                                                onlysch00submitted = true;
                                                if (item.lookup_fsu_sub_submit_status == 21)
                                                {
                                                    message = "SCH0.0 Submitted by ENM";
                                                }
                                                else if (item.lookup_fsu_sub_submit_status == 12)
                                                {
                                                    message = "SCH0.0 Referred back by SUP";
                                                }
                                            }
                                            else
                                            {
                                                onlysch00submitted = false;
                                            }
                                            bool noTotal = item.total_hhd == 0;
                                            bool noCompleted = item.completed_hhd == 0;
                                            string badgeClass = noTotal? "" :  noCompleted ? "badge-success" : "badge-warning";
                                        }
                                        @if(!onlysch00submitted)
                                        {
                                            <div class="badge @badgeClass">
                                                @(noTotal ? "-" : $"{item.completed_hhd}/{item.total_hhd}")
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="badge badge-success">
                                                @message
                                            </div>
                                        }

                                    </td>
                                        
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <NavLink @onclick="@(() => HandleSelection("sch0.0", item.fsu_id))" class="btn btn-sm btn-outline-primary">SCH0.0</NavLink>
                                            <NavLink @onclick="@(() => HandleSelection("his", item.fsu_id))" class="btn btn-sm btn-primary">NHIS</NavLink>
                                            <NavLink @onclick="@(() => DownloadFSUData(item))" class="btn btn-sm btn-outline-primary">Download<i class="bi bi-download ms-1"></i></NavLink>
                                            @if (SessionStorage.env == SessionStorage.Environment.Development)
                                            {
                                                <NavLink @onclick="@(() => DoUpdateListing(item.fsu_id))" class="btn btn-sm btn-outline-primary">Clear Data<i class="bi bi-x-square ms-1"></i></NavLink>
                                            }
                                            @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.DS && item.lookupFsuSubmitStatus != 32)
                                            {
                                                <NavLink @onclick="@(() => HandleFinalSubmisssion(item))" class="btn btn-sm btn-outline-primary">Final Submit<i class="bi bi-cloud-upload ms-1"></i></NavLink>
                                            }
                                            
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="text-center" colspan="@((SessionStorage.role_name == CommonConstants.ROLE_NAME_DS ? 6 : 6))"><div class="alert custom-alert alert-danger"><i class="fi fi-rr-triangle-warning me-2"></i> No Data Found</div></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @* <div class="d-flex justify-content-between  p-3">
                    <p class="@((temp_fsu_list.Count == 0 ? "d-none" : "")) mb-0">Showing 1 to @temp_fsu_list.Count of @tbl_Fsu_List.Count entries</p>
                    <button class="btn btn-sm btn-outline-primary" onclick="@(() => HandleFinalSubmisssion())" disabled="@((selected_guid.Count == 0 || temp_fsu_list.Count == 0))" hidden="@(SessionStorage.user_role != CommonConstants.USER_CODE_DS)">Final Submit<i class="bi bi-patch-check-fill ms-1"></i></button>
                </div> *@
            </div>
        </div>
    </div>
</div>

<ConfirmDialog @ref="dialog" />

@code {
    List<Tbl_Fsu_List> tbl_Fsu_List = new();
    List<Tbl_Fsu_List> temp_fsu_list = new();
    CommonQueries commonQueries = new();
    DBQueries dB = new();
    CommonFunction funcs = new();
    [Inject] ModalService ModalService { get; set; } = default;
    private ConfirmDialog dialog = default;
    bool canProceed = false;
    List<int> selected_guid { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        //preloadService.Show(SpinnerColor.Light, "Checking for updates, Please hang on....");
        //CheckAPKVersion();
        await Fsu_Load();
    }


    void Quit()
    {
        funcs.CloseApp();
    }

    async Task DownloadFSUData(Tbl_Fsu_List fsu, int statusCode = 0)
    {
        try
        {
            bool confirmation = await dialog.ShowAsync(
                                    title: "Confirmation Required",
                                    message1: "Downloading Fsu data may overwrite existing records and impact Local information.",
                                    message2: "Are you sure you want to continue with the download?"
                                    );
            if (!confirmation)
            {
                return;
            }

            if (!funcs.checkHasInternet())
            {
                toastService.ShowWarning("No Internet Connection. Please try again when you're back online!");
                return;
            }

            preloadService.Show(SpinnerColor.Light, "Fetching data from central database for offline access. Please wait...");

            var response = await commonService.GetAsync(CommonConfig.APIIncomeURL, $"{CommonConfig.FETCH_FSU_LIST_BY_USER_ID}{SessionStorage.__user_id}&v_surveyId={SessionStorage.surveyId}&v_lookup_submit_status=0&v_refer_back=0");

            if (string.IsNullOrEmpty(response))
            {
                toastService.ShowError($"No data found on server for this FSU. Synchronization failed.");
                return;
            }
            else
            {
                var fsu_list = JsonConvert.DeserializeObject<List<Tbl_Fsu_List>>(response);
                var currentFSU = fsu_list?.FirstOrDefault(x => x.fsu_id == fsu.fsu_id);
                if (currentFSU != null)
                {

                    var fsuHouses = currentFSU.fsuHouses.Where(x => x.is_deleted == false);
                    var validStatuses = new HashSet<int> { 12, 21, 22, 31, 32 };

                    var hhdIdsToDelete = fsuHouses?
                                        .Where(h => validStatuses.Contains(h.lookup_submit_status))
                                        .Select(h => h.hhd_id)
                                        .Distinct()
                                        .ToList();

                    var statusFlags = new Dictionary<int, bool>
                                {
                                    { 21, fsuHouses?.Any(x => x.lookup_submit_status == 21) ?? false },
                                    { 22, fsuHouses?.Any(x => x.lookup_submit_status == 22) ?? false },
                                    { 12, fsuHouses?.Any(x => x.lookup_submit_status == 12) ?? false },
                                    { 30, fsuHouses?.Any(x => x.lookup_submit_status == 30) ?? false },
                                    { 31, fsuHouses?.Any(x => x.lookup_submit_status == 31) ?? false },
                                    { 32, fsuHouses?.Any(x => x.lookup_submit_status == 32) ?? false },
                                    { 80, currentFSU.lookupFsuSubmitStatus == 80 }
                                };

                    var downloadTasks = statusFlags
                                .Where(kv => kv.Value) // only statuses that exist
                                .ToDictionary(
                                    kv => kv.Key,
                                    kv => commonService.GetAsync(
                                        CommonConfig.APIIncomeURL, $"{CommonConfig.FETCH_SAVED_RESPONSES_BY_FSU_ID}{currentFSU.fsu_id}/{kv.Key}"
                                    )
                                );

                    // Fire all calls in parallel
                    var results = await Task.WhenAll(downloadTasks.Values);

                    var sch00data = results.FirstOrDefault(r => !string.IsNullOrEmpty(r)) ?? string.Empty;

                    if (!string.IsNullOrEmpty(sch00data))
                    {
                        var received_data = JsonConvert.DeserializeObject<Upsert_Model>(sch00data);
                        if (received_data != null)
                        {
                            var deserialized = JsonConvert.DeserializeObject<Submission_Model>(received_data.submitted_json_data);
                            if (deserialized != null && deserialized.IncomeSch00block0 != null)
                            {
                                await dB.HardDeleteSCH00DataForFSUID(fsu.fsu_id);
                                var saved = await dB.SaveReceivedSCH00DataAsync(deserialized);
                            }
                            else
                            {
                                toastService.ShowError("SCH00 data not received");
                                return;
                            }
                        }
                        currentFSU.NeedDownload = false;
                        await commonQueries.UpdateFSU(currentFSU);
                    }

                    foreach (var kv in downloadTasks)
                    {
                        int hhdStatus = kv.Key;
                        string status_response = kv.Value.Result ?? string.Empty;

                        if (string.IsNullOrEmpty(status_response))
                            continue;

                        var list = JsonConvert.DeserializeObject<Upsert_Model>(status_response);
                        if (list?.submitted_json_data == null)
                            continue;
                        else
                        {
                            //Delete household data only for households already submitted

                            var received_data = JsonConvert.DeserializeObject<Submission_Model>(list.submitted_json_data);
                            if (received_data != null && received_data.IncomeSch00block0 != null)
                            {

                                var success = await dB.SaveReceivedHISDataAsync(received_data);
                                if (success > 0)
                                {
                                    toastService.ShowSuccess($"FSU data download completed successfully");
                                }
                                else
                                {
                                    toastService.ShowError($"FSU data download failed");
                                }
                            }
                        }
                    }
                }
                else
                {
                    toastService.ShowError("FSU data not found");
                }
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError($"Error while downloading FSU data: {ex.Message}");
        }
        finally
        {
            await Fsu_Load(false);
            preloadService.Hide();
            StateHasChanged();
        }
    }


    async Task HandleSelection(string block_name, int fsu_id)
    {
        try
        {
            SessionStorage.ClearFSUFlags();
            SessionStorage.SelectedFSUId = fsu_id;
            await commonQueries.DeleteSSUBlockAsync();
            var FsuData = await commonQueries.FetchFsuListByFsuId(fsu_id);
            var subUnitData = await dB.FetchSCH0Block2_2Data();
            if (subUnitData != null && subUnitData.Count > 0)
            {
                SessionStorage.hamlet_selection_done = subUnitData.Any(x => x.IsChecked);
            }

            var sch00block1 = await dB.FetchBlock1();

            if (block_name == "sch0.0")
            {
                if (SessionStorage.user_role == CommonConstants.USER_CODE_JSO || SessionStorage.user_role == CommonConstants.USER_CODE_JSO2)
                {
                    // if (data == null || data.Count == 0 || FsuData?.FirstOrDefault()?.NeedDownload == true)
                    // {
                    //     toastService.ShowError("Please ensure the selection is done and the data is downloaded Sucessfully.");
                    //     return;
                    // }
                }
                else
                {
                    if (sch00block1 == null)
                    {
                        toastService.ShowError("Data for FSU was not found. Please download first.");
                        return;
                    }
                }
            }
            else if (block_name == "his")
            {
                var data = await dB.GetSelectedBlock7List(fsu_id);
                if (data == null || data.Count == 0)
                {
                    toastService.ShowError("Please ensure the selection is done and the data is downloaded Sucessfully.");
                    return;
                }
                var sch00block2 = await dB.FetchBlock2();
                if (sch00block2 == null)
                {
                    toastService.ShowError("Block 2 of Schedule 0.0 needs to be saved before proceeding");
                    return;
                }

            }
            if (SessionStorage.user_role == CommonConstants.USER_CODE_JSO || SessionStorage.user_role == CommonConstants.USER_CODE_JSO2)
            {
                SessionStorage.FSU_Sector = FsuData?.FirstOrDefault().sec.GetValueOrDefault() ?? 0;
                SessionStorage.selection_done = await FSU_Selection_Done(fsu_id);
                SessionStorage.hamlet_selection_done = SessionStorage.selection_done ? true : await CheckHamletSelection(fsu_id);
                var subDivisionData = await dB.FetchSCH0Block5Data();
                if (subDivisionData != null && subDivisionData.Count > 0)
                {
                    SessionStorage.hamlet_selection_done = true;
                    SessionStorage.subdivision_selection_done = subDivisionData.Any(x => x.IsChecked == true);
                }
                SessionStorage.FSU_Submitted = FsuData?.FirstOrDefault().lookupFsuSubmitStatus is not (0 or 11);
                SessionStorage.selected_hhd_seq = 0;
                SessionStorage.selected_hhd_id = 0;
                string page_name = block_name == "sch0.0" ? "block0_1" : "ssu_page";
                if(sch00block1 == null && SessionStorage.FSU_Submitted)
                {
                    toastService.ShowError("Data for FSU was already submitted. Please download first.");
                    return;
                }
                else
                {
                    NavigationManager.NavigateTo($"/dashboard/{block_name}/{page_name}");
                }
            }
            else
            {
                if (FsuData?.FirstOrDefault()?.NeedDownload == true)
                {
                    toastService.ShowError("Please download before proceeding.");
                    return;
                }
                SessionStorage.FSU_Sector = FsuData?.FirstOrDefault().sec.GetValueOrDefault() ?? 0;
                SessionStorage.selection_done = true;
                SessionStorage.hamlet_selection_done = true;
                SessionStorage.FSU_Submitted = true;
                SessionStorage.selected_hhd_seq = 0;
                SessionStorage.selected_hhd_id = 0;
                string page_name = block_name == "sch0.0" ? "block0_1" : "ssu_page";
                NavigationManager.NavigateTo($"/dashboard/{block_name}/{page_name}");
            }

        }
        catch(Exception ex)
        {
            toastService.ShowError($"Error while navigating to block: {ex.Message}");
            return;
        }    
    }

    async Task<bool> FSU_Selection_Done(int fsu_id)
    {
        try
        {
            var hhd_list = await dB.GetBlock7Data(fsu_id);
            if (hhd_list != null && hhd_list.Count > 0)
            {
                bool selection_done = hhd_list.Any(x => x.isSelected);
                return selection_done;
            }
            return false;
        }
        catch (Exception ex)
        {
            return false;
        }
        finally
        {

        }
    }

    async Task<bool> CheckHamletSelection(int fsu_id)
    {
        try
        {
            var su_list = await dB.FetchSCH0Block2_2Data(fsu_id);
            if (su_list != null && su_list.Count > 0)
            {
                bool selection_done = su_list.Any(x => x.IsChecked);
                return selection_done;
            }

            return false;
        }
        catch (Exception ex)
        {
            return false;
        }
        finally
        {

        }
    }

    async Task HandleFinalSubmisssion(Tbl_Fsu_List fsu)
    {
        try
        {
            if (!funcs.checkHasInternet())
            {
                toastService.ShowWarning("No Internet Connection, Please try again once when you came back online!");
                return;
            }
            if (fsu.lookupFsuSubmitStatus == 32)
            {
                toastService.ShowWarning("This FSU has already been submitted");
                return;
            }
            bool preventSubmission = false;

            int fsu_id = fsu.fsu_id;
            SessionStorage.SelectedFSUId = fsu_id;

            var data = await dB.GetBlock7Data(fsu_id);
            List<Tbl_Sch_0_0_Block_7> selected = data.Where(k => k.isSelected == true && k.status != "SUBSTITUTED").OrderBy(k => k.SSS).ThenBy(k => k.SSS_household_id).ToList();

            if (selected != null && selected.Count > 0)
            {
                if(selected.Any(x => x.hhdStatus != 31))
                {
                    toastService.ShowError("Please ensure all households have been submitted by supervisor");
                    return;
                }
            }
            else if(selected != null && selected.Count == 0)
            {
                toastService.ShowError("No selected households found");
                return;
            }

            var fsuDetails = await commonQueries.FetchFsuByFsuId(fsu_id);
            if (data == null || (data != null && data.Count == 0))
            {
                toastService.ShowError($"Please ensure the selection done and the data is downloaded sucessfully for FSUID: {fsu_id}");
                return;
            }

            if (fsuDetails != null)
            {
                var fsuHouses = fsuDetails.fsu_houses != null ? JsonConvert.DeserializeObject<List<fsu_houses>>(fsuDetails.fsu_houses) : new();

                if (fsuHouses == null || (fsuHouses != null && fsuHouses.Count == 0))
                {
                    toastService.ShowError("No households have been submitted yet");
                    return;
                }
                else if (fsuHouses != null && fsuHouses.Count > 0)
                {
                    bool anyHHDNotSubmittedToDS = fsuHouses.Any(x => x.lookup_submit_status != 31);
                    if (anyHHDNotSubmittedToDS)
                    {
                        toastService.ShowError("All households need to be submitted to DS");
                        return;
                    }
                }
            }

            foreach (var hhd in selected)
            {
                SessionStorage.selected_hhd_id = hhd.Block_7_3.GetValueOrDefault();
                var warnings = await dB.FetchListAsync<Tbl_Warning>() ?? new();
                //DS needs to have accepted all warnings
                if (warnings.Count > 0)
                {
                    var parents = warnings.Where(x => x.parent_comment_id == null || x.parent_comment_id == Guid.Empty);
                    bool rejectedWarnings = parents.Any(x => x.warning_status != 5);
                    if (rejectedWarnings)
                    {
                        toastService.ShowError($"All warnings have not been accepted for HHD Srl - {hhd.Block_7_3}");
                        preventSubmission = true;
                    }
                }
            }

            if (preventSubmission)
            {
                return;
            }

            preloadService.Show(SpinnerColor.Light, "Submission is in progress");
            Submission_Model submissionData = new();
            submissionData.IncomeSchHISDto = [];

            foreach (var hhd in selected)
            {
                hhd.hhdStatus = 32;
                var hhd_data = await GetHHDData_OnlyWarnings(hhd);
                if (hhd_data != null)
                {
                    submissionData.IncomeSchHISDto.Add(hhd_data);

                }
            }

            string json = JsonConvert.SerializeObject(submissionData);
            Upsert_Model payload = new()
            {
                lookup_fsu_submit_status = 32,
                fsu_id = SessionStorage.SelectedFSUId.ToString(),
                submitted_json_data = json,
                survey_id = SessionStorage.surveyId,
                created_on = DateTime.Now
            };

            var response = await commonService.PostAsync(CommonConfig.BaseController, CommonConfig.SAVE_SUBMITTED_RESPONSE, payload);
            if (response != null && response.IsSuccessStatusCode)
            {
                toastService.ShowSuccess("Data submitted successfully");
                await Fsu_Load();
                StateHasChanged();
            }
            else
            {
                toastService.ShowError("Data could not be submitted");
            }
            preloadService.Hide();

        }
        catch(Exception ex)
        {
            toastService.ShowError($"Facing Error while running final submission process. Please Connect with adminstartor!");
            preloadService.Hide();
        }    
        finally
        {
            preloadService.Hide();
        }
    }

    private async Task<SCH_HIS_Model?> GetHHDData_OnlyWarnings(Tbl_Sch_0_0_Block_7 hhd)
    {
        try
        {
            int status = 32;

            SessionStorage.SelectedFSUId = hhd.fsu_id;
            SessionStorage.selected_hhd_id = hhd.Block_7_3.GetValueOrDefault();

            var block_2 = await dB.FetchSingleForFsuAndHhdAsync<Tbl_Block_FieldOperation>();
            var warnings = await dB.FetchListAsync<Tbl_Warning>(DBQueries.DeleteFilter.IncludeAll) ?? new();

            SCH_HIS_Model model = new()
            {
                Id = Guid.NewGuid(),
                hhd_id = hhd.Block_7_3.GetValueOrDefault(),
                hhd_status = status,
                IncomeWarningList = warnings
            };

            return model;
        }
        catch (Exception ex)
        {
            return null;
        }
    }


    async Task Fsu_Load(bool checkDownload = true)
    {
        try
        {
            if (funcs.checkHasInternet())
            {
                List<string> saved_fsu_responses = new List<string>();
                preloadService.Show(SpinnerColor.Light, "We are fetching data from central database for seamless offline experience, Please hang on....");

                List<Tbl_Sch_0_0_Block_7> OldFsuWiseBlockData = new List<Tbl_Sch_0_0_Block_7>();
                var response = await commonService.GetAsync(CommonConfig.APIIncomeURL,$"{CommonConfig.FETCH_FSU_LIST_BY_USER_ID}{SessionStorage.__user_id}&v_surveyId={SessionStorage.surveyId}&v_lookup_submit_status=0&v_refer_back=0");
                if (response != null)
                {
                    var fsu_list = JsonConvert.DeserializeObject<List<Tbl_Fsu_List>>(response);
                    CheckFSUSubstitution(fsu_list);
                    preloadService.Hide();
                    //CheckFSUUpdateListingDone(fsu_list);
                    preloadService.Show(SpinnerColor.Light, "We are fetching data from central database for seamless offline experience, Please hang on....");

                    if (fsu_list != null && fsu_list.Count > 0)
                    {
                        tbl_Fsu_List = new();
                        temp_fsu_list = new();
                        foreach (var item in fsu_list)
                        { 
                            var OldFsuData = await dB.Get_SCH0_0_Block_5A_HouseHoldBy_FSUP(item.fsu_id);
                            if(checkDownload)
                            {
                                CheckDownloadNeed(item, OldFsuData, item.fsuHouses);
                            }

                            await UpdateFsu(item.fsuHouses);
                            var houses = item.fsuHouses != null && item.fsuHouses.Count > 0 ? item.fsuHouses.Count : 0;

                            if ((SessionStorage.role_name == CommonConstants.ROLE_NAME_JSO || SessionStorage.role_name == CommonConstants.USER_CODE_JSO2))
                            {
                                item.completed_hhd = (item.total_hhd.GetValueOrDefault(0) - (item.submittedbyEnumaretorToSuperviosr.GetValueOrDefault(0) + item.submiitedbySuperviosrToDs.GetValueOrDefault(0) + item.returntoSuperviosrbyDS.GetValueOrDefault(0)));
                            }
                            else if ((SessionStorage.role_name == CommonConstants.ROLE_NAME_SSO))
                            {
                                item.completed_hhd = (item.submittedbyEnumaretorToSuperviosr.GetValueOrDefault(0) + item.returntoSuperviosrbyDS.GetValueOrDefault(0));
                            }
                            else if (SessionStorage.role_name == CommonConstants.ROLE_NAME_DS)
                            {
                                item.completed_hhd = (item.submiitedbySuperviosrToDs.GetValueOrDefault(0));
                            }
                            else
                            {
                                item.completed_hhd = item.total_hhd.GetValueOrDefault(0);
                            }
                            if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                            {
                                int pendingHouses = 0;
                                int totalHouses = 0;
                                if (item.fsuHouses != null && item.fsuHouses.Count > 0)
                                {
                                    pendingHouses = item.fsuHouses.Count(x => x.lookup_submit_status == 0 || x.lookup_submit_status == 11 || x.lookup_submit_status == 12);
                                    totalHouses = item.fsuHouses.Count();
                                }
                                item.completed_hhd = pendingHouses;
                                item.total_hhd = totalHouses;
                            }
                            if (SessionStorage.GetUserRole() == SessionStorage.UserRole.SSO)
                            {
                                int pendingHouses = 0;
                                int totalHouses = 0;
                                if (item.fsuHouses != null && item.fsuHouses.Count > 0)
                                {
                                    pendingHouses = item.fsuHouses.Count(x => x.lookup_submit_status == 21 || x.lookup_submit_status == 22);
                                    totalHouses = item.fsuHouses.Count();
                                }
                                item.completed_hhd = pendingHouses;
                                item.total_hhd = totalHouses;
                            }
                            if (SessionStorage.GetUserRole() == SessionStorage.UserRole.DS)
                            {
                                int pendingHouses = 0;
                                int totalHouses = 0;
                                if (item.fsuHouses != null && item.fsuHouses.Count > 0)
                                {
                                    pendingHouses = item.fsuHouses.Count(x => x.lookup_submit_status == 31);
                                    totalHouses = item.fsuHouses.Count();
                                }
                                item.completed_hhd = pendingHouses;
                                item.total_hhd = totalHouses;
                            }
                            item.fsu_houses = item.fsuHouses != null ? JsonConvert.SerializeObject(item.fsuHouses) : "";
                            tbl_Fsu_List.Add(item);
                            temp_fsu_list.Add(item);
                        }
                        // preloadService.Show(SpinnerColor.Light, "We are preparing your local database, Please hang on....");
                        await commonQueries.SaveFsuList(fsu_list);

                    }
                    else
                    {
                        tbl_Fsu_List = new List<Tbl_Fsu_List>();
                        temp_fsu_list = new List<Tbl_Fsu_List>();
                        toastService.ShowError($"FSU not found! Please connect with administrator.");
                    }
                    StateHasChanged();
                    preloadService.Hide();
                    return;
                }
                else
                {
                    preloadService.Hide();
                    return;
                }
            }
            else
            {
                tbl_Fsu_List = new List<Tbl_Fsu_List>();
                temp_fsu_list = new List<Tbl_Fsu_List>();
                toastService.ShowWarning("No Internet Connection, Please try again once when you came back online!");
                var fsus = await commonQueries.FetchFsuList()!;
                if (fsus != null && fsus.Count > 0)
                {
                    foreach (var item in fsus)
                    {

                        List<Tbl_Sch_0_0_Block_7> dataList = await dB.GetBlock7Data(item.fsu_id);
                        int count = 0;
                        foreach (var Item in dataList)
                        {
                            if (Item.isSelected == true && Item.status != "SUBSTITUTED")
                            {
                                count++;
                            }
                        }
                        item.total_hhd = count;
                        var houses = item.fsu_houses != null ? JsonConvert.DeserializeObject<List<fsu_houses>>(item.fsu_houses) : new();
                        if ((SessionStorage.role_name == CommonConstants.ROLE_NAME_JSO || SessionStorage.role_name == CommonConstants.USER_CODE_JSO2))
                        {
                            item.completed_hhd = (item.total_hhd - (item.submittedbyEnumaretorToSuperviosr + item.submiitedbySuperviosrToDs + item.returntoSuperviosrbyDS));
                        }
                        else if ((SessionStorage.role_name == CommonConstants.ROLE_NAME_SSO))
                        {
                            item.completed_hhd = (item.submittedbyEnumaretorToSuperviosr + item.returntoSuperviosrbyDS);
                        }
                        else if (SessionStorage.role_name == CommonConstants.ROLE_NAME_DS)
                        {
                            item.completed_hhd = (item.submiitedbySuperviosrToDs);
                        }
                        else
                        {
                            item.completed_hhd = 0;
                        }
                        item.completed_hhd = int.TryParse(item.completed_hhd?.ToString(), out int result) ? result : item.total_hhd;
                        tbl_Fsu_List.Add(item);
                        temp_fsu_list.Add(item);
                    }
                }
                StateHasChanged();
                preloadService.Hide();
                return;
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
            preloadService.Hide();
            tbl_Fsu_List = new List<Tbl_Fsu_List>();
            temp_fsu_list = new List<Tbl_Fsu_List>();
            StateHasChanged();
            return;
        }
    }

    void HandleSearch(ChangeEventArgs e)
    {
        try
        {
            temp_fsu_list = new();
            string text = e.Value.ToString();

            if (string.IsNullOrEmpty(text) || string.IsNullOrWhiteSpace(text))
            {
                foreach (var item in tbl_Fsu_List)
                {
                    temp_fsu_list.Add(item);
                }
                StateHasChanged();
                return;
            }
            else
            {
                foreach (var item in tbl_Fsu_List)
                {
                    if (
                        item.subrnd.ToString().Contains(text, StringComparison.OrdinalIgnoreCase) ||
                        item.fsu_id.ToString().Contains(text, StringComparison.OrdinalIgnoreCase) ||
                        (item.fsuname?.Contains(text, StringComparison.OrdinalIgnoreCase) ?? false) ||
                        (item.iv_unit?.Contains(text, StringComparison.OrdinalIgnoreCase) ?? false) ||
                        (item.block?.Contains(text, StringComparison.OrdinalIgnoreCase) ?? false) ||
                        (item.framepop?.ToString().Contains(text, StringComparison.OrdinalIgnoreCase) ?? false) ||
                        item.completed_hhd.ToString().Contains(text, StringComparison.OrdinalIgnoreCase) ||
                        item.total_hhd.ToString().Contains(text, StringComparison.OrdinalIgnoreCase)
                    )
                    {
                        temp_fsu_list.Add(item);
                    }
                }
                StateHasChanged();
                return;
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError($"Error while searching: {ex.Message}");
            temp_fsu_list = new List<Tbl_Fsu_List>(tbl_Fsu_List);
            StateHasChanged();
            return;
        }
    }

    private async void CheckFSUSubstitution(List<Tbl_Fsu_List>? result)
    {
        try
        {
            List<string> substitutedFSUList = [];
            List<string> fsuWithSCH0Block1Data = [];
            var localFSUList = await commonQueries.FetchFsuList();
            if (result != null && result.Count > 0)
            {
                foreach (var fsu in result)
                {
                    var localFSUData = localFSUList.FirstOrDefault(x => x.fsu_id == fsu.fsu_id);
                    //If FSU substitution count from API > local count, then show message
                    if (localFSUData?.isSubstituteDone.GetValueOrDefault() < fsu.isSubstituteDone)
                    {
                        localFSUData.isSubstituteDone = fsu.isSubstituteDone;
                        await commonQueries.SaveFsuList(new List<Tbl_Fsu_List> { localFSUData });
                        substitutedFSUList.Add(fsu.fsu_id.ToString());
                        var block_0_1 = await dB.FetchBlock1ByFSUID(fsu.fsu_id);
                        if (block_0_1 != null)
                        {
                            block_0_1.state_code = fsu.st;
                            block_0_1.Block_0_1 = fsu.stn;
                            block_0_1.Block_0_2 = fsu.dn;
                            block_0_1.Block_0_3 = fsu.tehn;
                            block_0_1.Block_0_4 = fsu.fsuname;
                            block_0_1.Block_0_5 = fsu.iv_unit;
                            block_0_1.Block_0_6 = fsu.block;
                            block_0_1.Block_1_1 = fsu.fsu_id.ToString();
                            block_0_1.Block_1_2 = 80;
                            block_0_1.Block_1_3 = "00";
                            block_0_1.Block_1_4 = Block_0_1_Constants.Sample.FirstOrDefault(x => x.id == Convert.ToInt16(fsu.sample))?.id ?? 0;
                            block_0_1.Block_1_5 = Block_0_1_Constants.Sector.FirstOrDefault(x => x.id == Convert.ToInt16(fsu.sec))?.id;
                            block_0_1.Block_1_6 = fsu.nss_reg;
                            block_0_1.Block_1_7 = fsu.dc;
                            block_0_1.Block_1_8 = fsu.strm;
                            block_0_1.Block_1_9 = fsu.sstrm;
                            block_0_1.Block_1_10 = fsu.subrnd;
                            block_0_1.Block_1_11 = fsu.sro;
                            block_0_1.Block_1_12 = Block_0_1_Constants.FrameCode.FirstOrDefault(x => x.id == Convert.ToInt16(fsu.fc))?.id ?? 0;
                            block_0_1.Block_1_13 = fsu.framepop;
                            block_0_1.Block_1_15 = fsu.totalsu;
                            await dB.SaveBlock1(block_0_1);
                        }
                    }
                }
            }
            if (substitutedFSUList.Count > 0)
            {
                string fsuSubstitutionMessage = $"FSU substitution done for {string.Join(",", substitutedFSUList)}.";
                // string downloadSCH0Message = fsuWithSCH0Block1Data.Count > 0 ? $"Download SCH0.0 again for {string.Join(",", fsuWithSCH0Block1Data)}." : string.Empty;
                // if (!string.IsNullOrEmpty(downloadSCH0Message))
                // {
                //     fsuSubstitutionMessage += "\n" + downloadSCH0Message;
                // }
                toastService.ShowInfo($"{fsuSubstitutionMessage}");
            }
            //Show message for update listing for FSUs where listing is already done
        }
        catch (Exception ex)
        {
        }
    }

    private async void CheckFSUUpdateListingDone(List<Tbl_Fsu_List>? result)
    {
        if (result == null || result.Count == 0)
            return;

        try
        {
            var substitutedFSUList = new List<string>();
            var fsuWithSCH0Block1Data = new List<string>();

            var localFSUList = await commonQueries.FetchFsuList();
            var localFsuLookup = localFSUList.ToDictionary(x => x.fsu_id); // Fast lookup

            var fsusToUpdate = new List<Tbl_Fsu_List>();

            foreach (var fsu in result)
            {
                if (localFsuLookup.TryGetValue(fsu.fsu_id, out var localFSUData) &&
                    localFSUData.updatelistingcount.GetValueOrDefault(0) < fsu.updatelistingcount)
                {
                    localFSUData.updatelistingcount = fsu.updatelistingcount;
                    fsusToUpdate.Add(localFSUData);
                    substitutedFSUList.Add(fsu.fsu_id.ToString());

                    // Optionally check and track SCH0 block1 data here
                    // if (await HasBlock1Data(fsu.fsu_id))
                    //     fsuWithSCH0Block1Data.Add(fsu.fsu_id.ToString());
                }
            }

            if (fsusToUpdate.Count > 0)
            {
                await commonQueries.SaveFsuList(fsusToUpdate);

                string message = $"Update Listing done for FSU: {string.Join(",", substitutedFSUList)}.";

                if (substitutedFSUList.Count > 0)
                {
                    message += $"\nDownload Again for: {string.Join(",", substitutedFSUList)}.";
                }

                var confirmation = await dialog.ShowAsync(
                    title: "FSU Update Listing Found!",
                    message1: message,
                    message2: "Do you want to proceed?"
                );

                if (confirmation)
                {  
                    foreach (var fsu in fsusToUpdate)
                    {
                        //await HandleRefresh(fsu);
                    }
                    return;
                }
                else
                {
                    #if WINDOWS
                    System.Diagnostics.Process.GetCurrentProcess().Kill();
                    #elif ANDROID
    var activity = Platform.CurrentActivity;
    activity?.FinishAffinity();
                    #else
                    #endif
                    return;
                }
            }
        }
        catch (Exception)
        {
            //.ShowError($"Something went wrong: {ex.Message}");
            return;
        }
    }

    private async Task DoUpdateListing(int fsuID)
    {
        try
        {
            if (Connectivity.Current.NetworkAccess == NetworkAccess.Internet)
            {
                bool confirmation = await dialog.ShowAsync(
                                    title: "Confirmation Required",
                                    message1: "This will wipe existing data from servers for this FSU.",
                                    message2: "Are you sure you want to continue?"
                                    );
                if (!confirmation)
                {
                    return;
                }
                preloadService.Show(SpinnerColor.Primary, "Clearing data");
                var response = await commonService.PostAsync(CommonConfig.BaseController, CommonConfig.UpdateListingAction, new { fsu_reference_Id = fsuID, survey_Id = SessionStorage.surveyId, is_updateListingCount = false });
                if (response != null && response.IsSuccessStatusCode)
                {
                    toastService.ShowInfo("Data cleared for FSU");
                    await dB.ResetSubmissionStatus(fsuID);
                }
                else
                {
                    toastService.ShowError("Failed to clear data. Please try again.");
                    return;
                }
            }
            else
            {
                toastService.ShowError("Need internet connectivity to proceed");
                return;
            }
        }
        catch (Exception ex)
        {

        }
        finally
        {
            preloadService.Hide();
            await Fsu_Load();
        }
    }

    private async Task UpdateFsu(List<fsu_houses>? FsuHouseList = null)
        {
            try
            {
                if (FsuHouseList != null && FsuHouseList.Count>0)
                {
                    foreach (var item in FsuHouseList)
                    {
                       await dB.Update_SCH0_0_Block_5AHHD_Status(item.lookup_submit_status, item.hhd_id, item.fsu_id);
                    }
                }
                return;
            }
            catch (Exception ex)
            {
                // await AppShell.Current.DisplayAlert("Error", ex.Message, "ok");
                return;
            }
        }


   private void CheckDownloadNeed(Tbl_Fsu_List FsuData , List<Tbl_Sch_0_0_Block_7>? oldData , List<fsu_houses>? FsuHouseData)
   {
         try
         {
             if(FsuHouseData == null || FsuHouseData.Count == 0 || oldData == null || oldData.Count == 0)
             {
                 return;
             }
             foreach(var Item in FsuHouseData)
             {
                var RefinedData = oldData.FirstOrDefault(x=> x.fsu_id == Item.fsu_id && x.Block_7_3 == Item.hhd_id);
                if (RefinedData != null)
                {
                    if(RefinedData.hhdStatus != Item.lookup_submit_status)
                    {
                          FsuData.NeedDownload = true;
                          return;
                    }
                }
             }
         }
         catch(Exception ex)
         {
         }
   }
}
