@page "/login"
@using Income.Components.Common
@using Income.Database.Models.Common
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject IJSRuntime jsRuntime
@inject ILoggingService loggingService
@inject NetworkService commonService
@implements IDisposable

<section class="login-bg py-3 py-md-5">
	<div class="container">
		<div class="row justify-content-sm-center">
			<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-10">
                <div class="card shadow-lg incomeLogincard">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="/images/logo.svg" alt="nsso Logo" width="120" class="img-fluid">
                            @* <img src="images/nsso75logo.svg" alt="logo" width="130"> *@
                        </div>
                        <div class="d-flex align-items-center justify-content-center my-3">
                            <h5 class="fw-bolder text-primary mb-0">National Statistics Office</h5>
                            <div class="custom-badge ms-auto">
                                <div class="badge badge-outline badge-warning text-uppercase semibold">@version_code</div>
                            </div>
                        </div>
                        
                        <p class="text-dark fw-bold text-uppercase mb-1">NATIONAL HOUSEHOLD INCOME SURVEY: 2026</p>
                        <p class="text-muted">February 2026 – January 2027</p>
                        <div class="my-3">
							<span class="central-highlight">Central Sample</span>
						</div>
                        @* <h1 class="fs-4 card-title fw-bold mb-1">Welcome Back !</h1>
                        <p class="mb-3 fs-4">Login</p> *@
                        <div class="mb-3">
                            <label class="form-label">User ID <span class="text-danger ms-1">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter User ID" @bind="UserDetails.username">
                            <ValidationComponent @ref="user_id" field_name="User ID" field_value="@UserDetails.username" field_type=@CommonConstants.VALIDATION_TYPE_DEFAULT is_error="@is_error" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password <span class="text-danger ms-1">*</span></label>
                            <PasswordInput @bind-Value="@UserDetails.password" class="m-0" placeholder="Enter Password" Style="margin: 0 !important" />
                            <ValidationComponent @ref="pass" field_name="Password" field_value="@UserDetails.password" field_type=@CommonConstants.VALIDATION_TYPE_DEFAULT is_error="@is_error" />
                        </div>
                        <button class="btn btn-primary w-100 mt-2 d-flex justify-content-center" disabled="@is_busy" onclick="@Login">@(is_busy ? "Please Wait..." : "Login")<Spinner style="margin-left: 10px;" Type="SpinnerType.Grow" Size="SpinnerSize.Small" Visible="@is_busy" /></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ConfirmDialog @ref="data_deletion_ref" />

@code {
    private ValidationComponent user_id = new();
    private ValidationComponent pass = new();
    public Tbl_User_Details UserDetails { get; set; } = new Tbl_User_Details();
    public CommonConfig commonConfig { get; private set; } = new CommonConfig();
    private Network_Service_Model network_Service_Model = new();
    private CommonQueries CommonQueries = new CommonQueries();
    private CommonFunction commonFunction = new();
    private CommonFunction funcs = new();
    private bool is_busy = false;
    public bool is_error { get; set; } = false;
    DeviceInfoService deviceInfoService = new DeviceInfoService();
    ConfirmDialog data_deletion_ref = default;
    string version_code = "V " + CommonConfig.APP_VERSION;

    protected override void OnInitialized()
    {
        MainPage.OnBack = () =>
        {
            var path = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);

            if (path.StartsWith("login"))
            {
#if ANDROID
                Android.OS.Process.KillProcess(Android.OS.Process.MyPid());
#endif
                return true; // back handled
            }

            return false; // allow normal back
        };
    }

    public void Dispose()
    {
        MainPage.OnBack = null;
    }

    void GoBack()
    {
        return;
    }

    public async Task Login()
    {
        try
        {
            // Check network connectivity
            if (funcs.checkHasInternet() == false)
            {
                toastService.ShowWarning("No internet connection! please try again once back online");
                return;
            }
            // Validate user input
            int field_validation = await jsRuntime.InvokeAsync<int>("__FieldValidate", commonConfig.LoginRequiredFileds(), JsonConvert.SerializeObject(UserDetails));
            if (field_validation == 0)
            {
                is_error = true;
                StateHasChanged();
                return;
            }
            is_error = false;
            StateHasChanged();
            var deleteduserinfo = await CommonQueries.GetDeletedUserDetailsAsync();
            if (deleteduserinfo != null && UserDetails.username.ToUpper() != deleteduserinfo?.username?.ToUpper())
            {  // delete old user data if user is not same as deleted user
                // Delete all block data for the user
                // Take confirmation before deletion
                var options = new ConfirmDialogOptions
                    {
                        YesButtonText = "Yes! Delete",
                        YesButtonColor = ButtonColor.Danger,
                        NoButtonText = "Cancel",
                        IsVerticallyCentered = true,
                        Dismissable = false
                    };

                var confirmation = await data_deletion_ref.ShowAsync(
                    title: "Login Alert!",
                    message1: "Last user has data in this device, the data will be deleted. Do you want to login?",
                    confirmDialogOptions: options
                );

                if (confirmation)
                {
                    await CommonQueries.DeleteAllBlockData();
                }
                else
                {
                    return;
                }
            }

            is_busy = true;
            StateHasChanged();
            UserDetails.deviceInfo = deviceInfoService.GetDeviceID();
            // var data = JsonConvert.SerializeObject(UserDetails);
            var response = await commonService.LoginService(UserDetails);
            if (response == null)
            {
                // Show error message
                is_busy = false;
                StateHasChanged();
                toastService.ShowError("Network error. Please try again.");
                return;
            }
            if (response.userToken == null)
            {
                is_busy = false;
                StateHasChanged();
                toastService.ShowError(response.message);
                return;
            }
            // Save user details to local storage
            commonFunction.DecodeJWT(!string.IsNullOrEmpty(response.userToken.token) ? response.userToken.token : "");
            // Save user details to database
            Tbl_User_Details? tbl_User_Details = new();
            tbl_User_Details.id = Guid.NewGuid();
            tbl_User_Details.username = UserDetails.username.ToUpper();
            tbl_User_Details.password = UserDetails.password;
            tbl_User_Details.user_token = response.userToken.token;
            tbl_User_Details.full_name = SessionStorage.full_name;
            tbl_User_Details.surveyId = SessionStorage.surveyId;
            tbl_User_Details.surveyType = SessionStorage.survey_type;
            tbl_User_Details.survey_code = SessionStorage.survey_code;
            tbl_User_Details.user_role = SessionStorage.user_role;
            tbl_User_Details.tenant_id = SessionStorage.tenant_id;
            tbl_User_Details.user_id = SessionStorage.__user_id;
            tbl_User_Details.is_Deleted = false;
            var user_response = await CommonQueries.InsertUser(tbl_User_Details);
            if (user_response == null)
            {
                // Show error message
                is_busy = false;
                StateHasChanged();
                toastService.ShowError("Failed to save user details.");
                return;
            }
            SessionStorage.__user_id = new(response.userId);
            SessionStorage.auth_token = response.userToken.token;
            // Navigate to dashboard
            is_busy = false;
            StateHasChanged();
            toastService.ShowSuccess("Login successful");
            await loggingService.LogInfo($"User logged in - {tbl_User_Details.username}");
            NavigationManager.NavigateTo("/dashboard/fsulist", replace: true);
            return;
        }
        catch (Exception ex)
        {
            // Handle exception
            toastService.ShowError("An error occurred during login: " + ex.Message);
            loggingService.LogError(ex.StackTrace);
            is_busy = false;
            StateHasChanged();
            return;
        }
    }
}