@page "/dashboard/his/ssu_page"
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Database.Models.SCH0_0
@using Income.Viewmodels
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject PreloadService preloadService
@inject IToastService toastService
@inject IJSRuntime JSRuntime
@inject NetworkService networkService
@inject Warning_VM warningVM
@inject ILoggingService loggingService


<div class="main-content">

	<ConfirmDialog @ref="dialog" />
	<ErrorPopup @ref="errorPopup" ErrorDict="errorDict"></ErrorPopup>


	<div class="card custom-card">
		<div class="card-header">
			<h3 class="card-title">
				Selected Sampling Units list
			</h3>
			@* <button class="btn btn-sm btn-primary ms-auto" @onclick="HandlePrint">
				<i class="bi bi-printer"></i> Print
			</button> *@
		</div>
		<div class="card-body p-0">
			<div class="table-responsive">
				<table class="table table-bordered table-striped mb-0 custom-badge align-middle">
					<thead>
						<tr>
							<th></th>
							<th>Action</th>
							<th>HHD Serial</th>
							<th>SSS</th>
							<th>Selected HHD No.</th>
							<th>HHD Number</th>
							<th>HHD Head</th>
							<th>HHD Size</th>
							<th>HHD Status</th>
							<th>Survey Status</th>
							<th>Substituted for ID</th>
						</tr>
					</thead>
					<tbody>
						@if (hhd_list != null && hhd_list.Count > 0)
						{
							foreach (var item in hhd_list)
							{
								@if (item.is_deleted != true)
								{
									<tr>
										
										@if (((SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO) && item.hhdStatus is not (21 or 22 or 31 or 32)) || (SessionStorage.GetUserRole() == SessionStorage.UserRole.SSO && (item.hhdStatus == 21 || item.hhdStatus == 22)) || (SessionStorage.GetUserRole() == SessionStorage.UserRole.DS && item.hhdStatus == 31))
										{
											@if (item.status != "SUBSTITUTED" && item.hhdStatus != 32)
											{
												<td>
													<div class="siteCustomCheckbox">
														<label>
															<input type="checkbox" checked="@selected_for_submission.Any(x => x.id == item.id)" @onchange="@((ChangeEventArgs args) => HandleCheckedChange(args, item))">
														</label>
													</div>
												</td>
											}
											else
											{
												<td></td>
											}
										}
										else
										{
											<td></td>
										}

										<td>
											<div class="d-flex align-items-center">
												@if (item.status != "SUBSTITUTED")
												{
													@if (item.isSelected == true)
													{
														<NavLink @onclick="@(() => HandleStartSurvey(item))" class="me-3"><i class="fi fi-rr-arrow-right"></i></NavLink>
													}
													@* <NavLink @onclick="@(() => HandleComments(item))"><i class="fi fi-rr-comment-alt"></i></NavLink> *@
												}

											</div>
										</td>
										<td>@item.Block_7_3</td>
										<td>@item.SSS</td>
										<td>@(item.SSS_household_id.HasValue ? item.SSS_household_id.Value : "")</td>
										<td>@item.Block_7_2</td>
										<td>@item.Block_7_4</td>
										<td>@item.Block_7_5</td>
										@{
											int statusId;

											if(item.status == "SUBSTITUTED")
											{
												statusId = 100;
											}
											else if(item.status == "SUBSTITUTE")
											{
												statusId = 60;
											}
											else if(item.status == "CASUALTY")
											{
												statusId = 70;
											}
											else
											{
												statusId = item.hhdStatus.GetValueOrDefault();
											}

											// Lookup the status object once
											var statusObj = commonList?.LOOKUP_CONST_STATUS_LIST
											?.FirstOrDefault(o => o.id == statusId);

											// Title with null safety
											var statusTitle = string.IsNullOrEmpty(item.status) ? "ORIGINAL" : item.status;

											// Badge color based on title
											var badgeColor = commonFunction.ReturnStatusColor(statusTitle);
										}
										<td>
											<span class="badge badge-outline badge-@badgeColor">
												@statusTitle
											</span>
										</td>

										@if(item.status != "SUBSTITUTED")
										{
											<td>
												@{
													var surveyStatus = SetSurveyStatus(item);
													var surveyStatusColor = commonFunction.ReturnStatusColor(surveyStatus);
												}
												<div class="badge badge-@surveyStatusColor">@(surveyStatus)</div>
											</td>
										}
										
										<td>@(item.SubstitutedForID)</td>
										<td>
											@if(SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO && item.hhdStatus == 12)
											{
												<button class="btn btn-outline-primary d-flex align-items-center btn-sm" onclick="@(() => Sync(item))">
													<i class="fi fi-rr-refresh me-1 fs-6 @(isSyncing ? "spin" : "")"></i>
													@((isSyncing ? "Syncing..." : "Sync"))
												</button>
											}
											
										</td>
									</tr>
								}
							}
						}
					
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="row">
		<div class="col-sm-6">
			<div class="d-flex">
				<NavLink class="btn btn-outline-secondary me-2" onclick="@GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</NavLink>
				<NavLink class="btn btn-success me-2" onclick="@Validate">Validate<i class="fi fi-rr-memo-circle-check ms-1"></i></NavLink>
				@* <NavLink class="btn btn-outline-primary disabled">Download<i class="fi fi-rr-download ms-1"></i></NavLink> *@
			</div>
		</div>
		<div class="col-sm-6">
			<div class="d-flex justify-content-end">
				@if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
				{
					<button class="btn btn-primary" @onclick="@(() => Submit(SubmissionMode.jso_to_sso))">Submit to SSO<i class="fi fi-rr-arrow-right ms-1"></i></button>
				}
				@if (SessionStorage.GetUserRole() == SessionStorage.UserRole.SSO)
				{
					
				
					<button class="btn btn-primary me-2"
							onclick="@(() => Submit(SubmissionMode.sso_to_jso))">
						<i class="fi fi-rr-arrow-left me-1"></i>
						Refer back to ENM
					</button>

					<button class="btn btn-primary"
							onclick="@(() => Submit(SubmissionMode.sso_to_ds))">
						Submit to DS<i class="fi fi-rr-arrow-right ms-1"></i>
					</button>
				}
				@if (SessionStorage.GetUserRole() == SessionStorage.UserRole.DS)
				{
					<button class="btn btn-primary" onclick="@(() => Submit(SubmissionMode.ds_to_sso))">Refer back to SSO<i class="fi fi-rr-arrow-right ms-1"></i></button>
				}

			</div>
		</div>
	</div>	
</div>
<script src="js/download.js"></script>


@code {
	int SelectedFsuId = SessionStorage.SelectedFSUId;
	bool ShowVisitedBlock = false;
	DateTime survey_time = DateTime.Now;
	List<Tbl_Sch_0_0_Block_7>? hhd_list = new();
	CommonQueries commonQueries = new();
	DBQueries dQ = new();
	CommonConfig commonConfig = new();
	CommonFunction commonFunction = new();
	CommonList commonList = new();
	List<Tbl_Sch_0_0_Block_7> selected_for_submission = new();
	CommonFunction funcs = new();
	ConfirmDialog dialog = default!;
	Dictionary<int, List<string>> errorDict = new();
	bool isSyncing = false;

	private ErrorPopup? errorPopup;

	enum SubmissionMode
	{
		jso_to_sso,
		sso_to_jso,
		sso_to_ds,
		ds_to_sso
	}

	async void GoBack()
	{
		// await JSRuntime.InvokeVoidAsync("__handleGoBack");
		NavigationManager.NavigateTo("/dashboard/fsulist");

		return;
	}

	void Validate()
	{
		try
		{
			if(selected_for_submission.Count == 0)
			{
				toastService.ShowError("Please select atleast one household before proceeding");
				return;
			}
			warningVM.selected_HHdList = [];
			warningVM.selected_HHdList.AddRange(selected_for_submission);
			NavigationManager.NavigateTo($"/dashboard/validate_page?schedule={"HIS"}");
		}
		catch (Exception ex)
		{

		}
	}

	void HandleCheckedChange(ChangeEventArgs args, Tbl_Sch_0_0_Block_7 item)
	{
		if (args.Value.ToString() == "True")
		{
			var is_exist = selected_for_submission.FirstOrDefault(k => k.id == item.id);
			if (is_exist == null)
			{
				selected_for_submission.Add(item);
			}
		}
		else
		{
			var is_exist = selected_for_submission.FindIndex(k => k.id == item.id);
			if (is_exist != -1)
			{
				selected_for_submission.RemoveAt(is_exist);
			}
		}
	}

	protected override async Task OnInitializedAsync()
	{
		Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
		{
			block_uri = "/dashboard/his/ssu_list_page",
			block_title = "SSU List Page",
			block_code = CommonEnum.ssu_list_page.ToString(),
		};

		SessionStorage.selected_hhd_id = 0;
		SessionStorage.selected_hhd_seq = 0;
		SessionStorage.sss = 0;
		SessionStorage.hhd_head = string.Empty;
		await commonQueries.InsertVisitedBlock(vb);
		await LoadData();
	}

	private async Task LoadData()
	{
		try
		{
			var data = await dQ.GetBlock7Data(SessionStorage.SelectedFSUId);
			SessionStorage.selected_hhd_seq = 0;
			SessionStorage.selected_hhd_id = 0;
			if (data != null && data.Count > 0)
			{
				hhd_list = new();
				selected_for_submission = new();
				List<Tbl_Sch_0_0_Block_7> selected = data.Where(k => k.isSelected == true).OrderBy(k => k.SSS).ThenBy(k => k.SSS_household_id).ToList();
				foreach (var item in selected)
				{
					if(item.hhdStatus == 15 && !(await Block2Present(item)) && SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
					{
						item.hhdStatus = 0;
					}

					if (item.hhdStatus is 0 && (await Block1Present(item)) && SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
					{
						item.hhdStatus = 11;
					}

					hhd_list.Add(item);
				}
			}
			StateHasChanged();
		}
		catch (Exception ex)
		{

		}
	}

	private async Task Submit(SubmissionMode? mode = null)
	{
		try
		{
			List<Tbl_Sch_0_0_Block_7> hhd_list = [];
			hhd_list.AddRange(selected_for_submission);
			var currentRole = SessionStorage.GetUserRole();
			/*First - need to do basic validation ->
			* i. Internet check
			* ii. Current HHD status - if Not Surveyed Yet or Ongoing (hhdStatus = 0 or 11), then don't allow submission
			*/
			if (Connectivity.Current.NetworkAccess != NetworkAccess.Internet)
			{
				toastService.ShowError("Please check internet connectivity before submission");
				return;
			}
			if (hhd_list.Count == 0)
			{
				toastService.ShowError("Please select a household for submission");
				return;
			}
			if (hhd_list.Any(x => x.hhdStatus.GetValueOrDefault() is 0 or 11))
			{
				toastService.ShowError("One of the households has not been surveyed yet");
				return;
			}


			var options = new ConfirmDialogOptions { IsVerticallyCentered = true };
			var confirmation = await dialog.ShowAsync(
				title: "Alert",
				message1: "Do you want to proceed?",
				confirmDialogOptions: options);
			if (!confirmation)
			{
				return;
			}


			//Need to branch off submission logic for ENM, SSO and DS here
			if (currentRole == SessionStorage.UserRole.JSO)
			{
				var result = await ValidateSubmissionJSO(hhd_list);
				if (result != null)
				{
					bool allEmpty = result.All(kvp => kvp.Value.Count == 0);
					if (!allEmpty)
					{
						toastService.ShowError("Error while validating");
						errorDict = result;
						errorPopup?.ShowPopup();
						return;
					}
					else
					{
						Submission_Model data = new();
						data.IncomeSchHISDto = [];
						data.IncomeSch00block0 = await dQ.FetchBlock1();
						data.IncomeSch00block2_1 = await dQ.FetchSCH0Block2_1Data();
						data.IncomeSch00block2_2 = await dQ.FetchSCH0Block2_2Data();
						var block_3 = await dQ.GetFileData(0);
						var block_6 = await dQ.GetFileData(1);

						if (block_3 != null)
						{
							block_3.file_image_source = ExtractBase64(block_3.file_image_source);
						}
						if (block_6 != null)
						{
							block_6.file_image_source = ExtractBase64(block_6.file_image_source);
						}
						data.IncomeSch00block3 = new() { block_3, block_6 };
						data.IncomeSch00block_4 = await dQ.GetBlock4();
						data.IncomeSch00block_5 = await dQ.FetchSCH0Block5Data();
						data.IncomeSch00block_7 = await dQ.GetBlock7DataWithDeleted();
						data.IncomeSch00FieldOp = await dQ.FetchBlock2();
						data.IncomeSch00WarningList = await dQ.GetWarningList(schedule: "0");

						foreach(var hhd in hhd_list)
						{
							hhd.hhdStatus = 21;
							var hhd_data = await GetHHDData(hhd);
							if (hhd_data != null)
							{
								data.IncomeSchHISDto.Add(hhd_data);
							}
						}

						string json = JsonConvert.SerializeObject(data);
						Upsert_Model payload = new()
						{
							lookup_fsu_submit_status = 21,
							fsu_id = SessionStorage.SelectedFSUId.ToString(),
							submitted_json_data = json,
							survey_id = SessionStorage.surveyId,
							created_on = DateTime.Now
						};

						preloadService.Show(SpinnerColor.Info, "Submitting data");
						var response = await networkService.PostAsync(CommonConfig.BaseController, CommonConfig.SAVE_SUBMITTED_RESPONSE, payload);
						if (response != null && response.IsSuccessStatusCode)
						{
							toastService.ShowSuccess("Data submitted successfully");
							foreach (var hhd in hhd_list)
							{
								hhd.needDownload = 1;
								await dQ.SaveUpdateSCH0Block7(hhd);
							}
							await SyncFSUHouseStatus();
							SessionStorage.FSU_Submitted = true;
							StateHasChanged();
						}
						else
						{
							toastService.ShowError("Data could not be submitted");
						}
					}
				}
			}
			else if(currentRole == SessionStorage.UserRole.SSO)
			{
				var result = await ValidateSubmissionStatusSSO(hhd_list, mode);
				if (result != null)
				{
					bool allEmpty = result.All(kvp => kvp.Value.Count == 0);
					if (!allEmpty)
					{
						toastService.ShowError("Error while validating");
						errorDict = result;
						errorPopup?.ShowPopup();
						return;
					}
					else
					{
						preloadService.Show(SpinnerColor.Info, "Submitting data");

						Submission_Model data = new();
						data.IncomeSchHISDto = [];

						foreach (var hhd in hhd_list)
						{
							if (mode == SubmissionMode.sso_to_jso)
							{
								hhd.hhdStatus = 12;
							}
							else
							{
								hhd.hhdStatus = 31;
							}
							var hhd_data = await GetHHDData_OnlyWarnings(hhd, currentRole, mode);
							if (hhd_data != null)
							{
								data.IncomeSchHISDto.Add(hhd_data);

							}
						}

						string json = JsonConvert.SerializeObject(data);
						Upsert_Model payload = new()
						{
							lookup_fsu_submit_status = mode == SubmissionMode.sso_to_ds? 31 : 12,
							fsu_id = SessionStorage.SelectedFSUId.ToString(),
							submitted_json_data = json,
							survey_id = SessionStorage.surveyId,
							created_on = DateTime.Now
						};

						var response = await networkService.PostAsync(CommonConfig.BaseController, CommonConfig.SAVE_SUBMITTED_RESPONSE, payload);
						if (response != null && response.IsSuccessStatusCode)
						{
							toastService.ShowSuccess("Data submitted successfully");
							await SyncFSUHouseStatus();
							SessionStorage.FSU_Submitted = true;
							StateHasChanged();
						}
						else
						{
							toastService.ShowError("Data could not be submitted");
						}
					}
				}
			}
			else if(currentRole == SessionStorage.UserRole.DS)
			{
				var result = await ValidateSubmissionStatusDS(hhd_list);
				if (result != null)
				{
					bool allEmpty = result.All(kvp => kvp.Value.Count == 0);
					if (!allEmpty)
					{
						toastService.ShowError("Error while validating");
						errorDict = result;
						errorPopup?.ShowPopup();
						return;
					}
					else
					{
						preloadService.Show(SpinnerColor.Info, "Submitting data");
						Submission_Model data = new();
						data.IncomeSchHISDto = [];

						foreach (var hhd in hhd_list)
						{
							hhd.hhdStatus = 22;
							var hhd_data = await GetHHDData_OnlyWarnings(hhd, currentRole, mode);
							if (hhd_data != null)
							{
								data.IncomeSchHISDto.Add(hhd_data);

							}
						}

						string json = JsonConvert.SerializeObject(data);
						Upsert_Model payload = new()
						{
							lookup_fsu_submit_status = 22,
							fsu_id = SessionStorage.SelectedFSUId.ToString(),
							submitted_json_data = json,
							survey_id = SessionStorage.surveyId,
							created_on = DateTime.Now
						};

						var response = await networkService.PostAsync(CommonConfig.BaseController, CommonConfig.SAVE_SUBMITTED_RESPONSE, payload);
						if (response != null && response.IsSuccessStatusCode)
						{
							toastService.ShowSuccess("Data submitted successfully");
							await SyncFSUHouseStatus();
							SessionStorage.FSU_Submitted = true;
							StateHasChanged();
						}
						else
						{
							toastService.ShowError("Data could not be submitted");
						}
					}
				}
			}

		}
		catch
		{

		}
		finally
		{
			await LoadData();
			preloadService.Hide();
		}
	}

	private async Task Sync(Tbl_Sch_0_0_Block_7 hhd)
	{
		isSyncing = true;
		try
		{
			if (Connectivity.Current.NetworkAccess != NetworkAccess.Internet)
			{
				toastService.ShowWarning("No Internet Connection. Please try again when you're back online!");
				return;
			}
			preloadService.Show(SpinnerColor.Light, "Fetching data from central database for offline access. Please wait...");

			var response = await networkService.GetAsync(CommonConfig.APIIncomeURL, $"{CommonConfig.FETCH_SAVED_RESPONSES_BY_FSU_ID}{hhd.fsu_id}/{CommonConstants.LOOKUP_CAPI_SUBMIT_STATUS_REF_BACK}");

			if (string.IsNullOrEmpty(response))
			{
				toastService.ShowError($"No data found on server for this FSU. Synchronization failed.");
				return;
			}
			else
			{
				var deserialized = JsonConvert.DeserializeObject<Upsert_Model>(response);
				if (deserialized != null)
				{
					var received_data = JsonConvert.DeserializeObject<Submission_Model>(deserialized.submitted_json_data);
					if (received_data != null && received_data.IncomeSch00block0 != null)
					{
						var hhdDTo = received_data.IncomeSchHISDto;
						if (hhdDTo != null)
						{
							var currentHHD = hhdDTo.FirstOrDefault(x => x.IncomeBlock1?.hhd_id == hhd.Block_7_3);
							if (currentHHD != null)
							{
								hhd.needDownload = 0;
								await dQ.Update_SCH0_0_Block_7(hhd);

								var block2 = currentHHD.IncomeBlockFieldOp;
								var incomingWarningList = currentHHD.IncomeWarningList;

								//Save incoming warnings
								if (incomingWarningList != null && incomingWarningList.Count > 0)
								{
									// var newWarnings = incomingWarningList.Where(w => existingWarnings.All(e => e.id != w.id)).ToList();
									// foreach (var warning in newWarnings)
									// {
									// 	await dQ.SaveAsync<Tbl_Warning>(warning);
									// }
									var existingWarnings = await dQ.GetWarningList(hhd.Block_7_3.GetValueOrDefault());
									foreach (var item in existingWarnings)
									{
										await dQ.HardDeleteEntryAsync<Tbl_Warning>(item.id);
									}
									foreach (var warning in incomingWarningList)
									{
										await dQ.InsertAsync<Tbl_Warning>(warning);
									}
								}

								if(block2 != null)
								{
									await dQ.SaveAsync<Tbl_Block_FieldOperation>(block2);
								}
								toastService.ShowSuccess("Synced successfully");
							}
						}
					}
					else
					{
						await loggingService.LogError($"Data received for {hhd.fsu_id} was null");
						toastService.ShowError($"No data received from server");
					}
				}
				else
				{
					await loggingService.LogError($"Data received for {hhd.fsu_id} was null");
					toastService.ShowError($"No data received from server");
				}

			}
		}
		catch (Exception ex)
		{
			await loggingService.LogError("SSU Page - Sync", ex);
		}
		finally
		{
			isSyncing = false;
			preloadService.Hide();
			await LoadData();
		}
	}


	private async Task SyncFSUHouseStatus()
	{
		try
		{
			var fsu_response = await networkService.GetAsync(CommonConfig.APIIncomeURL, $"{CommonConfig.FETCH_FSU_LIST_BY_USER_ID}{SessionStorage.__user_id}&v_surveyId={SessionStorage.surveyId}&v_lookup_submit_status=0&v_refer_back=0");
			if (fsu_response != null)
			{
				var fsu_list = JsonConvert.DeserializeObject<List<Tbl_Fsu_List>>(fsu_response);

				preloadService.Show(SpinnerColor.Light, "Syncing data, please wait.");
				var currentFSU = fsu_list?.FirstOrDefault(x => x.fsu_id == SessionStorage.SelectedFSUId);
				if (currentFSU != null)
				{
					var fsuHouseList = currentFSU.fsuHouses;
					if (fsuHouseList != null && fsuHouseList.Count > 0)
					{
						foreach (var item in fsuHouseList)
						{
							await dQ.Update_SCH0_0_Block_5AHHD_Status(item.lookup_submit_status, item.hhd_id, item.fsu_id);
							await dQ.Update_SCH0_0_Block_5Download_Status(item.lookup_submit_status, item.hhd_id, item.fsu_id, 1);
						}
					}
				}
			}
		}
		catch (Exception ex)
		{

		}
		finally
		{
			preloadService.Hide();
		}
	}

	public static string? ExtractBase64(string dataUri)
	{
		if (string.IsNullOrWhiteSpace(dataUri))
			return null;

		// Find where the comma appears in the data URI
		var commaIndex = dataUri.IndexOf(',');

		if (commaIndex < 0 || commaIndex == dataUri.Length - 1)
			return null; // Not a valid data URI

		// Return everything after the comma → pure base64 string
		return dataUri.Substring(commaIndex + 1);
	}

	private async Task<Dictionary<int, List<string>>?> ValidateSubmissionJSO(List<Tbl_Sch_0_0_Block_7> hhd_list)
	{
		try
		{
			preloadService.Show(SpinnerColor.Primary, "Validating. Please wait while we process the data.");
			Dictionary<int, List<string>> errorDict = new();

			//Block wise checks
			foreach (var hhd in hhd_list)
			{
				List<string> errors = [];
				int status = 0;
				status = ReturnSubmissionStatus(SessionStorage.UserRole.JSO, hhd);

				SessionStorage.SelectedFSUId = hhd.fsu_id;
				SessionStorage.selected_hhd_id = hhd.Block_7_3.GetValueOrDefault();

				var block_1 = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_1>();
				var block_2 = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_FieldOperation>();
				var block_3 = await dQ.FetchListAsync<Tbl_Block_3>() ?? new();
				var block_4 = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_4>();
				var block_4_nic = await dQ.FetchListAsync<Tbl_Block_4_Q5>() ?? new();
				var block_5 = await dQ.FetchListAsync<Tbl_Block_5>() ?? new();
				var block_6 = await dQ.FetchListAsync<Tbl_Block_6>();
				var block_7a = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_7a>();
				var block_7a_1 = await dQ.FetchListAsync<Tbl_Block_7a_1>() ?? new();
				var block_7b = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_7b>();
				var block_7c_1 = await dQ.FetchListAsync<Tbl_Block_7c_NIC>() ?? new();
				var block_7c_Q10 = await dQ.FetchListAsync<Tbl_Block_7c_Q10>() ?? new();
				var block_7c = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_7c>() ?? null;
				var block_7d = await dQ.FetchListAsync<Tbl_Block_7d>();
				var block_8 = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_8>();
				var block_8_Q6 = await dQ.FetchListAsync<Tbl_Block_8_Q6>() ?? new();
				var block_9a = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_9a>() ?? null;
				var block_9b = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_9b>() ?? null;
				var block_10 = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_10>();
				var block_11a = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_11a>();
				var block_11b = await dQ.FetchListAsync<Tbl_Block_11b>() ?? new();
				var block_A = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_A>();
				var block_B = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_B>();
				var warnings = await dQ.FetchListAsync<Tbl_Warning>() ?? new();
				if (warnings != null && warnings.Count > 0)
				{
					warnings = warnings.Where(x => x.parent_comment_id == null || x.parent_comment_id == Guid.Empty).ToList();
				}

				if (hhd.needDownload != 0)
				{
					errors.Add("Please Sync before submission");
				}

				if(block_1 == null)
				{
					errors.Add($"Block 1 data not found for HHD Serial {hhd.Block_7_3}");
				}

				if (block_2 == null)
				{
					errors.Add($"Block 2 data not found for HHD Serial {hhd.Block_7_3}");
				}

				if (block_1 != null && block_1.survey_code is 1 or 2)
				{
					if(block_3.Count == 0)
					{
						errors.Add($"No Block 3 entries found for HHD Serial {hhd.Block_7_3}");
					}

					if (block_4 == null)
					{
						errors.Add($"Block 4 data not found for HHD Serial {hhd.Block_7_3}");
					}
					else
					{
						var block_3_condition = block_3.Any(x => x.item_8 == 1 || x.item_9 == 1 || x.item_10 == 1 || x.item_11 == 1);
						if (block_3_condition)
						{
							var items = new[] { block_4?.item_4_1, block_4?.item_4_2, block_4?.item_4_3, block_4?.item_4_4, block_4?.item_4_5, block_4?.item_4_6 };
							if (!items.Any(x => x == true))
							{
								errors.Add($"H016: Please check the entry recorded against col.s 8-11 , block 3 for HHD Serial {hhd.Block_7_3}");
							}
						}
					}

					if (block_4 != null)
					{
						// if (!block_4.item_4_1.GetValueOrDefault() && !block_4.item_4_2.GetValueOrDefault() && (block_7a_1.Count != 0 || block_7a != null))
						// {
						// 	errors.Add($"H037: Block 7a is applicable only when Block 4.4 Sl. no. 1 and/or 2 are checked");
						// }

						// if (!block_4.item_4_3.GetValueOrDefault() && !block_4.item_4_4.GetValueOrDefault() && !block_4.item_4_5.GetValueOrDefault() && !block_4.item_4_6.GetValueOrDefault() && (block_7b != null))
						// {
						// 	errors.Add($"H045: Block 7b is applicable only when atleast one of Block 4.4 Sl. no. 3 - 6 are checked");
						// }
					}
				}


				if (block_3.Count > 0)
				{
					var block_3_condition = block_3.Any(x => x.item_8 == 2 || x.item_9 == 2 || x.item_10 == 2 || x.item_11 == 2);
					if (block_3_condition && block_4_nic.Count == 0)
					{
						errors.Add($"H017(i): Please check the entry recorded against col.s 8-11 , block 3");
					}

					var block_3_condition_for_block_5 = block_3.Any(x => x.item_8 == 4 || x.item_9 == 4 || x.item_10 == 4 || x.item_11 == 4);
					if (block_3_condition_for_block_5 && block_5.Count == 0)
					{
						errors.Add($"H030: Please check the entry recorded against col.s 8-11 , block 3");
					}

					var block_3_condition_for_block_6 = block_3.Any(x => x.item_8 == 5 || x.item_9 == 5);
					if (block_3_condition_for_block_5 && block_5.Count == 0)
					{
						errors.Add($"H033: Please check the entry recorded against col.s 8-9 , block 3");
					}

					var block_3_condition_for_block_7c = block_3.Any(x => x.item_8 == 2 || x.item_9 == 2);
					// if (!block_3_condition_for_block_7c && (block_7c_1.Count > 0 || block_7c_Q10.Count > 0))
					// {
					// 	errors.Add($"H048: Block 7C is applicable only when col 8 and/or col 9 = 2 for atleast one member");
					// }
					if(block_3_condition_for_block_7c && (block_7c_1.Count == 0 || block_7c_Q10.Count == 0))
					{
						errors.Add($"H048: No Block 7C entry found even though col 8 and/or col 9 = 2 for atleast one member");
					}

					var block_3_block_8_Q6_condition = block_3.Any(x => x.item_12 == 1);
					if (block_3_block_8_Q6_condition && block_8_Q6.Count == 0)
					{
						errors.Add($"H059: Block 8.6 must have atleast one entry if col 12 = 1 for any member");
					}

					else if(!block_3_block_8_Q6_condition && block_8_Q6.Count != 0)
					{
						errors.Add($"H059: Block 8.6 is applicable only when col 12 = 1 for any member");
					}

					var block_3_block_9a_condition =
						block_3.Any(x =>
							x.item_8 == 13 ||
							x.item_9 == 13 ||
							x.item_10 == 13 ||
							x.item_11 == 13
						);

					// Now check Block 9a:
					// If block_3_block_9a_condition == true, then at least one of item_1_1 ... item_1_6 must be > 0
					var block_9a_valid =
						!block_3_block_9a_condition ||   // No trigger → automatically valid
						(block_9a != null && (
							(block_9a.item_1_1 ?? 0) > 0 ||
							(block_9a.item_1_2 ?? 0) > 0 ||
							(block_9a.item_1_3 ?? 0) > 0 ||
							(block_9a.item_1_4 ?? 0) > 0 ||
							(block_9a.item_1_5 ?? 0) > 0 ||
							(block_9a.item_1_6 ?? 0) > 0
						));

					if (!block_9a_valid)
					{
						errors.Add($"H063: Invalid Entry, Please check the entry recorded in Q9.1");
					}

					var block_3_block_9b_condition =
						block_3.Any(x =>
							x.item_8 == 10 ||
							x.item_9 == 10 ||
							x.item_10 == 10 ||
							x.item_11 == 10
						);

					if (block_3_block_9b_condition && block_9b == null)
					{
						errors.Add($"H065: Please check the entry recorded against cols. 8-11");
					}


					//Block 11b
					if (block_3.Count != block_11b.Count)
					{
						errors.Add($"Number of block 3 entries does not match the number of block 11b entries");
					}
				}



				if (warnings != null && warnings.Count > 0 && warnings.Any(x => x.warning_status == 1))
				{
					errors.Add("All warnings have not been resolved");
				}

				if (warnings != null && warnings.Count > 0 && warnings.Any(x => x.warning_status == 3))
				{
					errors.Add("Rejected warnings need to be addressed before submission");
				}

				errorDict.Add(hhd.Block_7_3.GetValueOrDefault(), errors);
			}
			return errorDict;

		}
		catch (Exception ex)
		{
			return null;
		}
		finally
		{
			preloadService.Hide();
		}
	}

	private async Task<SCH_HIS_Model?> GetHHDData(Tbl_Sch_0_0_Block_7 hhd)
	{
		try
		{
			int status = ReturnSubmissionStatus(SessionStorage.UserRole.JSO, hhd);

			SessionStorage.SelectedFSUId = hhd.fsu_id;
			SessionStorage.selected_hhd_id = hhd.Block_7_3.GetValueOrDefault();
			var block_1 = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_1>();
			var block_2 = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_FieldOperation>();
			var block_3 = await dQ.FetchListAsync<Tbl_Block_3>(DBQueries.DeleteFilter.IncludeAll) ?? new();
			var block_4 = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_4>();
			var block_4_nic = await dQ.FetchListAsync<Tbl_Block_4_Q5>(DBQueries.DeleteFilter.IncludeAll) ?? new();
			var block_5 = await dQ.FetchListAsync<Tbl_Block_5>(DBQueries.DeleteFilter.IncludeAll) ?? new();
			var block_6 = await dQ.FetchListAsync<Tbl_Block_6>(DBQueries.DeleteFilter.IncludeAll);
			var block_7a = await dQ.FetchListAsync<Tbl_Block_7a>(DBQueries.DeleteFilter.IncludeAll);
			var block_7a_1 = await dQ.FetchListAsync<Tbl_Block_7a_1>(DBQueries.DeleteFilter.IncludeAll) ?? new();
			var block_7b = await dQ.FetchListAsync<Tbl_Block_7b>(DBQueries.DeleteFilter.IncludeAll);
			var block_7c_1 = await dQ.FetchListAsync<Tbl_Block_7c_NIC>(DBQueries.DeleteFilter.IncludeAll) ?? new();
			var block_7c_Q10 = await dQ.FetchListAsync<Tbl_Block_7c_Q10>(DBQueries.DeleteFilter.IncludeAll) ?? new();
			var block_7c = await dQ.FetchListAsync<Tbl_Block_7c>(DBQueries.DeleteFilter.IncludeAll) ?? null;
			var block_7d = await dQ.FetchListAsync<Tbl_Block_7d>(DBQueries.DeleteFilter.IncludeAll);
			var block_8 = await dQ.FetchListAsync<Tbl_Block_8>(DBQueries.DeleteFilter.IncludeAll);
			var block_8_Q6 = await dQ.FetchListAsync<Tbl_Block_8_Q6>(DBQueries.DeleteFilter.IncludeAll) ?? new();
			var block_9a = await dQ.FetchListAsync<Tbl_Block_9a>(DBQueries.DeleteFilter.IncludeAll) ?? null;
			var block_9b = await dQ.FetchListAsync<Tbl_Block_9b>(DBQueries.DeleteFilter.IncludeAll) ?? null;
			var block_10 = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_10>(DBQueries.DeleteFilter.IncludeAll);
			var block_11a = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_11a>(DBQueries.DeleteFilter.IncludeAll);
			var block_11b = await dQ.FetchListAsync<Tbl_Block_11b>(DBQueries.DeleteFilter.IncludeAll) ?? new();
			var block_A = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_A>();
			var block_B = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_B>();
			var warnings = await dQ.FetchListAsync<Tbl_Warning>(DBQueries.DeleteFilter.IncludeAll) ?? new();

			SCH_HIS_Model model = new()
			{
				Id = Guid.NewGuid(),
				hhd_id = hhd.Block_7_3.GetValueOrDefault(),
				hhd_status = status,
				IncomeBlock1 = block_1,
				IncomeBlockFieldOp = block_2,
				IncomeBlock3 = block_3,
				IncomeBlock4 = block_4,
				IncomeBlock4Q5 = block_4_nic,
				IncomeBlock5 = block_5,
				IncomeBlock6 = block_6,
				IncomeBlock7A = block_7a,
				IncomeBlock7AQ1 = block_7a_1,
				IncomeBlock7B = block_7b,
				IncomeBlock7CQ1 = block_7c_1,
				IncomeBlock7CQ10 = block_7c_Q10,
				IncomeBlock7C = block_7c,
				IncomeBlock7D = block_7d,
				IncomeBlock8 = block_8,
				IncomeBlock8Q6 = block_8_Q6,
				IncomeBlock9A = block_9a,
				IncomeBlock9B = block_9b,
				IncomeBlock10 = block_10,
				IncomeBlock11A = block_11a,
				IncomeBlock11B = block_11b,
				IncomeBlockA = block_A,
				IncomeBlockB = block_B,
				IncomeWarningList = warnings
			};

			return model;
		}
		catch (Exception ex)
		{
			return null;
		}
	}

	private async Task<SCH_HIS_Model?> GetHHDData_OnlyWarnings(Tbl_Sch_0_0_Block_7 hhd, SessionStorage.UserRole role, SubmissionMode? mode = null)
	{
		try
		{
			int status = ReturnSubmissionStatus(role, hhd, mode);

			SessionStorage.SelectedFSUId = hhd.fsu_id;
			SessionStorage.selected_hhd_id = hhd.Block_7_3.GetValueOrDefault();

            var block_1 = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_1>();
			var block_2 = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_FieldOperation>();
			var warnings = await dQ.FetchListAsync<Tbl_Warning>(DBQueries.DeleteFilter.IncludeAll) ?? new();

			SCH_HIS_Model model = new()
			{
				Id = Guid.NewGuid(),
				hhd_id = hhd.Block_7_3.GetValueOrDefault(),
				hhd_status = status,
                IncomeBlock1 = block_1,
				IncomeBlockFieldOp = block_2,
				IncomeWarningList = warnings
			};

			return model;
		}
		catch (Exception ex)
		{
			return null;
		}
	}

	private async Task<Dictionary<int, List<string>>?> ValidateSubmissionStatusSSO(List<Tbl_Sch_0_0_Block_7> hhd_list, SubmissionMode? submissionMode)
	{
		//This is a two way logic. SSO can submit to DS OR refer-back to ENM.
		try
		{
			preloadService.Show(SpinnerColor.Primary, "Validating. Please wait while we process the data.");
			Dictionary<int, List<string>> errorDict = new();
			//Block wise checks
			foreach (var hhd in hhd_list)
			{
				List<string> errors = [];
				int status = 0;
				status = ReturnSubmissionStatus(SessionStorage.UserRole.SSO, hhd);

				SessionStorage.SelectedFSUId = hhd.fsu_id;
				SessionStorage.selected_hhd_id = hhd.Block_7_3.GetValueOrDefault();
				var warnings = await dQ.FetchListAsync<Tbl_Warning>() ?? new();
				if (submissionMode == SubmissionMode.sso_to_jso)
				{
					//If referring back to JSO, SSO needs to have rejected atleast one warning
					if (warnings.Count > 0)
					{
						var parents = warnings.Where(x => x.parent_comment_id == null || x.parent_comment_id == Guid.Empty);
						bool rejectedWarnings = parents.Any(x => x.warning_status == 3);
						if (!rejectedWarnings)
						{
							errors.Add("Need to have atleast one rejected warning to refer back");
							errorDict.Add(hhd.Block_7_3.GetValueOrDefault(), errors);
						}
					}
					else
					{
						errors.Add("Need to have atleast one rejected warning to refer back");
						errorDict.Add(hhd.Block_7_3.GetValueOrDefault(), errors);
					}
				}
				if (submissionMode == SubmissionMode.sso_to_ds)
				{
					//If submitting to DS, SSO needs to have accepted all warnings
					if (warnings.Count > 0)
					{
						var parents = warnings.Where(x => x.parent_comment_id == null || x.parent_comment_id == Guid.Empty);
						bool pendingWarnings = parents.Any(x => x.warning_status == 3 || x.warning_status == 2);
						if (pendingWarnings)
						{
							errors.Add("Need to accept all warnings before submission");
							errorDict.Add(hhd.Block_7_3.GetValueOrDefault(), errors);
						}
					}
					
				}
			}
			return errorDict;
		}
		catch (Exception ex)
		{
			return null;
		}
		finally
		{
			preloadService.Hide();
		}
	}

	private async Task<Dictionary<int, List<string>>?> ValidateSubmissionStatusDS(List<Tbl_Sch_0_0_Block_7> hhd_list)
	{
		try
		{
			preloadService.Show(SpinnerColor.Primary, "Validating. Please wait while we process the data.");
			Dictionary<int, List<string>> errorDict = new();
			//Block wise checks
			foreach (var hhd in hhd_list)
			{
				List<string> errors = [];
				int status = 0;
				status = ReturnSubmissionStatus(SessionStorage.UserRole.DS, hhd);

				SessionStorage.SelectedFSUId = hhd.fsu_id;
				SessionStorage.selected_hhd_id = hhd.Block_7_3.GetValueOrDefault();
				var warnings = await dQ.FetchListAsync<Tbl_Warning>() ?? new();
				//If referring back to SSO, DS needs to have rejected atleast one warning
				if (warnings.Count > 0)
				{
					var parents = warnings.Where(x => x.parent_comment_id == null || x.parent_comment_id == Guid.Empty);
					bool rejectedWarnings = parents.Any(x => x.warning_status == 3);
					if (!rejectedWarnings)
					{
						errors.Add("Need to have atleast one rejected warning to refer back");
						errorDict.Add(hhd.Block_7_3.GetValueOrDefault(), errors);
					}
				}
			}
			return errorDict;
		}
		catch (Exception ex)
		{
			return null;
		}
		finally
		{
			preloadService.Hide();
		}
	}

	private int ReturnSubmissionStatus(SessionStorage.UserRole role, Tbl_Sch_0_0_Block_7 hhd, SubmissionMode? mode = null)
	{
		int status = 0;
		if (hhd != null)
		{
			if (role == SessionStorage.UserRole.JSO)
			{
				if (hhd.status.Equals("substituted", StringComparison.InvariantCultureIgnoreCase))
				{
					status = 60;
				}
				else
				{
					status = 21;
				}
			}

			else if (role == SessionStorage.UserRole.SSO)
			{
				if (mode == SubmissionMode.sso_to_ds)
				{
					status = 31;
				}
				else if (mode == SubmissionMode.sso_to_jso)
				{
					status = 12;
				}
			}

			else if (role == SessionStorage.UserRole.DS)
			{
				status = 22;
			}

			return status;
		}

		return status;
	}



	async Task HandleStartSurvey(Tbl_Sch_0_0_Block_7 data)
	{
		var name = commonFunction.GetUserRoleName(SessionStorage.user_role);
		SessionStorage.selected_hhd_id = data.Block_7_3.GetValueOrDefault();
		SessionStorage.selected_hhd_seq = data.SSS_household_id.GetValueOrDefault();
		SessionStorage.selected_hhd_size = data.Block_7_5.GetValueOrDefault();
		SessionStorage.sss = data.SSS;
		SessionStorage.hhd_head = data.Block_7_4 ?? "";

		if (name == CommonConstants.ROLE_NAME_JSO)
		{
			if (data.hhdStatus == 0 || data.hhdStatus == 11 || data.hhdStatus == 15)
			{

				preloadService.Show(SpinnerColor.Light, "Fetching location details...");
				SessionStorage.location = await funcs.fetchGeoLocation();
				preloadService.Show(SpinnerColor.Light, "Updating location details...");
				//await dQ.SaveHhdStatus(data.Block_7_3, 10, SessionStorage.SelectedFSUId);
				preloadService.Hide();
				SessionStorage.FSU_Submitted = false;
				NavigationManager.NavigateTo("/dashboard/his/block0_1");
			}
			else
			{
				if (data.hhdStatus == 12 && data.needDownload != 0)
				{
					toastService.ShowError("Please sync before proceeding");
					return;
				}
				else if (data.hhdStatus == 12 && data.needDownload == 0)
				{
					preloadService.Show(SpinnerColor.Light, "Fetching location details...");
					SessionStorage.location = await funcs.fetchGeoLocation();
					preloadService.Show(SpinnerColor.Light, "Updating location details...");
					preloadService.Hide();
					SessionStorage.FSU_Submitted = false;
					SessionStorage.HHD_Submitted = true;
					NavigationManager.NavigateTo("/dashboard/his/block0_1");
				}
				else
				{
					toastService.ShowError("Data has been submitted, edit is not allowed!");
					return;
				}
			}
			//NavigationManager.NavigateTo("/dashboard/his/block0_1");
		}
		else if (name == CommonConstants.ROLE_NAME_SSO)
		{
			if (data.hhdStatus == 21 || data.hhdStatus == 22)
			{
				SessionStorage.selected_hhd_id = data.Block_7_3.GetValueOrDefault();
				SessionStorage.HHD_Submitted = true;
				//SessionStorage.selected_hhd_seq = data.seq_no;
				NavigationManager.NavigateTo("/dashboard/his/block0_1");
				return;
			}
			toastService.ShowInfo("Survey is not allowed for this status.");
			return;
		}
		else if (name == CommonConstants.ROLE_NAME_DS)
		{
			if (data.hhdStatus == 31)
			{
				SessionStorage.selected_hhd_id = data.Block_7_3.GetValueOrDefault();
				SessionStorage.HHD_Submitted = true;
				//SessionStorage.selected_hhd_seq = data.seq_no;
				NavigationManager.NavigateTo("/dashboard/his/block0_1");
				return;
			}
			toastService.ShowInfo("Survey is not allowed for this status.");
			return;
		}
		else
		{
			//SessionStorage.selected_hhd_seq = data.seq_no;
			SessionStorage.selected_hhd_id = data.Block_7_3.GetValueOrDefault();
			NavigationManager.NavigateTo("/dashboard/his/block0_1");
			return;
		}
	}

	void HandleComments(Tbl_Sch_0_0_Block_7 data)
	{
		var name = commonFunction.GetUserRoleName(SessionStorage.user_role);

		if (name == CommonConstants.ROLE_NAME_JSO)
		{
			if (data.hhdStatus == 10 || data.hhdStatus == 11 || data.needDownload == 12)
			{
				SessionStorage.selected_hhd_id = data.Block_7_3.GetValueOrDefault();
				//SessionStorage.selected_hhd_seq = data.seq_no;
				NavigationManager.NavigateTo("/dashboard/his/block_comments");
				return;
			}
			else
			{
				if (data.hhdStatus == 12 && data.needDownload != 12)
				{
					toastService.ShowError("Please Download the Referback household before validate Additional Comment");
					return;
				}
				else
				{
					toastService.ShowError("Survey is not allowed for this status.");
					return;
				}
			}

		}
		else if (name == CommonConstants.ROLE_NAME_SSO)
		{
			if (data.hhdStatus == 21 || data.hhdStatus == 22)
			{
				SessionStorage.selected_hhd_id = data.Block_7_3.GetValueOrDefault();
				//SessionStorage.selected_hhd_seq = data.seq_no;
				NavigationManager.NavigateTo("/dashboard/his/block_comments");
				return;
			}
			else
			{
				toastService.ShowWarning("Survey is not allowed for this status.");
				return;
			}

		}
		else if (name == CommonConstants.ROLE_NAME_DS)
		{
			if (data.hhdStatus == 31)
			{
				SessionStorage.selected_hhd_id = data.Block_7_3.GetValueOrDefault();
				//SessionStorage.selected_hhd_seq = data.seq_no;
				NavigationManager.NavigateTo("/dashboard/his/block_comments");
				return;
			}
			else
			{
				toastService.ShowWarning("Survey is not allowed for this status.");
				return;
			}
		}
		else
		{
			SessionStorage.selected_hhd_id = data.Block_7_3.GetValueOrDefault();
			//SessionStorage.selected_hhd_seq = data.seq_no;
			NavigationManager.NavigateTo("/dashboard/his/block_comments");
			return;
		}

	}

	private async Task<bool> Block1Present(Tbl_Sch_0_0_Block_7 hhd)
	{
		try
		{
			var block_1 = await dQ.Fetch_SCH_HIS_Block1(hhd.Block_7_3.GetValueOrDefault());
			if (block_1 != null)
			{
				return true;
			}
			else
			{
				return false;
			}
		}
		catch (Exception ex)
		{
			return false;
		}
	}

	private async Task<bool> Block2Present(Tbl_Sch_0_0_Block_7 hhd)
	{
		try
		{
			var block_2 = await dQ.Fetch_SCH_HIS_Block2(hhd.Block_7_3.GetValueOrDefault());
			if (block_2 != null)
			{
				return true;
			}
			else
			{
				return false;
			}
		}
		catch (Exception ex)
		{
			return false;
        }
	}

	private string SetSurveyStatus(Tbl_Sch_0_0_Block_7 item)
	{
		try
		{
			// Special rule for Surveyed
			// if (item.hhdStatus == 15)
			// {
			// 	bool block2Present = await Block2Present(item);
			// 	return block2Present ? "Surveyed" : "Not Surveyed Yet";
			// }

			return item.hhdStatus switch
			{
				0 => "Not Surveyed Yet",
				11 => "Ongoing",
				12 => "Referred back by Supervisor",
				15 => "Surveyed",
				21 => "Submitted by Enumerator",
				22 => "Referred back by DS",
				31 => "Submitted by Supervisor",
				32 => "Accepted by DS",
				null => "",
				_ => ""
			};
		}
		catch
		{
			return "";
		}
	}


	private string SetStatus(string status)
	{
		try
		{
			if (string.IsNullOrEmpty(status))
			{
				return "O";
			}
			return status.ToUpper() switch
			{
				"SUBSTITUTE" => "S",
				"SUBSTITUTED" => "X",
				"CASUALTY" => "C",
				"ORIGINAL" => "O",
				_ => "O",
			};
		}
		catch (Exception ex)
		{
			return "O";
		}
	}

	// private void HandleValidate()
	// {
	// 	Warnning_VM.selected_HHdList?.Clear();
	// 	Warnning_VM.selected_HHdList?.AddRange(selected_for_submission);
	// 	if (!selected_for_submission.Any())
	// 	{
	// 		toastService.ShowError("Please select at least one household for validation.");
	// 	}
	// 	else if (selected_for_submission.Exists(x => x.hhdStatus == 12 && x.needDownload != 12))
	// 	{
	// 		toastService.ShowInfo("Please Download the Referback household before validate");
	// 	}
	// 	else if (selected_for_submission.Exists(x => x.hhdStatus != 0 && x.hhdStatus != 11 && x.hhdStatus != 10 && x.hhdStatus != 12) && SessionStorage.role_name == CommonConstants.ROLE_NAME_JSO)
	// 	{
	// 		toastService.ShowInfo("Please Check Household status before validate");
	// 	}
	// 	else if (selected_for_submission.Exists(x => x.hhdStatus != 21 && x.hhdStatus != 22) && SessionStorage.role_name == CommonConstants.ROLE_NAME_SSO)
	// 	{
	// 		toastService.ShowInfo("Please Check Household status before validate");
	// 	}
	// 	else if (selected_for_submission.Exists(x => x.hhdStatus != 31) && SessionStorage.role_name == CommonConstants.ROLE_NAME_DS)
	// 	{
	// 		toastService.ShowInfo("Please Check Household status before validate");
	// 	}
	// 	else
	// 	{
	// 		NavigationManager.NavigateTo("/dashboard/his/validate_page");
	// 	}
	// }

	// private async Task HandlePrint()
	// {
	// 	try
	// 	{
	// 		preloadService.Show(SpinnerColor.Light, "File printing in-progress... please wait!");
	// 		var helper = new PrintHelper();
	// 		var fileName = $"Report_{DateTime.Now:yyyyMMdd_HHmmss}.docx";
	// 		var bytes = await helper.PrintDocumentAsync();
	// 		var base64 = Convert.ToBase64String(bytes);
	// 		var stat = await commonFunction.DownloadPrintedFile(base64, fileName);
	// 		if (stat != CommonConstants.SUCCESS_TEXT)
	// 		{
	// 			toastService.ShowError(stat);
	// 		}
	// 		else
	// 		{
	// 			toastService.ShowSuccess("File printed succesfully");
	// 		}
	// 		preloadService.Hide();
	// 		return;
	// 	}
	// 	catch (Exception ex)
	// 	{
	// 		preloadService.Hide();
	// 		toastService.ShowError($"Error while printing: {ex.Message}");
	// 		return;
	// 	}
	// }

	// async Task HandleDownload(Tbl_Sch_0_0_Block_7 householdData)
	// {
	// 	try
	// 	{
	// 		if (!funcs.checkHasInternet())
	// 		{
	// 			toastService.ShowWarning("No Internet Connection. Please try again when you're back online!");
	// 			return;
	// 		}

	// 		preloadService.Show(SpinnerColor.Light, "Fetching data from central database for offline access. Please wait...");

	// 		var saved_response = await travelService.GetAsync($"{CommonConfig.FETCH_SAVED_RESPONSES_BY_FSU_ID}{householdData.fsu_id}/{householdData.hhdStatus}");

	// 		if (string.IsNullOrEmpty(saved_response))
	// 		{
	// 			toastService.ShowError($"No data found on server for  this Household. Synchronization failed.");
	// 			return;
	// 		}

	// 		try
	// 		{
	// 			var decoded = JsonConvert.DeserializeObject<saved_response_top_layer>(saved_response);
	// 			if (decoded == null || decoded.result == null || string.IsNullOrEmpty(decoded?.result?.submitted_json_data))
	// 			{
	// 				toastService.ShowError($"No submission data found in server response for Household: {householdData.Block_7_3}.");
	// 				return;
	// 			}

	// 			var savedData = JsonConvert.DeserializeObject<bind_layer>(decoded.result.submitted_json_data);
	// 			if (savedData == null)
	// 			{
	// 				toastService.ShowError($"Failed to parse server data for FSU: {householdData.Block_7_3}.");
	// 				return;
	// 			}

	// 			// SCH25 blocks
	// 			if (savedData.TravelSch25datumDto?.Count > 0)
	// 			{
	// 				foreach (var sch25 in savedData.TravelSch25datumDto.Where(x => x.hhd_id == householdData.Block_7_3))
	// 				{
	// 					await dQ.SaveHhdStatus(sch25.hhd_id ?? 0, sch25.hhd_status ?? 0, decoded.result.fsu_id);
	// 					await SCH_0_0_Queries.Update_SCH0_0_Block_5AHHD_Status(sch25.hhd_status ?? 0, sch25.hhd_id ?? 0, decoded.result.fsu_id);
	// 					await dQ.SaveBlock2(sch25.block_2);
	// 					await dQ.SaveBlock1(sch25.block_1);
	// 					await dQ.UpsertWarningAsync(sch25.warning);
	// 					await dQ.UpsertComments(sch25.comments);
	// 					var downloadStatus = await SCH_0_0_Queries.Update_SCH0_0_Block_5Download_Status(12, sch25.hhd_id ?? 0, decoded.result.fsu_id);
	// 					if (downloadStatus > 0)
	// 					{
	// 						var Index = hhd_list?.FirstOrDefault(x => x.Block_7_3 == householdData.Block_7_3);
	// 						if (Index != null)
	// 						{
	// 							Index.needDownload = 12;
	// 						}
	// 					}
	// 				}
	// 			}

	// 			toastService.ShowSuccess($"Household data synchronization completed successfully");
	// 		}
	// 		catch (Exception ex)
	// 		{
	// 			Console.WriteLine($"Error processing response for the FSU : {ex}");
	// 			toastService.ShowError($"Error syncing Household . Please check logs.");
	// 		}
	// 	}
	// 	catch (Exception ex)
	// 	{
	// 		toastService.ShowError($"Unexpected error: {ex.Message}");
	// 	}
	// 	finally
	// 	{
	// 		preloadService.Hide();
	// 		StateHasChanged();
	// 	}
	// }

}

