@page "/dashboard/validate_page"
@using Income.Database.Models.Common
@using Income.Viewmodels
@layout Income.Components.Layout.DashboardLayout
@inject PreloadService preloadService
@inject IToastService toastService
@inject Warning_VM Warning_VM
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="my-2">
    <CommonContentHeader 
    SelectedFsuId="@SelectedFsuId"
    survey_time="@survey_time" 
    />
    <div class="d-flex align-items-center alert-info-popup mb-3">
        <div class="outerCircle outerWarning">
            <div class="innerCircle innerWarning"><i class="fi fi-rr-triangle-warning"></i></div>
        </div>
        <div class="ms-2 text-start">
            <h5 class="text-dark fw-bold fs-16 mb-1">@((ParentWarning?.Where(x => x.parent_comment_id == null || x.parent_comment_id == Guid.Empty).Count() ?? 0)) Warnings Found</h5>
        </div>
        <div class="ms-auto d-flex align-items-center">
            <label class="form-label mb-0 me-2">Filter Warning:-</label>
            <select class="form-select form-select-sm w-auto" value="@selectedFilter" @onchange="OnFilterChanged">
                <option value="1">ALL</option>
                <option value="2">Accepted</option>
                <option value="3">Pending/Reject</option>
            </select>
        </div>
    </div>

</div>

@* Comment Card *@
@if (ParentWarning != null && ParentWarning.Count > 0)
{
    var role = SessionStorage.GetUserRole();
    

    @foreach (var top in ParentWarning)
    {
        string wrapClass = role switch
        {
            SessionStorage.UserRole.SSO => top.warning_status switch
            {
                1 or 2 => "warningWrap",
                4 => "acceptedWrap",
                3 => "dangerWrap",
                _ => ""
            },

            SessionStorage.UserRole.JSO => top.warning_status switch
            {
                1 => "warningWrap",
                2 or 4 or 5 => "acceptedWrap",
                3 => "dangerWrap",
                _ => ""
            },

            SessionStorage.UserRole.DS => top.warning_status switch
            {
                1 or 4 => "warningWrap",
                5 => "acceptedWrap",
                3 => "dangerWrap",
                _ => ""
            },

            _ => ""
        };
        var buttonClass = top.warning_status switch
        {
            1 => "warningButton",
            2 => "acceptedButton",
            3 => "dangerButton",
            _ => "defaultButton"
        };

        var accordionId = $"commentAccordian_{top.id}";
        var collapseId = $"collapse_{top.id}";

        <div class="card discussion-item custom-badge @wrapClass mb-4">
            <div class="py-2 card-header">
                <div class="mb-0 card-title h5">Warning</div>
            </div>
            <div class="accordion custom-accordian" id="@accordionId">
                <div class="accordion-item">
                    <div class="accordion-header">
                        <div class="card-header bg-transparent p-3 pb-0">
                            <div class="d-flex">
                                <div class="user-panel d-flex align-items-center"> 
                                    <div class="image avatar-latter color1 ms-0">
                                        @(new string(top?.user_name?.Trim().Where(char.IsLetter).Take(2).ToArray()))
                                    </div>
                                    <div class="info">
                                        <strong class="d-block" style="line-height: 12px;">@(top.user_name)</strong>
                                        <small>@(common.GetUserRoleName(top.role_code))</small> 
                                    </div> 
                                </div>
                                <div class="ms-auto">
                                    <ul class="stats other-info">
                                         <li>
                                            @* <a onclick="@(() =>NavigateWarning(top) )"><i class="fi fi-rr-eye"></i></a> *@
                                            @*<h4 class="mb-0">@(top?.serial_number)</h4>*@                          
                                        </li> 
                                        <li class="d-flex align-items-center">
                                            <i class="fi fi-rr-calendar"></i>
                                            <h4 class="mb-0">@(top?.created_on?.ToString("dd/MM/yy/HH:mm:ss"))</h4>
                                        </li>
                                        <li>
                                            <button class="accordion-button collapsed @buttonClass"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#@collapseId"
                                                    aria-expanded="false"
                                                    aria-controls="@collapseId">
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h2>
                                @if(top?.serial_number.GetValueOrDefault() > 0)
                                {
                                    <span class="sl-no-label">
                                        <label>@(top?.serial_number)</label>
                                        <small>SL No.</small>
                                    </span>
                                }
                                
                                <span class="title-dis ps-3">@(top?.warning_message)</span>
                            </h2>
                            <hr />
                            <div class="row stats other-info">
                                @* <div class="col-sm-3">
                                    <div class="list d-flex align-items-center mb-3">
                                        <h3 class="mb-0 me-2">SSS</h3>
                                        <p class="text-danger mb-0">
                               
                                        </p>
                                    </div>
                                </div> *@
                                <div class="col-sm-3">
                                    <div class="list d-flex align-items-center mb-3">
                                        <h3 class="mb-0 me-2">HHD No.</h3>
                                        <p class="text-success mb-0">
                                            @(top?.hhd_id == 0 ? "-" : top?.hhd_id)
                                        </p>
                                    </div>
                                </div>
                                @* <div class="col-sm-3">
                                    <div class="list d-flex align-items-center mb-3">
                                        <h3 class="mb-0 me-2">Member Srl. No.</h3>
                                        <p class="text-info mb-0">
                                            3
                                        </p>
                                    </div>
                                </div> *@
                                <div class="col-sm-3">
                                    <div class="list d-flex align-items-center mb-3">
                                        <h3 class="mb-0 me-2">Block</h3>
                                        <p class="text-warning mb-0">
                                            @(top?.block)
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="list d-flex align-items-center mb-3">
                                        <h3 class="mb-0 me-2">Item</h3>
                                        <p class="text-danger mb-0">
                                            @(top?.item_no)
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="list d-flex align-items-center mb-3">
                                        <h3 class="mb-0 me-2">Schedule</h3>
                                        <p class="text-success mb-0">
                                            @(top?.schedule)
                                        </p>
                                    </div>
                                </div>
                                @* <div class="col-sm-3">
                                    <div class="list d-flex align-items-center mb-3">
                                        <h3 class="mb-0 me-2">Case Srl. no</h3>
                                        <p class="text-info mb-0">
                                            3
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="list d-flex align-items-center mb-3">
                                        <h3 class="mb-0 me-2">Schedule</h3>
                                        <p class="text-warning mb-0">
                                            21.1
                                        </p>
                                    </div>
                                </div> *@
                            </div>
                            @* @if (ChildWarning != null && ChildWarning.Count > 0)
                            {
                                @foreach (var Child in ChildWarning.OrderBy(x=> x?.created_on))
                                {
                                    @if (Child?.parent_comment_id == top?.id)
                                    {
                                        <div class="card-header border-top ps-5 pe-0 bg-transparent">
                                            <div class="d-flex">
                                                <div class="user-panel d-flex align-items-center custom-badge">
                                                    <div class="image avatar-latter color2 me-0">
                                                        @(new string(Child?.user_name?.Trim().Where(char.IsLetter).Take(2).ToArray()))
                                                    </div>
                                                    <div class="info" style="padding-left:14px;"> 
                                                        <div class="d-flex align-items-center"> 
                                                            <strong class="d-block me-4" style="line-height: 12px;">@(Child?.user_name)</strong>
                                                            <div class="badge badge-outline badge-primary fw-bold">@((Child?.role_code == SessionStorage.user_role) ? "ME" : "")</div>
                                                            @if (Child.warning_status == 4 || Child.warning_status == 2 || Child.warning_status == 5)
                                                            {
                                                                <div class="badge badge-outline badge-success fw-bold ms-1">ACCEPTED</div>
                                                            }
                                                            else if (Child.warning_status == 3)
                                                            {
                                                                <div class="badge badge-outline badge-dange fw-bold ms-1">REJECTED</div>
                                                            }
                                                        </div>
                                                        <small>@(common.GetUserRoleName(Child.role_code))</small>
                                                    </div> 
                                                </div>
                                                <div class="ms-auto">
                                                    <ul class="stats other-info">
                                                        <li class="d-flex align-items-center">
                                                            <i class="fi fi-rr-calendar"></i>
                                                            <h4 class="mb-0">@(Child?.created_on?.ToString("dd/MM/yy/HH:mm:ss"))</h4>
                                                        </li>
                                                        @* <li class="d-flex">
                                                            <i class="bi bi-pencil"></i>
                                                            <h4 class="mb-0">Edit</h4>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <input type="radio" id="@(Child.id)" Label="Accept"  checked ="@((Child.warning_status == 4 || Child.warning_status ==2 )? true : false)" disabled />
                                            <label class="form-check-label" for="acceptRadio">Accept</label>

                                            <input type="radio" id="@(Child.id)" Label="Reject" checked="@((Child.warning_status == 3 )? true : false)" disabled />
                                            <label class="form-check-label" for="rejectRadio">Reject</label>

                                            <h2>
                                                <span class="sl-no-label">
                                                    <label>1</label>
                                                    <small>SL No.</small>
                                                </span>
                                                <span class="title-dis ps-3">@(Child?.remarks)</span>
                                            </h2>
                                        </div>
                                    }
                                }
                            }
                         *@
                        </div>
                    </div>
                    <div id="@collapseId"
                         class="accordion-collapse collapse"
                         data-bs-parent="#@accordionId">
                        <div class="accordion-body p-0">
                            <div class="card-header bg-transparent py-4">
                                <EditForm Model="Warning_VM"
                                          OnValidSubmit="() => { }"
                                          @onsubmit:preventDefault>

                                    <div class="d-flex align-items-center">

                                        @if (SessionStorage.role_name != CommonConstants.ROLE_NAME_JSO)
                                        {
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input"
                                                       type="radio"
                                                       id="@($"acceptRadio_{top.id}")"
                                                       name="EnableNotifications"
                                                       @onchange="OnAccept" />
                                                <label class="form-check-label">Accept</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input"
                                                       type="radio"
                                                       id="@($"rejectRadio_{top.id}")"
                                                       name="EnableNotifications"
                                                       @onchange="OnReject" />
                                                <label class="form-check-label">Reject</label>
                                            </div>
                                        }

                                    <div class="form-group me-3 w-100">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Enter Remarks"
                                               @bind="Warning_VM.warningcoment.remarks"
                                               disabled="@((SessionStorage.role_name == CommonConstants.ROLE_NAME_JSO)
                                                                             && top?.warning_status == 4)" />
                                </div>

                                        <button type="button"
                                                class="btn btn-primary"
                                                @onclick="() => Validate(top)">
                                            Submit
                                        </button>

                                    </div>
                                </EditForm>


                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                            <tr>
                                                <th style="min-width: 50px;">Sl no.</th>
                                                <th style="min-width: 70px;">Date</th>
                                                <th style="min-width: 100px;">User ID</th>
                                                <th style="min-width: 90px;">Status</th>
                                                <th>Comment</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach(var item in ChildWarning.Where(x => x.parent_comment_id == top.id))
                                            {
                                                <tr>
                                                    <td>@item.serial_number</td>
                                                    <td>@item.created_on</td>
                                                    <td>@item.user_name</td>
                                                    <td>
                                                        @(item.warning_status == 3 ? "Rejected" : "Accepted")
                                                    </td>
                                                    <td>@item.remarks</td>
                                                </tr>
                                            }
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}


@code {
    int SelectedFsuId = SessionStorage.SelectedFSUId;
    bool ShowVisitedBlock = false;
    private CommonConfig commonConfig = new CommonConfig();
    CommonList commonList = new();
    DateTime survey_time = DateTime.Now;
    List<Tbl_Warning?> WarningList = new List<Tbl_Warning?>();
    List<Tbl_Warning?> ParentWarning = new List<Tbl_Warning?>();
    List<Tbl_Warning?> ChildWarning = new List<Tbl_Warning?>();
    CommonFunction common = new CommonFunction();
    private string selectedFilter = "3"; // Default filter to show Rejected warnings
    [Parameter]
    [SupplyParameterFromQuery]
    public string? Schedule { get; set; }
    private Task OnAccept()
    {
        Warning_VM.Is_Accepted = true;
        Warning_VM.IsRejected = false;
        return Task.CompletedTask;
    }
    private Task OnReject()
    {
        Warning_VM.Is_Accepted = false;
        Warning_VM.IsRejected = true;
        return Task.CompletedTask;

    }
    protected override async Task OnInitializedAsync()
    {
        await Refresh();
        var schedule = Schedule;
    }

    private void HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            // Do nothing → prevents submit
        }
    }

    private async void Validate(Tbl_Warning topWarning)
    {
        if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            if(!Warning_VM.Is_Accepted && !Warning_VM.IsRejected)
            {
                toastService.ShowError("Please accept or reject before making a remark");
                return;
            }
        }
        int Result = 0;
        Result = await Warning_VM.ValidateWarning(topWarning);
        if(Result>0)
        {
            toastService.ShowSuccess("Validation Successful ,Success");
            await JSRuntime.InvokeVoidAsync("uncheckRadioById", $"acceptRadio_{topWarning.id}");
            await JSRuntime.InvokeVoidAsync("uncheckRadioById", $"rejectRadio_{topWarning.id}");
            await Refresh();
        }
        else if (Result == -1)
        {
            toastService.ShowWarning("Add remarks");
            return;

        }
        else
        {
            toastService.ShowError("Validation Failed, Please try again");
            return;
        }
    
    }


    private void NavigateWarning(Tbl_Warning warningObj)
    {
        try
        {
            SessionStorage.selected_hhd_id = warningObj.hhd_id ?? 0;
            SessionStorage.SelectedFSUId = warningObj.fsu_id;
            switch (warningObj.block)
            {
                case "1":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block0_1");
                        break;
                    }
                case "2":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block_2");
                        break;
                    }
                case "3":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block_3");
                        break;
                    }
                case "4":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block_4");
                        break;
                    }
                case "4.1":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block_4_2");
                        break;
                    }
                case "4.2":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block_4_2");
                        break;
                    }
                case "5.1":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block5_1");
                        break;
                    }
                case "5.2":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block5_2");
                        break;
                    }
                case "6.1":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block6_1");
                        break;
                    }
                case "6.2":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block6_2");
                        break;
                    }
                case "7":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block_7");
                        break;
                    }
                case "8.1":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block_8_1");
                        break;
                    }
                case "8":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block_8");
                        break;
                    }
                case "9.1":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block9_1");
                        break;
                    }
                case "9":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block_9");
                        break;
                    }
                case "10":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block_10");
                        break;
                    }
                case "11":
                    {
                        NavigationManager.NavigateTo($"/dashboard/sch25.0/block_10");
                        break;
                    }
                default:
                    toastService.ShowError("Navigation not possible");
                    break;
            }
        }
        catch (Exception)
        {

        }
    }

    private async Task Refresh()
    {
        try
        {
            if (Schedule == "0")
            {
                WarningList = await Warning_VM.GetAllWarning("0");
            }
            else
            {
                WarningList = await Warning_VM.GetAllWarning();
            }
            if (selectedFilter == "1")
            {
                ParentWarning = WarningList.Where(x => x?.parent_comment_id == null || x.parent_comment_id == Guid.Empty).ToList();
            }
            else if (selectedFilter == "2" && SessionStorage.role_name == CommonConstants.ROLE_NAME_JSO)
            {
                ParentWarning = WarningList.Where(x => (x?.parent_comment_id == null || x.parent_comment_id == Guid.Empty) && (x?.warning_status == 4 || x?.warning_status == 2 || x?.warning_status == 5)).ToList();
            }
            else if (selectedFilter == "2" && SessionStorage.role_name == CommonConstants.ROLE_NAME_SSO)
            {
                ParentWarning = WarningList.Where(x => (x?.parent_comment_id == null || x.parent_comment_id == Guid.Empty) && (x?.warning_status == 4 || x?.warning_status == 5)).ToList();
            }
            else if (selectedFilter == "2" && SessionStorage.role_name == CommonConstants.ROLE_NAME_DS)
            {
                ParentWarning = WarningList.Where(x => (x?.parent_comment_id == null || x.parent_comment_id == Guid.Empty) && (x?.warning_status == 5)).ToList();
            }
            else if (selectedFilter == "3" && SessionStorage.role_name == CommonConstants.ROLE_NAME_JSO)
            {
                ParentWarning = WarningList.Where(x => (x?.parent_comment_id == null || x.parent_comment_id == Guid.Empty) && (x?.warning_status == 3 || x?.warning_status == 1)).ToList();
            }
            else if (selectedFilter == "3" && SessionStorage.role_name == CommonConstants.ROLE_NAME_SSO)
            {
                ParentWarning = WarningList.Where(x => (x?.parent_comment_id == null || x.parent_comment_id == Guid.Empty) && (x?.warning_status == 3 || x?.warning_status == 1 || x?.warning_status == 2)).ToList();
            }
            else if (selectedFilter == "3" && SessionStorage.role_name == CommonConstants.ROLE_NAME_DS)
            {
                ParentWarning = WarningList.Where(x => (x?.parent_comment_id == null || x.parent_comment_id == Guid.Empty) && (x?.warning_status == 3 || x?.warning_status == 1 || x?.warning_status == 2 || x?.warning_status == 4)).ToList();
            }
            // ParentWarning = WarningList.Where(x => x?.parent_comment_id == null || x.parent_comment_id == Guid.Empty).ToList();
            ChildWarning = WarningList.Where(item => item.parent_comment_id != null).OrderBy(x => x.created_on).ToList();
            StateHasChanged();
            return;
        }
        catch (Exception ex)
        {
            toastService.ShowError("Error while refreshing the page: " + ex.Message);
            return;

        }
    }
    private void OnFilterChanged(ChangeEventArgs e)
    {
        try
        {
            selectedFilter = e.Value?.ToString();
            if (WarningList != null && WarningList.Count() > 0)
            {
                if (selectedFilter == "1")
                {
                    ParentWarning = WarningList.Where(x => x?.parent_comment_id == null || x.parent_comment_id == Guid.Empty).ToList();
                }
                else if (selectedFilter == "2" && SessionStorage.role_name == CommonConstants.ROLE_NAME_JSO)
                {
                    ParentWarning = WarningList.Where(x => (x?.parent_comment_id == null || x.parent_comment_id == Guid.Empty) && (x?.warning_status == 4 || x?.warning_status == 2 || x?.warning_status == 5)).ToList();
                }
                else if (selectedFilter == "2" && SessionStorage.role_name == CommonConstants.ROLE_NAME_SSO)
                {
                    ParentWarning = WarningList.Where(x => (x?.parent_comment_id == null || x.parent_comment_id == Guid.Empty) && (x?.warning_status == 4 || x?.warning_status == 5)).ToList();
                }
                else if (selectedFilter == "2" && SessionStorage.role_name == CommonConstants.ROLE_NAME_DS)
                {
                    ParentWarning = WarningList.Where(x => (x?.parent_comment_id == null || x.parent_comment_id == Guid.Empty) && (x?.warning_status == 5)).ToList();
                }
                else if (selectedFilter == "3" && SessionStorage.role_name == CommonConstants.ROLE_NAME_JSO)
                {
                    ParentWarning = WarningList.Where(x => (x?.parent_comment_id == null || x.parent_comment_id == Guid.Empty) && (x?.warning_status == 3 || x?.warning_status == 1)).ToList();
                }
                else if (selectedFilter == "3" && SessionStorage.role_name == CommonConstants.ROLE_NAME_SSO)
                {
                    ParentWarning = WarningList.Where(x => (x?.parent_comment_id == null || x.parent_comment_id == Guid.Empty) && (x?.warning_status == 3 || x?.warning_status == 1 || x?.warning_status == 2)).ToList();
                }
                else if (selectedFilter == "3" && SessionStorage.role_name == CommonConstants.ROLE_NAME_DS)
                {
                    ParentWarning = WarningList.Where(x => (x?.parent_comment_id == null || x.parent_comment_id == Guid.Empty) && (x?.warning_status == 3 || x?.warning_status == 1 || x?.warning_status == 2 || x?.warning_status == 4)).ToList();
                }
            }
            StateHasChanged();
            return;
        }
		catch (Exception ex)
		{
			toastService.ShowError("Error while filtering warnings: " + ex.Message);
			return ;
		}
    }

}
