@page "/dashboard/his/block_7b"
@using Blazored.FluentValidation
@using FluentValidation
@using Income.Common.HIS2026
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Validators.HIS2026
@using Income.Viewmodels
@using System.Linq.Expressions
@using System.Reflection
@inject IJSRuntime JSRuntime
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject Comment_vm comment_vm
@inject Warning_VM warningVM
@inject LocalizationService Loc
@inject IValidator<Tbl_Block_7b> Validator


<div class="main-content">
    <CommonContentHeader SelectedFsuId="@SessionStorage.SelectedFSUId" survey_time="@survey_date" />

    @if (editContext != null)
    {
        <EditForm EditContext="editContext">
            @* 7.6 *@
            <div class="card custom-card">
                <div class="card-header">
                    <h5 class="card-title">
                        <span class="text-primary me-1">Block 7b:</span>
                        Income from Self-employment - Allied Activity in Agriculture
                    </h5>
                    @* add comment *@
                    @if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
                    {
                        <div class="card-tools">
                            <NavLink class="btn btn-primary" onclick="@(() => commentModal.Open())"><i class="fi fi-rr-comment-alt me-2"></i>Comment</NavLink>
                        </div>
                    }
                </div>
                <div class="row px-3 py-2">
                    <div class="col">
                        For Agricultural Establishment engaged in allied activities (including animal husbandry, poultry, bee keeping, forestry, fishery related activities <span class="text-primary">(entry against any one or more of S. no 3-6 of Q4.4 of Block 4 is selected)</span>
                    </div>
                </div>
                <div class="card-body p-0">
                    <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">
                    <div class="table-responsive">
                        <table class="table table-bordered align-middle mb-0">
                            <thead>
                                <tr>
                                    <th colspan="3" class="bg-transparent text-start">
                                        <label class="form-label fw-bold m-0">
                                            <span class="badge bg-primary me-1">Q7.6</span>
                                            Receipts from sale during last 365 days
                                        </label>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="width: 50px;" class="text-center">S. No.</th>
                                    <th class="text-center">Description </th>
                                    <th class="text-center">Sale value (in Rs.)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Fish & fishery products</td>
                                    <td>
                                        <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_6_1" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                               @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_6_1, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_6_1)" />

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td>Dairy products (e.g. milk and related raw products)</td>
                                    <td>
                                            <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_6_2" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                               @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_6_2, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_6_2)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">3</td>
                                      <td>Poultry products (e.g. egg)</td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_6_3" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_6_3, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_6_3)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">4</td>
                                      <td>Cattle and other livestock animals (e.g. cattle, buffalo, goat, sheep, pig, poultry, duck etc.) </td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_6_4" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_6_4, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_6_4)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">5</td>
                                      <td>Wool and other related products</td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_6_5" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_6_5, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_6_5)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">6</td>
                                      <td>Skin, hide, bones, etc. of cattle and other livestock animals </td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_6_6" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_6_6, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_6_6)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">7</td>
                                      <td>Honey, beeswax etc. </td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_6_7" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_6_7, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_6_7)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">8</td>
                                      <td>Silk and its products</td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_6_8" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_6_8, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_6_8)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">9</td>
                                      <td>Lac, gum, resin etc. </td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_6_9" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_6_9, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_6_9)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">10</td>
                                      <td>Timber, bamboo, wood etc.</td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_6_10" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_6_10, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_6_10)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">11</td>
                                      <td>Others</td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_6_11" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_6_11, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_6_11)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">12</td>
                                      <td class="fw-bold">Total (sum of entries at s. nos. 01-11)  </td>
                                      <td>
                                              <input disabled class="form-control form-control-sm no-spinner text-end" value="@block_7B.item_6_12" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_6_12, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_6_12)" />
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                    </fieldset>
                  </div>
              </div>
              @* 7.7 *@
              <div class="card custom-card">
                  <div class="card-body p-0">
                      <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">

                      <div class="table-responsive">
                          <table class="table table-bordered align-middle mb-0">
                              <thead>
                                  <tr>
                                      <th colspan="3" class="bg-transparent text-start">
                                          <label class="form-label fw-bold m-0">
                                              <span class="badge bg-primary me-1">Q7.7</span>
                                              Expenses incurred by the household during last 365 days on inputs used for production activity
                                          </label>
                                      </th>
                                  </tr>
                                  <tr>
                                      <th style="width: 50px;" class="text-center">S. No.</th>
                                      <th class="text-center">Input description</th>
                                      <th class="text-center">Total expenditure incurred (in Rs.)</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td class="text-center">1</td>
                                      <td>Animal / fish seeds</td>
                                      <td>
                                            <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_7_1" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_7_1, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_7_1)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">2</td>
                                      <td>Manures and fertilizers</td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_7_2" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_7_2, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_7_2)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">3</td>
                                      <td>Animal feeds and fodder </td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_7_3" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_7_3, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_7_3)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">4</td>
                                      <td>Veterinary services (for breeding, health services) and animal medicines charges</td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_7_4" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_7_4, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_7_4)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">5</td>
                                      <td>Diesel, electricity and other fuel </td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_7_5" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_7_5, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_7_5)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">6</td>
                                      <td>Labour cost (human & animal)</td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_7_6" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_7_6, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_7_6)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">7</td>
                                      <td>Cost of hiring, repair and maintenance of machinery and equipment.</td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_7_7" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_7_7, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_7_7)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">8</td>
                                      <td>Lease rent for land </td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_7_8" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_7_8, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_7_8)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">9</td>
                                      <td>Interest on loan availed for production activity and cost of insurance / premium for livestock, equipment and other inputs used for farming activity </td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_7_9" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_7_9, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_7_9)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">10</td>
                                      <td>Transportation & packaging charges </td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_7_10" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_7_10, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_7_10)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">11</td>
                                      <td>Storage charges (includes cold storage charges)</td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_7_11" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_7_11, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_7_11)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">12</td>
                                      <td>Others</td>
                                      <td>
                                              <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_7_12" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_7_12, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_7_12)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">13</td>
                                      <td class="fw-bold">Total (sum of entries at s. nos. 01-12)  </td>
                                      <td>
                                          <input type="number" disabled class="form-control form-control-sm no-spinner" value="@block_7B.item_7_13" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_7_13, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_7_13)" />
                                        
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      </fieldset>
                  </div>
              </div>
              @* 7.8 and 7b.9 *@
              <div class="card custom-card">
                  <div class="card-body p-0">
                    <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">

                      <div class="table-responsive">
                          <table class="table table-bordered align-middle mb-0">
                              <tbody>
                                  <tr>
                                      <td class="text-center">
                                          <div class="badge bg-primary me-1">Q7.8</div>
                                      </td>
                                      <td>Imputed value of any of the items (as mentioned in Q7.6) consumed by the household or bartered to other households out of total production during last 365 days (in whole no. of Rs.)</td>
                                      <td>
                                            <input type="number" disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_8" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_8, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_8)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="text-center">
                                          <div class="badge bg-primary me-1">Q7b.9</div>
                                      </td>
                                      <td>Gross Profit / Loss before tax realized by the establishment during last 365 days (in whole no. of Rs.)</td>
                                      <td>
                                              <input type="number" readonly disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7B.item_9" onkeypress="return /^(\d*)$/.test(this.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7B.item_9, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7B.item_9)" />
                                          @* <div class="text-warning"></div> *@
                                        @if (!string.IsNullOrEmpty(item_9_warning))
                                        {
                                            <div class="text-success mt-1 fw-bold">
                                                @item_9_warning
                                            </div>
                                        }
                                      </td>
                                  </tr>
                                  @* new  field add acoding to condition <0*@
                                    @if (isItemEnable)
                                    {
                                        
                                    <tr>
                                      <td>
                                          <div class="badge bg-primary me-1">Q7b.9.1</div>
                                      </td>
                                        <td>Cost of input is more than sale value of produced, please check the entries and provide suitable clarifications in following codes</td>
                                      <td>
                                                <select class="form-select" value="@block_7B.item_10" @onchange="OnDroupdownChanged">
                                                <option value="">-Select-</option>
                                                    <option value="1">a. Produces are damaged </option>
                                                    <option value="2">b. Product is not harvested </option>
                                                    <option value="3">c. Production is not started </option>
                                                    <option value="4">d. Others (specify in text box)</option>
                                            </select>
                                                @if (!string.IsNullOrEmpty(droupdown_warning))
                                                {
                                                    <div class="form-text text-danger" style="white-space: pre-line;">
                                                        @droupdown_warning
                                                    </div>
                                                }
                                            @if (isselectOther)
                                            {

                                                <div>
                                                    <textarea class="form-control mt-2"
                                                              rows="2"
                                                              maxlength="50"
                                                                  @oninput="OnRemarksClear"
                                                              placeholder="Please specify here..." @bind="block_7B.remarks" >
        </textarea>
                                                        @if (!string.IsNullOrEmpty(droupdown_remarks))
                                                        {
                                                            <div class="form-text text-danger" style="white-space: pre-line;">
                                                                @droupdown_remarks
                                                            </div>
                                                        }

                                                </div>
                                            }
                                      </td>
                                  </tr>
                                    }
                              </tbody>
                          </table>
                      </div>
                      </fieldset>
                  </div>
              </div>
        </EditForm>
        
    }
</div>
<div class="footer">
    @* Remarks Card *@
    <div class="card custom-card">
        <div class="card-header">
            <h5 class="card-title m-0">
                Remarks
            </h5>
        </div>
        <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">

        <div class="card-body">
                <textarea maxlength="500" class="form-control w-100" disabled="@SessionStorage.FSU_Submitted" @bind="block_1.block_7b_remark" rows="2" placeholder="Enter your remarks here..." ></textarea>
        </div>
        </fieldset>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-outline-secondary" onclick="@GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end">
                @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                {
                    
                <NavLink class="btn btn-outline-primary me-2" @onclick="() => Save(false)"><i class="fi fi-rr-disk me-1"></i>Save</NavLink>
                }
                <NavLink class="btn btn-primary" @onclick="() => Save(true)">Next<i class="fi fi fi-rr-angle-right ms-1"></i></NavLink>
            </div>
        </div>

    </div>
</div>

<CommentModal @ref="commentModal"
              MemberList=null
              QuestionList="@(new List<string>(){"7.6.1","7.6.2","7.6.3","7.6.4","7.6.5","7.6.6","7.6.7","7.6.8","7.6.9","7.6.10","7.6.11","7.6.12",
              "7.7.1","7.7.2","7.7.3","7.7.4","7.7.5","7.7.6","7.7.7","7.7.8","7.7.9","7.7.10","7.7.11","7.7.12", "7.8", "7b.9"})"
              Block="7B" />

@code {
    CommentModal commentModal = default!;
    private Tbl_Block_4? block_4 = null;
    private Tbl_Block_7b? block_7B = new();
    private Tbl_Block_1? block_1 = new();
    bool isItemEnable = false;
    bool isselectOther = false;
    string droupdown_warning = string.Empty;
    string droupdown_remarks = string.Empty;
    CommonQueries commonQueries = new();
    EditContext editContext;
    ValidationMessageStore messageStore;
    int Q7_1_Sum = 0;
    bool codeListEntryNeeded = false;
    DBQueries dB = new();
    bool isAdd;
    DateTime survey_date = DateTime.Now;
    string remarks = string.Empty;
    string item_9_warning = string.Empty;

    async void GoBack()
    {
        NavigationManager.NavigateTo("/dashboard/his/block_7a_2");

        // await JSRuntime.InvokeVoidAsync("__handleGoBack");
        return;
    }

    protected override async Task OnInitializedAsync()
    {
        block_4 = await dB.Fetch_SCH_HIS_Block4(SessionStorage.selected_hhd_id);
        block_1 = await dB.FetchSingleForFsuAndHhdAsync<Tbl_Block_1>() ?? null;

        codeListEntryNeeded = block_4 != null && (block_4.item_4_3.GetValueOrDefault() ||
                                block_4.item_4_4.GetValueOrDefault() || block_4.item_4_5.GetValueOrDefault() || block_4.item_4_6.GetValueOrDefault());
        await LoadData();
        if (block_7B == null)
        {
            block_7B = new();
            block_7B.id = Guid.NewGuid();
        }
        if(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            survey_date = block_7B.survey_timestamp.GetValueOrDefault();
        }
        editContext = new EditContext(block_7B);
        messageStore = new ValidationMessageStore(editContext);
        editContext.OnFieldChanged += EditContext_OnFieldChanged;
        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
        {
            block_uri = "/dashboard/his/block_7b",
            block_title = "HIS Block 7b",
            block_code = CommonEnum.his_block_7b.ToString(),
        };
        await commonQueries.InsertVisitedBlock(vb);
        if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            survey_date = block_7B.survey_timestamp.GetValueOrDefault();
        }
        StateHasChanged();
    }

    private void EditContext_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        // Clear validation messages for this specific field
        messageStore.Clear(e.FieldIdentifier);

        // Update validation state
        editContext.NotifyValidationStateChanged();
    }

    private async Task LoadData()
    {
        block_7B = await dB.Fetch_SCH_HIS_Block7B(SessionStorage.selected_hhd_id);
        if (block_7B != null)
        {
            CheckItem6Warning();
        }
    }

    private void UpdateFieldAndValidate(Expression<Func<int?>> field, ChangeEventArgs e)
    {
        var identifier = FieldIdentifier.Create(field);

        // Try parse
        int? value = null;
        if (!string.IsNullOrWhiteSpace(e.Value?.ToString()) &&
            int.TryParse(e.Value?.ToString(), out var v))
        {
            value = v;
        }

        // 1️⃣ Update the actual model field
        var memberExpr = (MemberExpression)field.Body;
        var prop = (PropertyInfo)memberExpr.Member;
        prop.SetValue(block_7B, value);

        block_7B.item_6_12 =
                    (block_7B.item_6_1 ?? 0) +
                    (block_7B.item_6_2 ?? 0) +
                    (block_7B.item_6_3 ?? 0) +
                    (block_7B.item_6_4 ?? 0) +
                    (block_7B.item_6_5 ?? 0) +
                    (block_7B.item_6_6 ?? 0) +
                    (block_7B.item_6_7 ?? 0) +
                    (block_7B.item_6_8 ?? 0) +
                    (block_7B.item_6_9 ?? 0) +
                    (block_7B.item_6_10 ?? 0) +
                    (block_7B.item_6_11 ?? 0);

        block_7B.item_7_13 =
                    (block_7B.item_7_1 ?? 0) +
                    (block_7B.item_7_2 ?? 0) +
                    (block_7B.item_7_3 ?? 0) +
                    (block_7B.item_7_4 ?? 0) +
                    (block_7B.item_7_5 ?? 0) +
                    (block_7B.item_7_6 ?? 0) +
                    (block_7B.item_7_7 ?? 0) +
                    (block_7B.item_7_8 ?? 0) +
                    (block_7B.item_7_9 ?? 0) +
                    (block_7B.item_7_10 ?? 0) +
                    (block_7B.item_7_11 ?? 0) +
                    (block_7B.item_7_12 ?? 0);


        block_7B.item_9 = block_7B.item_6_12.GetValueOrDefault() + block_7B.item_8.GetValueOrDefault() - block_7B.item_7_13.GetValueOrDefault();
        if (block_7B.item_9 > 0)
        {
            // If value is Positive (or 0), hide the section
            isItemEnable = false;

            block_7B.item_10 = null;
            block_7B.remarks = string.Empty;

            isselectOther = false;

            droupdown_warning = string.Empty;
            droupdown_remarks = string.Empty;
        }
        CheckItem6Warning();
        // 2️⃣ Clear previous errors
        messageStore?.Clear(identifier);

        // 3️⃣ Notify Blazor validation system
        editContext?.NotifyFieldChanged(identifier);
    }

    void CheckItem6Warning()
    {
        try
        {
            item_9_warning = string.Empty;
            if (block_7B != null && block_7B.item_9 < 0)
            {
                if(!block_7B.item_10.HasValue)
                {
                    item_9_warning = "Loss reported in Q. 7b.9. \nPlease Choose an option";
                }
                isItemEnable = true;
                isselectOther = block_7B.item_10 == 4;
            }
        }
        catch (Exception ex)
        {

        }

    }
    private void OnDroupdownChanged(ChangeEventArgs e)
    {
        // update bound value
        if (int.TryParse(e.Value?.ToString(), out var v))
        {
            block_7B.item_10 = v;
            item_9_warning = string.Empty;
        }
        else
        {
            block_7B.item_10 = null;
            CheckItem6Warning();
        }

        droupdown_warning = string.Empty;
        droupdown_remarks = string.Empty;
        // show only when 5 (Others) is selected, hide otherwise
        isselectOther = block_7B?.item_10 == 4;
    }
    //Remarks field clear after enter anything
    private void OnRemarksClear(ChangeEventArgs e)
    {
        block_7B.remarks = e.Value?.ToString();
        droupdown_remarks = string.Empty;

        StateHasChanged();
    }
    private async Task Save(bool is_go_next = false)
    {
        try
        {
            if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {
                NavigationManager.NavigateTo("/dashboard/his/block_7c");
                return;
            }
            bool hasAnyValueGreaterThanZero =
                                    new int?[]
                                    {
                                        block_7B.item_6_1,
                                        block_7B.item_6_2,
                                        block_7B.item_6_3,
                                        block_7B.item_6_4,
                                        block_7B.item_6_5,
                                        block_7B.item_6_6,
                                        block_7B.item_6_7,
                                        block_7B.item_6_8,
                                        block_7B.item_6_9,
                                        block_7B.item_6_10,
                                        block_7B.item_6_11,
                                        block_7B.item_6_12
                                    }.Any(x => x.HasValue && x.Value > 0);

            if (codeListEntryNeeded && !hasAnyValueGreaterThanZero)
            {
                toastService.ShowError("Atleast one entry is needed for Q7.6");
                return;
            }

            messageStore.Clear();
            var validation = Validator.Validate(block_7B);
            if(!codeListEntryNeeded)
            {
                validation.Errors.Clear();
            }
            foreach (var error in validation.Errors)
            {
                var fieldIdentifier = new FieldIdentifier(block_7B, error.PropertyName);
                messageStore.Add(fieldIdentifier, error.ErrorMessage);
            }
            editContext.NotifyValidationStateChanged();

            if (!validation.IsValid && codeListEntryNeeded)
            {
                toastService.ShowError("Please resolve all the errors");
                return;
            }
            else
            {
                droupdown_warning = string.Empty;
                droupdown_remarks = string.Empty;
                if (isItemEnable)
                {
                    // If "Others" selected but remarks empty
                    if (block_7B.item_10 == 4 && string.IsNullOrWhiteSpace(block_7B.remarks))
                    {
                        droupdown_remarks = "Please specify remarks for 'Others'";
                        toastService.ShowError("Please specify remarks for 'Others'");
                        return;
                    }
                }
                int saved = await dB.Save_SCH_HIS_Block7B(block_7B);
                if (saved > 0)
                {
                    toastService.ShowSuccess("Saved successfully");
                }
                else
                {
                    toastService.ShowSuccess("Data could not be saved");
                }
            }

            CheckItem6Warning();
            if (!string.IsNullOrEmpty(item_9_warning))
            {
                warningVM.AddWarning(item_9_warning, "HIS", "7B", "7B.9", SessionStorage.selected_hhd_id);
            }
            await warningVM.SaveWarningAsync("HIS", "7B");

            if (block_1 != null)
            {
                await dB.SaveAsync<Tbl_Block_1>(block_1);
            }

            if (!is_go_next)
            {
                return;
            }
            
            NavigationManager.NavigateTo("/dashboard/his/block_7c");
        }
        catch (Exception ex)
        {

        }
    }

}
