@page "/dashboard/his/block_5"
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@using Blazored.FluentValidation
@using FluentValidation
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Database.Models.SCH0_0
@using Income.Validators.HIS2026
@using Income.Viewmodels
@using Microsoft.AspNetCore.Components.Forms
@using System.Linq.Expressions
@using System.Reflection
@inject IJSRuntime JSRuntime
@inject ILoggingService loggingService
@inject Warning_VM warningVM
@inject IValidator<Tbl_Block_5> Validator

@* @inject DBQueries DBQueries *@

<div class="main-content">
    <CommonContentHeader SelectedFsuId="@SelectedFsuId" survey_time="@survey_time" />
    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">
                <span class="text-primary me-2">[Block 5]</span>Income from employment – regular wage/salary
            </h3>
            <div class="card-tools">
                <div class="d-flex align-items-center" hidden="@SessionStorage.FSU_Submitted">

                </div>

            </div>
        </div>
        @* Card Body *@
        <div class="card-body p-0">
            <div class="table-responsive table-wrapper">
                <table class="table table-striped table-bordered mb-0">
                    <thead>
                        <tr>
                            <th style="min-width:20px;" rowspan="2">sl.no. of member</th>
                            <th class="text-center" colspan="1">Last 365 days</th>
                            <th class="text-center" colspan="3">Last month</th>
                            <th class="text-center" colspan="6">Last 365 days</th>
                            <th style="min-width:200px;" rowspan="2">Total monthly income (Q5.2+(Q5.3+Q5.4+Q5.5+Q5.6+Q5.7+Q5.8)/12)</th>
                            <th style="min-width:50px;" rowspan="2">Action</th>
                        </tr>
                        <tr>
                            <th style="min-width:150px;">Number of months worked</th>
                            <th style="min-width:150px;">gross salary</th>
                            <th style="min-width:200px;">allowances received (including overtime allowance, shift allowance, project allowance)</th>
                            <th style="min-width:200px;">Other including tips, fees of consultants etc.</th>
                            <th style="min-width:200px;">bonuses received (festival bonus, profit-sharing or production bonuses or other forms of profit-related payment, performance-based incentive)</th>
                            <th style="min-width:200px;">other including commission from sales, etc.</th>
                            <th style="min-width:200px;">sale value of shares offered as part of employee remuneration (employee stock option)</th>
                            <th style="min-width:200px;">leave encashments; remuneration for time not worked such as for annual leave, holidays or other paid leave, Leave Fare Concession etc.</th>
                            <th style="min-width:200px;">severance and termination pay, termination benefits including social security benefits like maturity benefits of CGEGIS etc.</th>
                            <th style="min-width:200px;">others - directors’ fees (fees given to the directors for attending meetings), sitting fees of experts etc.</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>(1)</th>
                            <th>(2)</th>
                            <th>(3(i))</th>
                            <th>(3(ii))</th>
                            <th>(4(i))</th>
                            <th>(4(ii))</th>
                            <th>(5)</th>
                            <th>(6)</th>
                            <th>(7)</th>
                            <th>(8)</th>
                            <th>(9)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var member in block5Members)
                        {
                            <tr>
                                <td>@member.serial_member</td>
                                <td>@member.item_1</td>
                                <td>@member.item_2</td>
                                <td>@member.item_3_i</td>
                                <td>@member.item_3_ii</td>
                                <td>@member.item_4_i</td>
                                <td>@member.item_4_ii</td>
                                <td>@member.item_5</td>
                                <td>@member.item_6</td>
                                <td>@member.item_7</td>
                                <td>@member.item_8</td>
                                <td>@member.item_9</td>
                                <td class="d-flex align-items-center">
                                    <button class="btn btn-link me-3 fs-6"
                                            hidden="@SessionStorage.FSU_Submitted"
                                            @onclick="@(() => HandleModal("UPDATE", member))">
                                        <i class="fi fi-rr-pencil"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    @* Remarks Card *@
    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">Remarks</h3>
        </div>
        <div class="card-body">
            <textarea maxlength="500" type="text" class="form-control disabled w-100" disabled="@SessionStorage.FSU_Submitted" placeholder="" @bind="@block_1.block_4_remark" rows="2"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="d-flex">
                <NavLink class="btn btn-outline-secondary" onclick="@GoBack">
                    <i class="fi fi-rr-angle-left me-1"></i>Back
                </NavLink>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end">
                <NavLink class="btn btn-primary" @onclick="@(() => Next())">
                    Next<i class="fi fi-rr-angle-right ms-1"></i>
                </NavLink>
            </div>
        </div>
    </div>
</div>
<Modal @ref="AddModal"
       CloseOnEscape="false"
       UseStaticBackdrop="true"
       ShowCloseButton="false"
       Fullscreen="ModalFullscreen.MediumDown"
       Size="ModalSize.ExtraLarge">

    <HeaderTemplate>
        <h5 class="modal-title">@((isAdd ? "Add Member" : "Update Member"))</h5>
    </HeaderTemplate>

    <BodyTemplate>
        @if (editContext != null)
        {
            <EditForm EditContext="editContext">
                <FluentValidationValidator />
                <div class="row">
                    <div class="col-sm-12">
                       <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">Q5.1</span> Number of months worked (Last 365 days)
                            </label>
                            <InputNumber @bind-Value="newMember.item_1"
                                            class="form-control no-spinner"
                                            autocomplete="off"
                                            autocorrect="off"
                                            autocapitalize="off"
                                            spellcheck="false"
                                            min="1" max="12"
                                            maxlength="2"
                                            @oninput="item1OnInput"
                                            onkeypress="if (this.value.length >= 2) return false; return event.key >= '0' && event.key <= '9';">
                            </InputNumber>
                            <ValidationMessage For="@(() => newMember.item_1)" />
                        </div>
                    </div>

                    <div class="col-sm-12">
                       <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">Q5.2</span> Gross salary(Last month)
                            </label>
                            <InputNumber @bind-Value="newMember.item_2"
                                            class="form-control no-spinner form-control-sm"
                                            autocomplete="off"
                                            autocorrect="off"
                                            autocapitalize="off"
                                            spellcheck="false"
                                            @oninput="e => { 
                                            UpdateFieldAndValidate(() => newMember.item_2, e);
                                                //newMember.item_2 = string.IsNullOrWhiteSpace(e.Value?.ToString()) ? (int?)null : int.TryParse(e.Value?.ToString(), out var v) ? v : (int?)null; 
                                                handleCalculateIncome(); 
                                            }">
                            </InputNumber>
                            <ValidationMessage For="@(() => newMember.item_2)" />
                       </div>
                    </div>

                    <div class="col-sm-12">
                      <div class="mb-3">
                          <label class="form-label">
                                  @* //Q5.3(i) *@
                                <span class="form-badge">Q5.3(i)</span> Allowances received (including overtime allowance, shift allowance, project allowance) (Last month)
                          </label>
                          <InputNumber @bind-Value="newMember.item_3_i"
                                        class="form-control no-spinner"
                                        autocomplete="off"
                                        onkeypress="return event.key >= '0' && event.key <= '9'"
                                        autocorrect="off"
                                        autocapitalize="off"
                                        spellcheck="false"
                                        @oninput="e => {
                                        UpdateFieldAndValidate(() => newMember.item_3_i, e);
                                                                                            //newMember.item_3_i = string.IsNullOrWhiteSpace(e.Value?.ToString()) ? (int?)null : int.TryParse(e.Value?.ToString(), out var v) ? v : (int?)null;
                                        handleCalculateIncome();
                                                                                }">
                          </InputNumber>
                        <ValidationMessage For="@(() => newMember.item_3_i)" />
                        @* <input type="number" class="form-control no-spinner form-control-sm" value="@newMember.item_4" @oninput="e => { newMember.item_4 = int.TryParse(e.Value?.ToString(), out var v) ? v : 0; handleCalculateIncome(); }" /> *@
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">Q5.3(ii)</span>Other including tips, fees of consultants etc. (Last month)
                            </label>
                            <InputNumber @bind-Value="newMember.item_3_ii"
                                         class="form-control no-spinner"
                                         autocomplete="off"
                                         onkeypress="return event.key >= '0' && event.key <= '9'"
                                         autocorrect="off"
                                         autocapitalize="off"
                                         spellcheck="false"
                                         @oninput="e => {
                                          UpdateFieldAndValidate(() => newMember.item_3_ii, e);
                                          //newMember.item_3_ii = string.IsNullOrWhiteSpace(e.Value?.ToString()) ? (int?)null : int.TryParse(e.Value?.ToString(), out var v) ? v : (int?)null;
                                         handleCalculateIncome();
                                        }">

                            </InputNumber>
                            <ValidationMessage For="@(() => newMember.item_3_ii)" />

                        </div>
                    </div>

                   <div class="col-sm-12">
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">Q5.4(i)</span>Bonuses received (festival bonus, profit-sharing or production bonuses or other forms of profit-related payment, performance-based incentive) (Last 365 days)
                            </label>
                            <InputNumber @bind-Value="newMember.item_4_i"
                                         class="form-control no-spinner"
                                         autocomplete="off"
                                         onkeypress="return event.key >= '0' && event.key <= '9'"
                                         autocorrect="off"
                                         autocapitalize="off"
                                         spellcheck="false"
                                         @oninput="e =>
                                                                                 {
                                             UpdateFieldAndValidate(() => newMember.item_4_i, e);
                                                                                                  //newMember.item_4_i = string.IsNullOrWhiteSpace(e.Value?.ToString()) ? (int?)null : int.TryParse(e.Value?.ToString(), out var v) ? v : (int?)null;
                                             handleCalculateIncome();
                                         }">

                            </InputNumber>
                            <ValidationMessage For="@(() => newMember.item_4_i)" />

                        </div>
                   </div>

                   <div class="col-sm-12">
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">Q5.4(ii)</span>Other including commission from sales, etc. (Last 365 days)
                            </label>
                            <InputNumber @bind-Value="newMember.item_4_ii"
                                         class="form-control no-spinner"
                                         autocomplete="off"
                                         onkeypress="return event.key >= '0' && event.key <= '9'"
                                         autocorrect="off"
                                         autocapitalize="off"
                                         spellcheck="false"
                                         @oninput="e =>
                                         {
                                             UpdateFieldAndValidate(() => newMember.item_4_ii, e);
                                                                                                   //newMember.item_4_ii = string.IsNullOrWhiteSpace(e.Value?.ToString()) ? (int?)null : int.TryParse(e.Value?.ToString(), out var v) ? v : (int?)null;
                                             handleCalculateIncome();
                                         }">

                            </InputNumber>
                            <ValidationMessage For="@(() => newMember.item_4_ii)" />
                        </div>
                   </div>
                   
                   <div class="col-sm-12">
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">Q5.5 </span> Sale value of shares offered as part of employee remuneration (employee stock option)(Last 365 days)
                            </label>
                            <InputNumber @bind-Value="newMember.item_5"
                                         class="form-control no-spinner"
                                         autocomplete="off"
                                         onkeypress="return event.key >= '0' && event.key <= '9'"
                                         autocorrect="off"
                                         autocapitalize="off"
                                         spellcheck="false"
                                         @oninput="e =>
                                         {
                                             UpdateFieldAndValidate(() => newMember.item_5, e);
                                                                                                //newMember.item_5 = string.IsNullOrWhiteSpace(e.Value?.ToString()) ? (int?)null : int.TryParse(e.Value?.ToString(), out var v) ? v : (int?)null;
                                             handleCalculateIncome();
                                         }">

                            </InputNumber>
                            <ValidationMessage For="@(() => newMember.item_5)" />
                        </div>
                   </div>
                   
                   <div class="col-sm-12">
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">Q5.6 </span> Leave encashments; remuneration for time not worked such as for annual leave, holidays or other paid leave, Leave Fare Concession etc.(Last 365 days)
                            </label>
                            <InputNumber @bind-Value="newMember.item_6"
                                         class="form-control no-spinner"
                                         autocomplete="off"
                                         onkeypress="return event.key >= '0' && event.key <= '9'"
                                         autocorrect="off"
                                         autocapitalize="off"
                                         spellcheck="false"
                                         @oninput="e =>
                                         {
                                             UpdateFieldAndValidate(() => newMember.item_6, e);
                                                                                                //newMember.item_6 = string.IsNullOrWhiteSpace(e.Value?.ToString()) ? (int?)null : int.TryParse(e.Value?.ToString(), out var v) ? v : (int?)null;
                                             handleCalculateIncome();
                                         }">

                            </InputNumber>
                            <ValidationMessage For="@(() => newMember.item_6)" />
                        </div>
                   </div>
                   
                   <div class="col-sm-12">
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">Q5.7 </span> Severance and termination pay, termination benefits including social security benefits like maturity benefits of CGEGIS etc.(Last 365 days)
                            </label>
                            <InputNumber @bind-Value="newMember.item_7"
                                         class="form-control no-spinner"
                                         autocomplete="off"
                                         onkeypress="return event.key >= '0' && event.key <= '9'"
                                         autocorrect="off"
                                         autocapitalize="off"
                                         spellcheck="false"
                                         @oninput="e =>
                                         {
                                             UpdateFieldAndValidate(() => newMember.item_7, e);
                                                                                                //newMember.item_7 = string.IsNullOrWhiteSpace(e.Value?.ToString()) ? (int?)null : int.TryParse(e.Value?.ToString(), out var v) ? v : (int?)null;
                                             handleCalculateIncome();
                                         }">

                            </InputNumber>
                            <ValidationMessage For="@(() => newMember.item_7)" />
                        </div>
                   </div>
                   
                   <div class="col-sm-12">
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">Q5.8 </span>Others - directors’ fees (fees given to the directors for attending meetings), sitting fees of experts etc. (Last 365 days)
                            </label>
                            <InputNumber @bind-Value="newMember.item_8"
                                         class="form-control no-spinner"
                                         autocomplete="off"
                                         onkeypress="return event.key >= '0' && event.key <= '9'"
                                         autocorrect="off"
                                         autocapitalize="off"
                                         spellcheck="false"
                                         @oninput="e =>
                                         {
                                             UpdateFieldAndValidate(() => newMember.item_8, e);
                                                                                                //newMember.item_8 = string.IsNullOrWhiteSpace(e.Value?.ToString()) ? (int?)null : int.TryParse(e.Value?.ToString(), out var v) ? v : (int?)null;
                                             handleCalculateIncome();
                                         }">

                            </InputNumber>
                            <ValidationMessage For="@(() => newMember.item_8)" />
                        </div>
                   </div>
                   
                    @* //Calculate Ans *@
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label class="form-label">
                                Total monthly income (Q5.2+(Q5.3+Q5.4+Q5.5+Q5.6+Q5.7+Q5.8)/12)
                            </label>
                            <InputNumber @bind-Value="newMember.item_9"
                                         class="form-control no-spinner"
                                         autocomplete="off"
                                         onkeypress="return event.key >= '0' && event.key <= '9'"
                                         autocorrect="off"
                                         autocapitalize="off"
                                         spellcheck="false"
                                         readonly>
                            </InputNumber>
                        </div>
                    </div>
                </div>
            </EditForm>
        }
        
    </BodyTemplate>

    <FooterTemplate>
        <button class="btn btn-outline-secondary me-auto"
                @onclick="(() => HandleModal())">
            Close
        </button>

        <button class="btn btn-primary"
                @onclick="HandleAddMember">
            Save
        </button>

    </FooterTemplate>

</Modal>


@code {
    int SelectedFsuId = SessionStorage.SelectedFSUId;
    private CommonConfig commonConfig = new CommonConfig();
    DateTime survey_time = DateTime.Now;
    private Tbl_Block_5? newMember = new();
    private List<Tbl_Block_3> block3Members = new();
    private List<Tbl_Block_5> block5Members = new();
    private Tbl_Block_1 block_1= new();
    bool error = false;
    DBQueries dbq = new();
    CommonQueries commonQueries = new();
    string remarks = string.Empty;
    Modal AddModal = default!;
    bool isAdd = false;

    EditContext editContext;
    private Block_5_Validator validator = new();
    private ValidationMessageStore messageStore;

    async void GoBack()
    {
        await JSRuntime.InvokeVoidAsync("__handleGoBack");
        return;
    }

    private void UpdateFieldAndValidate(Expression<Func<int?>> field, ChangeEventArgs e)
    {
        var identifier = FieldIdentifier.Create(field);

        // Try parse
        int? value = null;
        if (!string.IsNullOrWhiteSpace(e.Value?.ToString()) &&
            int.TryParse(e.Value?.ToString(), out var v))
        {
            value = v;
        }

        // 1️⃣ Update the actual model field
        var memberExpr = (MemberExpression)field.Body;
        var prop = (PropertyInfo)memberExpr.Member;
        prop.SetValue(newMember, value);

        // 2️⃣ Clear previous errors
        messageStore?.Clear(identifier);

        // 3️⃣ Notify Blazor validation system
        editContext?.NotifyFieldChanged(identifier);
    }


    protected override async Task OnInitializedAsync()
    {
        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
        {
            block_uri = "/dashboard/his/block_5",
            block_title = "HIS Block 5",
            block_code = CommonEnum.his_block_5.ToString(),
        };

        await commonQueries.InsertVisitedBlock(vb);
        block3Members = await dbq.Fetch_SCH_HIS_Block3(SessionStorage.selected_hhd_id);
        block_1 = await dbq.FetchSingleForFsuAndHhdAsync<Tbl_Block_1>() ?? null;
        var applicableMembers = block3Members?.Where(x => x.item_8 == 4 || x.item_9 == 4|| x.item_10 == 4 || x.item_11 == 4).ToList();

        await LoadData();
        if (block5Members == null || block5Members.Count == 0)
        {
            int i = 1;
            foreach (var member in applicableMembers)
            {
                Tbl_Block_5 obj = new();
                obj.id = Guid.NewGuid();
                obj.serial_member = member.serial_no;
                obj.serial_number = i++;
                obj.fk_block_3 = member.id;
                await dbq.Save_SCH_HIS_Block5(obj);
            }
            await LoadData();
        }
        else if(block5Members != null && block5Members.Count != applicableMembers?.Count)
        {
            int currentSerialNumber = block5Members.Count();
            var missingMembers = applicableMembers?
                        .Where(am => !block5Members.Any(b5 => b5.fk_block_3 == am.id))
                        .ToList();
            foreach (var member in missingMembers)
            {
                Tbl_Block_5 obj = new();
                obj.id = Guid.NewGuid();
                obj.serial_member = member.serial_no;
                obj.fk_block_3 = member.id;
                obj.serial_number = currentSerialNumber++;
                await dbq.Save_SCH_HIS_Block5(obj);
            }

        }

        StateHasChanged();
    }

    private void item1OnInput(ChangeEventArgs e)
    {
        // Convert input value
        if (int.TryParse(e.Value?.ToString(), out int value))
        {
            
            if (value > 12)
                newMember.item_1 = 12;
            else if (value < 1)
                newMember.item_1 = 1;
            else
                newMember.item_1 = value;
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => newMember.item_1));
        }
        else
        {
            newMember.item_1 = null;
        }

        handleCalculateIncome();
    }




    //Handle CalculateIncome
    private void handleCalculateIncome()
    {
        int item_2 = newMember.item_2 ?? 0; //5.2
        int item_3_i = newMember.item_3_i ?? 0; //5.3(i)
        int item_3_ii = newMember.item_3_ii ?? 0; //5.3(ii)
        int item_4_i = newMember.item_4_i ?? 0; //5.4(i)
        int item_4_ii = newMember.item_4_ii ?? 0; //5.4(ii)
        int item_5 = newMember.item_5 ?? 0; //5.5
        int item_6 = newMember.item_6 ?? 0; //5.6
        int item_7 = newMember.item_7 ?? 0; //5.7
        int item_8 = newMember.item_8 ?? 0; //5.8


        int ans = item_2 + (item_3_i + item_3_ii + item_4_i + item_4_ii + item_5 + item_6 + item_7 + item_8) / 12;
        newMember.item_9 = ans;
        StateHasChanged();
    }

    async Task HandleModal(string action = "", Tbl_Block_5? data = null)
    {
        try
        {
            // if (action == "ADD")
            // {
            //     isAdd = true;

            //     newMember = new Tbl_Block_5
            //     {
            //         id = Guid.NewGuid(),
            //         item_1 = ReturnCurrentMemberSerialNumber()
            //     };

            //     await AddModal.ShowAsync();
            // }
            if (action == "UPDATE")
            {
                isAdd = false;

                if (data != null)
                {
                    newMember = ObjectCloneHelper.CloneTblHISBlock5(data);
                    editContext = new EditContext(newMember);
                    messageStore = new ValidationMessageStore(editContext);
                    editContext.OnFieldChanged += EditContext_OnFieldChanged;
                    await AddModal.ShowAsync();
                }
            }
            else
            {
                await AddModal.HideAsync();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    int ReturnCurrentMemberSerialNumber()
    {
        try
        {
            return (block5Members?.Count ?? 0) + 1;
        }
        catch
        {
            return 1;
        }
    }

    private void EditContext_OnFieldChanged(object sender, FieldChangedEventArgs e)
    {
        // Clear validation messages for this specific field
        messageStore.Clear(e.FieldIdentifier);

        // Update validation state
        editContext.NotifyValidationStateChanged();
    }


    private async Task LoadData()
    {
        block5Members = await dbq.Fetch_SCH_HIS_Block5(SessionStorage.selected_hhd_id);
        StateHasChanged();
    }

    private async Task HandleAddMember()
    {

        messageStore.Clear();
        var result = await Validator.ValidateAsync(newMember);
        foreach (var error in result.Errors)
        {
            var fieldIdentifier = new FieldIdentifier(newMember, error.PropertyName);
            messageStore.Add(fieldIdentifier, error.ErrorMessage);
        }

        editContext.NotifyValidationStateChanged();

        if (!result.IsValid)
        {
            toastService.ShowError("Please resolve pending errors");
            return;
        }

        await dbq.Save_SCH_HIS_Block5(newMember);
        toastService.ShowSuccess("Member added successfully!");
        await AddModal.HideAsync();
        await LoadData();

    }

    async void Next()
    {
        if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            NavigationManager.NavigateTo("dashboard/his/block_6");
            return;
        }
        if (block_1 != null)
        {
            await dbq.SaveAsync<Tbl_Block_1>(block_1);
        }
        
            if(block5Members.Any(x => !x.isUpdated))
            {
                toastService.ShowError("Please save/update details for all entries before proceeding");
                return;
            }
            NavigationManager.NavigateTo("/dashboard/his/block_6");
       
    }
}
