@page "/dashboard/his/block_9a"
@using Blazored.FluentValidation
@using FluentValidation
@using Income.Common.HIS2026
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Validators.HIS2026
@using Income.Viewmodels
@using System.Linq.Expressions
@using System.Reflection
@inject IJSRuntime JSRuntime
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject Comment_vm comment_vm
@inject LocalizationService Loc
@inject IValidator<Tbl_Block_9a> Validator

<div class="main-content">
    <CommonContentHeader SelectedFsuId="@SessionStorage.SelectedFSUId" survey_time="@survey_date" />

    @if (editContext != null)
    {
        <EditForm EditContext="editContext">
            <FluentValidationValidator />
            <div class="card custom-card">
                <div class="card-header ">
                    <h3 class="card-title">
                        <span class="text-primary me-1">Block 9:</span>Income from Asset
                    </h3>
                    @* add comment *@
                    @if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
                    {

                        <div class="card-tools d-flex justify-content-end align-items-end p-2">
                            <NavLink class="btn btn-primary" onclick="@(() => commentModal.Open())"><i class="fi fi-rr-comment-alt me-2"></i>Comment</NavLink>
                        </div>
                    }
                </div>
                <div class="card-header">
                    <h3 class="card-title">
                        A. Income from financial assets (interest and dividend income)
                    </h3>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">

                        <table class="table table-bordered align-middle text-center mb-0">
                            <thead>
                                <tr>
                                    <th colspan="3">
                                        <label class="form-label fw-bold mb-0">
                                            <span class="form-badge">Q9.1</span>
                                            Interest received in last financial year from
                                        </label>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="width: 50px;">S. No.</th>
                                    <th>Item description</th>
                                    <th>Amount received (in Rs.)</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>1</td>
                                    <td>Saving / deposit accounts with banks/post office/non-banking financial companies</td>
                                    <td>
                                        <input class="form-control form-control-sm no-spinner" value="@block_9a.item_1_1" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                               @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_9a.item_1_1, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_9a.item_1_1)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>2</td>
                                      <td>Certificates of deposit (Fixed/Recurring Deposits etc.), government bonds/securities, co-operative credit societies/micro-finance institutions/self-help groups</td>
                                      <td>
                                          <input class="form-control form-control-sm no-spinner" value="@block_9a.item_1_2" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_9a.item_1_2, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_9a.item_1_2)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>3</td>
                                      <td>Provident funds (government, public, etc.) and other financial institutions</td>
                                      <td>
                                          <input class="form-control form-control-sm no-spinner" value="@block_9a.item_1_3" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_9a.item_1_3, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_9a.item_1_3)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>4</td>
                                      <td>Loans to non-household members</td>
                                      <td>
                                          <input class="form-control form-control-sm no-spinner" value="@block_9a.item_1_4" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_9a.item_1_4, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_9a.item_1_4)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>5</td>
                                      <td>Other (interest on security deposits, sovereign gold bonds, debentures etc.)</td>
                                      <td>
                                          <input class="form-control form-control-sm no-spinner" value="@block_9a.item_1_5" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_9a.item_1_5, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_9a.item_1_5)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>6</td>
                                      <td>Total interest (sum of entries recorded in s. no. 1-5)</td>
                                      <td>
                                          <input disabled class="form-control form-control-sm no-spinner" value="@block_9a.item_1_6" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 />
                                          <ValidationMessage For="@(() => block_9a.item_1_6)" />
                                      </td>
                                  </tr>
                            </tbody>
                        </table>
                        </fieldset>

                    </div>
                </div>
            </div>

            @* 7.3, 7.4 .... *@
            <div class="card custom-card">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">

                        <table class="table table-bordered align-middle text-center mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="form-label mb-0">
                                            <span class="form-badge">Q9.2</span>
                                            Interest received in last financial year from
                                        </label>
                                    </td>
                                    <td>Dividend received (receipts from investment in an enterprise in which the investor does not work)</td>
                                    <td>Last financial year</td>
                                    <td>
                                        <input class="form-control form-control-sm no-spinner" value="@block_9a.item_2" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                               @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_9a.item_2, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_9a.item_2)" />
                                      </td>
                                </tr>


                                <tr>
                                    <td>
                                        <label class="form-label mb-0">
                                            <span class="form-badge">Q9.3</span>
                                            Interest received in last month from
                                        </label>
                                    </td>
                                    <td>Annuities received from insurance schemes, superannuation funds etc.</td>
                                    <td>Last month</td>
                                    <td>
                                        <input class="form-control form-control-sm no-spinner" value="@block_9a.item_3" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                               @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_9a.item_3, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_9a.item_3)" />
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <label class="form-label mb-0">
                                              <span class="form-badge">Q9.4</span>
                                              Interest received in last month from
                                          </label>
                                      </td>
                                      <td>Other regular receipts from financial assets</td>
                                      <td>Last month</td>
                                      <td>
                                          <input class="form-control form-control-sm no-spinner" value="@block_9a.item_4" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_9a.item_4, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_9a.item_4)" />
                                      </td>
                                  </tr>
                            </tbody>
                        </table>
                        </fieldset>
                    </div>
                </div>
            </div>
        </EditForm>

    }
</div>
<div class="footer">
    @* Remarks Card *@
    <div class="card custom-card">
        <div class="card-header">
            <h5 class="card-title m-0">
                Remarks
            </h5>
        </div>
        <div class="card-body">
            <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">

                <textarea maxlength="500" class="form-control w-100" rows="2" @bind="block_1.block_9a_remark" placeholder="Enter your remarks here..." oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '')"></textarea>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-outline-secondary" @onclick="GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end">
                @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                {
                    
                <NavLink class="btn btn-outline-primary me-2" @onclick="@(() => Save(false))"><i class="fi fi-rr-disk me-1"></i>Save</NavLink>
                }
                <NavLink class="btn btn-primary" @onclick="@(() => Save(true))">Next<i class="fi fi-rr-angle-right ms-1"></i></NavLink>
            </div>
        </div>
    </div>
</div>

<CommentModal @ref="commentModal"
              MemberList=null
              QuestionList="@(new List<string>(){"9.1.1","9.1.2","9.1.3","9.1.4","9.1.5","9.1.6","9.2","9.3","9.4"})"
              Block="9A" />

@code {
    private Modal modal = default!;
    private Tbl_Block_9a? block_9a = new();
    EditContext editContext;
    ValidationMessageStore messageStore;
    private Tbl_Block_1? block_1 = new();
    CommonQueries commonQueries = new();

    DBQueries dB = new();
    bool isAdd;
    DateTime survey_date = DateTime.Now;
    string remarks = string.Empty;
    string item_9_1_warning = string.Empty;

    CommentModal commentModal = default!;

    async Task GoBack()
    {
        await JSRuntime.InvokeVoidAsync("__handleGoBack");
    }
    protected override async Task OnInitializedAsync()
    {
        block_9a = await dB.Fetch_SCH_HIS_Block9a(SessionStorage.selected_hhd_id);
        block_1 = await dB.FetchSingleForFsuAndHhdAsync<Tbl_Block_1>() ?? null;

        if (block_9a == null)
        {
            block_9a = new();
            block_9a.id = Guid.NewGuid();
        }
        editContext = new EditContext(block_9a);
        messageStore = new ValidationMessageStore(editContext);
        editContext.OnFieldChanged += EditContext_OnFieldChanged;
        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
        {
            block_uri = "/dashboard/his/block_9a",
            block_title = "HIS Block 9a",
            block_code = CommonEnum.his_block_9a.ToString(),
        };

        await commonQueries.InsertVisitedBlock(vb);
        StateHasChanged();
    }

    private void EditContext_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        // Clear validation messages for this specific field
        messageStore.Clear(e.FieldIdentifier);

        // Update validation state
        editContext.NotifyValidationStateChanged();
    }


    private void UpdateFieldAndValidate(Expression<Func<int?>> field, ChangeEventArgs e)
    {
        var identifier = FieldIdentifier.Create(field);

        // Try parse
        int? value = null;
        if (!string.IsNullOrWhiteSpace(e.Value?.ToString()) &&
            int.TryParse(e.Value?.ToString(), out var v))
        {
            value = v;
        }

        // 1️⃣ Update the actual model field
        var memberExpr = (MemberExpression)field.Body;
        var prop = (PropertyInfo)memberExpr.Member;
        prop.SetValue(block_9a, value);

        if (block_9a != null)
        {
            block_9a.item_1_6 = (block_9a.item_1_1 ?? 0) + (block_9a.item_1_2 ?? 0) + (block_9a.item_1_3 ?? 0) + (block_9a.item_1_4 ?? 0) + (block_9a.item_1_5 ?? 0);
        }

        // 2️⃣ Clear previous errors
        messageStore?.Clear(identifier);

        // 3️⃣ Notify Blazor validation system
        editContext?.NotifyFieldChanged(identifier);
    }

    private async Task Save(bool is_go_next = false)
    {
        try
        {
            if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {
                NavigationManager.NavigateTo("/dashboard/his/block_9b");
                return;
            }

            messageStore.Clear();
            var validation = Validator.Validate(block_9a);

            foreach (var error in validation.Errors)
            {
                var fieldIdentifier = new FieldIdentifier(block_9a, error.PropertyName);
                messageStore.Add(fieldIdentifier, error.ErrorMessage);
            }
            editContext.NotifyValidationStateChanged();

            if (!validation.IsValid)
            {
                toastService.ShowError("Please resolve all the errors");
                return;
            }
            else
            {
                int saved = await dB.Save_SCH_HIS_Block9a(block_9a);
                if (saved > 0)
                {
                    toastService.ShowSuccess("Saved successfully");
                }
                else
                {
                    toastService.ShowSuccess("Data could not be saved");
                }
            }

            if (!is_go_next)
            {
                return;
            }
            if (block_1 != null)
            {
                await dB.SaveAsync<Tbl_Block_1>(block_1);
            }
            
                NavigationManager.NavigateTo("/dashboard/his/block_9b");
            
        }
        catch (Exception ex)
        {

        }
    }
}
