@page "/dashboard/his/block_8a"
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@using FluentValidation
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Viewmodels
@using Microsoft.AspNetCore.Components.Forms
@using System.Linq.Expressions
@using System.Reflection
@inject IJSRuntime JSRuntime
@inject IValidator<Tbl_Block_8> Validator
@inject Warning_VM warningVM
@inject ILoggingService loggingService

@if (editContext != null)
{
    <EditForm EditContext="editContext">
        <div class="main-content">
            <CommonContentHeader SelectedFsuId="@SelectedFsuId" survey_time="@survey_time" />
            <div class="card custom-card">
                <div class="card-header">
                    <h3 class="card-title">
                        <span class="text-primary me-1">Block 8:</span>Income from Transfer receipts
                    </h3>
                @* add comment *@
                @if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
                {

                    <div class="card-tools d-flex justify-content-end align-items-end p-2">
                        <NavLink class="btn btn-primary"><i class="fi fi-rr-comment-alt me-2"></i>Comment</NavLink>
                    </div>
                }
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">
                            <table class="table table-bordered mb-0 align-middle">
                                <thead>
                                    <tr style="border-bottom:1px solid #2471DD;">
                                        <th class="text-center">Q.no.</th>
                                        <th class="text-center">Question description</th>
                                        <th class="text-center">Reference Period </th>
                                        <th class="text-center">Amount received (in whole no. of Rs.)</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr class="row-light-blue">
                                        <td>
                                            <label class="form-label"><span class="form-badge">Q8.1</span></label>
                                        </td>
                                        <td>Pension (payments received from companies/government after retirement)</td>
                                        <td>Last month</td>
                                        <td>
                                            <input type="number" class="form-control form-control-sm no-spinner" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)" 
                                            value="@model.item_1" @oninput="e => UpdateFieldAndValidate(() => model.item_1, e)" />
                                            <ValidationMessage For="() => model.item_1" />
                                            @if (!string.IsNullOrEmpty(item_1_warning))
                                            {
                                                <div class="form-text text-success">
                                                    @item_1_warning
                                                </div>
                                            }
                                        </td>
                                    </tr>

                                    <tr class="row-light-blue">
                                        <td>
                                            <label class="form-label"><span class="form-badge">Q8.2</span></label>
                                        </td>
                                        <td>Transfers receipts from other households in the form of family support payments (such as alimony, child and parental support), regular receipts from inheritances and trust funds, regular monetary gifts received</td>
                                        <td>Last month</td>
                                        <td>
                                            <input type="number" class="form-control form-control-sm no-spinner" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)" 
                                            value=@model.item_2 @oninput="e => UpdateFieldAndValidate(() => model.item_2, e)"/>
                                            <ValidationMessage For="() => model.item_2" />
                                            @if (!string.IsNullOrEmpty(item_2_warning))
                                            {
                                                <div class="form-text text-success">
                                                    @item_2_warning
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                    <tr class="row-light-pink">
                                        <td>
                                            <label class="form-label"><span class="form-badge">Q8.3</span></label>
                                        </td>
                                        <td>Remittances received from abroad and financial support received from other households</td>
                                        <td>Last 365 days</td>
                                        <td>
                                            <input type="number" class="form-control form-control-sm no-spinner" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)" 
                                            value=@model.item_3 @oninput="e => UpdateFieldAndValidate(() => model.item_3, e)"/>
                                            <ValidationMessage For="() => model.item_3" />
                                            @if (!string.IsNullOrEmpty(item_3_warning))
                                            {
                                                <div class="form-text text-success">
                                                    @item_3_warning
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                    <tr class="row-light-pink">
                                        <td>
                                            <label class="form-label"><span class="form-badge">Q8.4</span></label>
                                        </td>
                                        <td>Stipend, scholarship (includes Government stipend)</td>
                                        <td>Last 365 days</td>
                                        <td>
                                            <input type="number" class="form-control form-control-sm no-spinner" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)" 
                                            value=@model.item_4  @oninput="e => UpdateFieldAndValidate(() => model.item_4, e)"/>
                                            <ValidationMessage For="() => model.item_4" />   
                                        </td>
                                    </tr>
                                    <tr class="row-light-pink">
                                        <td>
                                            <label class="form-label"><span class="form-badge">Q8.5</span></label>
                                        </td>
                                        <td>Retirement benefits including gratuity, social security benefits, CGEGIS etc. (excluding maturity value of PF, lump sum leave encashment received at the time of retirement)</td>
                                        <td>Last 365 days</td>
                                        <td>
                                            <input type="number" class="form-control form-control-sm no-spinner" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                value=@model.item_5 @oninput="e => UpdateFieldAndValidate(() => model.item_5, e)" />
                                            <ValidationMessage For="() => model.item_5" />   
                                        </td>
                                    </tr>

                                </tbody>
                    
                        </table>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <!-- Remarks textarea -->
            <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">
                <div class="card custom-card">
                    <div class="card-header">
                        <h3 class="card-title">Remarks</h3>
                    </div>
                    <div class="card-body">
                        <textarea maxlength="500" class="form-control" @bind="block_1.block_8a_remark" id="remarksTextarea" rows="2" placeholder="Enter your remarks here..." oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '')"></textarea>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="col-sm-6">
                    <div class="d-flex">
                        <NavLink class="btn btn-outline-secondary" @onclick="GoBack">
                            <i class="fi fi-rr-angle-left me-1"></i>Back
                        </NavLink>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex align-items-center justify-content-end">
                        @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                        {
                            <button @onclick="() => ValidateAndSave(false)" class="btn btn-outline-primary me-2 is_sso action">
                                <i class="fi fi-rr-disk me-1"></i>Save
                            </button>
                        }
                        <button @onclick="(() => ValidateAndSave(true))" class="btn btn-primary">
                            Next<i class="fi fi-rr-angle-right ms-1"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>    
} 

<CommentModal @ref="commentModal"
              MemberList=null
              QuestionList="@(new List<string>(){"1","2","3","4","5"})"
              Block="8A" />

@code {
    int SelectedFsuId = SessionStorage.SelectedFSUId;
    private CommonConfig commonConfig = new CommonConfig();
    private DBQueries dB = new();
    DateTime survey_time = DateTime.Now;
    private Tbl_Block_8? model;
    private Tbl_Block_1? block_1 = new();
    CommonQueries commonQueries = new();
    EditContext editContext;
    ValidationMessageStore messageStore;
    private string? remarks = string.Empty;
    CommentModal commentModal = default!;
    private List<Tbl_Block_3> MemberList = [];


    string item_1_warning = string.Empty;
    string item_2_warning = string.Empty;
    string item_3_warning = string.Empty;


    void CheckWarning()
    {
        item_1_warning = string.Empty;
        item_2_warning = string.Empty;
        item_3_warning = string.Empty;
        //W057
        if (MemberList.Any(x => x.item_8 == 11 || x.item_9 == 11 || x.item_10 == 11 || x.item_11 == 11) && (model?.item_1.GetValueOrDefault() <= 0))
        {
            item_1_warning = "W057: Invalid Entry, please check the entry recorded in Q8.1";
        }
        //W058
        if (MemberList.Any(x => x.item_8 == 12 || x.item_9 == 12 || x.item_10 == 12 || x.item_11 == 12) && (model?.item_2.GetValueOrDefault() <= 0))
        {
            item_2_warning = "W058: Invalid Entry, please check the entry recorded in Q8.2";
        }
        //W058
        if (MemberList.Any(x => x.item_8 == 12 || x.item_9 == 12 || x.item_10 == 12 || x.item_11 == 12) && (model?.item_3.GetValueOrDefault() <= 0))
        {
            item_3_warning = "W058: Invalid Entry, please check the entry recorded in Q8.3";
        }

    }


    async Task GoBack()
    {
        await JSRuntime.InvokeVoidAsync("__handleGoBack");
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            model = await dB.Fetch_SCH_HIS_Block8(SessionStorage.selected_hhd_id) ?? null;
            if(model == null)
            {
                model = new Tbl_Block_8
                {
                    hhd_id = SessionStorage.selected_hhd_id,
                    fsu_id = SelectedFsuId,
                    id = Guid.NewGuid()
                };
            }
            editContext = new EditContext(model);
            messageStore = new ValidationMessageStore(editContext);
            editContext.OnFieldChanged += EditContext_OnFieldChanged;

            StateHasChanged();
        }
        catch (Exception ex)
        {
            await loggingService.LogError("HIS Block 8 OnInitializedAsync", ex);
        }
        block_1 = await dB.FetchSingleForFsuAndHhdAsync<Tbl_Block_1>() ?? null;
        MemberList = await dB.Fetch_SCH_HIS_Block3(SessionStorage.selected_hhd_id);
        CheckWarning();
        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
        {
            block_uri = "/dashboard/his/block_8a",
            block_title = "HIS Block 8a",
            block_code = CommonEnum.his_block_8a.ToString(),
        };
        await commonQueries.InsertVisitedBlock(vb);
        if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO && model != null)
        {
            survey_time = model.survey_timestamp.GetValueOrDefault();
        }
        StateHasChanged();
    }

    private void EditContext_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        // Clear validation messages for this specific field
        messageStore.Clear(e.FieldIdentifier);

        // Update validation state
        editContext.NotifyValidationStateChanged();
    }

    private void UpdateFieldAndValidate(Expression<Func<int?>> field, ChangeEventArgs e)
    {
        var identifier = FieldIdentifier.Create(field);

        // Try parse
        int? value = null;
        if (!string.IsNullOrWhiteSpace(e.Value?.ToString()) &&
            int.TryParse(e.Value?.ToString(), out var v))
        {
            value = v;
        }
        var memberExpr = (MemberExpression)field.Body;
        var prop = (PropertyInfo)memberExpr.Member;
        prop.SetValue(model, value);
        CheckWarning();
        messageStore.Clear(identifier);
        editContext.NotifyFieldChanged(identifier);

    }

    private async Task ValidateAndSave(bool is_go_next = false)
    {
        try
        {
            if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {
                NavigationManager.NavigateTo("/dashboard/his/block_8b");
                return;
            }

            messageStore.Clear();
            var validation = Validator.Validate(model);

            foreach (var error in validation.Errors)
            {
                var fieldIdentifier = new FieldIdentifier(model, error.PropertyName);
                messageStore.Add(fieldIdentifier, error.ErrorMessage);
            }
            editContext.NotifyValidationStateChanged();

            if (!validation.IsValid)
            {
                toastService.ShowError("Please resolve all the errors");
                return;
            }
            else
            {
                int saved = await dB.Save_SCH_HIS_Block8(model);
                if (saved > 0)
                {
                    toastService.ShowSuccess("Saved successfully");
                }
                else
                {
                    toastService.ShowSuccess("Data could not be saved");
                }
            }

            if (!string.IsNullOrEmpty(item_1_warning))
            {
                warningVM.AddWarning(item_1_warning, "HIS", "8", "1", SessionStorage.selected_hhd_id);
            }
            if (!string.IsNullOrEmpty(item_2_warning))
            {
                warningVM.AddWarning(item_2_warning, "HIS", "8", "2", SessionStorage.selected_hhd_id);
            }
            if (!string.IsNullOrEmpty(item_3_warning))
            {
                warningVM.AddWarning(item_3_warning, "HIS", "8", "3", SessionStorage.selected_hhd_id);
            }
            await warningVM.SaveWarningAsync("HIS", "8");

            if (!is_go_next)
            {
                return;
            }
            if (block_1 != null)
            {
                await dB.SaveAsync<Tbl_Block_1>(block_1);
            }
            NavigationManager.NavigateTo("/dashboard/his/block_8b");
         
        }
        catch (Exception ex)
        {
            //await loggingService.LogError("HIS Block 8 ValidateAndSave", ex);
        }
    }
}
