@page "/dashboard/his/block_9b"
@using Blazored.FluentValidation
@using FluentValidation
@using Income.Common.HIS2026
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Validators.HIS2026
@using Income.Viewmodels
@using System.Linq.Expressions
@using System.Reflection
@inject IJSRuntime JSRuntime
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject Comment_vm comment_vm
@inject Warning_VM warning_VM
@inject LocalizationService Loc

<div class="main-content">
    <CommonContentHeader SelectedFsuId="@SessionStorage.SelectedFSUId" survey_time="@survey_time" />

    @if (editContext != null)
    {
        <EditForm EditContext="editContext">
            <div class="card custom-card">
                <div class="card-header">
                    <h3 class="card-title">
                        <span class="text-primary me-2">Block 9:</span>Income from Asset
                    </h3>
                    @* add comment *@
                    @if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
                    {

                        <div class="card-tools d-flex justify-content-end align-items-end p-2">
                            <NavLink class="btn btn-primary" onclick="@(() => commentModal.Open())"><i class="fi fi-rr-comment-alt me-2"></i>Comment</NavLink>
                        </div>
                    }
                </div>
                <div class="card-header">
                    <h3 class="card-title">
                        B. Income from non-financial assets
                    </h3>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">

                        <table class="table table-bordered align-middle mb-0">
                            <thead>
                                <tr>
                                    <th colspan="5" class="bg-transparent text-start">
                                        <label class="form-label fw-bold mb-0">
                                            <span class="form-badge">Q9.5</span>
                                            Income from Produced Non-Financial Items
                                        </label>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="width: 50px;" class="text-center">S. No.</th>
                                    <th class="text-center">Item description</th>
                                    <th class="text-center">Number of months rented during last 365 days</th>
                                    <th class="text-center">Average monthly rent received (in Rs.)</th>
                                    <th class="text-center">Expenses incurred on repair and maintenance, insurance cost etc. (in Rs.) during 'last 365 days'</th>
                                </tr>
                                <tr>
                                    <th class="text-center">(1)</th>
                                    <th class="text-center">(2)</th>
                                    <th class="text-center">(3)</th>
                                    <th class="text-center">(4)</th>
                                    <th class="text-center">(5)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Dwelling</td>
                                    <td>
                                        <input type="number" class="form-control form-control-sm no-spinner" value="@block_9b?.item_5_1_3" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                               @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_9b.item_5_1_3, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_9b.item_5_1_3)" />
                                      </td>
                                      <td>
                                          <input type="number" class="form-control form-control-sm no-spinner" value="@block_9b?.item_5_1_4" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_9b.item_5_1_4, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_9b.item_5_1_4)" />
                                      </td>
                                      <td>
                                          <input type="number" class="form-control form-control-sm no-spinner" value="@block_9b?.item_5_1_5" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_9b.item_5_1_5, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_9b.item_5_1_5)" />
                                      </td>
                                  </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Building and other structure (excluding dwelling)</td>
                                    <td>
                                        <input type="number" class="form-control form-control-sm no-spinner" value="@block_9b?.item_5_2_3" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                @oninput="e =>
                                            {
                                                UpdateFieldAndValidate(() => block_9b.item_5_2_3, e);
                                            }" />
                                        <ValidationMessage For="@(() => block_9b.item_5_2_3)" />
                                    </td>
                                    <td>
                                        <input type="number" class="form-control form-control-sm no-spinner" value="@block_9b?.item_5_2_4" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                @oninput="e =>
                                            {
                                                UpdateFieldAndValidate(() => block_9b.item_5_2_4, e);
                                            }" />
                                        <ValidationMessage For="@(() => block_9b.item_5_2_4)" />
                                    </td>
                                    <td>
                                        <input type="number" class="form-control form-control-sm no-spinner" value="@block_9b?.item_5_2_5" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                @oninput="e =>
                                            {
                                                UpdateFieldAndValidate(() => block_9b.item_5_2_5, e);
                                            }" />
                                        <ValidationMessage For="@(() => block_9b.item_5_2_5)" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Hired-out machinery and equipment</td>
                                    <td>
                                        <input type="number" class="form-control form-control-sm no-spinner" value="@block_9b?.item_5_3_3" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                @oninput="e =>
                                            {
                                                UpdateFieldAndValidate(() => block_9b.item_5_3_3, e);
                                            }" />
                                        <ValidationMessage For="@(() => block_9b.item_5_3_3)" />
                                    </td>
                                    <td>
                                        <input type="number" class="form-control form-control-sm no-spinner" value="@block_9b?.item_5_3_4" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                @oninput="e =>
                                            {
                                                UpdateFieldAndValidate(() => block_9b.item_5_3_4, e);
                                            }" />
                                        <ValidationMessage For="@(() => block_9b.item_5_3_4)" />
                                    </td>
                                    <td>
                                        <input type="number" class="form-control form-control-sm no-spinner" value="@block_9b?.item_5_3_5" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                @oninput="e =>
                                            {
                                                UpdateFieldAndValidate(() => block_9b.item_5_3_5, e);
                                            }" />
                                        <ValidationMessage For="@(() => block_9b.item_5_3_5)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </fieldset>

                    </div>
                </div>
            </div>

            @* 7.3, 7.4 .... *@
            <div class="card custom-card">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">

                        <table class="table table-bordered align-middle mb-0">
                            <tbody>
                                <tr class="row-light-pink">
                                    <td>
                                        <label class="form-label mb-0"><span class="form-badge">Q9.6</span></label>
                                    </td>
                                    <td>Income earned from leasing out land (including agricultural land, gazing land, lawn etc.) and other natural resources like ponds, orchards, plantations etc.</td>
                                    <td rowspan="2">Last 365 days</td>
                                    <td>
                                        <input type="number" class="form-control form-control-sm no-spinner" value="@block_9b?.item_6" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                               @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_9b.item_6, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_9b.item_6)" />
                                    </td>
                                </tr>
                                <tr class="row-light-pink">
                                    <td>
                                        <label class="form-label mb-0"><span class="form-badge">Q9.7</span></label>
                                    </td>
                                    <td>Income earned from licensing the use of intellectual property (includes the return for services of patented or copyright material, e.g. receipts from writings, right to make use of inventions, etc.)</td>
                                    
                                    <td>
                                        <input type="number" class="form-control form-control-sm no-spinner" value="@block_9b?.item_7" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                               @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_9b.item_7, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_9b.item_7)" />
                                      </td>
                                </tr>
                            </tbody>
                              @if (!string.IsNullOrEmpty(item_9_6_warning))
                              {
                                  <tfoot>
                                      <tr>
                                        <td colspan="4">
                                            <div class="alert custom-alert alert-success" role="alert">
                                                @item_9_6_warning
                                            </div>
                                        </td>
                                      </tr>
                                  </tfoot>
                            }
                          </table>
                        </fieldset>
                      </div>
                  </div>
              </div>
        </EditForm>

    }
</div>
<div class="footer">

    @* Remarks Card *@
    <div class="card custom-card">
        <div class="card-header">
            <h5 class="card-title">
                Remarks
            </h5>
        </div>
        <div class="card-body">
            <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">
                <textarea maxlength="500" class="form-control w-100" rows="2" @bind="block_1.block_9b_remark" placeholder="Enter your remarks here..." oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '')"></textarea>
            </fieldset>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-outline-secondary" @onclick="GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end">
                @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                {
                    
                <NavLink class="btn btn-outline-primary me-2" @onclick="@(() => Save(false))"><i class="fi fi-rr-disk me-1"></i>Save</NavLink>
                }
                <NavLink class="btn btn-primary" @onclick="@(() => Save(true))">Next<i class="fi fi-rr-angle-right ms-1"></i></NavLink>
            </div>
        </div>
    </div>
</div>

<CommentModal @ref="commentModal"
              MemberList="@(new List<int>(){1,2,3})"
              QuestionList="@(new List<string>(){"9.5(2)","9.5(3)","9.5(4)","9.5(5)","9.6","9.7"})"
              Block="9B" />


@code {
    private Modal modal = default!;
    private Tbl_Block_9b? block_9b = new();
    private List<Tbl_Block_3> MemberList = [];
    private Tbl_Block_1? block_1 = new();
    CommonQueries commonQueries = new();
    EditContext editContext;
    ValidationMessageStore messageStore;
    DBQueries dB = new();
    bool isAdd;
    DateTime survey_time = DateTime.Now;
    string remarks = string.Empty;
    string item_9_6_warning = string.Empty;
    CommentModal commentModal = default!;

    async Task GoBack()
    {
        await JSRuntime.InvokeVoidAsync("__handleGoBack");
    }
    protected override async Task OnInitializedAsync()
    {
        MemberList = await dB.Fetch_SCH_HIS_Block3(SessionStorage.selected_hhd_id);
        block_9b = await dB.Fetch_SCH_HIS_Block9B(SessionStorage.selected_hhd_id);
        block_1 = await dB.FetchSingleForFsuAndHhdAsync<Tbl_Block_1>() ?? null;

        if (block_9b == null)
        {
            block_9b = new();
            block_9b.id = Guid.NewGuid();
        }
        editContext = new EditContext(block_9b);
        messageStore = new ValidationMessageStore(editContext);
        editContext.OnFieldChanged += EditContext_OnFieldChanged;
        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
        {
            block_uri = "/dashboard/his/block_9b",
            block_title = "HIS Block 9b",
            block_code = CommonEnum.his_block_9b.ToString(),
        };
        await commonQueries.InsertVisitedBlock(vb);
        if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            survey_time = block_9b.survey_timestamp.GetValueOrDefault();
        }
        StateHasChanged();
    }

    private void EditContext_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        // Clear validation messages for this specific field
        messageStore.Clear(e.FieldIdentifier);

        // Update validation state
        editContext.NotifyValidationStateChanged();
    }


    private void UpdateFieldAndValidate(Expression<Func<int?>> field, ChangeEventArgs e)
    {
        try
        {
            var identifier = FieldIdentifier.Create(field);

            // Try parse
            int? value = null;
            if (!string.IsNullOrWhiteSpace(e.Value?.ToString()) &&
                int.TryParse(e.Value?.ToString(), out var v))
            {
                value = v;
            }

            // 1️⃣ Update the actual model field
            var memberExpr = (MemberExpression)field.Body;
            var prop = (PropertyInfo)memberExpr.Member;
            prop.SetValue(block_9b, value);

            CheckWarning();

            // 2️⃣ Clear previous errors
            messageStore?.Clear(identifier);

            // 3️⃣ Notify Blazor validation system
            editContext?.NotifyFieldChanged(identifier);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }

    void CheckWarning()
    {
        item_9_6_warning = string.Empty;
        if (MemberList.Any(x => x.item_8 == 10 || x.item_9 == 10 || x.item_10 == 10 || x.item_11 == 10) && (block_9b?.item_6.GetValueOrDefault() <= 0 || block_9b?.item_7.GetValueOrDefault() <= 0))
        {
            item_9_6_warning = "W067: Please check the entry recorded against cols. 8-11";
        }
    }

    private async Task Save(bool is_go_next = false)
    {
        try
        {
            if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {
                NavigationManager.NavigateTo("/dashboard/his/block_10");
                return;
            }
            messageStore.Clear();

            var validator = new Block_9b_Validator(MemberList);
            var validation = validator.Validate(block_9b);

            foreach (var error in validation.Errors)
            {
                var fieldIdentifier = new FieldIdentifier(block_9b, error.PropertyName);
                messageStore.Add(fieldIdentifier, error.ErrorMessage);
            }
            editContext.NotifyValidationStateChanged();

            if (!validation.IsValid)
            {
                toastService.ShowError("Please resolve all the errors");
                return;
            }
            else
            {
                int saved = await dB.Save_SCH_HIS_Block9B(block_9b);
                if (saved > 0)
                {
                    toastService.ShowSuccess("Saved successfully");
                }
                else
                {
                    toastService.ShowSuccess("Data could not be saved");
                }
            }

            if (!string.IsNullOrEmpty(item_9_6_warning))
            {
                warning_VM.AddWarning(item_9_6_warning, "HIS", "9B", "9.6", SessionStorage.selected_hhd_id);
            }
            await warning_VM.SaveWarningAsync("HIS", "9B");

            if (!is_go_next)
            {
                return;
            }
            if (block_1 != null)
            {
                await dB.SaveAsync<Tbl_Block_1>(block_1);
            }
            NavigationManager.NavigateTo("/dashboard/his/block_10");
            
        }
        catch (Exception ex)
        {

        }
    }
}
