@page "/dashboard/his/block_7c_2"
@using Blazored.FluentValidation
@using FluentValidation
@using Income.Common.HIS2026
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Validators.HIS2026
@using Income.Viewmodels
@using System.Linq.Expressions
@using System.Reflection
@inject IJSRuntime JSRuntime
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject Comment_vm comment_vm
@inject LocalizationService Loc
@inject IValidator<Tbl_Block_7c_Q10> Validator

<div class="main-content">
    <CommonContentHeader SelectedFsuId="@SessionStorage.SelectedFSUId"
                         survey_time="@survey_date" />
    @* 7.9 *@
    <div class="card custom-card">
        <div class="card-header">
            <h5 class="card-title">
                <span class="text-primary me-1">Block 7.3:</span>
                Income from Self-employment - Non-agriculture Activity
            </h5>
            @* add comment *@
            @if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {

                <div class="card-tools d-flex justify-content-end align-items-end p-2">
                    <NavLink class="btn btn-primary"><i class="fi fi-rr-comment-alt me-2"></i>Comment</NavLink>
                </div>
            }
        </div>
        <div class="row px-3 py-2">
            <div class="col">
                For Non-Agricultural Establishment <span class="text-primary">(entry against col. 8 or col. 9 is code 2 for at least one member of the household) </span>
            </div>

        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-bordered align-middle text-center mb-0">
                    <thead>
                        <tr>
                            <th colspan="13" class="bg-transparent text-start">
                                <label class="form-label fw-bold m-0">
                                    <span class="badge bg-primary me-1">Q7.9</span>
                                    Operating Cost (expenses incurred by the household on inputs used for production activity) during last month
                                </label>
                            </th>
                        </tr>
                        <tr>
                            <th style="min-width:50px;">sl. no.</th>
                            <th style="min-width:150px;">raw materials (including goods purchased for trading)</th>
                            <th style="min-width:150px;">electricity, diesel, other fuel and water charges</th>
                            <th style="min-width:100px;">internet charges and other related expenses</th>
                            <th style="min-width:100px;">rent for land, building, etc.</th>
                            <th style="min-width:100px;">rental charge of machinery and equipment</th>
                            <th style="min-width:100px;">transportation cost</th>
                            <th style="min-width:100px;">labour cost</th>
                            <th style="min-width:100px;">repair and maintenance</th>
                            <th style="min-width:100px;">interest payment and insurance cost</th>
                            <th style="min-width:100px;">others</th>
                            <th style="min-width:100px;">total (sum of entries at s. nos. 01-10</th>
                            <th style="min-width:150px;">Action</th>
                        </tr>

                        <tr>
                            <th></th>
                            <th>(1)</th>
                            <th>(2)</th>
                            <th>(3)</th>
                            <th>(4)</th>
                            <th>(5)</th>
                            <th>(6)</th>
                            <th>(7)</th>
                            <th>(8)</th>
                            <th>(9)</th>
                            <th>(10)</th>
                            <th>(11)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ActivityList != null && ActivityList.Count > 0)
                        {
                            foreach (var item in ActivityList)
                            {
                                if (item.is_deleted != true)
                                {
                                    <tr>
                                        <td>@item.serial_number</td>
                                        <td>@item.item_10_1</td>
                                        <td>@item.item_10_2</td>
                                        <td>@item.item_10_3</td>
                                        <td>@item.item_10_4</td>
                                        <td>@item.item_10_5</td>
                                        <td>@item.item_10_6</td>
                                        <td>@item.item_10_7</td>
                                        <td>@item.item_10_8</td>
                                        <td>@item.item_10_9</td>
                                        <td>@item.item_10_10</td>
                                        <td>@item.item_10_11</td>

                                        <td class="d-flex align-items-center">
                                            @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                                            {
                                                
                                            <button class="btn btn-link fs-6 me-2"
                                                    @onclick="@(() => HandleModal("UPDATE", item))">
                                                <i class="fi fi-rr-pencil"></i>
                                            </button>
                                            }
                                            @* <button class="btn btn-link fs-6 text-danger"
                                                    @onclick="@(() => HandleDelete(item.id))">
                                                <i class="fi fi-rr-trash"></i>
                                            </button> *@
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-outline-secondary" onclick="@GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end">
                <NavLink class="btn btn-primary" @onclick="() => Next()">Next<i class="fi fi-rr-angle-right ms-1"></i></NavLink>
            </div>
        </div>

    </div>
</div>

<Modal @ref="AddModal" CloseOnEscape="false" UseStaticBackdrop="true" ShowCloseButton="false" Size="ModalSize.ExtraLarge" Fullscreen="ModalFullscreen.MediumDown">
    <HeaderTemplate>
        <h5 class="modal-title">Operating Cost (expenses incurred by the household on inputs used for production activity) during last month</h5>
    </HeaderTemplate>
    <BodyTemplate>
        @if (editContext != null)
        {
            <EditForm EditContext="editContext">
                <div class="row">

                    <!-- 1 -->
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label"><span class="form-badge">1</span>Raw materials (including goods purchased for trading)</label>
                            <input class="form-control" value="@fields.item_10_1" disabled="@SessionStorage.FSU_Submitted"
                                    @oninput="e => { UpdateFieldAndValidate(() => fields.item_10_1, e); }" />
                            <ValidationMessage For="@(() => fields.item_10_1)" />
                        </div>
                    </div>

                    <!-- 2 -->
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label"><span class="form-badge">2</span>Electricity, diesel, other fuel and water charges</label>
                            <input class="form-control" value="@fields.item_10_2" disabled="@SessionStorage.FSU_Submitted"
                                    @oninput="e => { UpdateFieldAndValidate(() => fields.item_10_2, e); }" />
                            <ValidationMessage For="@(() => fields.item_10_2)" />
                        </div>
                    </div>

                    <!-- 3 -->
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label"><span class="form-badge">3</span>Internet charges and other related expenses</label>
                            <input class="form-control" value="@fields.item_10_3" disabled="@SessionStorage.FSU_Submitted"
                                    @oninput="e => { UpdateFieldAndValidate(() => fields.item_10_3, e); }" />
                            <ValidationMessage For="@(() => fields.item_10_3)" />
                        </div>
                    </div>

                    <!-- 4 -->
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label"><span class="form-badge">4</span>Rent for land, building, etc.</label>
                            <input class="form-control" value="@fields.item_10_4" disabled="@SessionStorage.FSU_Submitted"
                                    @oninput="e => { UpdateFieldAndValidate(() => fields.item_10_4, e); }" />
                            <ValidationMessage For="@(() => fields.item_10_4)" />
                        </div>
                    </div>

                    <!-- 5 -->
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label"><span class="form-badge">5</span>Rental charge of machinery and equipment</label>
                            <input class="form-control" value="@fields.item_10_5" disabled="@SessionStorage.FSU_Submitted"
                                    @oninput="e => { UpdateFieldAndValidate(() => fields.item_10_5, e); }" />
                            <ValidationMessage For="@(() => fields.item_10_5)" />
                        </div>
                    </div>

                    <!-- 6 -->
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label"><span class="form-badge">6</span>Transportation cost</label>
                            <input class="form-control" value="@fields.item_10_6" disabled="@SessionStorage.FSU_Submitted"
                                    @oninput="e => { UpdateFieldAndValidate(() => fields.item_10_6, e); }" />
                            <ValidationMessage For="@(() => fields.item_10_6)" />
                        </div>
                    </div>

                    <!-- 7 -->
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label"><span class="form-badge">7</span>Labour cost</label>
                            <input class="form-control" value="@fields.item_10_7" disabled="@SessionStorage.FSU_Submitted"
                                    @oninput="e => { UpdateFieldAndValidate(() => fields.item_10_7, e); }" />
                            <ValidationMessage For="@(() => fields.item_10_7)" />
                        </div>
                    </div>

                    <!-- 8 -->
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label"><span class="form-badge">8</span>Repair and maintenance</label>
                            <input class="form-control" value="@fields.item_10_8" disabled="@SessionStorage.FSU_Submitted"
                                    @oninput="e => { UpdateFieldAndValidate(() => fields.item_10_8, e); }" />
                            <ValidationMessage For="@(() => fields.item_10_8)" />
                        </div>
                    </div>

                    <!-- 9 -->
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label"><span class="form-badge">9</span>Interest payment and insurance cost</label>
                            <input class="form-control" value="@fields.item_10_9" disabled="@SessionStorage.FSU_Submitted"
                                    @oninput="e => { UpdateFieldAndValidate(() => fields.item_10_9, e); }" />
                            <ValidationMessage For="@(() => fields.item_10_9)" />
                        </div>
                    </div>

                    <!-- 10 -->
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label"><span class="form-badge">10</span>Others</label>
                            <input class="form-control" value="@fields.item_10_10" disabled="@SessionStorage.FSU_Submitted"
                                    @oninput="e => { UpdateFieldAndValidate(() => fields.item_10_10, e); }" />
                            <ValidationMessage For="@(() => fields.item_10_10)" />
                        </div>
                    </div>

                    <!-- 11 (Total) -->
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label"><span class="form-badge">11</span>Total (sum of entries at s. nos. 01–10)</label>
                            <input class="form-control" value="@fields.item_10_11" disabled
                                    @oninput="e => { UpdateFieldAndValidate(() => fields.item_10_11, e); }" />
                            <ValidationMessage For="@(() => fields.item_10_11)" />
                        </div>
                    </div>
                </div>
            </EditForm>
        }
    </BodyTemplate>
    <FooterTemplate>
        <button type="button" class="btn btn-outline-secondary me-auto"
                @onclick="@(() => HandleModal("CLOSE"))">
            Close
        </button>
        <button type="button" @onclick="@(() => Save())" class="btn btn-primary">Save</button>
    </FooterTemplate>
</Modal>

@code {
    DateTime survey_date = DateTime.Now;
    Modal AddModal = default!;
    Tbl_Block_7c_Q10 fields = new();
    CommonQueries commonQueries = new();

    List<Tbl_Block_7c_NIC> NICFields = [];
    List<Tbl_Block_7c_Q10> ActivityList = [];
    EditContext editContext;
    string remarks = string.Empty;
    DBQueries dQ = new();
    bool Q9Needed = false;
    ValidationMessageStore messageStore;

    async void GoBack()
    {
        await JSRuntime.InvokeVoidAsync("__handleGoBack");
        return;
    }

    protected override async Task OnInitializedAsync()
    {

        if (SessionStorage.role_name != CommonConstants.ROLE_NAME_JSO)
        {
            await JSRuntime.InvokeVoidAsync("__disableFieldsAndButtons");
        }

        var block3 = await dQ.Fetch_SCH_HIS_Block3(SessionStorage.selected_hhd_id);
        if (block3 != null && block3.Count > 0)
        {
            Q9Needed = block3.Any(x => x.item_8 == 2 || x.item_9 == 2);
        }
        NICFields = await dQ.Fetch_SCH_HIS_Block7_NICList();
        ActivityList = await dQ.Fetch_SCH_HIS_Block7_Q10_List();

        if(NICFields.Count > 0 && ActivityList.Count == 0)
        {
            int sl = 1;
            foreach (var item in NICFields)
            {
                //create one entry each for NICFields entry
                Tbl_Block_7c_Q10 obj = new();
                obj.id = Guid.NewGuid();
                obj.parent_id = item.id;
                obj.serial_number = sl++;
                await dQ.Save_SCH_HIS_Block7_Q10_List(obj);
            }
        }
        else if (NICFields.Count > 0 && ActivityList.Count > 0 && NICFields.Count != ActivityList.Count)
        {
            foreach(var item in NICFields)
            {
                var itemExists = ActivityList.Any(x => x.parent_id == item.id);
                if (!itemExists)
                {
                    Tbl_Block_7c_Q10 obj = new();
                    obj.id = Guid.NewGuid();
                    obj.parent_id = item.id;
                    obj.serial_number = ActivityList.Count + 1;
                    await dQ.Save_SCH_HIS_Block7_Q10_List(obj);
                }
            }
        }
        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
        {
            block_uri = "/dashboard/his/block_7c_2",
            block_title = "HIS Block 7c_2",
            block_code = CommonEnum.his_block_7c_2.ToString(),
        };
        await LoadData();
        await commonQueries.InsertVisitedBlock(vb);
        StateHasChanged();
    }

    async Task LoadData()
    {
        // Block_4_5_ErrorMessage = string.Empty;
        ActivityList = await dQ.Fetch_SCH_HIS_Block7_Q10_List();
        StateHasChanged();
    }

    private void EditContext_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        // Clear validation messages for this specific field
        messageStore.Clear(e.FieldIdentifier);

        // Update validation state
        editContext.NotifyValidationStateChanged();
    }

    private void UpdateFieldAndValidate(Expression<Func<int?>> field, ChangeEventArgs e)
    {
        var identifier = FieldIdentifier.Create(field);

        // Try parse
        int? value = null;
        if (!string.IsNullOrWhiteSpace(e.Value?.ToString()) &&
            int.TryParse(e.Value?.ToString(), out var v))
        {
            value = v;
        }

        // 1️⃣ Update the actual model field
        var memberExpr = (MemberExpression)field.Body;
        var prop = (PropertyInfo)memberExpr.Member;
        prop.SetValue(fields, value);
        fields.item_10_11 = (fields.item_10_1 ?? 0) + (fields.item_10_2 ?? 0) + (fields.item_10_3 ?? 0) + (fields.item_10_4 ?? 0) + (fields.item_10_5 ?? 0) + (fields.item_10_6 ?? 0) + (fields.item_10_7 ?? 0) + (fields.item_10_8 ?? 0) + (fields.item_10_9 ?? 0) + (fields.item_10_10 ?? 0);

        // 2️⃣ Clear previous errors
        messageStore?.Clear(identifier);

        // 3️⃣ Notify Blazor validation system
        editContext?.NotifyFieldChanged(identifier);
    }

    async Task HandleDelete(Guid id)
    {
        int item_index = NICFields.FindIndex(l => l.id == id);
        if (item_index != -1)
        {
            NICFields[item_index].is_deleted = true;
            await dQ.DeleteBlock4_NICList(id);
            toastService.ShowSuccess("Row deleted successfully!");
            await LoadData();
        }
        else
        {
            toastService.ShowError("Not Able to delete row, Please try again!");
        }
    }



    async Task HandleModal(string action = "", Tbl_Block_7c_Q10? data = null)
    {
        try
        {
            if (action == "UPDATE")
            {
                fields = ObjectCloneHelper.CloneTbl7Q10List(data);
                editContext = new EditContext(fields);
                messageStore = new ValidationMessageStore(editContext);
                editContext.OnFieldChanged += EditContext_OnFieldChanged;
                await AddModal.ShowAsync();
            }
            else if (action == "CLOSE")
            {
                await AddModal.HideAsync();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }


    private async Task Save()
    {
        try
        {
            messageStore.Clear();
            var validation = Validator.Validate(fields);

            foreach (var error in validation.Errors)
            {
                var fieldIdentifier = new FieldIdentifier(fields, error.PropertyName);
                messageStore.Add(fieldIdentifier, error.ErrorMessage);
            }
            editContext.NotifyValidationStateChanged();
            if (validation.IsValid)
            {
                fields.isUpdated = true;
                int saved = await dQ.Save_SCH_HIS_Block7_Q10_List(fields) ?? 0;
                if (saved > 0)
                {
                    toastService.ShowSuccess("Saved successfully");
                    await AddModal.HideAsync();
                    await LoadData();
                }
                else
                {
                    toastService.ShowError("Unable to save the data");
                }
            }
            else
            {
                toastService.ShowError("Please resolve the errors");
                return;
            }
        }
        catch (Exception ex)
        {

        }
    }

    private void Next()
    {
        if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            NavigationManager.NavigateTo("/dashboard/his/block_7c_3");
            return;
        }
        if (Q9Needed && ActivityList.Any(x => !x.isUpdated))
        {
            toastService.ShowError("Please save all entries before proceeding");
            return;
        }
        else
        {
            NavigationManager.NavigateTo("/dashboard/his/block_7c_3");
        }
    }
}

