@page "/dashboard/his/block_4_2"
@using Blazored.FluentValidation
@using FluentValidation
@using Income.Common.HIS2026
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Database.Models.SCH0_0
@using Income.Validators.HIS2026
@using Income.Viewmodels
@inject IJSRuntime JSRuntime
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject Comment_vm comment_vm
@inject LocalizationService Loc
@inject IValidator<Tbl_Block_4_Q5> Validator


    <div class="main-content">
        <CommonContentHeader SelectedFsuId="@SelectedFsuId"
                             survey_time="@survey_time" />
        <div class="card custom-card">
            <div class="card-header">
                <h3 class="card-title"><span class="text-primary me-2">[4]</span>Household Characteristics</h3>
            @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
            {
            <div class="card-tools">
                    <button class="btn btn-primary is_sso"
                            @onclick="@(() => HandleModal("ADD"))"
                            disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)">
                        <i class="fi fi-rr-plus me-1"></i>Add Activity
                    </button>
                </div>
              
            }
            @* add comment *@
            @if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {

                <div class="card-tools">
                    <NavLink class="btn btn-primary"><i class="fi fi-rr-comment-alt me-2"></i>Comment</NavLink>
                </div>
            }
            </div>
            <div class="card-body p-0">
                <!--4.5-->
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered mb-0">
                        <thead>
                            <tr>
                                <th colspan="6">
                                    <label class="form-label fw-bold mb-0">
                                        <span class="form-badge">5</span>
                                        Details of non-agricultural economic activity(ies) carried out by one or more household members in last 365 days
                                    </label>
                                </th>
                            </tr>
                            <tr>
                                <th style="min-width:50px;">S. No.</th>
                                <th>Description of Activity</th>
                                <th style="min-width:100px;">NIC Code (2 digit)</th>
                                <th style="min-width:130px;">Seasonal? (Yes – 1 / No – 2)</th>
                                <th style="min-width:100px;">Months of Operation (last 365 days)</th>
                                <th style="min-width:100px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (NICfields != null && NICfields.Count > 0)
                            {
                                foreach (var item in NICfields)
                                {
                                    if (item.is_deleted != true)
                                    {
                                        <tr>
                                            <td>@item.SerialNumber</td>
                                            <td>@item.ActivityName</td>
                                            <td>@item.NicCode</td>
                                            <td>@item.BusinessSeasonal</td>
                                            <td>@item.NumberOfMonths</td>
                                        @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                                        {
                                            
                                        <td>
                                                <div class="d-flex align-items-center">
                                                    <button class="btn btn-link fs-6"
                                                            @onclick="@(() => HandleModal("UPDATE", item))">
                                                        <i class="fi fi-rr-pencil"></i>
                                                    </button>
                                                    <button class="btn btn-link fs-6 text-danger"
                                                            @onclick="@(() => HandleDelete(item.id))">
                                                        <i class="fi fi-rr-trash"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        }
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                        @if (!string.IsNullOrEmpty(Block_4_5_ErrorMessage))
                        {
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="text-center">
                                        <div class="form-text text-danger">@Block_4_5_ErrorMessage</div>
                                    </td>
                                </tr>
                            </tfoot>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-outline-secondary" onclick="@GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
            </div>
            <div class="col-sm-6">
                <div class="d-flex justify-content-end">
                    <NavLink class="btn btn-primary" @onclick="@(() => HandleSubmit(true))">Next<i class="fi fi-rr-angle-right ms-1"></i></NavLink>
                </div>
            </div>
        </div>
    </div>
<Modal @ref="AddModal" CloseOnEscape="false" UseStaticBackdrop="true" ShowCloseButton="false" Size="ModalSize.ExtraLarge" Fullscreen="ModalFullscreen.LargeDown">
    <HeaderTemplate>
        <h5 class="modal-title">Details of non-agricultural economic activity(ies) carried out by one or more household member in last 365 days</h5>
    </HeaderTemplate>
    <BodyTemplate>
        @if (fields != null)
        {
            <EditForm EditContext="editContext">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Serial Number -->
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">1</span> Serial Number of Row
                            </label>
                            <input class="form-control" value="@fields.SerialNumber" disabled />
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <!-- Activity Description -->
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">2</span> Description of activity
                            </label>
                            <input class="form-control" @bind="@fields.ActivityName" disabled />
                            <ValidationMessage For="@(() => fields.ActivityName)" />
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <!-- NIC code -->
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">3</span> NIC code (2-digit)
                            </label>
                            <select class="form-select is_sso"
                                    value="@fields.NicCode"
                                    @onchange="OnNicCodeChanged"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)">
                                <option value="">Select</option>
                                @foreach (var item in Block_4_Constants.NIC_CODES)
                                {
                                    <option value="@item.id">@item.title</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => fields.NicCode)" />
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <!-- 4 & 5 in the same row -->
                        <!-- Whether the business is seasonal -->
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">4</span> Whether the business is seasonal (yes-1 / no-2)
                            </label>
                            <select class="form-select is_sso"
                                    value="@fields.BusinessSeasonal"
                                    @onchange="BusinessSeasonalChanged"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)">
                                <option value="">Select</option>
                                @foreach (var item in Block_4_Constants.Q4_15)
                                {
                                    <option value="@item.id">@item.title</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => fields.BusinessSeasonal)" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!-- No of months -->
                        <div>
                            <label class="form-label">
                                <span class="form-badge">5</span> Number of months of operation during last 365 days
                            </label>
                            <input class="form-control"
                                   @bind="fields.NumberOfMonths"
                                   @oninput="OnMonthsInput"
                                   disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)" />
                            <ValidationMessage For="@(() => fields.NumberOfMonths)" />
                        </div>
                    </div>
                </div>
            </EditForm>
        }
    </BodyTemplate>
    <FooterTemplate>
        <button type="button" class="btn btn-outline-secondary me-auto"
                @onclick="@(() => HandleModal("CLOSE"))">
            Close
        </button>
        <button type="button" @onclick="@(() => Validate())" class="btn btn-primary">Save</button>
    </FooterTemplate>
</Modal>


@code {
    EditContext editContext = default!;
    ValidationMessageStore messageStore = default!;
    Modal AddModal = default!;
    int SelectedFsuId = SessionStorage.SelectedFSUId;
    private CommonConfig commonConfig = new CommonConfig();
    CommonQueries commonQueries = new();
    DateTime survey_time = DateTime.Now;
    DBQueries dQ = new();
    int hhdStatus = 0;
    Tbl_Sch_0_0_Block_7 hhd = new();
    Tbl_Block_3 block_3 = new();
    Tbl_Block_4? block_4;
    Tbl_Block_4_Q5? fields = new();
    List<Tbl_Block_4_Q5> NICfields = new();
    bool Q5Needed = false;
    private string Block_4_5_ErrorMessage = string.Empty;

    async void Validate()
    {
        messageStore.Clear();
        var validation = Validator.Validate(fields);

        foreach (var error in validation.Errors)
        {
            var fieldIdentifier = new FieldIdentifier(fields, error.PropertyName);
            messageStore.Add(fieldIdentifier, error.ErrorMessage);
        }
        editContext.NotifyValidationStateChanged();
        if (validation.IsValid)
        {
            await SaveQ5();
        }
        else
        {
            toastService.ShowError("Please resolve the validation errors");
        }
    }


    protected override async Task OnInitializedAsync()
    {

        if (SessionStorage.role_name != CommonConstants.ROLE_NAME_JSO)
        {
            await JSRuntime.InvokeVoidAsync("__disableFieldsAndButtons");
        }

        var block3 = await dQ.Fetch_SCH_HIS_Block3(SessionStorage.selected_hhd_id);
        if (block3 != null && block3.Count > 0)
        {
            Q5Needed = block3.Any(x => x.item_8 == 2 || x.item_9 == 2 || x.item_10 == 2);
        }
        block_4 = await dQ.Fetch_SCH_HIS_Block4(SessionStorage.selected_hhd_id) ?? null;

        if (block_4 != null)
        {
            NICfields = await dQ.Fetch_SCH_HIS_Block4_NICList();
        }
        else
        {
            toastService.ShowError("Unexpected error: Block 4 data not found");
        }

        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
        {
            block_uri = "/dashboard/his/block_4_2",
            block_title = "HIS Block 4_2",
            block_code = CommonEnum.his_block_4_2.ToString(),
        };
        await commonQueries.InsertVisitedBlock(vb);
        StateHasChanged();
    }

    private void EditContext_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        // Clear validation messages for this specific field
        messageStore.Clear(e.FieldIdentifier);

        // Update validation state
        editContext.NotifyValidationStateChanged();
    }

    async Task LoadData()
    {
        Block_4_5_ErrorMessage = string.Empty;
        NICfields = await dQ.Fetch_SCH_HIS_Block4_NICList();
        StateHasChanged();
    }

    async Task SaveQ5()
    {
        var obj = fields;
        if (NICfields != null && NICfields.Count > 0 && NICfields.Any(x => x.NicCode == fields.NicCode && x.id != fields.id && x.is_deleted != true))
        {
            toastService.ShowError("Cannot add the same NIC code again");
            return;
        }
        await dQ.Save_SCH_HIS_Block4_NICList(obj);
        NICfields = await dQ.Fetch_SCH_HIS_Block4_NICList();
        await AddModal.HideAsync();
        StateHasChanged();
        await LoadData();
    }

    async Task HandleModal(string action = "", Tbl_Block_4_Q5? data = null)
    {
        try
        {
            if (action == "ADD")
            {
                fields = new Tbl_Block_4_Q5();
                fields.id = Guid.NewGuid();
                fields.hhd_id = SessionStorage.selected_hhd_id;
                fields.Block4Id = block_4.id;
                fields.SerialNumber = NICfields.Count == 0 ? 1 : NICfields.Count + 1;
                editContext = new EditContext(fields);
                messageStore = new ValidationMessageStore(editContext);
                editContext.OnFieldChanged += EditContext_OnFieldChanged;
                await AddModal.ShowAsync();
            }
            else if (action == "UPDATE")
            {
                fields = ObjectCloneHelper.ShallowCopy(data);
                editContext = new EditContext(fields);
                messageStore = new ValidationMessageStore(editContext);
                editContext.OnFieldChanged += EditContext_OnFieldChanged;
                await AddModal.ShowAsync();
            }
            else if (action == "CLOSE")
            {
                await AddModal.HideAsync();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }

    private void OnMonthsInput(ChangeEventArgs e)
    {
        var raw = e.Value?.ToString() ?? "";

        // Keep only digits
        raw = new string(raw.Where(char.IsDigit).ToArray());

        // Convert to int? safely
        int number;
        if (int.TryParse(raw, out number))
        {
            // Bound between 1 and 12
            if (number < 1) number = 1;
            if (number > 12) number = 12;

            fields.NumberOfMonths = number;
        }
        else
        {
            fields.NumberOfMonths = null;
        }

        // Clear validation errors immediately
        editContext?.NotifyFieldChanged(FieldIdentifier.Create(() => fields.NumberOfMonths));
    }

    private void BusinessSeasonalChanged(ChangeEventArgs e)
    {
        // Update manually because @bind updates AFTER onchange
        var value = e.Value?.ToString();
        fields.BusinessSeasonal = string.IsNullOrEmpty(value)
            ? null
            : int.Parse(value);

        // Clear validation error
        editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => fields.BusinessSeasonal)
        );
    }



    private void OnNicCodeChanged(ChangeEventArgs e)
    {
        string? val = e.Value?.ToString();
        
        if (int.TryParse(e.Value?.ToString(), out int selectedNic))
        {
            fields.NicCode = selectedNic;

            // find matching title from the lookup list
            var nicItem = Block_4_Constants.NIC_CODES
                .FirstOrDefault(x => x.id == selectedNic);

            fields.ActivityName = nicItem?.title;
        }
        else if (val == "Others")
        {
            fields.ActivityName = "Others";
            fields.NicCode = null;
        }
        else
        {
            fields.NicCode = null;
            fields.ActivityName = null;
        }
        // Clear validation error
        editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => fields.NicCode));
    }


    async void GoBack()
    {
        await JSRuntime.InvokeVoidAsync("__handleGoBack");
        return;
    }

    async Task HandleDelete(Guid id)
    {
        int item_index = NICfields.FindIndex(l => l.id == id);
        if (item_index != -1)
        {
            NICfields[item_index].is_deleted = true;
            await dQ.DeleteBlock4_NICList(id);
            toastService.ShowSuccess("Row deleted successfully!");
            await LoadData();
        }
        else
        {
            toastService.ShowError("Not Able to delete row, Please try again!");
        }
    }

    void HandleSubmit(bool is_go_next)
    {
        Block_4_5_ErrorMessage = string.Empty;
        if (SessionStorage.role_name != CommonConstants.ROLE_NAME_JSO)
        {
            NavigationManager.NavigateTo("dashboard/his/block_4_3");
            return;
        }
        if (Q5Needed)
        {
            if (NICfields != null && NICfields.Count == 0)
            {
                Block_4_5_ErrorMessage = $"H017(i): Please check the entry recorded against col.s 8-10 , block 3";
                toastService.ShowError("Please resolve pending errors");
                return;
            }
            else
            {
                NavigationManager.NavigateTo("dashboard/his/block_4_3");
            }
        }
        else
        {
            NavigationManager.NavigateTo("dashboard/his/block_4_3");
        }
    }
}
