@page "/dashboard/his/block_11b"
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@using FluentValidation
@using Income.Database.Models.HIS_2026
@using Microsoft.AspNetCore.Components.Forms
@inject IJSRuntime JSRuntime


<div class="my2">
    <CommonContentHeader SelectedFsuId="@SelectedFsuId" survey_time="@survey_time" />
    <div class="card card-style2">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h3 class="card-title m-0 d-flex align-items-center">
                <span class="text-primary me-2">Block 11b: Particulars of direct tax (income tax, professional tax, etc.) paid</span>
            </h3>
            @* <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal"><i class="bi bi-plus"></i>Add</button> *@
            <button class="btn btn-primary" @onclick="@(() => HandleModal("ADD"))">
                <i class="fi fi-rr-plus me-1"></i>Add
            </button>
        </div>
        @* Card Body *@
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-bordered table-striped mb-0 text-center">
                    <thead>
                        <tr>
                            <th>S.no.of the member</th>
                            <th>Name of the member</th>
                            <th>Whether paid any direct tax during last financial year? <br /> (yes-1, no-2) </th>
                            <th>
                                Amount of direct tax paid (net of refunds) in last financial year (in Rs.)
                            </th>
                        </tr>
                        <tr>
                            <th>(1)</th>
                            <th>(2)</th>
                            <th>(3)</th>
                            <th>(4)</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var user in showDataTable11B)
                        {
                            <tr>
                                <td>@user.item_1</td>
                                <td>@user.item_2</td>
                                <td>@user.item_3</td>
                                <td>@user.item_4</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    @* Model Popup When Click Add Button *@
    <Modal @ref="AddModal" id = "addModal" CloseOnEscape="false" UseStaticBackdrop="true" ShowCloseButton="false" Fullscreen="ModalFullscreen.MediumDown">
    @* <div class="modal fade" id="addModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"> *@
        <HeaderTemplate>
            <h5 class="modal-title">@((isAdd ? "Add Member" : "Update Member"))</h5>
</HeaderTemplate>

        <BodyTemplate>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <EditForm Model="@table11B" OnInvalidSubmit="handleSave">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="modal-header">
                        <h5 class="modal-title">Add Item</h5>
                    </div>

                    <div class="modal-body">
                        <div class="row">

                            <div class="col-sm-6 mb-3">
                                <label class="form-label fw-bold">
                                    1. S.no.of the member
                                </label>
                                <input type="number" readonly class="form-control form-control-sm" value="@table11B.item_1" disabled />
                            </div>

                            <div class="col-sm-6 mb-3">
                                <label class="form-label fw-bold">
                                    2. Name of Member
                                </label>
                                <InputText @bind-Value="table11B.item_2" @oninput="clearItem2Error"
                                           class="form-control form-control-sm"
                                           id="memberName"
                                           autocomplete="off"
                                           autocapitalize="off"
                                           autocorrect="off"
                                           spellcheck="false"
                                           onkeypress="return /^[A-Za-z ]*$/.test(event.target.value + event.key)" />

                                @if (!string.IsNullOrEmpty(item_2Error))
                                {
                                    <small class="text-danger">@item_2Error</small>
                                }
                            </div>

                            <div class="col-sm-6 mb-3">
                                <label class="form-label fw-bold">
                                    3. Whether paid any direct tax during last financial year? (yes-1, no-2)
                                </label>
                                <InputSelect @bind-Value="table11B.item_3" @oninput="clearItem_3"
                                             class="form-select form-select-sm">
                                    <option value="">-Select-</option>
                                    <option value="1">1-yes</option>
                                    <option value="2">2-no</option>

                                </InputSelect>
                                @if (!string.IsNullOrEmpty(item_3Error))
                                {
                                    <small class="text-danger">@item_3Error</small>
                                }
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label class="form-label fw-bold">
                                    4. Amount of direct tax paid (net of refunds) in last financial year (in Rs.)
                                </label>
                                <input class="form-control form-control-sm" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)" @bind-value="table11B.item_4" disabled="@(!is11B_4Enable)" />
                            </div>
                        </div>
                    </div>

                   
                </EditForm>
            </div>
        </div>
        </BodyTemplate>
        @* <FooterTemplate>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" @onclick="handleSave">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Save
                </button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </FooterTemplate> *@
        <FooterTemplate>
            <button class="btn btn-outline-secondary me-auto" @onclick="@(() => HandleModal("CLOSE"))">Close</button>
            <button type="submit" @onclick="@(() => handleSave())" class="btn btn-primary" form="YourEditFormId"><i class="fi fi-rr-disk me-1"></i>@((isAdd ? "Save" : "Update"))</button>
        </FooterTemplate>
    </Modal>

</div>

@code {
    int SelectedFsuId = SessionStorage.SelectedFSUId;
    private CommonConfig commonConfig = new CommonConfig();
    DateTime survey_time = DateTime.Now;
    //Create Object Tbl_Block_11b
    private Tbl_Block_11b table11B = new();
    //Store Data Using List
    Modal AddModal = default!;
    private List<Tbl_Block_11b> showDataTable11B = new();
    private bool error = false;
    private String? item_2Error = null;
    private string? item_3Error = null;
    private bool is11B_4Enable = false;




    //onInput method in 11B.3
    private void clearItem_3(ChangeEventArgs e)
    {
        item_3Condition(e);
        clearItem3Error();
    }

    //Validate And Hard Check All Field
    private void handleValidation()
    {
        error = false;
        if (string.IsNullOrWhiteSpace(table11B.item_2))
        {
            item_2Error = "Name must be filled";
            error = true;
        }
        else
        {
            item_2Error = null;
        }
        if (table11B.item_3 == null || table11B.item_3 == 0)
        {
            item_3Error = "H76(ii): Invalid Entry, Please check the entry";
            error = true;
        }
        else
        {
            item_3Error = null;
        }
    }


    //Check the 11b_3 yes then enable 11b_4 input field
    private void item_3Condition(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (value == "1")
        {
            // If YES → enable
            is11B_4Enable = true;
        }
        else
        {
            // If NO or blank → disable + clear
            is11B_4Enable = false;
            table11B.item_4 = null; // Clear value
        }

        // Clear the Q3 error if user selects anything
        item_3Error = null;
    }

    //Save Data And show List
    private async void handleSave()
    {
        handleValidation();
        if (error)
        {
            return;
        }

        table11B.item_1 = showDataTable11B.Count + 1;
        showDataTable11B.Add(table11B);

        // Reset form model
        table11B = new Tbl_Block_11b();

        // Reset UI state
        is11B_4Enable = false;
        item_3Error = null;
        item_2Error = null;
        await JSRuntime.InvokeVoidAsync("closeModal", "addModal");
        toastService.ShowSuccess("Member added successfully!");
    }




    //Clear all error when input any thing
    private void clearItem2Error() => item_2Error = null;
    private void clearItem3Error() => item_3Error = null;
    bool isAdd = true;

    async Task HandleModal(string action = "", Tbl_Block_11b? data = null)
    {
        try
        {
            if (action == "ADD")
            {
                // Create empty object
                table11B = new Tbl_Block_11b();

                // Generate serial number
                table11B.item_1 = showDataTable11B.Count + 1;

                // OPEN modal
                await AddModal.ShowAsync();
            }
            else if (action == "UPDATE")
            {
                if (data != null)
                {
                    // Load existing row into edit form
                    table11B = data;

                    // Enable item_4 if item_3 == yes
                    is11B_4Enable = table11B.item_3 == 1;

                    await AddModal.ShowAsync();
                }
            }
            else if (action == "CLOSE")
            {
                await AddModal.HideAsync();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}

