@page "/dashboard/his/block_7a_2"
@using Blazored.FluentValidation
@using FluentValidation
@using Income.Common.HIS2026
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Validators.HIS2026
@using Income.Viewmodels
@using System.Linq.Expressions
@using System.Reflection
@inject IJSRuntime JSRuntime
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject Comment_vm comment_vm
@inject Warning_VM warningVM
@inject LocalizationService Loc
@inject IValidator<Tbl_Block_7a> Validator

<div class="main-content">
    <CommonContentHeader SelectedFsuId="@SessionStorage.SelectedFSUId" survey_time="@survey_date" />

    @if (editContext != null)
    {
        <EditForm EditContext="editContext">
            <FluentValidationValidator />
            <div class="card custom-card">
                <div class="card-body p-0">
                    <div class="d-flex justify-content-between align-items-center p-2">
                        <h5 class="card-title m-0">
                            <span class="text-primary me-2">Block 7a</span>
                            Income from Self-employment - Crop cultivation
                        </h5>

                        @if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
                        {
                            <NavLink class="btn btn-primary" onclick="@(() => commentModal.Open())">
                                <i class="fi fi-rr-comment-alt me-2"></i>Comment
                            </NavLink>
                        }
                    </div>
                    <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">
                        <div class="table-responsive">
                            <table class="table table-bordered align-middle mb-0">
                                <thead>
                                    <tr>
                                        <th colspan="3" class="bg-transparent text-start">
                                            <label class="form-label fw-bold m-0">
                                                <span class="badge bg-primary me-1">Q7.2</span>
                                                Expenses incurred by the household during ‘last 365 days’ on inputs used for production of crops (including imputed expenses)
                                            </label>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th style="width: 50px;" class="text-center">S. No.</th>
                                        <th class="text-center">Description of Item</th>
                                        <th class="text-center">Cost of Input (in Rs.)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Seeds </td>
                                        <td>
                                            <input type="number"  class="form-control form-control-sm no-spinner" value="@block_7A.item_2_1" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                   @oninput="e =>
                                                   {
                                                       UpdateFieldAndValidate(() => block_7A.item_2_1, e);
                                                   }" />
                                              <ValidationMessage For="@(() => block_7A.item_2_1)" />
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="text-center">2</td>
                                          <td>Manures, chemicals, bio-fertilizers, plant protection materials (chemicals/bio-pesticides) </td>
                                          <td>
                                              <input type="number"  class="form-control form-control-sm no-spinner" value="@block_7A.item_2_2" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                     @oninput="e =>
                                                   {
                                                       UpdateFieldAndValidate(() => block_7A.item_2_2, e);
                                                   }" />
                                              <ValidationMessage For="@(() => block_7A.item_2_2)" />
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="text-center">3</td>
                                          <td>Feed and fodder</td>
                                          <td>
                                              <input type="number"  class="form-control form-control-sm no-spinner" value="@block_7A.item_2_3" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                     @oninput="e =>
                                                   {
                                                       UpdateFieldAndValidate(() => block_7A.item_2_3, e);
                                                   }" />
                                              <ValidationMessage For="@(() => block_7A.item_2_3)" />
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="text-center">4</td>
                                          <td>Diesel, electricity and other fuel charges</td>
                                          <td>
                                              <input type="number"  class="form-control form-control-sm no-spinner" value="@block_7A.item_2_4" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                     @oninput="e =>
                                                   {
                                                       UpdateFieldAndValidate(() => block_7A.item_2_4, e);
                                                   }" />
                                              <ValidationMessage For="@(() => block_7A.item_2_4)" />
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="text-center">5</td>
                                          <td>Irrigation / water charges</td>
                                          <td>
                                              <input type="number"  class="form-control form-control-sm no-spinner" value="@block_7A.item_2_5" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                     @oninput="e =>
                                                   {
                                                       UpdateFieldAndValidate(() => block_7A.item_2_5, e);
                                                   }" />
                                              <ValidationMessage For="@(() => block_7A.item_2_5)" />
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="text-center">6</td>
                                          <td>Cost of hiring, repair and maintenance of machinery and equipment used for crop production </td>
                                          <td>
                                              <input type="number"  class="form-control form-control-sm no-spinner" value="@block_7A.item_2_6" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                     @oninput="e =>
                                                   {
                                                       UpdateFieldAndValidate(() => block_7A.item_2_6, e);
                                                   }" />
                                              <ValidationMessage For="@(() => block_7A.item_2_6)" />
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="text-center">7</td>
                                          <td>Labour cost (human and animal)</td>
                                          <td>
                                              <input type="number"  class="form-control form-control-sm no-spinner" value="@block_7A.item_2_7" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                     @oninput="e =>
                                                   {
                                                       UpdateFieldAndValidate(() => block_7A.item_2_7, e);
                                                   }" />
                                              <ValidationMessage For="@(() => block_7A.item_2_7)" />
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="text-center">8</td>
                                          <td>Lease rent for land used for crop production</td>
                                          <td>
                                              <input type="number"  class="form-control form-control-sm no-spinner" value="@block_7A.item_2_8" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                     @oninput="e =>
                                                   {
                                                       UpdateFieldAndValidate(() => block_7A.item_2_8, e);
                                                   }" />
                                              <ValidationMessage For="@(() => block_7A.item_2_8)" />
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="text-center">9</td>
                                          <td>Interest paid on loans utilized for the purpose of crop production and cost of crop insurance / premium </td>
                                          <td>
                                              <input type="number"  class="form-control form-control-sm no-spinner" value="@block_7A.item_2_9" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                     @oninput="e =>
                                                   {
                                                       UpdateFieldAndValidate(() => block_7A.item_2_9, e);
                                                   }" />
                                              <ValidationMessage For="@(() => block_7A.item_2_9)" />
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="text-center">10</td>
                                          <td>Transportation & packaging charges  </td>
                                          <td>
                                              <input type="number"  class="form-control form-control-sm no-spinner" value="@block_7A.item_2_10" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                     @oninput="e =>
                                                   {
                                                       UpdateFieldAndValidate(() => block_7A.item_2_10, e);
                                                   }" />
                                              <ValidationMessage For="@(() => block_7A.item_2_10)" />

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">11</td>
                                        <td>Storage charges (includes cold storage charges)</td>
                                        <td>
                                            <input type="number"  class="form-control form-control-sm no-spinner" value="@block_7A.item_2_11" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                   @oninput="e =>
                                                   {
                                                       UpdateFieldAndValidate(() => block_7A.item_2_11, e);
                                                   }" />
                                              <ValidationMessage For="@(() => block_7A.item_2_11)" />

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">12</td>
                                        <td>Others (include veterinary services etc.)</td>
                                        <td>
                                            <input type="number"  class="form-control form-control-sm no-spinner" value="@block_7A.item_2_12" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                   @oninput="e =>
                                                   {
                                                       UpdateFieldAndValidate(() => block_7A.item_2_12, e);
                                                   }" />
                                              <ValidationMessage For="@(() => block_7A.item_2_12)" />

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">13</td>
                                        <td class="fw-bold">Total (sum of entries at s. nos. 01-12)</td>
                                        <td>
                                            <input type="number" class="form-control form-control-sm no-spinner" value="@block_7A.item_2_13" disabled />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>

            @* 7.3, 7.4 .... *@
            <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">
                <div class="card custom-card">
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-bordered align-middle mb-0">
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <div class="badge bg-primary me-1">Q7.3</div>
                                        </td>
                                        <td>Receipts from Sale of seeds/ manure / bio-fertilizer / saplings etc. during last 365 days (in whole no. of Rs.) </td>
                                        <td>
                                            <input type="number"  class="form-control form-control-sm no-spinner" value="@block_7A.item_3" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                   @oninput="e =>
                                                   {
                                                       UpdateFieldAndValidate(() => block_7A.item_3, e);
                                                   }" />
                                              <ValidationMessage For="@(() => block_7A.item_3)" />
                                          </td>
                                      </tr>


                                    <tr>
                                        <td class="text-center">
                                            <div class="badge bg-primary me-1">Q7.4</div>
                                        </td>
                                        <td>Sale value of produces which were cultivated beyond last 365 days but sold during last 365 days (in whole no. of Rs.) </td>
                                        <td>
                                            <input type="number"  class="form-control form-control-sm no-spinner" value="@block_7A.item_4" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                   @oninput="e =>
                                                   {
                                                       UpdateFieldAndValidate(() => block_7A.item_4, e);
                                                   }" />
                                              <ValidationMessage For="@(() => block_7A.item_4)" />
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="text-center">
                                              <div class="badge bg-primary me-1">Q7.5</div>
                                          </td>
                                          <td>Imputed value of crops consumed by the household or bartered to other households out of total production during last 365 days (in whole no. of Rs.) </td>
                                          <td>
                                              <input type="number"  class="form-control form-control-sm no-spinner" value="@block_7A.item_5" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                     @oninput="e =>
                                                   {
                                                       UpdateFieldAndValidate(() => block_7A.item_5, e);
                                                   }" />
                                              <ValidationMessage For="@(() => block_7A.item_5)" />
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="text-center">
                                              <div class="badge bg-primary me-1">Q7a.9</div>
                                          </td>
                                          <td>Gross Profit / Loss before tax realized by the establishment during last 365 days (in whole no. of Rs.) </td>
                                          <td>
                                              <input type="number" class="form-control form-control-sm no-spinner" value="@block_7A.item_6" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)" disabled />
                                              <ValidationMessage For="@(() => block_7A.item_6)" />
                                            @if (!string.IsNullOrEmpty(item_6_warning))
                                            {
                                                <div class="form-text text-danger" style="white-space: pre-line;">
                                                    @item_6_warning
                                                </div>
                                            }
                                        </td>
                                    </tr>

                                    @if (isCostOfInput)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                <div class="badge bg-primary me-1">Q7a.9.1</div>
                                            </td>
                                            <td>Cost of input is more than sale value of produced, please check the entries and provide suitable clarifications in following codes</td>
                                            <td>
                                                <div class="col-sm-12">
                                                    <div class="mb-3">
                                                        <select class="form-select" value ="@block_7A.item_7" @onchange = "clearItem6">
                                                            <option value="">-Select-</option>
                                                            <option value="1">a. Crop damage / failure</option>
                                                            <option value="2">b. Crop not harvested</option>
                                                            <option value="3">c. Crop production is not started </option>
                                                            <option value="4">d. Crop left at field due to low market price </option>
                                                            <option value="5">e. Others (specify in text box) </option>
                                                        </select>
                                                        
                                                        @if (!string.IsNullOrEmpty(item_6_warning))
                                                        {
                                                            <div class="form-text text-danger" style="white-space: pre-line;">
                                                                @item_7_warning
                                                            </div>
                                                        }


                                                        @* if choose others then showing one text field *@
                                                        @if (block_7A.item_7.GetValueOrDefault() == 5)
                                                        {
                                                            <div>
                                                                <textarea class="form-control mt-2"
                                                                          rows="2"
                                                                          maxlength="50"
                                                                          placeholder="Please specify here..." @bind="block_7A.remarks" @oninput="clearOther">
                                                                </textarea>
                                                                @if (!string.IsNullOrEmpty(remarks_warning))
                                                                {
                                                                    <div class="form-text text-danger">
                                                                        @remarks_warning
                                                                    </div>
                                                                }
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </fieldset>
        </EditForm>

    }
    @* 7.2 *@

</div>
<div class="footer">
    @* Remarks Card *@
    <div class="card custom-card">
        <div class="card-header">
            <h5 class="card-title m-0">
                Remarks
            </h5>
        </div>
        <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">
            <div class="card-body">
                <textarea maxlength="500" class="form-control w-100" rows="2" @bind="block_1.block_7a_remark" placeholder="Enter your remarks here..." ></textarea>
            </div>
        </fieldset>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-outline-secondary" onclick="@GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end">
                @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                {
                    <NavLink class="btn btn-outline-primary me-2" @onclick="@(() => Save(false))"><i class="fi fi-rr-disk me-1"></i>Save</NavLink>
                }
                <NavLink class="btn btn-primary" @onclick="@(() => Save(true))">Next<i class="fi fi fi-rr-angle-right ms-1"></i></NavLink>
            </div>
        </div>

    </div>

</div>

<CommentModal @ref="commentModal"
              MemberList=null
              QuestionList="@(new List<string>(){"7.2.1","7.2.2","7.2.3","7.2.4","7.2.5","7.2.6","7.2.7","7.2.8","7.2.9","7.2.10","7.2.11","7.2.12","7.3","7.4","7.5","7a.9"})"
              Block="7A_1" />


@code {
    private Modal modal = default!;
    private Tbl_Block_4? block_4 = null;
    private Tbl_Block_7a? block_7A = new();
    private Tbl_Block_1? block_1 = new();
    CommonQueries commonQueries = new();
    //Cost of input is more than sale value of produced, please check the entries and provide suitable clarifications in following codes
    bool isCostOfInput = false;
    //if choose the other in Cost of input droupdown

    bool showDroupdownWarning = false;

    string selectedOther = string.Empty;
    bool showDropdownWarning = false;
    private List<Tbl_Block_7a_1> CropIncomeList = [];
    EditContext editContext;
    ValidationMessageStore messageStore;
    int Q7_1_Sum = 0;
    bool codeListEntryNeeded = false;
    DBQueries dB = new();
    bool isAdd;
    DateTime survey_date = DateTime.Now;
    string remarks = string.Empty;
    string item_6_warning = string.Empty;
    string item_7_warning = string.Empty;

    string remarks_warning = string.Empty;
    CommentModal commentModal = default!;
    string errorMessage = string.Empty;

    async void GoBack()
    {
        NavigationManager.NavigateTo("/dashboard/his/block_7a");

        // await JSRuntime.InvokeVoidAsync("__handleGoBack");
        return;
    }

    protected override async Task OnInitializedAsync()
    {
        block_4 = await dB.Fetch_SCH_HIS_Block4(SessionStorage.selected_hhd_id);
        block_1 = await dB.FetchSingleForFsuAndHhdAsync<Tbl_Block_1>() ?? null;
        CropIncomeList = await dB.Fetch_SCH_HIS_Block7A_CodeList();
        if (CropIncomeList != null && CropIncomeList.Count > 0)
        {
            Q7_1_Sum = CropIncomeList.Sum(x =>
                          (x.item_6 ?? (x.item_7.GetValueOrDefault() * x.item_5.GetValueOrDefault()))
                        + x.item_8.GetValueOrDefault()
                        + x.item_9.GetValueOrDefault());
        }
        codeListEntryNeeded = block_4 != null && (block_4.item_4_1.GetValueOrDefault() || block_4.item_4_2.GetValueOrDefault());
        await LoadData();
        if (block_7A == null)
        {
            block_7A = new();
            block_7A.id = Guid.NewGuid();
        }
        if (block_7A != null)
        {
            block_7A.item_6 = Q7_1_Sum + block_7A.item_3.GetValueOrDefault() + block_7A.item_5.GetValueOrDefault() - block_7A.item_2_13.GetValueOrDefault();
        }
        editContext = new EditContext(block_7A);
        messageStore = new ValidationMessageStore(editContext);
        editContext.OnFieldChanged += EditContext_OnFieldChanged;
        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
        {
            block_uri = "/dashboard/his/block_7a_2",
            block_title = "HIS Block 7a_2",
            block_code = CommonEnum.his_block_7a_2.ToString(),
        };
        await commonQueries.InsertVisitedBlock(vb);
        if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            survey_date = block_7A.survey_timestamp.GetValueOrDefault();
        }
        CheckItem6Warning();
        StateHasChanged();
    }

    private void EditContext_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        // Clear validation messages for this specific field
        messageStore.Clear(e.FieldIdentifier);

        // Update validation state
        editContext.NotifyValidationStateChanged();
    }

    private async Task LoadData()
    {
        block_7A = await dB.Fetch_SCH_HIS_Block7A(SessionStorage.selected_hhd_id);

    }

    private void UpdateFieldAndValidate(Expression<Func<int?>> field, ChangeEventArgs e)
    {
        var identifier = FieldIdentifier.Create(field);

        // Try parse
        int? value = null;
        if (!string.IsNullOrWhiteSpace(e.Value?.ToString()) &&
            int.TryParse(e.Value?.ToString(), out var v))
        {
            value = v;
        }

        // 1️⃣ Update the actual model field
        var memberExpr = (MemberExpression)field.Body;
        var prop = (PropertyInfo)memberExpr.Member;
        prop.SetValue(block_7A, value);

        block_7A.item_2_13 = block_7A.item_2_1.GetValueOrDefault() + block_7A.item_2_2.GetValueOrDefault() + block_7A.item_2_3.GetValueOrDefault() + block_7A.item_2_4.GetValueOrDefault()
           + block_7A.item_2_5.GetValueOrDefault() + block_7A.item_2_6.GetValueOrDefault() + block_7A.item_2_7.GetValueOrDefault() + block_7A.item_2_8.GetValueOrDefault() +
           block_7A.item_2_9.GetValueOrDefault() + block_7A.item_2_10.GetValueOrDefault() + block_7A.item_2_11.GetValueOrDefault() + block_7A.item_2_12.GetValueOrDefault();


        block_7A.item_6 = Q7_1_Sum + block_7A.item_3.GetValueOrDefault() + block_7A.item_5.GetValueOrDefault() - block_7A.item_2_13.GetValueOrDefault();
        if (block_7A.item_6.HasValue)
        {
            if (block_7A.item_6 >= 0)
            {
                block_7A.item_7 = null;
                block_7A.remarks = string.Empty;
            }
            CheckItem6Warning();
        }
        // Notify Blazor that item_7 changed
        editContext?.NotifyFieldChanged(
            new FieldIdentifier(block_7A, nameof(block_7A.item_2_13))
        );

        // 2️⃣ Clear previous errors
        messageStore?.Clear(identifier);

        // 3️⃣ Notify Blazor validation system
        editContext?.NotifyFieldChanged(identifier);
    }

    void CheckItem6Warning()
    {
        try
        {
            item_6_warning = string.Empty;
            isCostOfInput = false;
            if (block_7A != null && block_7A.item_6 < 0)
            {
                item_6_warning = "Loss reported in Q. 7a.9. Please Choose an option.";
                isCostOfInput = true;
                CheckItem7Warning();
            }

            if(block_7A != null && block_7A.item_7.HasValue)
            {
                item_6_warning = "";
            }
        }
        catch (Exception ex)
        {

        }
    }

    private void CheckItem7Warning()
    {
        item_7_warning = string.Empty;

        if (isCostOfInput && block_7A != null && !block_7A.item_7.HasValue)
        {
            item_7_warning = "Please select a reason for the loss reported.";
        }
    }

    //if choose any droupdown value then clear item6 warning
    private void clearItem6(ChangeEventArgs e)
    {
        selectedOther = e.Value?.ToString() ?? string.Empty;

        if (!string.IsNullOrEmpty(selectedOther))
        {
            // Clear warning immediately when user selects anything
            item_6_warning = string.Empty;
            item_7_warning = string.Empty;
            if (int.TryParse(selectedOther, out int result))
            {
                block_7A.item_7 = result;
            }
            else
            {
                block_7A.item_7 = null;
            }
        }
        else
        {
            block_7A.item_7 = null;
            block_7A.remarks = string.Empty;
        }

        StateHasChanged();
    }

    private void clearOther(ChangeEventArgs e)
    {
        remarks_warning = null;
    }

    private async Task Save(bool is_go_next = false)
    {
        try
        {
            if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {
                NavigationManager.NavigateTo("/dashboard/his/block_7b");
                return;
            }
            if (block_1 != null)
            {
                await dB.SaveAsync<Tbl_Block_1>(block_1);
            }
            if (!codeListEntryNeeded)
            {
                if(is_go_next)
                {
                    NavigationManager.NavigateTo("/dashboard/his/block_7b");
                    return;
                }
                else
                {
                    toastService.ShowSuccess("Data saved successfully");
                    return;
                }
            }
            
            messageStore.Clear();
            var validation = Validator.Validate(block_7A);

            foreach (var error in validation.Errors)
            {
                var fieldIdentifier = new FieldIdentifier(block_7A, error.PropertyName);
                messageStore.Add(fieldIdentifier, error.ErrorMessage);
            }
            editContext.NotifyValidationStateChanged();

            if (!validation.IsValid)
            {
                toastService.ShowError("Please resolve all the errors");
                return;
            }

            else
            {
                if(block_7A.item_6 < 0 && !block_7A.item_7.HasValue)
                {
                    toastService.ShowError("Please provide a reason before proceeding");
                    return;
                }
                if (block_7A.item_7.GetValueOrDefault() == 5 && string.IsNullOrWhiteSpace(block_7A.remarks))
                {
                    toastService.ShowError("Please provide a remark before proceeding");
                    return;
                }
                int saved = await dB.Save_SCH_HIS_Block7A(block_7A);
                if (saved > 0)
                {
                    toastService.ShowSuccess("Saved successfully");
                }
                else
                {
                    toastService.ShowSuccess("Data could not be saved");
                }
            }

            if (!is_go_next)
            {
                return;
            }
            
            NavigationManager.NavigateTo("/dashboard/his/block_7b");

          
        }
        catch (Exception ex)
        {

        }
    }
}
