@page "/dashboard/his/block_4_3"
@using Blazored.FluentValidation
@using FluentValidation
@using Income.Common.HIS2026
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Database.Models.SCH0_0
@using Income.Validators.HIS2026
@using Income.Viewmodels
@inject IJSRuntime JSRuntime
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject Comment_vm comment_vm
@inject Warning_VM warningVM
@inject LocalizationService Loc
@inject IValidator<Tbl_Block_4> Validator


@if (editContext != null)
{
<EditForm EditContext="editContext">
    <FluentValidationValidator />
    <div class="main-content">
        <CommonContentHeader SelectedFsuId="@SessionStorage.SelectedFSUId"
                                survey_time="@survey_time" />
        <div class="card custom-card">
            <div class="card-header">
                <h3 class="card-title"><span class="text-primary me-2">[4]</span>Household Characteristics</h3>
                    @if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
                    {
                        
                <div class="card-tools">
                    <NavLink class="btn btn-primary" @onclick="@(() => commentModal.Open())"><i class="fi fi-rr-comment-alt me-2"></i>Comment</NavLink>
                </div>
                    }
            </div>
            <div class="card-body">
                    <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">

                <div class="row">
                    <!--4.6-->
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">6</span>
                                Own any land (within the country)?
                            </label>
                            <select class="form-select is_sso"
                                    value="@block_4?.item_6"
                                    @onchange="item_6_changed"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)">
                                <option value="">Select</option>
                                @if (commonList.LOOKUP_CONST_YES_NO != null)
                                {
                                    @foreach (var item in commonList.LOOKUP_CONST_YES_NO)
                                    {
                                        <option value="@item.id">@item.title</option>
                                    }
                                }
                            </select>
                            <ValidationMessage For="@(() => block_4.item_6)" />
                        </div>
                    </div>
                    <!--4.7-->
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">7</span>
                                If yes, total area (in acre)
                            </label>
                            <input type="text"
                                    class="form-control is_sso"
                                    value="@block_4.item_7"
                                    @oninput="OnItem7Changed"
                                           onkeypress="if (this.value.length >= 10) return false; return /^[0-9]$/.test(event.key);"
                                    disabled="@(block_4?.item_6 != 1 || (hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12))" />
                            <ValidationMessage For="@(() => block_4.item_7)" />
                        </div>
                    </div>
                    <!--4.8-->
                    <div class="col-sm-12">
                        <div hidden="@(block_4?.item_6 != 1)" class="mb-3">
                            <label class="form-label mb-3">
                                <span class="form-badge">8</span>
                                Use of land owned <small class="text-muted">(multiple select)</small>
                            </label>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        @if (Block_4_Constants.Q4_8 != null && Block_4_Constants.Q4_8.Count > 0)
                                        {
                                            @foreach (var item in Block_4_Constants.Q4_8)
                                            {
                                                <tr>
                                                    <td style="width: 10px;">
                                                        <label class="siteCustomCheckbox">
                                                            <input class="is_sso"
                                                            type="checkbox"
                                                            value="@item.id"
                                                            checked="@SelectedLandUses.Contains(item.id)"
                                                            @onchange="() => ToggleLandUse(item.id)"
                                                            disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)" />
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label class="siteCustomCheckbox justify-content-start">
                                                            <span class="label-text">@item.title</span>
                                                        </label>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <ValidationMessage For="@(() => block_4.item_8)" />
                                @if (!string.IsNullOrEmpty(Item8WarningMessage))
                                {
                                    <div class="form-text text-success" style="white-space: pre-line;">
                                        @Item8WarningMessage
                                    </div>
                                }
                            </div>
                            @* <div class="d-flex flex-wrap mt-3">
                                @if (Block_4_Constants.Q4_8 != null && Block_4_Constants.Q4_8.Count > 0)
                                {
                                    @foreach (var item in Block_4_Constants.Q4_8)
                                    {
                                        <label class="siteCustomCheckbox me-5 mb-3">
                                            <input class="is_sso"
                                                    type="checkbox"
                                                    value="@item.id"
                                                    checked="@SelectedLandUses.Contains(item.id)"
                                                    @onchange="() => ToggleLandUse(item.id)"
                                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)" />
                                            <span class="label-text">@item.title</span>
                                        </label>
                                    }
                                }
                                
                            </div> *@
                        </div>
                    </div>

                    <!-- Row 1: Q4.9 and Q4.10 -->
                    <div class="col-sm-12">
                        <!--4.9-->
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">9</span>
                                Does the household perform any economic activity on any building/structure during last 365 days?
                            </label>
                            <select class="form-select is_sso"
                                    value="@block_4.item_9"
                                    @onchange="item_9_changed"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)">
                                <option value="">Select</option>
                                @foreach (var item in Block_4_Constants.Q4_9)
                                {
                                    <option value="@item.id">@item.title</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => block_4.item_9)" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!--4.10-->
                        <div hidden="@(block_4?.item_9 != 1 && block_4?.item_9 != 2 && block_4?.item_9 != 3)" class="mb-3">
                            <label class="form-label mb-3">
                                <span class="form-badge">10</span>
                                If codes 1–3 in Q4.9, type of economic activity(ies) household performed during last 365 days
                            </label>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        @foreach (var item in Block_4_Constants.Q4_10)
                                        {
                                            <tr>
                                                <td style="width: 10px;">
                                                    <label class="siteCustomCheckbox">
                                                        <input class="is_sso"
                                                                type="checkbox"
                                                                value="@item.id"
                                                                checked="@SelectedEconomicActivities.Contains(item.id)"
                                                                @onchange="() => ToggleEconomicActivity(item.id)"
                                                                disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)" />
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="siteCustomCheckbox justify-content-start">
                                                        <span class="label-text">@item.title</span>
                                                    </label>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <ValidationMessage For="@(() => block_4.item_10)" />
                                        @if (!string.IsNullOrEmpty(Item10WarningMessage))
                                        {
                                            <div class="form-text text-success" style="white-space: pre-line;">
                                                @Item10WarningMessage
                                            </div>
                                        }

                            </div>

                            @* <div class="d-flex flex-wrap mt-3">
                                @foreach (var item in Block_4_Constants.Q4_10)
                                {
                                    <label class="siteCustomCheckbox me-5 mb-3">
                                        <input class="is_sso"
                                                type="checkbox"
                                                value="@item.id"
                                                checked="@SelectedEconomicActivities.Contains(item.id)"
                                                @onchange="() => ToggleEconomicActivity(item.id)"
                                                disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)" />
                                        <span class="label-text">@item.title</span>
                                    </label>
                                }
                                <ValidationMessage For="@(() => block_4.item_10)" />
                                @if (!string.IsNullOrEmpty(Item10WarningMessage))
                                {
                                    <div class="form-text text-success mb-3">
                                        @Item10WarningMessage
                                    </div>
                                }
                            </div> *@
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!--4.11-->
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">11</span>Type of dwelling unit of the household as on the date of survey
                            </label>
                            <select class="form-select is_sso"
                                    value="@block_4.item_11"
                                    @onchange="item_11_changed"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)">
                                <option value="">Select</option>
                                @foreach (var item in Block_4_Constants.Q4_11)
                                {
                                    <option value="@item.id">@item.title</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => block_4.item_11)" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!--4.12-->
                        <div class="mb-3" hidden="@(block_4.item_11 == 5 || block_4.item_11 == 0 || block_4.item_11 == null)">
                            <label class="form-label">
                                <span class="form-badge">12</span>Carpet area of dwelling unit (in square feet) of the household
                            </label>
                            <input type="number"
                                    class="form-control is_sso no-spinner"
                                    value="@block_4.item_12"
                                    @oninput="OnItem12Changed"
                                           onkeypress="if (this.value.length >= 10) return false; return /^[0-9]$/.test(event.key);"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)" />
                            <ValidationMessage For="@(() => block_4.item_12)" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!--4.13-->
                        <div class="mb-3" hidden="@(block_4.item_11 == 5 || block_4.item_11 == 0 || block_4.item_11 == null)">
                            <label class="form-label">
                                <span class="form-badge">13</span>Type of structure of the dwelling unit of the household
                            </label>
                            <select class="form-select is_sso"
                                    value="@block_4.item_13"
                                    @oninput="OnItem13Changed"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)">
                                <option value="">Select</option>
                                @foreach (var item in Block_4_Constants.Q4_13)
                                {
                                    <option value="@item.id">@item.title</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => block_4.item_13)" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!--4.14-->
                        <div class="mb-3" hidden="@(block_4.item_11 == 5 || block_4.item_11 == 0 || block_4.item_11 == null)">
                            <label class="form-label">
                                <span class="form-badge">14</span>Number of rooms in the dwelling unit of the household
                            </label>
                            <input type="number"
                                    class="form-control is_sso no-spinner"
                                    value="@block_4.item_14"
                                    @oninput="OnItem14Changed"
                                     onkeypress="if (this.value.length >= 2) return false; return /^[0-9]$/.test(event.key);"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)" />
                            <ValidationMessage For="@(() => block_4.item_14)" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!--4.15-->
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">15</span>Whether the household has any outstanding loan taken from financial institution * for the purpose of construction of land/house/building/flat or to meet expenditure of economic activity or; one or more of these?
                            </label>
                            <select class="form-select is_sso"
                                    value="@block_4.item_15"
                                    @oninput="OnItem15Changed"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)">
                                <option value="">Select</option>
                                @foreach (var item in Block_4_Constants.Q4_15)
                                {
                                    <option value="@item.id">@item.title</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => block_4.item_15)" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!--4.16-->
                        <div class="mb-3" hidden="@(block_4.item_15 != 1)">
                            <label class="form-label">
                                <span class="form-badge">16</span>
                                If code 1 in Q 4.15,
                                Amount paid towards repayment of the loan in the last month by the household (in Rs.)?

                            </label>
                            <input type="number"
                                    class="form-control is_sso no-spinner"
                                    onkeypress="if (this.value.length >= 10) return false; return /^[0-9]$/.test(event.key);"
                                    value="@block_4.item_17"
                                    @oninput="OnItem17Changed"                                   
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)" />
                            <ValidationMessage For="@(() => block_4.item_17)" />
                        </div>
                    </div>
                </div>
                </fieldset>
               
            </div>
        </div>
    </div>
    <div class="footer">
        @* Remarks Card *@
        <div class="card custom-card">
            <div class="card-header">
                <h3 class="card-title">Remarks</h3>
            </div>
                <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">

            <div class="card-body">
                <textarea type="text" class="form-control is_sso w-100" maxlength="500" placeholder="Enter your text here..." rows="2" @bind="block_1.block_4_remark" oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '')"></textarea>
            </div>
            </fieldset>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-outline-secondary" onclick="@GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
            </div>
            <div class="col-sm-6">
                <div class="d-flex justify-content-end">
                        @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                    {
                        <button type="button" class="btn btn-outline-primary me-2 is_sso action" @onclick="@(() => Save())">
                            <i class="fi fi-rr-disk me-1"></i>Save
                        </button>
                    }
                    <NavLink class="btn btn-primary" @onclick="@(() => Save(true))">Next<i class="fi fi-rr-angle-right ms-1"></i></NavLink>
                </div>
            </div>
        </div>
    </div>
</EditForm>
}

<CommentModal @ref="commentModal"
              MemberList=null
              QuestionList="Question"
              Block="4.3" />


@code {

    DateTime survey_time = DateTime.Now;
    int hhdStatus = 0;
    Tbl_Sch_0_0_Block_7? hhd;
    List<Tbl_Block_3> block_3_list = [];
    Tbl_Block_4? block_4;
    private Tbl_Block_1? block_1 = new();
    CommonQueries commonQueries = new();

    List<Tbl_Block_4_Q5> block_4_nic_list = [];
    DBQueries dQ = new();

    List<string> Question = new List<string>();
    CommonList commonList = new();
    CommentModal commentModal = default!;


    // Stores selected land use codes
    private List<int> SelectedLandUses = new();
    private List<int> SelectedActivities = new();

    private int selectedEconomicActivity;
    private List<int> SelectedEconomicActivities = new();
    private int selectedDwellingType;
    private double? CarpetArea;
    private int selectedStructureType;
    private int? NumberOfRooms;
    private int selectedLoanStatus;
    private int selectedLoanPurpose;
    private double? LoanRepaymentAmount;

    private string Item8WarningMessage = string.Empty;
    private string Item10WarningMessage = string.Empty;
    private string Item16WarningMessage = string.Empty;

    EditContext editContext;
    private Block_4_Validator validator = new();
    private ValidationMessageStore messageStore;


    protected override async Task OnInitializedAsync()
    {
        for (var i = 6; i <= 16; i++)
        {
            Question.Add(i.ToString());
        }


        if (SessionStorage.role_name != CommonConstants.ROLE_NAME_JSO)
        {
            await JSRuntime.InvokeVoidAsync("__disableFieldsAndButtons");
        }

        hhdStatus = await dQ.GetCurrentHHDStatus(SessionStorage.SelectedFSUId, SessionStorage.selected_hhd_id);

        block_3_list = await dQ.Fetch_SCH_HIS_Block3(SessionStorage.selected_hhd_id);

        block_4 = await dQ.Fetch_SCH_HIS_Block4(SessionStorage.selected_hhd_id) ?? null;
        if (block_4 != null)
        {
            SelectedLandUses = block_4.item_8?
                                .Split(',', StringSplitOptions.RemoveEmptyEntries)
                                .Select(x => int.TryParse(x.Trim(), out var v) ? v : -1)
                                .Where(v => v != -1)
                                .ToList()
                                ?? new List<int>();

            SelectedEconomicActivities = block_4.item_10?
                                .Split(',', StringSplitOptions.RemoveEmptyEntries)
                                .Select(x => int.TryParse(x.Trim(), out var v) ? v : -1)
                                .Where(v => v != -1)
                                .ToList()
                                ?? new List<int>();

            editContext = new EditContext(block_4);
            messageStore = new ValidationMessageStore(editContext);
            editContext.OnFieldChanged += EditContext_OnFieldChanged;

            if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {
                survey_time = block_4.survey_timestamp.GetValueOrDefault();
            }

        }
        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
        {
            block_uri = "/dashboard/his/block_4_3",
            block_title = "HIS Block 4_3",
            block_code = CommonEnum.his_block_4_3.ToString(),
        };
        block_4_nic_list = await dQ.Fetch_SCH_HIS_Block4_NICList();
        block_1 = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_1>() ?? null;
        await commonQueries.InsertVisitedBlock(vb);
        
        StateHasChanged();
    }

    private void EditContext_OnFieldChanged(object sender, FieldChangedEventArgs e)
    {
        // Clear validation messages for this specific field
        messageStore.Clear(e.FieldIdentifier);

        // Update validation state
        editContext.NotifyValidationStateChanged();
    }


    private void item_6_changed(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (string.IsNullOrEmpty(value))
            block_4.item_6 = null;
        else
        {
            block_4.item_6 = int.Parse(value);
            if (block_4.item_6 == 2)
            {
                SelectedLandUses = [];
                block_4.item_7 = null;
            }
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_6));
        }
    }

    private void OnItem7Changed(ChangeEventArgs args)
    {
        if (decimal.TryParse(args.Value?.ToString(), out var result))
        {
            block_4.item_7 = result;
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_7));
        }
        else
        {
            block_4.item_7 = null;
        }
    }

    private void ToggleLandUse(int id)
    {
        if (SelectedLandUses.Contains(id))
            SelectedLandUses.Remove(id);
        else
            SelectedLandUses.Add(id);

        block_4.item_8 = SelectedLandUses.Any() ? string.Join(",", SelectedLandUses) : string.Empty;
        editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_8));

        //Warnings for Item 8
        CheckWarningForItem8();
        StateHasChanged();
    }

    void CheckWarningForItem8()
    {
        try
        {
            Item8WarningMessage = string.Empty;
            var warnings = new List<string>();

            if (SelectedLandUses.Count != 0)
            {
                bool block_4_4_any_checked = block_4.item_4_1.GetValueOrDefault() || block_4.item_4_2.GetValueOrDefault() || block_4.item_4_3.GetValueOrDefault() || block_4.item_4_4.GetValueOrDefault() || block_4.item_4_5.GetValueOrDefault() || block_4.item_4_6.GetValueOrDefault();
                if ((SelectedLandUses.Contains(1) || SelectedLandUses.Contains(2) || SelectedLandUses.Contains(3)) && !block_4_4_any_checked)
                {
                    warnings.Add($"W020(ii): Please check the entry against Q4.4");
                }
                if (SelectedLandUses.Contains(4) && block_4_nic_list.Count == 0)
                {
                    warnings.Add($"W020(iii): Please check the entry against Q4.5");
                }
            }
            Item8WarningMessage = string.Join(Environment.NewLine, warnings);

        }
        catch (Exception ex)
        {

        }
    }

    private void item_9_changed(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (string.IsNullOrEmpty(value))
            block_4.item_9 = null;
        else
        {
            block_4.item_9 = int.Parse(value);
            if (block_4.item_9 == 4)
            {
                SelectedEconomicActivities = [];
            }
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_9));
        }
    }

    private void ToggleEconomicActivity(int id)
    {
        if (SelectedEconomicActivities.Contains(id))
            SelectedEconomicActivities.Remove(id);
        else
            SelectedEconomicActivities.Add(id);

        block_4.item_10 = SelectedEconomicActivities.Any() ? string.Join(",", SelectedEconomicActivities) : string.Empty;
        editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_10));

        //Warnings for Item 10
        CheckWarningForItem10();
        StateHasChanged();
    }

    void CheckWarningForItem10()
    {
        try
        {
            var warnings = new List<string>();

            if (SelectedEconomicActivities.Count != 0)
            {
                bool block_4_4_any_checked =
                    block_4.item_4_1.GetValueOrDefault() ||
                    block_4.item_4_2.GetValueOrDefault() ||
                    block_4.item_4_3.GetValueOrDefault() ||
                    block_4.item_4_4.GetValueOrDefault() ||
                    block_4.item_4_5.GetValueOrDefault() ||
                    block_4.item_4_6.GetValueOrDefault();

                if ((SelectedEconomicActivities.Contains(1) ||
                     SelectedEconomicActivities.Contains(2) ||
                     SelectedEconomicActivities.Contains(3)) &&
                     !block_4_4_any_checked)
                {
                    warnings.Add("W022(ii): Please check the entry against Q4.4");
                }

                if (SelectedEconomicActivities.Contains(4) &&
                    block_4_nic_list.Count == 0)
                {
                    warnings.Add("W022(iii): Please check the entry against Q4.5");
                }
            }

            Item10WarningMessage = string.Join(Environment.NewLine, warnings);
        }
        catch (Exception ex)
        {
            
        }
    }


    private void item_11_changed(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (string.IsNullOrEmpty(value))
            block_4.item_11 = null;
        else
        {
            block_4.item_11 = int.Parse(value);
            if (block_4.item_11 == 5)
            {
                block_4.item_12 = null;
            }
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_11));
        }
    }

    private void OnItem12Changed(ChangeEventArgs args)
    {
        if (decimal.TryParse(args.Value?.ToString(), out var result))
        {
            block_4.item_12 = result;
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_12));
        }
        else
        {
            block_4.item_12 = null;
        }
    }

    private void OnItem13Changed(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (string.IsNullOrEmpty(value))
            block_4.item_13 = null;
        else
        {
            block_4.item_13 = int.Parse(value);
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_13));
        }
    }

    // private void OnItem14Changed(ChangeEventArgs e)
    // {
    //     var value = e.Value?.ToString();

    //     if (string.IsNullOrEmpty(value))
    //         block_4.item_14 = null;
    //     else
    //     {
    //         block_4.item_14 = int.Parse(value);
    //         editContext?.NotifyFieldChanged(
    //         FieldIdentifier.Create(() => block_4.item_14));
    //     }
    // }
    private void OnItem14Changed(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (string.IsNullOrEmpty(value))
        {
            block_4.item_14 = null;
        }
        else if (int.TryParse(value, out int parsedValue))
        {
            block_4.item_14 = parsedValue;
            editContext?.NotifyFieldChanged(FieldIdentifier.Create(() => block_4.item_14));
        }
        else
        {
            // Auto-clear invalid input (10-digit numbers > Int32.MaxValue)
            block_4.item_14 = null;
            editContext?.NotifyFieldChanged(FieldIdentifier.Create(() => block_4.item_14));
        }
    }

    private void OnItem15Changed(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (string.IsNullOrEmpty(value))
            block_4.item_15 = null;
        else
        {
            block_4.item_15 = int.Parse(value);
            if (block_4.item_15 == 2)
            {
                block_4.item_16 = null;
                block_4.item_17 = null;
            }
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_15));
        }
    }

    private void OnItem16Changed(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (string.IsNullOrEmpty(value))
            block_4.item_16 = null;
        else
        {
            block_4.item_16 = int.Parse(value);
            CheckWarningForItem16();
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_16));
        }
    }

    void CheckWarningForItem16()
    {
        try
        {
            Item16WarningMessage = string.Empty;
            bool block_4_4_any_checked = block_4.item_4_1.GetValueOrDefault() || block_4.item_4_2.GetValueOrDefault() || block_4.item_4_3.GetValueOrDefault() || block_4.item_4_4.GetValueOrDefault() || block_4.item_4_5.GetValueOrDefault() || block_4.item_4_6.GetValueOrDefault();
            if ((block_4.item_16 == 2 || block_4.item_16 == 3) && (!block_4_4_any_checked && block_4_nic_list.Count == 0))
            {
                Item8WarningMessage = $"W028(ii): Please check the entry against Q4.4 and/or Q4.5";
            }

        }
        catch (Exception ex)
        {

        }
    }

    // private void OnItem17Changed(ChangeEventArgs e)
    // {
    //     var value = e.Value?.ToString();

    //     if (string.IsNullOrEmpty(value))
    //         block_4.item_17 = null;
    //     else
    //     {
    //         block_4.item_17 = int.Parse(value);
    //         editContext?.NotifyFieldChanged(
    //         FieldIdentifier.Create(() => block_4.item_17));
    //     }
    // }

    private void OnItem17Changed(ChangeEventArgs e)
    {
        var value = e.Value?.ToString() ?? string.Empty;

        // Empty input → clear model
        if (string.IsNullOrWhiteSpace(value))
        {
            block_4.item_17 = null;
            editContext?.NotifyFieldChanged(FieldIdentifier.Create(() => block_4.item_17));
            return;
        }

        // Length check (max 10 digits)
        if (value.Length > 10)
        {
            block_4.item_17 = null;
            editContext?.NotifyFieldChanged(FieldIdentifier.Create(() => block_4.item_17));
            return;
        }

        // Safe parse with bounds check
        if (int.TryParse(value, out var result) && result >= 0 && result <= int.MaxValue)
        {
            block_4.item_17 = result;
        }
        else
        {
            // Non-numeric, overflow, or negative → clear
            block_4.item_17 = null;
        }

        editContext?.NotifyFieldChanged(FieldIdentifier.Create(() => block_4.item_17));
    }

    async void GoBack()
    {
        await JSRuntime.InvokeVoidAsync("__handleGoBack");
        return;
    }

    private async Task Save(bool is_go_next = false)
    {
        if(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            NavigationManager.NavigateTo("dashboard/his/block_5");
            return;
        }
        else
        {
            messageStore.Clear();
            var result = await Validator.ValidateAsync(block_4, options => options.IncludeRuleSets("Page3"));
            // 3. Push new messages
            foreach (var error in result.Errors)
            {
                var fieldIdentifier = new FieldIdentifier(block_4, error.PropertyName);
                messageStore.Add(fieldIdentifier, error.ErrorMessage);
            }

            // 4. Notify the UI
            editContext.NotifyValidationStateChanged();
            if (result.IsValid)
            {
                CheckWarningForItem8();
                CheckWarningForItem10();
                CheckWarningForItem16();

                if (!string.IsNullOrEmpty(Item8WarningMessage))
                {
                    var warnings = Item8WarningMessage
                        .Split(new[] { Environment.NewLine }, StringSplitOptions.RemoveEmptyEntries);

                    foreach (var warning in warnings)
                    {
                        warningVM.AddWarning(
                            warning.Trim(),
                            "HIS",
                            "4",
                            "8",
                            SessionStorage.selected_hhd_id
                        );
                    }
                }

                if (!string.IsNullOrEmpty(Item10WarningMessage))
                {
                    var warnings = Item10WarningMessage
                        .Split(new[] { Environment.NewLine }, StringSplitOptions.RemoveEmptyEntries);

                    foreach (var warning in warnings)
                    {
                        warningVM.AddWarning(
                            warning.Trim(),
                            "HIS",
                            "4",
                            "10",
                            SessionStorage.selected_hhd_id
                        );
                    }
                }

                if (!string.IsNullOrEmpty(Item16WarningMessage))
                {
                    warningVM.AddWarning(Item16WarningMessage, "HIS", "4", "16", SessionStorage.selected_hhd_id);
                }
                await warningVM.SaveWarningAsync("HIS", "4");
                int save = await dQ.Save_SCH_HIS_Block4(block_4);
                if (block_1 != null)
                {
                    await dQ.SaveAsync<Tbl_Block_1>(block_1);
                }
                if (save > 0)
                {
                    toastService.ShowSuccess("Data succesfully saved");
                }
                if (is_go_next)
                {
                    NavigationManager.NavigateTo("dashboard/his/block_5");
                }
            }
            else
            {
                toastService.ShowError("Please resolve pending errors");
            }
        }
    }

}