@page "/dashboard/his/block_7c"
@using Blazored.FluentValidation
@using FluentValidation
@using Income.Common.HIS2026
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Validators.HIS2026
@using Income.Viewmodels
@using System.Linq.Expressions
@using System.Reflection
@inject IJSRuntime JSRuntime
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject Comment_vm comment_vm
@inject LocalizationService Loc
@inject IValidator<Tbl_Block_7c_NIC> Validator
@inject ILoggingService loggingService

<NavigationLock OnBeforeInternalNavigation="ConfirmforNavigation" />
<div class="main-content">
    <CommonContentHeader SelectedFsuId="@SessionStorage.SelectedFSUId"
                         survey_time="@survey_time" />
    <ConfirmDialog @ref="dialog" />
    @* 7.9 *@
    <div class="card custom-card">
        <div class="card-header">
            <h5 class="card-title">
                <span class="text-primary me-1">Block 7c:</span>
                Income from Self-employment - Non-agriculture Activity
            </h5>
            <!-- Add Button -->
            <div class="card-tools">
                @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                {
                    
                <button class="btn btn-primary is_sso"
                        @onclick="@(() => HandleModal("ADD"))"
                        disabled="@(SessionStorage.FSU_Submitted)">
                    <i class="fi fi-rr-plus me-1"></i>Add Activity
                </button>
                }
            </div>
            @* add comment *@
            @if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {

                <div class="card-tools d-flex justify-content-end align-items-end p-2">
                    <NavLink class="btn btn-primary" onclick="@(() => commentModal.Open())"><i class="fi fi-rr-comment-alt me-2"></i>Comment</NavLink>
                </div>
            }
        </div>
        <div class="row px-3 py-2 border-bottom">
            <div class="col">
                For Non-Agricultural Establishment <span class="text-primary">(entry against col. 8 or col. 9 is code 2 for at least one member of the household) </span>
            </div>
        </div>
        <div class="row px-3 py-2">
            <div class="col">
                <label class="form-label fw-bold m-0">
                    <span class="badge bg-primary me-1">Q7.9</span>
                    Receipt from the non-agricultural activity in last month
                </label>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-bordered align-middle mb-0 fixed-column">
                    <thead>
                        <tr>
                            <th style="width: 150px;" class="text-center col-1">Action</th>
                            <th style="min-width: 50px;" class="text-center col-2">S. No.</th>
                            <th class="text-center">Description of Activity</th>
                            <th style="width: 100px;" class="text-center">NIC Code (2 digit)</th>
                            <th style="width: 180px;" class="text-center">Gross value of receipts (in Rs.)</th>                            
                        </tr>
                        <tr>
                            <th class="col-1"></th>
                            <th class="text-center col-2">(1)</th>
                            <th class="text-center">(2)</th>
                            <th class="text-center">(3)</th>
                            <th class="text-center">(4)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (NICFields != null && NICFields.Count > 0)
                        {
                            foreach (var item in NICFields)
                            {
                                if (item.is_deleted != true)
                                {
                                    <tr>
                                        <td class="col-1">
                                            @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                                            {

                                                <div class="d-flex align-items-center">
                                                    <button class="btn btn-link fs-6 me-2"
                                                            @onclick="@(() => HandleModal("UPDATE", item))">
                                                        <i class="fi fi-rr-pencil"></i>
                                                    </button>
                                                    <button class="btn btn-link fs-6 text-danger"
                                                            @onclick="@(() => HandleDelete(item.id))">
                                                        <i class="fi fi-rr-trash"></i>
                                                    </button>
                                                </div>
                                            }
                                        </td>
                                        <td class="text-center col-2">@item.SerialNumber</td>
                                        <td>@item.ActivityName</td>
                                        <td>@item.NicCode</td>
                                        <td>@item.GrossValue</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                    @if (!string.IsNullOrEmpty(Block_7_c_ConNavemsg))
                    {
                        <tfoot>
                            <tr>
                                <td colspan="6" class="text-center">
                                    <div class="form-text text-danger">@Block_7_c_ConNavemsg</div>
                                </td>
                            </tr>
                        </tfoot>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-outline-secondary" onclick="@GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end">
                <NavLink class="btn btn-primary" @onclick=@(() => Next())>Next<i class="fi fi-rr-angle-right ms-1"></i></NavLink>
            </div>
        </div>

    </div>
</div>

<Modal @ref="AddModal" CloseOnEscape="false" UseStaticBackdrop="true" ShowCloseButton="false" Size="ModalSize.ExtraLarge" Fullscreen="ModalFullscreen.LargeDown">
    <HeaderTemplate>
        <h5 class="modal-title">Details of non-agricultural economic activity(ies) carried out by one or more household member in last 365 days</h5>
    </HeaderTemplate>
    <BodyTemplate>
        @if (editContext != null)
        {
            <EditForm EditContext="editContext">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Serial Number -->
                        <div class="mb-3">
                            <label class="form-label"><span class="form-badge">1</span>Serial Number of Row</label>
                            <input class="form-control" value="@fields.SerialNumber" disabled />
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <!-- Activity Description -->
                        <div class="mb-3">
                            <label class="form-label"><span class="form-badge">2</span>Description of activity</label>
                            <input class="form-control" @bind="@fields.ActivityName" disabled />
                            <ValidationMessage For="@(() => fields.ActivityName)" />
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <!-- NIC code -->
                        <div class="mb-3">
                            <label class="form-label"><span class="form-badge">3</span>NIC code (2-digit)</label>
                            <select class="form-select is_sso"
                                    value="@fields.NicCode"
                                    disabled="@(SessionStorage.FSU_Submitted)"
                                    @onchange="OnNicCodeChanged">
                                <option value="">Select</option>
                                @foreach (var item in NICCodes)
                                {
                                    <option value="@item.id">@item.title</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => fields.NicCode)" />
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <!-- Gross value (in Rs.) -->
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">4</span>Gross value of receipts (in Rs.)
                            </label>
                            <input type="number" class="form-control no-spinner"
                                    value="@fields.GrossValue"
                                   onkeypress="if (this.value.length >= 10) return false; return /^[0-9]$/.test(event.key);"
                                    disabled="@(SessionStorage.FSU_Submitted)"
                                    @oninput="OnGrossValueInput">
                            </input>
                            <ValidationMessage For="@(() => fields.GrossValue)" />
                        </div>
                    </div>
                </div>
            </EditForm>
        }
    </BodyTemplate>
    <FooterTemplate>
        <button type="button" class="btn btn-outline-secondary me-auto"
                @onclick="@(() => HandleModal("CLOSE"))">
            Close
        </button>
        <button type="button" @onclick="@(() => Save())" class="btn btn-primary">Save</button>
    </FooterTemplate>
</Modal>

<CommentModal @ref="commentModal"
              MemberList=RowList
              QuestionList="@(new List<string>(){"2","3","4"})"
              Block="7C_1" />

@code {
    DateTime survey_time = DateTime.Now;
    Modal AddModal = default!;
    Tbl_Block_7c_NIC fields = new();
    CommonQueries commonQueries = new();
    List<Tbl_Block_4_Q5> preFilledNIC = []; 
    List<Tbl_Block_7c_NIC> NICFields = [];
    EditContext editContext;
    string remarks = string.Empty;
    DBQueries dQ = new();
    bool Q9Needed = false;
    ValidationMessageStore messageStore;
    CommentModal commentModal = default!;
    List<int> RowList = [];
    List<Tbl_Lookup_NIC> NICCodes = [];
    private ConfirmDialog dialog = default!;
    private string Block_7_c_ConNavemsg { get; set; } = string.Empty;


    async void GoBack()
    {
        NavigationManager.NavigateTo("/dashboard/his/block_7b");

        // await JSRuntime.InvokeVoidAsync("__handleGoBack");
    }

    protected override async Task OnInitializedAsync()
    {

        if (SessionStorage.role_name != CommonConstants.ROLE_NAME_JSO)
        {
            await JSRuntime.InvokeVoidAsync("__disableFieldsAndButtons");
        }

        var block3 = await dQ.Fetch_SCH_HIS_Block3(SessionStorage.selected_hhd_id);
        if (block3 != null && block3.Count > 0)
        {
            Q9Needed = block3.Any(x => x.item_8 == 2 || x.item_9 == 2);
        }
        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
        {
            block_uri = "/dashboard/his/block_7c",
            block_title = "HIS Block 7c",
            block_code = CommonEnum.his_block_7c.ToString(),
        };

        await LoadData();
        await commonQueries.InsertVisitedBlock(vb);
        if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            survey_time = NICFields
                            .OrderByDescending(x => x.survey_timestamp)
                            .Select(x => (DateTime?)x.survey_timestamp)
                            .FirstOrDefault().GetValueOrDefault();

        }
        StateHasChanged();
    }

    async Task LoadData()
    {
        NICFields = await dQ.Fetch_SCH_HIS_Block7_NICList();
        preFilledNIC = await dQ.Fetch_SCH_HIS_Block4_NICList();
        bool hasNullNic = preFilledNIC.Any(x => x.NicCode == null);

        // Get distinct non-null NIC codes
        var usedNicCodes = preFilledNIC
            .Where(x => x.NicCode.HasValue)
            .Select(x => x.NicCode!.Value)
            .Distinct()
            .ToHashSet();

        // Filter NIC master list
        NICCodes = Block_4_Constants.NIC_CODES
            .Where(n => usedNicCodes.Contains(n.id.GetValueOrDefault()))
            .ToList();

        // Add "Others" if null NIC exists
        if (hasNullNic)
        {
            NICCodes.Add(new Tbl_Lookup_NIC
            {
                id = null,
                title = "Others"
            });
        }

        RowList = NICFields.Select(x => x.SerialNumber.GetValueOrDefault()).Distinct().ToList();
        StateHasChanged();
    }

    private void EditContext_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        // Clear validation messages for this specific field
        messageStore.Clear(e.FieldIdentifier);

        // Update validation state
        editContext.NotifyValidationStateChanged();
    }

    async Task HandleDelete(Guid id)
    {
        try
        {
            var options = new ConfirmDialogOptions { IsVerticallyCentered = true };
            var confirmed = await dialog.ShowAsync(
                title: "Alert",
                message1: "Are you sure you want to delete this entry?",
                confirmDialogOptions: options
            );

            if (!confirmed)
                return;
            int item_index = NICFields.FindIndex(l => l.id == id);
            if (item_index != -1)
            {
                NICFields[item_index].is_deleted = true;
                await dQ.DeleteBlock7_NICList(id);
                toastService.ShowSuccess("Row deleted successfully!");
                await LoadData();
            }
            else
            {
                toastService.ShowError("Not Able to delete row, Please try again!");
            }

        }
        catch (Exception ex)
        {
            await loggingService.LogError(ex.ToString());
        }

    }



    async Task HandleModal(string action = "", Tbl_Block_7c_NIC? data = null)
    {
        try
        {
            if (action == "ADD")
            {
                fields = new Tbl_Block_7c_NIC();
                fields.id = Guid.NewGuid();
                fields.hhd_id = SessionStorage.selected_hhd_id;
                //fields.Block4Id = block_4.id;
                fields.SerialNumber = NICFields.Count == 0 ? 1 : NICFields.Count + 1;
                editContext = new EditContext(fields);
                messageStore = new ValidationMessageStore(editContext);
                editContext.OnFieldChanged += EditContext_OnFieldChanged;
                await AddModal.ShowAsync();
            }
            else if (action == "UPDATE")
            {
                fields = ObjectCloneHelper.CloneTbl7NICList(data);
                editContext = new EditContext(fields);
                messageStore = new ValidationMessageStore(editContext);
                editContext.OnFieldChanged += EditContext_OnFieldChanged;
                await AddModal.ShowAsync();
            }
            else if (action == "CLOSE")
            {
                await AddModal.HideAsync();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }

    private void OnNicCodeChanged(ChangeEventArgs e)
    {
        string? val = e.Value?.ToString();
        // Clear validation error
        editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => fields.NicCode));
        if (int.TryParse(e.Value?.ToString(), out int selectedNic))
        {
            fields.NicCode = selectedNic;

            // find matching title from the lookup list
            var nicItem = Block_4_Constants.NIC_CODES
                .FirstOrDefault(x => x.id == selectedNic);

            fields.ActivityName = nicItem?.title;
        }
        else if (val == "Others")
        {
            fields.ActivityName = "Others";
            fields.NicCode = null;
        }
        else
        {
            fields.NicCode = null;
            fields.ActivityName = null;
        }
    }

    private void OnGrossValueInput(ChangeEventArgs e)
    {
        var raw = e.Value?.ToString() ?? "";

        // Keep only digits
        raw = new string(raw.Where(char.IsDigit).ToArray());

        // Convert to int? safely
        int number;
        if (int.TryParse(raw, out number))
        {
            fields.GrossValue = number;
        }
        else
        {
            fields.GrossValue = null;
        }

        // Clear validation errors immediately
        editContext?.NotifyFieldChanged(FieldIdentifier.Create(() => fields.GrossValue));
    }


    private async Task Save()
    {
        try
        {
            if(NICFields.Any(x => x.NicCode == fields.NicCode && x.id != fields.id && x.is_deleted != true))
            {
                toastService.ShowError("NIC Code already exists. Please select a different NIC Code.");
                return;
            }
            messageStore.Clear();
            var validation = Validator.Validate(fields);

            foreach (var error in validation.Errors)
            {
                var fieldIdentifier = new FieldIdentifier(fields, error.PropertyName);
                messageStore.Add(fieldIdentifier, error.ErrorMessage);
            }
            editContext.NotifyValidationStateChanged();
            if (validation.IsValid)
            {
                int saved = await dQ.Save_SCH_HIS_Block7_NICList(fields) ?? 0;
                if (saved > 0)
                {
                    toastService.ShowSuccess("Saved successfully");
                    await AddModal.HideAsync();
                    await LoadData();
                }
                else
                {
                    toastService.ShowError("Unable to save the data");
                }
            }
            else
            {
                toastService.ShowError("Please resolve the errors");
                return;
            }
        }
        catch (Exception ex)
        {

        }
    }

    private void Next()
    {
        if(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            NavigationManager.NavigateTo("/dashboard/his/block_7c_2");
            return;
        }
        if (Q9Needed && NICFields.Count == 0)
        {
            toastService.ShowError("Need to add atleast one entry before proceeding");
        }
        else
        {
            NavigationManager.NavigateTo("/dashboard/his/block_7c_2");
        }
    }
    async Task ConfirmforNavigation(LocationChangingContext context)
    {

        if (Q9Needed && NICFields.Count == 0 && !context.TargetLocation.EndsWith("/block_7b"))
        {
            context.PreventNavigation();
            Block_7_c_ConNavemsg = $"Need to add atleast one entry before proceeding";
            toastService.ShowError("Please resolve pending errors");
        }

    }
}

