@page "/dashboard/his/block_7c_3"
@using Blazored.FluentValidation
@using FluentValidation
@using Income.Common.HIS2026
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Validators.HIS2026
@using Income.Viewmodels
@using System.Linq.Expressions
@using System.Reflection
@inject IJSRuntime JSRuntime
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject Comment_vm comment_vm
@inject Warning_VM warningVM
@inject LocalizationService Loc
@inject IValidator<Tbl_Block_7c> Validator

<div class="main-content">
    <CommonContentHeader SelectedFsuId="@SessionStorage.SelectedFSUId" survey_time="@survey_date" />
    @* add comment *@
    @if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
    {

        <div class="card-tools d-flex justify-content-end align-items-end p-2">
            <NavLink class="btn btn-primary"><i class="fi fi-rr-comment-alt me-2"></i>Comment</NavLink>
        </div>
    }
    @if (editContext != null)
    {
        <EditForm EditContext="editContext">
            <FluentValidationValidator />
            
            <div class="card custom-card">
                <div class="card-body p-0">
                    <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">
                    <div class="table-responsive">
                        <table class="table table-bordered align-middle text-center mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="form-label">
                                            <span class="form-badge">Q7.11</span>
                                        </label>
                                    </td>
                                    <td>
                                        Imputed value of goods consumed (out of total production through the activity as mentioned in Q 7.9) by the household during last month
                                        or
                                        Imputed value of goods / services (out of total production through the activity as mentioned in Q 7.9) bartered to other households during last month (in whole no. of Rs.)
                                    </td>
                                    <td>
                                        <input disabled="@(SessionStorage.FSU_Submitted)" class="form-control form-control-sm no-spinner" value="@fields.item_7_11" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                               @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => fields.item_7_11, e);
                                               }" />
                                          <ValidationMessage For="@(() => fields.item_7_11)" />
                                      </td>
                                  </tr>


                                <tr>
                                    <td>
                                        <label class="form-label">
                                            <span class="form-badge">Q7c.9</span>
                                        </label>
                                    </td>
                                    <td>Gross Profit / Loss before tax realized by the establishment during last month (in whole no. of Rs.)</td>
                                    <td>
                                        <input disabled class="form-control form-control-sm no-spinner" value="@fields.item_7_12" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                               @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => fields.item_7_12, e);
                                               }" />
                                          <ValidationMessage For="@(() => fields.item_7_12)" />
                                        @if (!string.IsNullOrEmpty(item_9_warning))
                                        {
                                            <div class="text-success form-text">
                                                @item_9_warning
                                            </div>
                                        }
                                    </td>
                                  </tr>
                            </tbody>
                        </table>
                    </div>
                    </fieldset>
                </div>
            </div>
        </EditForm>

    }

</div>
<div class="footer">
    @* Remarks Card *@
    <div class="card custom-card">
        <div class="card-header">
            <h5 class="card-title m-0">
                Remarks
            </h5>
        </div>
        <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">

        <div class="card-body">
            <textarea maxlength="500" class="form-control w-100" rows="2" @bind="block_1.block_7c_remark" placeholder="Enter your remarks here..." oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '')"></textarea>
        </div>
        </fieldset>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-outline-secondary me-auto" onclick="@GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end">
                @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                {
                    
                <NavLink class="btn btn-outline-primary me-2" @onclick="@(() => Save(false))"><i class="fi fi-rr-disk me-1"></i>Save</NavLink>
                }
                <NavLink class="btn btn-primary" @onclick="@(() => Save(true))">Next<i class="fi-rr-angle-right ms-1"></i></NavLink>
            </div>
        </div>

    </div>

</div>


@code {
    Tbl_Block_7c fields = new();
    List<Tbl_Block_7c_NIC> NICBlock7 = [];
    int NICSUM = 0;
    int ActivitySum = 0;
    List<Tbl_Block_7c_Q10> Q10 = [];
    EditContext editContext;
    ValidationMessageStore messageStore;
    DBQueries dB = new();
    private Tbl_Block_1 block_1 = new();
    CommonQueries commonQueries = new();

    bool isAdd;
    DateTime survey_date = DateTime.Now;
    string remarks = string.Empty;
    string item_9_warning = string.Empty;

    async void GoBack()
    {
        await JSRuntime.InvokeVoidAsync("__handleGoBack");
        return;
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        NICBlock7 = await dB.Fetch_SCH_HIS_Block7_NICList();
        block_1 = await dB.FetchSingleForFsuAndHhdAsync<Tbl_Block_1>() ?? null;

        Q10 = await dB.Fetch_SCH_HIS_Block7_Q10_List();
        NICSUM = NICBlock7.Sum(x => x.GrossValue).GetValueOrDefault();
        ActivitySum = Q10.Sum(x => x.item_10_11).GetValueOrDefault();
        editContext = new EditContext(fields);
        messageStore = new ValidationMessageStore(editContext);
        editContext.OnFieldChanged += EditContext_OnFieldChanged;
        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
        {
            block_uri = "/dashboard/his/block_7c_3",
            block_title = "HIS Block 7c_3",
            block_code = CommonEnum.his_block_7c_3.ToString(),
        };
        await commonQueries.InsertVisitedBlock(vb);
        StateHasChanged();
    }

    private void EditContext_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        // Clear validation messages for this specific field
        messageStore.Clear(e.FieldIdentifier);

        // Update validation state
        editContext.NotifyValidationStateChanged();
    }

    private async Task LoadData()
    {
        fields = await dB.Fetch_SCH_HIS_Block7C(SessionStorage.selected_hhd_id);
        if (fields == null)
        {
            fields = new Tbl_Block_7c()
            {
                id = Guid.NewGuid()
            };
        }
    }

    private void UpdateFieldAndValidate(Expression<Func<int?>> field, ChangeEventArgs e)
    {
        var identifier = FieldIdentifier.Create(field);

        // Try parse
        int? value = null;
        if (!string.IsNullOrWhiteSpace(e.Value?.ToString()) &&
            int.TryParse(e.Value?.ToString(), out var v))
        {
            value = v;
        }

        // 1️⃣ Update the actual model field
        var memberExpr = (MemberExpression)field.Body;
        var prop = (PropertyInfo)memberExpr.Member;
        prop.SetValue(fields, value);

        fields.item_7_12 = (NICSUM + fields.item_7_11.GetValueOrDefault()) - ActivitySum;
        CheckItem9Warning();
        // 2️⃣ Clear previous errors
        messageStore?.Clear(identifier);

        // 3️⃣ Notify Blazor validation system
        editContext?.NotifyFieldChanged(identifier);
    }

    void CheckItem9Warning()
    {
        try
        {
            item_9_warning = string.Empty;
            if(fields.item_7_12.GetValueOrDefault() < 0)
            {
                item_9_warning = $"W052: Cost of input is more than gross value of receipts, please check the entries and provide suitable clarifications";
            }
        }
        catch (Exception ex)
        {

        }

    }

    private async Task Save(bool is_go_next = false)
    {
        try
        {
            if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {
                NavigationManager.NavigateTo("/dashboard/his/block_7d");
                return;
            }
            // if (!codeListEntryNeeded)
            // {
            //     NavigationManager.NavigateTo("/dashboard/his/block_7b");
            //     return;
            // }

            messageStore.Clear();
            var validation = Validator.Validate(fields);

            foreach (var error in validation.Errors)
            {
                var fieldIdentifier = new FieldIdentifier(fields, error.PropertyName);
                messageStore.Add(fieldIdentifier, error.ErrorMessage);
            }
            editContext.NotifyValidationStateChanged();

            if (!validation.IsValid)
            {
                toastService.ShowError("Please resolve all the errors");
                return;
            }
            else
            {
                CheckItem9Warning();
                if (!string.IsNullOrEmpty(item_9_warning))
                {
                    warningVM.AddWarning(item_9_warning, "HIS", "7C", "7C.9", SessionStorage.selected_hhd_id);
                    await warningVM.SaveWarningAsync("HIS", "7C");
                }
                int saved = await dB.Save_SCH_HIS_Block7C(fields);
                if (saved > 0)
                {
                    toastService.ShowSuccess("Saved successfully");
                }
                else
                {
                    toastService.ShowSuccess("Data could not be saved");
                }
            }

            if (!is_go_next)
            {
                return;
            }
            if (block_1 != null)
            {
                await dB.SaveAsync<Tbl_Block_1>(block_1);
            }
           
            NavigationManager.NavigateTo("/dashboard/his/block_7d");
         
        }
        catch (Exception ex)
        {

        }
    }
}
