@page "/dashboard/his/block_8b"
@using Blazored.FluentValidation
@using FluentValidation
@using Income.Common.HIS2026
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Validators.HIS2026
@using Income.Viewmodels
@using System.Linq.Expressions
@using System.Reflection
@inject IJSRuntime JSRuntime
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject Comment_vm comment_vm
@inject LocalizationService Loc
@inject ILoggingService loggingService

<div class="main-content">
    <CommonContentHeader SelectedFsuId="@SessionStorage.SelectedFSUId" survey_time="@survey_time" />
    @* 7.1 *@
    <div class="card custom-card">
        <div class="card-header">
            <h5 class="card-title">
                <span class="text-primary me-1">Block 8:</span>
                Income from Transfer receipts
            </h5>
            @if (!SessionStorage.FSU_Submitted)
            {
                @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                {
                    
                <div class="card-tools">
                    <button class="btn btn-primary" disabled="@(!benefitsEntryNeeded)" @onclick="@(() => OnShowModalClick("ADD"))"><i class="fi fi-rr-plus me-1"></i>Add</button>
                </div>
                }
            }
            @* add comment *@
            @if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {

                <div class="card-tools d-flex justify-content-end align-items-end p-2">
                    <NavLink class="btn btn-primary" onclick="@(() => commentModal.Open())"><i class="fi fi-rr-comment-alt me-2"></i>Comment</NavLink>
                </div>
            }
        </div>
       
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-bordered align-middle text-center mb-0">
                    <thead>
                        <tr>
                            <th colspan="10" class="bg-transparent text-start">
                                <label class="form-label fw-bold m-0">
                                    <span class="badge bg-primary me-1 me-2">Q8.6 </span>
                                    Government social assistance benefits
                                </label>
                            </th>
                        </tr>
                        <tr>
                            <th style="min-width: 60px;">S. No.</th>
                            <th>Name of the scheme</th>
                            <th>No. of beneficiaries in the household as on date of survey</th>
                            <th>No. of months for which benefits received by all the beneficiaries of the household in last 365 days</th>
                            <th>Total amount received in last 365 days (in Rs.)</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                            <th>(1)</th>
                            <th>(2)</th>
                            <th>(3)</th>
                            <th>(4)</th>
                            <th>(5)</th>
                            <th>(6)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in SchemeList)
                        {
                            <tr>
                                <td>@item.serial_number</td>
                                <td>@(Block_8_Constants.Q8_6_Schemes.First(x => x.id == item.item_2).title)</td>
                                <td>@item.item_3</td>
                                <td>@item.item_4</td>
                                <td>@item.item_5</td>
                                @if (!SessionStorage.FSU_Submitted)
                                {
                                    @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                                    {
                                        
                                    <td class="d-flex align-items-center">
                                        <button class="btn btn-link me-2 fs-6" @onclick="@(() => OnShowModalClick("UPDATE", item))"><i class="fi fi-rr-pencil"></i></button>
                                        <button class="btn btn-link text-danger fs-6" @onclick="@(() => Delete(item))"><i class="fi fi-rr-trash"></i></button>
                                    </td>
                                    }
                                }

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    @* Remarks Card *@
    <div class="card custom-card">
        <div class="card-header">
            <h5 class="card-title m-0">
                Remarks
            </h5>
        </div>
        <div class="card-body">
            <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">
                <textarea maxlength="500" class="form-control w-100" rows="2" @bind="block_1.block_8b_remark" placeholder="Enter your remarks here..." oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '')"></textarea>
            </fieldset>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-outline-secondary" @onclick="GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end">
                <NavLink class="btn btn-primary" @onclick="Next">Next<i class="fi fi-rr-angle-right ms-1"></i></NavLink>
            </div>
        </div>

    </div>
</div>
<Modal @ref="modal" title="@((isAdd ? "Add Details" : "Update Details"))" IsVerticallyCentered="true" Size="ModalSize.ExtraLarge" Fullscreen="ModalFullscreen.LargeDown">
    <BodyTemplate>
        @if (editContext != null)
        {
            <EditForm EditContext="editContext">
                <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label for="" class="form-label">
                                <span class="form-badge">1</span> S. No.
                            </label>
                            <input type="text" class="form-control form-control-sm" disabled value="@fields.serial_number">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label for="" class="form-label">
                                <span class="form-badge">2</span> Name of the scheme
                            </label>
                            <select disabled="@SessionStorage.FSU_Submitted" class="form-select form-select-sm" value="@fields?.item_2"
                                    @onchange="e =>
                                    {
                                        UpdateFieldAndValidate(() => fields.item_2, e);
                                    }">
                                    <option>Select</option>
                                @foreach (var item in Block_8_Constants.Q8_6_Schemes)
                                {
                                    <option value="@item.id">@item.title</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => fields.item_2)" />

                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label for="" class="form-label">
                                <span class="form-badge">3</span> No. of beneficiaries in the household as on date of survey
                            </label>
                            <input type="number" disabled="@SessionStorage.FSU_Submitted" value="@fields?.item_3" class="form-control form-control-sm no-spinner" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                    @oninput="e =>
                                    {
                                        UpdateFieldAndValidate(() => fields.item_3, e);
                                    }">
                                <ValidationMessage For="@(() => fields.item_3)" />

                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label for="" class="form-label">
                                <span class="form-badge">4</span> No. of months for which benefits received by all the beneficiaries of the household in last 365 days
                            </label>
                            <input disabled="@SessionStorage.FSU_Submitted" type="number" class="form-control form-control-sm no-spinner" value="@fields?.item_4" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                    @oninput="e =>
                                    {
                                        UpdateFieldAndValidate(() => fields.item_4, e);
                                    }">
                                <ValidationMessage For="@(() => fields.item_4)" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div>
                            <label for="" class="form-label">
                                <span class="form-badge">5</span> Total amount received in last 365 days (in Rs.)
                            </label>
                            <input disabled="@SessionStorage.FSU_Submitted" type="number" class="form-control form-control-sm no-spinner" value="@fields?.item_5" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                    @oninput="e =>
                                    {
                                        UpdateFieldAndValidate(() => fields.item_5, e);
                                    }">
                                <ValidationMessage For="@(() => fields.item_5)" />
                            </div>
                        </div>
                    </div>
                </fieldset>
                </EditForm>

        }

    </BodyTemplate>
    <FooterTemplate>
        <Button class="btn btn-outline-secondary me-auto" @onclick="OnHideModalClick">Close</Button>
        @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
        {

            <Button class="btn btn-primary" @onclick="Save">Save</Button>
        }
    </FooterTemplate>
</Modal>

<CommentModal @ref="commentModal"
              MemberList=RowList
              QuestionList="@(new List<string>(){"2","3","4","5"})"
              Block="8B" />


@code {
    private Modal modal = default!;
    private List<Tbl_Block_3> MemberList = [];
    private List<Tbl_Block_8_Q6> SchemeList = [];
    private Tbl_Block_8_Q6 fields = new();
    private Tbl_Block_1? block_1 = new();
    CommonQueries commonQueries = new();
    EditContext editContext;
    ValidationMessageStore messageStore;
    bool benefitsEntryNeeded = false;
    readonly DBQueries dB = new();
    bool isAdd;
    private string remarks = string.Empty;
    CommentModal commentModal = default!;
    List<int> RowList = [];
    DateTime survey_time = DateTime.Now;

    async Task GoBack()
    {
        await JSRuntime.InvokeVoidAsync("__handleGoBack");
    }
    protected override async Task OnInitializedAsync()
    {
        MemberList = await dB.Fetch_SCH_HIS_Block3(SessionStorage.selected_hhd_id);
        benefitsEntryNeeded = MemberList != null && MemberList.Any(x => x.item_12 == 1);
        block_1 = await dB.FetchSingleForFsuAndHhdAsync<Tbl_Block_1>() ?? null;
        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
        {
            block_uri = "/dashboard/his/block_8b",
            block_title = "HIS Block 8b",
            block_code = CommonEnum.his_block_8b.ToString(),
        };
        await LoadData();
        await commonQueries.InsertVisitedBlock(vb);
        if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            survey_time = SchemeList
                            .OrderByDescending(x => x.survey_timestamp)
                            .Select(x => (DateTime?)x.survey_timestamp)
                            .FirstOrDefault().GetValueOrDefault();

        }
        StateHasChanged();
    }

    private void UpdateFieldAndValidate(Expression<Func<int?>> field, ChangeEventArgs e)
    {
        var identifier = FieldIdentifier.Create(field);

        // Try parse
        int? value = null;
        if (!string.IsNullOrWhiteSpace(e.Value?.ToString()) &&
            int.TryParse(e.Value?.ToString(), out var v))
        {
            value = v;
        }

        // 1️⃣ Update the actual model field
        var memberExpr = (MemberExpression)field.Body;
        var prop = (PropertyInfo)memberExpr.Member;
        prop.SetValue(fields, value);

        // 2️⃣ Clear previous errors
        messageStore?.Clear(identifier);

        // 3️⃣ Notify Blazor validation system
        editContext?.NotifyFieldChanged(identifier);
    }

    private async Task OnShowModalClick(string mode = "", Tbl_Block_8_Q6? data = null)
    {
        if (mode == "ADD")
        {
            isAdd = true;
            fields = new();
            fields.id = Guid.NewGuid();
            fields.serial_number = SchemeList.Count + 1;
            editContext = new EditContext(fields);
            messageStore = new ValidationMessageStore(editContext);
            editContext.OnFieldChanged += EditContext_OnFieldChanged;
        }
        else if (mode == "UPDATE")
        {
            isAdd = false;

            if (data != null)
            {
                fields = ObjectCloneHelper.ShallowCopy(data);
                editContext = new EditContext(fields);
                messageStore = new ValidationMessageStore(editContext);
                editContext.OnFieldChanged += EditContext_OnFieldChanged;
            }
        }
        await modal.ShowAsync();
    }

    private void EditContext_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        // Clear validation messages for this specific field
        messageStore.Clear(e.FieldIdentifier);

        // Update validation state
        editContext.NotifyValidationStateChanged();
    }

    private async Task OnHideModalClick()
    {
        await modal.HideAsync();
    }

    private async Task Save()
    {
        try
        {
            if (SchemeList != null && SchemeList.Count > 0 && SchemeList.Any(x => x.item_2 == fields.item_2 && x.id != fields.id && x.is_deleted != true))
            {
                toastService.ShowError("Cannot add the same scheme again");
                return;
            }
            int applicableMembers = MemberList.Count(x => x.item_12 == 1);
            var validator = new Block_8_6_Validator(applicableMembers);
            messageStore.Clear();
            var result = await validator.ValidateAsync(fields);
            foreach (var error in result.Errors)
            {
                var fieldIdentifier = new FieldIdentifier(fields, error.PropertyName);
                messageStore.Add(fieldIdentifier, error.ErrorMessage);
            }

            editContext.NotifyValidationStateChanged();
            if (!result.IsValid)
            {
                toastService.ShowError("Please resolve pending errors");
                return;
            }
            else
            {
                int saved = await dB.Save_SCH_HIS_Block8_Q6(fields);
                if (saved > 0)
                    toastService.ShowSuccess("Data saved successfully");
                else
                    toastService.ShowError("Unable to save data");
                await modal.HideAsync();
                await LoadData();
            }
        }
        catch (Exception ex)
        {
            await loggingService.LogError(ex.ToString());
        }
    }

    private async Task LoadData()
    {
        SchemeList = await dB.Fetch_SCH_HIS_Block8_6(SessionStorage.selected_hhd_id);
        RowList = SchemeList.Select(x => x.serial_number.GetValueOrDefault()).Distinct().ToList();
        StateHasChanged();
    }

    private async Task Delete(Tbl_Block_8_Q6 item)
    {
        try
        {
            int deleted = await dB.Delete_SCH_HIS_Block8_Q6(item);
            if (deleted == 1)
            {
                toastService.ShowSuccess("Deleted successfully");
                await LoadData();
            }
            else
            {
                toastService.ShowError("Could not delete item");
                return;
            }
        }
        catch (Exception ex)
        {
            await loggingService.LogError(ex.ToString());
        }
    }

    async void Next()
    {
        try
        {
            if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {
                NavigationManager.NavigateTo("/dashboard/his/block_9a");
                return;
            }
            if (block_1 != null)
            {
                await dB.SaveAsync<Tbl_Block_1>(block_1);
            }
           
            if (benefitsEntryNeeded && SchemeList.Count == 0)
            {
                toastService.ShowError("H059: Need to enter atleast entry in Q8.6");
                return;
            }
            else
            {
                NavigationManager.NavigateTo("/dashboard/his/block_9a");
            }
        }
        catch (Exception ex)
        {
            await loggingService.LogError(ex.ToString());
        }
    }
}
