@page "/dashboard/his/block0_1"
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.SurveyLibrary
@using Income.Viewmodels
@inject IJSRuntime JSRuntime
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject Comment_vm comment_vm
@inject LocalizationService Loc


<div class="main-content">
    <CommonContentHeader SelectedFsuId="@SelectedFsuId"
                         survey_time="@survey_time" />
    <ConfirmDialog @ref="dialog" />

    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">
                <span class="text-primary me-2">[1]</span>Identification of sample household
            </h3>
            @if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {
                <div cllass="card-tools">
                    <NavLink class="btn btn-primary" @onclick="@(() => commentModal.Open())"><i class="fi fi-rr-comment-alt me-2"></i>Comment</NavLink>
                </div>             
            }
        </div>
        <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">1</span>@Loc["sector"]
                        </label>
                        <input type="text" class="form-control" value="@block_1.sector_name" disabled>
                    </div>
                </div>
               <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">2</span>@Loc["state_ut_name"]
                        </label>
                        <input type="text" class="form-control is_sso" value="@block_1.state_name" disabled>
                    </div>
               </div>
               <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">3</span>@Loc["district_name"]
                        </label>
                        <input type="text" class="form-control is_sso" disabled value="@block_1.district_name">
                    </div>
               </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">4</span>@Loc["sub_dist"]
                        </label>
                        <input type="text" class="form-control is_sso" disabled value="@block_1.town_name">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">5</span>@Loc["vill_name"]
                        </label>
                        <input type="text" class="form-control is_sso" disabled value="@block_1.village_name">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">6</span>@Loc["invst_unit_no"]
                        </label>
                        <input type="text" class="form-control is_sso" disabled value="@block_1.investigator_unit_no">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">7</span>@Loc["sample_su_no"]
                        </label>
                        <input type="text" class="form-control is_sso" disabled value="@block_1.sample_su_number">
                    </div>
                </div>
                
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">8</span>@Loc["serial_no_sample_fsu"]
                        </label>
                        <input type="text" class="form-control is_sso" disabled value="@block_1.serial_number_sample_fsu">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">9</span>@Loc["sample_sub_div_no"]
                        </label>
                        <input type="text" class="form-control is_sso" disabled value="@block_1.sample_sub_division_number">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">10</span>@Loc["sss_number"]
                        </label>
                        <input type="text" class="form-control is_sso" disabled value="@block_1.sss_number">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">11</span>@Loc["sample_hh_number"]
                        </label>
                        <input type="text" class="form-control is_sso" disabled value="@block_1.sample_hhd_number">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">12</span>@Loc["survey_code"]
                        </label>
                        <select class="form-select is_sso" disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)" value="@block_1.survey_code" @onchange="@((ChangeEventArgs e) => SurveyCodeSelectionChanged(e))">
                            <option value="">Select</option>
                            @if (commonList.LOOKUP_CONST_HHD_SURVEY_CODE != null && commonList.LOOKUP_CONST_HHD_SURVEY_CODE.Count > 0)
                            {
                                @foreach (var item in commonList.LOOKUP_CONST_HHD_SURVEY_CODE)
                                {
                                    @if(is_substitute)
                                    {
                                        if (item.id != 1)
                                        {
                                            <option value="@item.id">@item.title</option>
                                        }
                                    }
                                    else
                                    {
                                        if (item.id != 2)
                                        {
                                            <option value="@item.id">@item.title</option>
                                        }
                                    }                                 
                                }
                            }
                        </select>
                    </div>
                </div>
               <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="form-badge">13</span>@Loc["reason_for_substitution"]
                        </label>

                        <select class="form-select w-100 is_sso" value="@block_1.substitution_reason" disabled="@((is_substitution_reason_disable || (hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)))" @onchange="@((ChangeEventArgs e) => SubstitutionReasonChanged(e))">
                            <option value="">Select</option>
                            @if (commonList.LOOKUP_CONST_HHD_SUBSTITUTION_REASON != null && commonList.LOOKUP_CONST_HHD_SUBSTITUTION_REASON.Count > 0)
                            {
                                @foreach (var item in commonList.LOOKUP_CONST_HHD_SUBSTITUTION_REASON)
                                {
                                    <option value="@item.id">@item.title</option>
                                }
                            }
                        </select>
                    </div>
                    @* When user will select code 9 - others in q.17 the 17.1 will be enabled *@
                    <div class="col-sm-12" hidden="@(!is_remarks_visible)">
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">13.1</span>
                                Reason
                            </label>
                            <textarea maxlength="50" disabled="@SessionStorage.FSU_Submitted" type="text" class="form-control" @bind="block_1.substitution_reason_remark" placeholder="Enter your remarks here..." rows="2" oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '')"></textarea>
                        </div>
                    </div>
               </div>
               <div class="col-sm-12">
                    <div class="mb-3 col-12">
                        <label class="form-label"><span class="form-badge">15</span>Remarks</label>
                        <textarea maxlength="500" type="text" disabled="@SessionStorage.FSU_Submitted" class="form-control is_sso w-100" @bind="block_1.block_1_remark" placeholder="Enter your remarks here..." rows="2" oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '')"></textarea>
                    </div>
               </div>
            </div>
        </div>
        </fieldset>
    </div>
</div>

<div class="footer">
    <div class="row">
        <div class="col-sm-6">
            <div class="d-flex">
                <button class="btn btn-outline-secondary" onclick="@GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end">
                @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                {
                    <NavLink class="btn btn-outline-primary me-2 is_sso action" @onclick="@(() => HandleSubmit(false))"><i class="fi fi-rr-disk me-1"></i>Save</NavLink>
                }
                <NavLink class="btn btn-primary" @onclick="@(() => HandleSubmit(true))">Next<i class="fi fi-rr-angle-right ms-1"></i></NavLink>
            </div>
        </div>
    </div>
    
</div>

<CommentModal @ref="commentModal"
              MemberList=null
              QuestionList="@(new List<string>(){"12","13"})"
              Block="1" />

@code {
    int SelectedFsuId = SessionStorage.SelectedFSUId;
    private CommonConfig commonConfig = new CommonConfig();
    CommonList commonList = new();
    DateTime survey_time = DateTime.Now;
    DBQueries dQ = new();
    CommonQueries commonQueries = new();
    Tbl_Comments comments = new();
    List<string> Question = new List<string>();
    List<Tbl_Warning> CommentList = [];
    //hhd_status_manager current_status = new();
    List<int> RowList = [];
    Tbl_Block_1 block_1 = new();
    bool is_substitution_reason_disable = true;
    bool is_remarks_visible = false;
    int hhdStatus = 0;
    CommonFunction function = new();
    ConfirmDialog dialog = default!;
    private bool show_substitution_reason => (block_1.survey_code == 3 || block_1.survey_code == 9);
    private bool is_substitute = false;
    bool isAdd = false;
    CommentModal commentModal = default!;

    public void SurveyCodeSelectionChanged(ChangeEventArgs args)
    {
        block_1.survey_code = string.IsNullOrEmpty(args.Value.ToString()) ? null : Convert.ToInt32(args.Value.ToString());
        if (CommonConstants.LOOKUP_SURVEY_CODE_HDD_2 == args.Value.ToString() || CommonConstants.LOOKUP_SURVEY_CODE_HDD_3 == args.Value.ToString() || CommonConstants.LOOKUP_SURVEY_CODE_HDD_9 == args.Value.ToString())
        {
            is_substitution_reason_disable = false;
        }
        else
        {
            is_substitution_reason_disable = true;
        }
        is_remarks_visible = false;
        block_1.substitution_reason = null;
        block_1.block_1_remark = string.Empty;
    }

    public void SubstitutionReasonChanged(ChangeEventArgs args)
    {
        block_1.substitution_reason = string.IsNullOrEmpty(args.Value.ToString()) ? null : Convert.ToInt32(args.Value.ToString());
        if (block_1.substitution_reason == 9)
        {
            is_remarks_visible = true;
        }
        else
        {
            is_remarks_visible = false;
        }
    }

    async void GoBack()
    {
        await JSRuntime.InvokeVoidAsync("__handleGoBack");
        return;
    }

    protected override async Task OnInitializedAsync()
    {
        hhdStatus = await dQ.GetCurrentHHDStatus(SessionStorage.SelectedFSUId,SessionStorage.selected_hhd_id);
        var hhd = await dQ.GetCurrentHHD(SessionStorage.SelectedFSUId, SessionStorage.selected_hhd_id);
        if (hhd != null)
        {
            if(hhd.status == "SUBSTITUTE")
            {
                is_substitute = true;
            }
        }
        for (var i = 12; i <= 13; i++)
        {
            Question.Add(i.ToString());
        }

        if (SessionStorage.role_name != CommonConstants.ROLE_NAME_JSO)
        {
            await JSRuntime.InvokeVoidAsync("__disableFieldsAndButtons");
        }
        var row = await dQ.GetSelectedSubUnit(SessionStorage.SelectedFSUId.ToString());
        int subD = 0;
        if (row != null)
        {
            subD = row.serial_number.GetValueOrDefault() == 0 ? 1 : row.serial_number.GetValueOrDefault();
        }
        else
        {
            subD = 1;
        }
        var response = await dQ.Fetch_SCH_HIS_Block1(SessionStorage.selected_hhd_id) ?? new();
        if (response.id != Guid.Empty)
        {
            block_1 = new();
            block_1 = response;
            //init_survey_code = response.survey_code;
            if (SessionStorage.role_name == CommonConstants.ROLE_NAME_JSO)
            {
                var location = string.IsNullOrEmpty(SessionStorage.location) ? await function.fetchGeoLocation() : SessionStorage.location;
                block_1.survey_coordinates = string.IsNullOrEmpty(block_1.survey_coordinates) ? location : block_1.survey_coordinates;
                SessionStorage.location = block_1.survey_coordinates;
            }
            else
            {
                SessionStorage.location = block_1.survey_coordinates;
                SessionStorage.survey_timestamp = (DateTime)block_1.survey_timestamp;
            }
            is_remarks_visible = block_1.substitution_reason == 9 ? true : false;
        }
        else
        {
            var sch_0_block_1_res = await dQ.FetchBlock1();
            var GetSelectedSUNumber = await dQ.FetchSCH0Block2_2Data();
            block_1 = new();
            block_1.id = Guid.NewGuid();
            block_1.state_name = sch_0_block_1_res.Block_0_1;
            block_1.sector_name = sch_0_block_1_res.Block_1_5 == null ? "" : sch_0_block_1_res.Block_1_5.ToString() == "1" ? "rural-1" : "urban-2";
            block_1.district_name = sch_0_block_1_res.Block_0_2;
            block_1.sub_district_name = sch_0_block_1_res.Block_0_3;
            block_1.village_name = sch_0_block_1_res.Block_0_4;
            block_1.investigator_unit_no = sch_0_block_1_res.Block_1_7;
            block_1.sample_su_number = GetSelectedSUNumber?.Where(x => x.IsChecked == true)?.FirstOrDefault()?.serial_number.ToString();//sch_0_block_1_res.Block_1_8;
            block_1.schedule_number = "HIS2026";
            block_1.sss_number = hhd?.SSS ?? 0;
            block_1.serial_number_sample_fsu = SessionStorage.SelectedFSUId.ToString();
            block_1.sample_sub_division_number = subD;
            block_1.sample_hhd_number = SessionStorage.selected_hhd_seq;
            block_1.town_name = sch_0_block_1_res.Block_0_4;
            block_1.survey_coordinates = string.IsNullOrEmpty(SessionStorage.location) ? await function.fetchGeoLocation() : SessionStorage.location;
            SessionStorage.location = block_1.survey_coordinates;
            block_1.survey_timestamp = DateTime.Now;
            SessionStorage.survey_timestamp = (DateTime)block_1.survey_timestamp;
            if (is_substitute)
            {
                block_1.survey_code = 2;
            }
        }
        Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
        {
            block_uri = "/dashboard/his/block0_1",
            block_title = "HIS Block 1",
            block_code = CommonEnum.his_block_1.ToString(),
        };
        await commonQueries.InsertVisitedBlock(vb);
        StateHasChanged();
    }

    public async Task HandleSubmit(bool is_go_next)
    {
        if (SessionStorage.role_name != CommonConstants.ROLE_NAME_JSO)
        {
            if (block_1.survey_code.ToString() == CommonConstants.LOOKUP_SURVEY_CODE_HDD_3)
            {
                NavigationManager.NavigateTo("/dashboard/his/block_10");
            }
            else
            {
                NavigationManager.NavigateTo("/dashboard/his/block_3");
            }
        }

        if (block_1.survey_code == null)
        {
            toastService.ShowError("Please select a survey code");
            return;
        }

        if (is_remarks_visible && string.IsNullOrWhiteSpace(block_1.substitution_reason_remark))
        {
            toastService.ShowError("Please provide a reason before proceeding");
            return;
        }

        if (block_1.survey_code == 9)
        {
            if(block_1.substitution_reason == null)
            {
                toastService.ShowError("Please select a reason before proceeding");
                return;
            }
            var options = new ConfirmDialogOptions { IsVerticallyCentered = true };
            var confirmation = await dialog.ShowAsync(
                title: "Alert",
                message1: "This will delete any existing block data for this household.",
                message2: "Do you want to proceed?",
                confirmDialogOptions: options);
            if (!confirmation)
            {
                return;
            }
            var service = new HouseholdSelectionService();
            var hhd_list = await dQ.Get_SCH0_0_Block_5A_HouseHoldBy_FSUP(SessionStorage.SelectedFSUId);
            var current_hhd = hhd_list.Where(x => x.Block_7_3 == SessionStorage.selected_hhd_id).FirstOrDefault();
            var nextHousehold = service.FindSubstitute(hhd_list, current_hhd);
            if (nextHousehold == null)
            {
                toastService.ShowError("No substitute household available. Please mark this household as casualty");
                return;
            }
            else
            {
                nextHousehold.SSS_household_id = current_hhd.SSS_household_id;
                nextHousehold.status = "SUBSTITUTE";
                nextHousehold.isSelected = true;
                nextHousehold.isSubstitute = true;

                current_hhd.SSS_household_id = 0;
                current_hhd.status = "SUBSTITUTED";
                current_hhd.hhdStatus = null;
                current_hhd.isSelected = true;
                current_hhd.SubstitutionCount += 1;

                await dQ.Update_SCH0_0_Block_7(current_hhd);
                await dQ.Update_SCH0_0_Block_7(nextHousehold);
                await dQ.Save_SCH_HIS_Block1(block_1);
                await commonQueries.DeleteBlockDataForCasulaty();
                await service.ReassignSSSHouseholdIds(current_hhd.SSS);
                NavigationManager.NavigateTo("/dashboard/his/ssu_page");
                return;
            }
        }

        if (block_1.survey_code == 3)
        {
            if (block_1.substitution_reason == null)
            {
                toastService.ShowError("Please select a reason before proceeding");
                return;
            }
            var options = new ConfirmDialogOptions { IsVerticallyCentered = true };
            var confirmation = await dialog.ShowAsync(
                title: "Alert",
                message1: "This will delete any existing block data for this household.",
                message2: "Do you want to proceed?",
                confirmDialogOptions: options);
            if (!confirmation)
            {
                return;
            }
            var service = new HouseholdSelectionService();

            var hhd_list = await dQ.Get_SCH0_0_Block_5A_HouseHoldBy_FSUP(SessionStorage.SelectedFSUId);
            var current_hhd = hhd_list.Where(x => x.Block_7_3 == SessionStorage.selected_hhd_id).FirstOrDefault();
            var nextHousehold = service.FindSubstitute(hhd_list, current_hhd);
            if (nextHousehold != null)
            {
                toastService.ShowError("Substitute household is available. Please select substitute household instead of marking as casualty");
                return;
            }
            current_hhd.status = "CASUALTY";
            current_hhd.isSelected = true;
            current_hhd.isCasualty = true;
            current_hhd.SSS_household_id = 0;
            await dQ.Update_SCH0_0_Block_7(current_hhd);
            await service.ReassignSSSHouseholdIds(current_hhd.SSS);
            toastService.ShowInfo("Household has been marked as casualty");
            await commonQueries.DeleteBlockDataForCasulaty();
        }

        if(block_1.survey_code == 1)
        {
            block_1.substitution_reason = null;
        }

        var response = await dQ.Save_SCH_HIS_Block1(block_1);
        if (response != 1)
        {
            toastService.ShowError("Getting error while deleting record, Please try again!");
            return;
        }
        else
        {
            toastService.ShowSuccess("Data saved successfully!");
            if (is_go_next)
            {
                if (block_1.survey_code.ToString() == CommonConstants.LOOKUP_SURVEY_CODE_HDD_3)
                {
                    NavigationManager.NavigateTo("/dashboard/his/block_12");
                    return;
                }
                else
                {
                    NavigationManager.NavigateTo("/dashboard/his/block_3");
                }
            }
        }
        return;

    }
}
