@page "/dashboard/his/block_4_3"
@using Blazored.FluentValidation
@using FluentValidation
@using Income.Common.HIS2026
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Database.Models.SCH0_0
@using Income.Validators.HIS2026
@using Income.Viewmodels
@inject IJSRuntime JSRuntime
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject Comment_vm comment_vm
@inject LocalizationService Loc
@inject IValidator<Tbl_Block_4> Validator


@if (editContext != null)
{
<EditForm EditContext="editContext">
    <FluentValidationValidator />
    <div class="main-content">
        <CommonContentHeader SelectedFsuId="@SessionStorage.SelectedFSUId"
                                survey_time="@survey_time" />
        <div class="card custom-card">
            <div class="card-header">
                <h3 class="card-title"><span class="text-primary me-2">[4]</span>Household Characteristics</h3>
                <div class="card-tools">
                    <NavLink hidden="@((SessionStorage.role_name == CommonConstants.ROLE_NAME_JSO))" class="btn btn-primary" @onclick="@(() => Comment())"><i class="fi fi-rr-comment-alt me-2"></i>Comment</NavLink>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <!--4.6-->
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">6</span>
                                Own any land (within the country)?
                            </label>
                            <select class="form-select is_sso"
                                    value="@block_4?.item_6"
                                    @onchange="item_6_changed"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)">
                                <option value="">Select</option>
                                @if (commonList.LOOKUP_CONST_YES_NO != null)
                                {
                                    @foreach (var item in commonList.LOOKUP_CONST_YES_NO)
                                    {
                                        <option value="@item.id">@item.title</option>
                                    }
                                }
                            </select>
                            <ValidationMessage For="@(() => block_4.item_6)" />
                        </div>
                    </div>
                    <!--4.7-->
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">7</span>
                                If yes, total area (in acre)
                            </label>
                            <input type="text"
                                    class="form-control is_sso"
                                    value="@block_4.item_7"
                                    @oninput="OnItem7Changed"
                                    onkeypress="return /^(\d+(\.\d{0,3})?)?$/.test(this.value + event.key)"
                                    disabled="@(block_4?.item_6 != 1 || (hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12))" />
                            <ValidationMessage For="@(() => block_4.item_7)" />
                        </div>
                    </div>
                    <!--4.8-->
                    <div class="col-sm-12">
                        <div hidden="@(block_4?.item_6 != 1)">
                            <label class="form-label">
                                <span class="form-badge">8</span>
                                Use of land owned <small class="text-muted">(multiple select)</small>
                            </label>
                            <div class="d-flex flex-wrap mt-3">
                                @if (Block_4_Constants.Q4_8 != null && Block_4_Constants.Q4_8.Count > 0)
                                {
                                    @foreach (var item in Block_4_Constants.Q4_8)
                                    {
                                        <label class="siteCustomCheckbox me-5 mb-3">
                                            <input class="is_sso"
                                                    type="checkbox"
                                                    value="@item.id"
                                                    checked="@SelectedLandUses.Contains(item.id)"
                                                    @onchange="() => ToggleLandUse(item.id)"
                                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)" />
                                            <span class="label-text">@item.title</span>
                                        </label>
                                    }
                                }
                                <ValidationMessage For="@(() => block_4.item_8)" />
                                @if (!string.IsNullOrEmpty(Item8WarningMessage))
                                {
                                    <div class="form-text text-success mb-3">
                                        @Item8WarningMessage
                                    </div>
                                }
                            </div>
                            
                        </div>
                    </div>

                    <!-- Row 1: Q4.9 and Q4.10 -->
                    <div class="col-sm-12">
                        <!--4.9-->
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">9</span>
                                Does the household perform any economic activity on any building/structure during last 365 days?
                            </label>
                            <select class="form-select is_sso"
                                    value="@block_4.item_9"
                                    @onchange="item_9_changed"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)">
                                <option value="">Select</option>
                                @foreach (var item in Block_4_Constants.Q4_9)
                                {
                                    <option value="@item.id">@item.title</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => block_4.item_9)" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!--4.10-->
                        <div hidden="@(block_4?.item_9 != 1 && block_4?.item_9 != 2 && block_4?.item_9 != 3)">
                            <label class="form-label">
                                <span class="form-badge">10</span>
                                If codes 1–3 in Q4.9, type of economic activity(ies) household performed during last 365 days
                            </label>
                            <div class="d-flex flex-wrap mt-3">
                                @foreach (var item in Block_4_Constants.Q4_10)
                                {
                                    <label class="siteCustomCheckbox me-5 mb-3">
                                        <input class="is_sso"
                                                type="checkbox"
                                                value="@item.id"
                                                checked="@SelectedEconomicActivities.Contains(item.id)"
                                                @onchange="() => ToggleEconomicActivity(item.id)"
                                                disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)" />
                                        <span class="label-text">@item.title</span>
                                    </label>
                                }
                                <ValidationMessage For="@(() => block_4.item_10)" />
                                @if (!string.IsNullOrEmpty(Item10WarningMessage))
                                {
                                    <div class="form-text text-success mb-3">
                                        @Item10WarningMessage
                                    </div>
                                }
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!--4.11-->
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">11</span>Type of dwelling unit of the household as on the date of survey
                            </label>
                            <select class="form-select is_sso"
                                    value="@block_4.item_11"
                                    @onchange="item_11_changed"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)">
                                <option value="">Select</option>
                                @foreach (var item in Block_4_Constants.Q4_11)
                                {
                                    <option value="@item.id">@item.title</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => block_4.item_11)" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!--4.12-->
                        <div class="mb-3" hidden="@(block_4.item_11 == 5 || block_4.item_11 == 0 || block_4.item_11 == null)">
                            <label class="form-label">
                                <span class="form-badge">12</span>Carpet area of dwelling unit (in square feet) of the household
                            </label>
                            <input type="number"
                                    class="form-control is_sso"
                                    value="@block_4.item_12"
                                    @oninput="OnItem12Changed"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)" />
                            <ValidationMessage For="@(() => block_4.item_12)" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!--4.13-->
                        <div class="mb-3" hidden="@(block_4.item_11 == 5 || block_4.item_11 == 0 || block_4.item_11 == null)">
                            <label class="form-label">
                                <span class="form-badge">13</span>Type of structure of the dwelling unit of the household
                            </label>
                            <select class="form-select is_sso"
                                    value="@block_4.item_13"
                                    @oninput="OnItem13Changed"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)">
                                <option value="">Select</option>
                                @foreach (var item in Block_4_Constants.Q4_13)
                                {
                                    <option value="@item.id">@item.title</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => block_4.item_13)" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!--4.14-->
                        <div class="mb-3" hidden="@(block_4.item_11 == 5 || block_4.item_11 == 0 || block_4.item_11 == null)">
                            <label class="form-label">
                                <span class="form-badge">14</span>Number of rooms in the dwelling unit of the household
                            </label>
                            <input type="number"
                                    class="form-control is_sso"
                                    value="@block_4.item_14"
                                    @oninput="OnItem14Changed"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)" />
                            <ValidationMessage For="@(() => block_4.item_14)" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!--4.15-->
                        <div class="mb-3">
                            <label class="form-label">
                                <span class="form-badge">15</span>Whether the household has any outstanding loan taken from financial institution * for the purpose of construction of land/house/building/flat or to meet expenditure of economic activity or; one or more of these?
                            </label>
                            <select class="form-select is_sso"
                                    value="@block_4.item_15"
                                    @oninput="OnItem15Changed"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)">
                                <option value="">Select</option>
                                @foreach (var item in Block_4_Constants.Q4_15)
                                {
                                    <option value="@item.id">@item.title</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => block_4.item_15)" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!--4.16-->
                        <div class="mb-3" hidden="@(block_4.item_15 != 1)">
                            <label class="form-label">
                                <span class="form-badge">16</span>
                                If code 1 in Q 4.15,
                                Amount paid towards repayment of the loan in the last month by the household (in Rs.)?

                            </label>
                            <input type="number"
                                    class="form-control is_sso"
                                    value="@block_4.item_17"
                                    @oninput="OnItem17Changed"
                                    disabled="@(hhdStatus != 0 && hhdStatus != 11 && hhdStatus != 12)" />
                            <ValidationMessage For="@(() => block_4.item_17)" />
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="footer">
        @* Remarks Card *@
        <div class="card custom-card">
            <div class="card-header">
                <h3 class="card-title">Remarks</h3>
            </div>
            <div class="card-body">
                    <textarea type="text" class="form-control is_sso" disabled="@(SessionStorage.FSU_Submitted))" placeholder="" cols="4" @bind="block_1.block_4_remark"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-outline-secondary" onclick="@GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
            </div>
            <div class="col-sm-6">
                <div class="d-flex justify-content-end">
                    @if (SessionStorage.role_name == CommonConstants.ROLE_NAME_JSO)
                    {
                        <button type="button" class="btn btn-outline-primary me-2 is_sso action" @onclick="@(() => Save())">
                            <i class="fi fi-rr-disk me-1"></i>Save
                        </button>
                    }
                    <NavLink class="btn btn-primary" @onclick="@(() => Save(true))">Next<i class="fi fi-rr-angle-right ms-1"></i></NavLink>
                </div>
            </div>
        </div>
    </div>
</EditForm>
}
<Modal @ref="comment_vm.AddModal" Title="Comment" CloseOnEscape="true" UseStaticBackdrop="true" ShowCloseButton="false" Size="ModalSize.ExtraLarge" Fullscreen="ModalFullscreen.LargeDown">
    <BodyTemplate>
        <div class="mb-3">
            <div class="row mb-2">    
                <div class="col-sm-12">
                    <label class="form-label">
                        <span class="form-badge">2</span>Question Number
                    </label>
                    <select class="form-select" @bind="comment_vm.item_no">
                        <option value="">Select</option>
                        @if (Question != null)
                        {
                            @foreach (var item in Question)
                            {
                                <option value="@item">@item</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <label for="commentBox" class="form-label">Enter your comment</label>
                    <textarea class="form-control" id="commentBox" rows="2" @bind="comment_vm.comment"></textarea>
                    @if (comment_vm.ShowError)
                    {
                        <div class="form-text text-danger">Comment cannot be empty.</div>
                    }
                </div>
            </div>
        </div>

        @if (CommentList != null)
        {
            <div class="table-responsive">
                <table class="table table-bordered table-striped align-middle">
                    <thead>
                        <tr>
                            <th style="min-width: 200px;">Comment</th>
                            <th style="min-width: 100px;">Item Number</th>
                            <th style="min-width: 50px;">Member Srl.</th>
                            <th style="min-width: 20px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in CommentList)
                        {
                            <tr>
                                <td>@item.comment</td>
                                <td class="text-center">@item.item_no</td>
                                <td class="text-center">@((item.serial_number == 0) ? "" : item.serial_number.ToString())</td>
                                <td class="text-center">
                                    <button class="btn btn-link fs-6 me-2" @onclick="@(() => Update(item))" disabled="@((SessionStorage.user_role != item.role_code))"><i class="fi fi-rr-pencil"></i></button>
                                    <button class="btn btn-link fs-6 text-danger" @onclick="@(() => Delete(item))" disabled="@((SessionStorage.user_role != item.role_code))"><i class="fi fi-rr-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </BodyTemplate>
    <FooterTemplate>
        <Button class="btn btn-outline-secondary" @onclick="@(() => Close())">Close</Button>
        <Button class="btn btn-primary" @onclick="@(() => Submit())">Submit</Button>
    </FooterTemplate>
</Modal>


@code {

    DateTime survey_time = DateTime.Now;
    int hhdStatus = 0;
    Tbl_Sch_0_0_Block_7? hhd;
    List<Tbl_Block_3> block_3_list = [];
    Tbl_Block_4? block_4;
    private Tbl_Block_1? block_1 = new();
    List<Tbl_Block_4_Q5> block_4_nic_list = [];
    DBQueries dQ = new();

    Tbl_Comments comments = new();
    List<string> Question = new List<string>();
    List<Tbl_Comments> CommentList = new List<Tbl_Comments>();
    List<int> RowList = [];
    CommonList commonList = new();


    // Stores selected land use codes
    private List<int> SelectedLandUses = new();
    private List<int> SelectedActivities = new();

    private int selectedEconomicActivity;
    private List<int> SelectedEconomicActivities = new();
    private int selectedDwellingType;
    private double? CarpetArea;
    private int selectedStructureType;
    private int? NumberOfRooms;
    private int selectedLoanStatus;
    private int selectedLoanPurpose;
    private double? LoanRepaymentAmount;

    private string Item8WarningMessage = string.Empty;
    private string Item10WarningMessage = string.Empty;
    private string Item16WarningMessage = string.Empty;

    EditContext editContext;
    private Block_4_Validator validator = new();
    private ValidationMessageStore messageStore;


    protected override async Task OnInitializedAsync()
    {
        for (var i = 1; i <= 17; i++)
        {
            Question.Add(i.ToString());
        }

        CommentList = await comment_vm.LoadData("1");
        comment_vm.NotifyUiUpdate += StateHasChanged;
        if (SessionStorage.role_name != CommonConstants.ROLE_NAME_JSO)
        {
            await JSRuntime.InvokeVoidAsync("__disableFieldsAndButtons");
        }

        hhdStatus = await dQ.GetCurrentHHDStatus(SessionStorage.SelectedFSUId, SessionStorage.selected_hhd_id);

        block_3_list = await dQ.Fetch_SCH_HIS_Block3(SessionStorage.selected_hhd_id);

        block_4 = await dQ.Fetch_SCH_HIS_Block4(SessionStorage.selected_hhd_id) ?? null;
        if (block_4 != null)
        {
            SelectedLandUses = block_4.item_8?
                                .Split(',', StringSplitOptions.RemoveEmptyEntries)
                                .Select(x => int.TryParse(x.Trim(), out var v) ? v : -1)
                                .Where(v => v != -1)
                                .ToList()
                                ?? new List<int>();

            SelectedEconomicActivities = block_4.item_10?
                                .Split(',', StringSplitOptions.RemoveEmptyEntries)
                                .Select(x => int.TryParse(x.Trim(), out var v) ? v : -1)
                                .Where(v => v != -1)
                                .ToList()
                                ?? new List<int>();

            editContext = new EditContext(block_4);
            messageStore = new ValidationMessageStore(editContext);
            editContext.OnFieldChanged += EditContext_OnFieldChanged;

        }
        block_4_nic_list = await dQ.Fetch_SCH_HIS_Block4_NICList();
        block_1 = await dQ.FetchSingleForFsuAndHhdAsync<Tbl_Block_1>() ?? null;
        StateHasChanged();
    }

    private void EditContext_OnFieldChanged(object sender, FieldChangedEventArgs e)
    {
        // Clear validation messages for this specific field
        messageStore.Clear(e.FieldIdentifier);

        // Update validation state
        editContext.NotifyValidationStateChanged();
    }


    private void item_6_changed(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (string.IsNullOrEmpty(value))
            block_4.item_6 = null;
        else
        {
            block_4.item_6 = int.Parse(value);
            if (block_4.item_6 == 2)
            {
                SelectedLandUses = [];
                block_4.item_7 = null;
            }
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_6));
        }
    }

    private void OnItem7Changed(ChangeEventArgs args)
    {
        if (decimal.TryParse(args.Value?.ToString(), out var result))
        {
            block_4.item_7 = result;
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_7));
        }
        else
        {
            block_4.item_7 = null;
        }
    }

    private void ToggleLandUse(int id)
    {
        if (SelectedLandUses.Contains(id))
            SelectedLandUses.Remove(id);
        else
            SelectedLandUses.Add(id);

        block_4.item_8 = SelectedLandUses.Any() ? string.Join(",", SelectedLandUses) : string.Empty;
        editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_8));

        //Warnings for Item 8
        CheckWarningForItem8();
        StateHasChanged();
    }

    void CheckWarningForItem8()
    {
        try
        {
            Item8WarningMessage = string.Empty;
            bool block_4_4_any_checked = block_4.item_4_1.GetValueOrDefault() || block_4.item_4_2.GetValueOrDefault() || block_4.item_4_3.GetValueOrDefault() || block_4.item_4_4.GetValueOrDefault() || block_4.item_4_5.GetValueOrDefault() || block_4.item_4_6.GetValueOrDefault();
            if ((SelectedLandUses.Contains(1) || SelectedLandUses.Contains(2) || SelectedLandUses.Contains(3)) && !block_4_4_any_checked)
            {
                Item8WarningMessage = $"W020(ii): Please check the entry against Q4.4";
            }
            if (SelectedLandUses.Contains(4) && block_4_nic_list.Count == 0)
            {
                Item8WarningMessage = $"W020(iii): Please check the entry against Q4.5";
            }
        }
        catch (Exception ex)
        {

        }
    }

    private void item_9_changed(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (string.IsNullOrEmpty(value))
            block_4.item_9 = null;
        else
        {
            block_4.item_9 = int.Parse(value);
            if (block_4.item_9 == 4)
            {
                SelectedEconomicActivities = [];
            }
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_9));
        }
    }

    private void ToggleEconomicActivity(int id)
    {
        if (SelectedEconomicActivities.Contains(id))
            SelectedEconomicActivities.Remove(id);
        else
            SelectedEconomicActivities.Add(id);

        block_4.item_10 = SelectedEconomicActivities.Any() ? string.Join(",", SelectedEconomicActivities) : string.Empty;
        editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_10));

        //Warnings for Item 10
        CheckWarningForItem10();
        StateHasChanged();
    }

    void CheckWarningForItem10()
    {
        try
        {
            Item8WarningMessage = string.Empty;
            bool block_4_4_any_checked = block_4.item_4_1.GetValueOrDefault() || block_4.item_4_2.GetValueOrDefault() || block_4.item_4_3.GetValueOrDefault() || block_4.item_4_4.GetValueOrDefault() || block_4.item_4_5.GetValueOrDefault() || block_4.item_4_6.GetValueOrDefault();
            if ((SelectedLandUses.Contains(1) || SelectedLandUses.Contains(2) || SelectedLandUses.Contains(3)) && !block_4_4_any_checked)
            {
                Item10WarningMessage = $"W022(ii): Please check the entry against Q4.4";
            }
            if (SelectedLandUses.Contains(4) && block_4_nic_list.Count == 0)
            {
                Item10WarningMessage = $"W022(iii): Please check the entry against Q4.5";
            }
        }
        catch (Exception ex)
        {

        }
    }

    private void item_11_changed(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (string.IsNullOrEmpty(value))
            block_4.item_11 = null;
        else
        {
            block_4.item_11 = int.Parse(value);
            if (block_4.item_11 == 5)
            {
                block_4.item_12 = null;
            }
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_11));
        }
    }

    private void OnItem12Changed(ChangeEventArgs args)
    {
        if (decimal.TryParse(args.Value?.ToString(), out var result))
        {
            block_4.item_12 = result;
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_12));
        }
        else
        {
            block_4.item_12 = null;
        }
    }

    private void OnItem13Changed(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (string.IsNullOrEmpty(value))
            block_4.item_13 = null;
        else
        {
            block_4.item_13 = int.Parse(value);
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_13));
        }
    }

    private void OnItem14Changed(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (string.IsNullOrEmpty(value))
            block_4.item_14 = null;
        else
        {
            block_4.item_14 = int.Parse(value);
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_14));
        }
    }

    private void OnItem15Changed(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (string.IsNullOrEmpty(value))
            block_4.item_15 = null;
        else
        {
            block_4.item_15 = int.Parse(value);
            if (block_4.item_15 == 2)
            {
                block_4.item_16 = null;
                block_4.item_17 = null;
            }
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_15));
        }
    }

    private void OnItem16Changed(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (string.IsNullOrEmpty(value))
            block_4.item_16 = null;
        else
        {
            block_4.item_16 = int.Parse(value);
            CheckWarningForItem16();
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_16));
        }
    }

    void CheckWarningForItem16()
    {
        try
        {
            Item16WarningMessage = string.Empty;
            bool block_4_4_any_checked = block_4.item_4_1.GetValueOrDefault() || block_4.item_4_2.GetValueOrDefault() || block_4.item_4_3.GetValueOrDefault() || block_4.item_4_4.GetValueOrDefault() || block_4.item_4_5.GetValueOrDefault() || block_4.item_4_6.GetValueOrDefault();
            if ((block_4.item_16 == 2 || block_4.item_16 == 3) && (!block_4_4_any_checked && block_4_nic_list.Count == 0))
            {
                Item8WarningMessage = $"W028(ii): Please check the entry against Q4.4 and/or Q4.5";
            }
            
        }
        catch (Exception ex)
        {

        }
    }

    private void OnItem17Changed(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();

        if (string.IsNullOrEmpty(value))
            block_4.item_17 = null;
        else
        {
            block_4.item_17 = int.Parse(value);
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_4.item_17));
        }
    }

    async void Comment()
    {
        await comment_vm.AddModal.ShowAsync();
    }
    async Task Submit()
    {
        var data = await comment_vm.Save("1");
        // Reset fields
        comment_vm.Serialnumber = null;
        comment_vm.item_no = string.Empty;
        comment_vm.comment = string.Empty;
        if (data > 0)
        {
            CommentList = await comment_vm.LoadData("1");
        }
        StateHasChanged();
    }

    async void Close()
    {
        await comment_vm.AddModal.HideAsync();
    }

    async void Delete(Tbl_Comments data)
    {
        var DeleteResult = await comment_vm.Delete(data);
        if (DeleteResult > 0)
        {
            CommentList = await comment_vm.LoadData("1");
        }
        StateHasChanged();

    }

    void Update(Tbl_Comments data)
    {
        comment_vm.LoadDataById(data);
    }

    async void GoBack()
    {
        await JSRuntime.InvokeVoidAsync("__handleGoBack");
        return;
    }

    private async Task Save(bool is_go_next = false)
    {
        if(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
        {
            NavigationManager.NavigateTo("dashboard/his/block_5");
            return;
        }
        else
        {
            messageStore.Clear();
            var result = await Validator.ValidateAsync(block_4, options => options.IncludeRuleSets("Page3"));
            // 3. Push new messages
            foreach (var error in result.Errors)
            {
                var fieldIdentifier = new FieldIdentifier(block_4, error.PropertyName);
                messageStore.Add(fieldIdentifier, error.ErrorMessage);
            }

            // 4. Notify the UI
            editContext.NotifyValidationStateChanged();
            if (result.IsValid)
            {
                int save = await dQ.Save_SCH_HIS_Block4(block_4);
                if (block_1 != null)
                {
                    await dQ.SaveAsync<Tbl_Block_1>(block_1);
                }
                if (save > 0)
                {
                    toastService.ShowSuccess("Data succesfully saved");
                }
                if (is_go_next)
                {
                    NavigationManager.NavigateTo("dashboard/his/block_5");
                }
            }
            else
            {
                toastService.ShowError("Please resolve pending errors");
            }
        }
    }

}