@page "/dashboard/his/block_11a"
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@using FluentValidation
@using Income.Database.Models.HIS_2026
@using Microsoft.AspNetCore.Components.Forms
@inject IJSRuntime JSRuntime
<div class="my-2">
    <CommonContentHeader SelectedFsuId="@SelectedFsuId" survey_time="@survey_time" />
    <div class="card card-style2">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h3 class="card-title m-0 d-flex align-items-center">
                <span class="text-primary me-2">Block 11a: Particulars of transfers paid on regularly / periodic basis to non-household member</span>
            </h3>
        </div>
        <EditForm Model="@selectBlock11A">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                            <tr>
                                <th class="fw-bold fs-6">Q.no.</th>
                                <th class="fw-bold fs-6">Question description</th>
                                <th class="fw-bold fs-6">Entry</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Q11.1</td>
                                <td>Whether transfers paid to other households in the form of family support payments (such as alimony, child and parental support) during last month?</td>
                                <td>
                                    <InputSelect class="form-select form-select-sm" @bind-Value="selectBlock11A.item_1" @oninput="q11_1Condition">
                                        <option value="">-Select-</option>
                                        <option value="1">1-yes</option>
                                        <option value="2">2-no</option>
                                    </InputSelect>

                                </td>
                            </tr>
                            <tr>
                                <td>Q11.2</td>
                                <td>
                                    If code 1 in 11.1,<br />
                                    Amount of such transfer paid during last month (yes - 1, no – 2)
                                </td>
                                <td>
                                    <input class="form-control form-control-sm" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)" disabled="@(!isQ11_2Enable)" @bind-value="selectBlock11A.item_2" />
                                </td>
                            </tr>
                            <tr>
                                <td>Q11.3</td>
                                <td>
                                    If code 2 in 11.1, <br />
                                    Whether transfers paid to other households in the form of family support payments (such as alimony, child and parental support) during last 365 days? (yes - 1, no – 2)
                                </td>
                                <td>
                                    <InputSelect class="form-select form-select-sm" @bind-Value="selectBlock11A.item_3" disabled="@(!isQ11_3Enable)" @oninput="q11_3Condition">
                                        <option value="">-Select-</option>
                                        <option value="1">1-yes</option>
                                        <option value="2">2-no</option>
                                    </InputSelect>

                                </td>
                            </tr>
                            <tr>
                                <td>Q11.4</td>
                                <td>
                                    If code 1 in 11.3,<br />
                                    Number of times such transfer paid during the last 365 days
                                </td>
                                <td>
                                    <input class="form-control form-control-sm" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)" disabled="@(!isQ11_4_5Enable)" @bind-value="selectBlock11A.item_4" />
                                </td>
                            </tr>
                            <tr>
                                <td>Q11.5</td>
                                <td>
                                    If code 1 in 11.3,<br />
                                    Total amount (in Rs.) transferred during the last 365 days
                                </td>
                                <td>
                                    <input class="form-control form-control-sm" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)" disabled="@(!isQ11_4_5Enable)" @bind-value="selectBlock11A.item_5" />
                                </td>
                            </tr>
                            <tr>
                                <td>Q11.6</td>
                                <td>Total amount (in Rs.) of regular transfer made to Non-profit organization(s) for charitable purposes during the last 365 days </td>
                                <td>
                                    <input class="form-control form-control-sm" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mb-3 px-2">
                        <label for="remarksTextarea" class="form-label">Remarks</label>
                        <textarea class="form-control" id="remarksTextarea" rows="3" placeholder="Enter remarks here"></textarea>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
    <div class="d-flex justify-content-between mb-3">
        <NavLink class="btn btn-outline-primary" href="/back">
            <i class="bi bi-chevron-left me-1"></i>
            Back
        </NavLink>
        <div class="d-flex">
            @if (SessionStorage.role_name == CommonConstants.ROLE_NAME_JSO)
            {
                <NavLink class="btn btn-primary me-2 is_sso action" href="/save">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Save
                </NavLink>
            }
            <NavLink class="btn btn-outline-primary" href="/next">
                Next
                <i class="bi bi-chevron-right ms-1"></i>
            </NavLink>
        </div>
    </div>
</div>

@code {
    int SelectedFsuId = SessionStorage.SelectedFSUId;
    private CommonConfig commonConfig = new CommonConfig();
    DateTime survey_time = DateTime.Now;
    // private List<Tbl_Block_11a> block3Members = new();
    // Create Object
    private Tbl_Block_11a selectBlock11A = new Tbl_Block_11a();
    private bool isQ11_2Enable = false;
    private bool isQ11_3Enable = false;
    private bool isQ11_4_5Enable = false;
    ////Check When select Q11_1 choose code 1 then enable Q11_3 and choose no code 2 then select Q11_3 input field
    private void q11_1Condition(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int value))
        {
            selectBlock11A.item_1 = value;
            isQ11_2Enable = value == 1;
            isQ11_3Enable = value == 2;

            // Clear dependent fields when disabling
            if (!isQ11_2Enable)
                selectBlock11A.item_2 = null;

            if (!isQ11_3Enable)
            {
                selectBlock11A.item_3 = null;
                selectBlock11A.item_4 = null;
                selectBlock11A.item_5 = null;
                isQ11_4_5Enable = false;
            }
        }
        else
        {
            // When Choose Select again then reset all field
            selectBlock11A.item_1 = null;
            selectBlock11A.item_2 = null;
            selectBlock11A.item_3 = null;
            selectBlock11A.item_4 = null;
            selectBlock11A.item_5 = null;

            // Disable all controls
            isQ11_2Enable = false;
            isQ11_3Enable = false;
            isQ11_4_5Enable = false;
        }
    }

    private void q11_3Condition(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int value))
        {
            selectBlock11A.item_3 = value;
            isQ11_4_5Enable = value == 1;
            if (!isQ11_4_5Enable)
            {
                selectBlock11A.item_4 = null;
                selectBlock11A.item_5 = null;
            }
        }
        else
        {
            selectBlock11A.item_3 = null;
            selectBlock11A.item_4 = null;
            selectBlock11A.item_5 = null;
            isQ11_4_5Enable = false;
        }
    }

}
