@page "/dashboard/his/block_2"
@using FluentValidation
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Viewmodels
@using System.Linq.Expressions
@using System.Reflection
@layout Income.Components.Layout.DashboardLayout
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject LocalizationService Loc
@inject IToastService toastService
@inject Warning_VM warningVM
@inject ILoggingService loggingService
@inject IValidator<Tbl_Block_FieldOperation> Validator

<div class="main-content">
    <CommonContentHeader SelectedFsuId="@SelectedFsuId"
                         survey_time="@survey_time" />

    <div class="card custom-card">
        <div class="card-header">
            <h3 class="card-title">
                <span class="text-primary me-1">[2]</span>@Loc["2_heading"]
            </h3>
            @* add comment *@
            @if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {

                <div class="card-tools d-flex justify-content-end align-items-end p-2">
                    <NavLink class="btn btn-primary" onclick="@(() => commentModal.Open())"><i class="fi fi-rr-comment-alt me-2"></i>Comment</NavLink>
                </div>
            }
        </div>

        @if (editContext != null)
        {
            <EditForm EditContext="editContext">
                <fieldset disabled="@(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)">

                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label">
                                    <span class="form-badge">1a</span>@Loc["enuname"]
                                </label>
                                <input type="text" class="form-control is_sso" value="@block_2?.enumerator_name" disabled>
                            </div>
                        </div>
                        @if (SessionStorage.role_name != CommonConstants.ROLE_NAME_JSO)
                        {
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label">
                                        <span class="form-badge">1b</span>@Loc["SupervisorName"]
                                    </label>
                                    <input type="text" class="form-control" value="@block_2?.supervisor_name" disabled>
                                </div>
                            </div>
                        }
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label">
                                    <span class="form-badge">2(i)</span>@Loc["surveyinspection"]
                                </label>
                                <input type="text" class="form-control is_sso" value="@dateofsurvey" disabled>
                            </div>
                        </div>
                        @if (SessionStorage.role_name != CommonConstants.ROLE_NAME_JSO)
                        {
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label">
                                        <span class="form-badge">2(iii)</span>date of scrutiny
                                    </label>
                                    <input type="text" class="form-control" value="@block_2?.date_of_scrutiny?.ToString("dd/MM/yy")" disabled>
                                </div>
                            </div>
                        }
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label">
                                    <span class="form-badge">3</span>@Loc["inminutes"]
                                </label>
                                <input type="number" class="form-control is_sso" value="@block_2?.total_time"
                                       @oninput="e =>
                                       {
                                           UpdateFieldAndValidate(() => block_2.total_time, e);
                                       }">
                                  <ValidationMessage For="@(() => block_2.total_time)" />
                                @if (!string.IsNullOrEmpty(item_3_warning))
                                {
                                    <div class="form-text text-success">
                                        @item_3_warning
                                    </div>
                                }
                              </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label">
                                    <span class="form-badge">4</span>@Loc["number"]
                                </label>
                                <input type="number" class="form-control is_sso" value="@block_2?.number_of_enumerators"
                                       @oninput="e =>
                                       {
                                           UpdateFieldAndValidate(() => block_2.number_of_enumerators, e);
                                       }">
                                  <ValidationMessage For="@(() => block_2.number_of_enumerators)" />
                              </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="d-flex align-items-center mb-3">
                                <label class="form-label me-3 mb-0">
                                    <span class="form-badge">5 (i)</span>@Loc["whether23"]
                                </label>
                                <div class="d-flex align-items-center">
                                    <div class="customRadioButton me-5">
                                        <label class="d-flex align-items-center">
                                            <input disabled class="is_sso" value="1" type="radio" id="remarkYes" name="remarksEntered" checked="@(block_2?.item_5_1_remarks)">
                                            <span class="label-text ms-2">Yes</span>
                                        </label>
                                    </div>
                                    <div class="customRadioButton">
                                        <label class="d-flex align-items-center">
                                            <input disabled class="is_sso" value="2" type="radio" id="remarkNo" name="remarksEntered" checked="@(!block_2?.item_5_1_remarks)">
                                            <span class="label-text ms-2">No</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="d-flex align-items-center mb-3">
                                <label class="form-label me-3 mb-0">
                                    <span class="form-badge">5 (ii)</span>@Loc["Whether24"]
                                </label>
                                <div class="d-flex align-items-center">
                                    <div class="customRadioButton me-5">
                                        <label class="d-flex align-items-center">
                                            <input disabled class="is_sso" value="1" type="radio" id="remarkEYes" name="remarksEEntered" checked="@(block_2?.item_5_2_remarks)">
                                            <span class="label-text ms-2">Yes</span>
                                        </label>
                                    </div>
                                    <div class="customRadioButton">
                                        <label class="d-flex align-items-center">
                                            <input disabled class="is_sso" value="2" type="radio" id="remarkENo" name="remarksEEntered" checked="@(!block_2?.item_5_2_remarks)">
                                            <span class="label-text ms-2">No</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label">
                                    <span class="form-badge">6</span>@Loc["name6"]
                                </label>
                                <select class="form-select is_sso" value="@block_2?.informant_serial"
                                        @oninput="e =>
                                        {
                                            UpdateFieldAndValidate(() => block_2.informant_serial, e);
                                        }">
                                      <option value="">Select</option>
                                    @if (block_3 != null)
                                    {
                                        @foreach (var item in block_3)
                                        {
                                             <option value="@item.serial_no">@item.serial_no - @item.item_2</option>
                                        }
                                    }
                                    <option value="99">99 - others</option>
                                </select>
                                <ValidationMessage For="@(() => block_2.informant_serial)" />
                                @if (!string.IsNullOrEmpty(item_6_warning))
                                {
                                    <div class="form-text text-success">
                                        @item_6_warning
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label">
                                    <span class="form-badge">7</span>@Loc["Mobile6"]
                                </label>
                                    <input type="number" class="form-control is_sso no-spinner" value="@block_2?.informant_mobile" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                       @oninput="e =>
                                       {
                                           OnMobileNumberEntered(e);
                                       }">
                                  <ValidationMessage For="@(() => block_2.informant_mobile)" />
                                @if (!string.IsNullOrEmpty(item_7_warning))
                                {
                                    <div class="form-text text-success">
                                        @item_7_warning
                                    </div>
                                }
                              </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label">
                                    <span class="form-badge">8</span>@Loc["Response"]
                                </label>
                                <select class="form-select w-100 is_sso" value="@block_2?.informant_response_code"
                                        @onchange="e =>
                                        {
                                            UpdateFieldAndValidate(() => block_2.informant_response_code, e);
                                        }">
                                      <option value="">Select</option>
                                      <option value="1">informant co-operative and capable - 1</option>
                                      <option value="2">informant co-operative but not capable - 2</option>
                                      <option value="3">informant busy - 3</option>
                                      <option value="4">informant reluctant - 4</option>
                                      <option value="9">others - 9</option>

                                </select>
                                <ValidationMessage For="@(() => block_2.informant_response_code)" />
                            </div>
                        </div>
                    </div>
                </div>
                </fieldset>
            </EditForm>
        }
    </div>

    <div class="footer">
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-outline-secondary" onclick="@GoBack"><i class="fi fi-rr-angle-left me-1"></i>Back</button>
            </div>
            <div class="col-sm-6">
                <div class="d-flex align-items-center justify-content-end">
                    @if (SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                    {
                        <NavLink class="btn btn-outline-primary me-2 is_sso action" @onclick="@(() => HandleSubmit(false))"><i class="fi fi-rr-disk me-1"></i>Save</NavLink>
                    }
                    <NavLink class="btn btn-primary" @onclick="@(() => HandleSubmit(true))">Exit<i class="fi fi-rr-cross-circle ms-1"></i></NavLink>
                </div>
            </div>
        </div>
    </div>
</div>

<CommentModal @ref="commentModal"
              MemberList=null
              QuestionList="@(new List<string>(){"1","2","3","4","5","6","7","8"})"
              Block="2" />

@code {

    int SelectedFsuId = SessionStorage.SelectedFSUId;
    DateTime survey_time = DateTime.Now;
    Tbl_Block_1? block_1;
    Tbl_Block_FieldOperation? block_2;
    List<Tbl_Block_3> block_3 = [];
    CommonQueries commonQueries = new CommonQueries();
    CommonConfig commonConfig = new CommonConfig();
    DBQueries dB = new();
    bool is_error = false;
    EditContext? editContext;
    ValidationMessageStore? messageStore;
    string dateofsurvey = "";
    CommentModal commentModal = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (SessionStorage.role_name != CommonConstants.ROLE_NAME_JSO)
            {
                await JSRuntime.InvokeVoidAsync("__disableFieldsAndButtons");
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {

        try
        {
            Tbl_Visited_Blocks vb = new Tbl_Visited_Blocks
            {
                block_uri = "/dashboard/his/block_2",
                block_title = "HIS Block 2",
                block_code = CommonEnum.his_block_2.ToString(),
            };
            await commonQueries.InsertVisitedBlock(vb);
            await LoadData();
            dateofsurvey = block_2?.date_of_survey?.ToString("dd/MM/yy") ?? "";
            editContext = new EditContext(block_2);
            messageStore = new ValidationMessageStore(editContext);
            editContext.OnFieldChanged += EditContext_OnFieldChanged;
            if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {
                survey_time = block_2.survey_timestamp.GetValueOrDefault();
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            return;
        }
    }

    private void EditContext_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        // Clear validation messages for this specific field
        messageStore.Clear(e.FieldIdentifier);

        // Update validation state
        editContext.NotifyValidationStateChanged();
    }

    private void OnMobileNumberEntered(ChangeEventArgs e)
    {
        string mobile = e.Value?.ToString() ?? "";
        if (block_2 != null)
        {
            block_2.informant_mobile = mobile;
            CheckMobileNumber();
            editContext?.NotifyFieldChanged(
            FieldIdentifier.Create(() => block_2.informant_mobile));
        }
    }

    private void UpdateFieldAndValidate(Expression<Func<int?>> field, ChangeEventArgs e)
    {
        var identifier = FieldIdentifier.Create(field);

        // Try parse
        int? value = null;
        if (!string.IsNullOrWhiteSpace(e.Value?.ToString()) &&
            int.TryParse(e.Value?.ToString(), out var v))
        {
            value = v;
        }

        // 1️. Update the actual model field
        var memberExpr = (MemberExpression)field.Body;
        var prop = (PropertyInfo)memberExpr.Member;
        prop.SetValue(block_2, value);

        if(identifier.FieldName == "total_time")
        {
            CheckTimeWarning();
        }

        if (identifier.FieldName == "informant_serial")
        {
            CheckInformantAge();
            if(block_2?.informant_serial != 99)
            {
                var member = block_3.FirstOrDefault(x => x.serial_no == block_2?.informant_serial);
                block_2.informant_name = member?.item_2;
                block_2.fk_block_3 = member?.id;
            }
        }

        // 2️. Clear previous errors
        messageStore?.Clear(identifier);

        // 3️. Notify Blazor validation system
        editContext?.NotifyFieldChanged(identifier);
    }

    string item_3_warning = string.Empty;
    string item_6_warning = string.Empty;
    string item_7_warning = string.Empty;

    void CheckTimeWarning()
    {
        try
        {
            item_3_warning = string.Empty;
            if (block_1?.survey_code == 1 || block_1?.survey_code == 2)
            {
                if(block_2?.total_time < 10 || block_2?.total_time > 90)
                {
                    item_3_warning = "W078(i): Invalid entry, please check item 12, block-1";
                }
            }
            if (block_1?.survey_code == 3)
            {
                if (block_2?.total_time <= 0 || block_2?.total_time > 10)
                {
                    item_3_warning = "W078(ii): Invalid entry, please check item 12, block-1";
                }
            }
        }
        catch (Exception ex)
        {

        }
    }

    void CheckInformantAge()
    {
        try
        {
            item_6_warning = string.Empty;
            if (block_3.Count > 1 && block_3?.FirstOrDefault(x => x.serial_no == block_2?.informant_serial)?.age <= 15)
            {
                item_6_warning = "W082: Informant age is <= 15";
            }
        }
        catch (Exception ex)
        {

        }
    }

    void CheckMobileNumber()
    {
        item_7_warning = string.Empty;
        if(block_2?.informant_mobile?.Length != 10)
        {
            item_7_warning = "W083(i): Mobile number needs to be 10 digits long";
        }
    }


    async void GoBack()
    {
        NavigationManager.NavigateTo("/dashboard/his/block_12");

        // await JSRuntime.InvokeVoidAsync("__handleGoBack");
        return;
    }


    private async Task LoadData()
    {
        try
        {
            block_1 = await dB.FetchSingleForFsuAndHhdAsync<Tbl_Block_1>();
            block_2 = await dB.FetchSingleForFsuAndHhdAsync<Tbl_Block_FieldOperation>();
            if (block_2 == null)
            {
                block_2 = new Tbl_Block_FieldOperation
                {
                    id = Guid.NewGuid(),
                    fsu_id = SessionStorage.SelectedFSUId,
                    hhd_id = SessionStorage.selected_hhd_id,
                    enumerator_name = SessionStorage.full_name,
                    enumerator_code = SessionStorage.user_name,
                    date_of_survey = DateTime.Now,
                    item_5_1_remarks = block_1 != null ? !string.IsNullOrWhiteSpace(block_1.block_12_remark) : false,
                    item_5_2_remarks = block_1 != null ? (!string.IsNullOrWhiteSpace(block_1.block_1_remark) ||
                                        !string.IsNullOrWhiteSpace(block_1.block_3_remark) ||
                                        !string.IsNullOrWhiteSpace(block_1.block_4_remark) ||
                                        !string.IsNullOrWhiteSpace(block_1.block_5_remark) ||
                                        !string.IsNullOrWhiteSpace(block_1.block_6_remark) ||
                                        !string.IsNullOrWhiteSpace(block_1.block_7a_remark) ||
                                        !string.IsNullOrWhiteSpace(block_1.block_7b_remark) ||
                                        !string.IsNullOrWhiteSpace(block_1.block_7c_remark) ||
                                        !string.IsNullOrWhiteSpace(block_1.block_7d_remark) ||
                                        !string.IsNullOrWhiteSpace(block_1.block_8a_remark) ||
                                        !string.IsNullOrWhiteSpace(block_1.block_8b_remark) ||
                                        !string.IsNullOrWhiteSpace(block_1.block_9a_remark) ||
                                        !string.IsNullOrWhiteSpace(block_1.block_9b_remark) ||
                                        !string.IsNullOrWhiteSpace(block_1.block_10_remark) ||
                                        !string.IsNullOrWhiteSpace(block_1.block_11a_remark) ||
                                        !string.IsNullOrWhiteSpace(block_1.block_11b_remark)) : false

                };
            }
            else
            {
                if (SessionStorage.GetUserRole() == SessionStorage.UserRole.SSO)
                {
                    block_2.supervisor_name = SessionStorage.full_name;
                    block_2.supervisor_code = SessionStorage.user_name;
                    block_2.date_of_scrutiny = DateTime.Now;
                    await dB.SaveAsync<Tbl_Block_FieldOperation>(block_2);
                }

                CheckTimeWarning();
                CheckInformantAge();
                CheckMobileNumber();
            }
            block_3 = await dB.FetchListAsync<Tbl_Block_3>();

            warningVM._tempWarnings.Clear();
            var data = await dB.GetWarningTableDataForSerial(SessionStorage.SelectedFSUId, SessionStorage.selected_hhd_id, "2", 0);
            warningVM.WarningList.AddRange(data);
            if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {
                survey_time = block_2.survey_timestamp.GetValueOrDefault();
            }
        }
        catch (Exception ex)
        {
            await loggingService.LogError("HIS_Block_2_Page_LoadData", ex);
        }
    }

    private async Task HandleSubmit(bool is_go_next = false)
    {
        try
        {
            if (SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {
                NavigationManager.NavigateTo("/dashboard/his/ssu_page");
                return;
            }
            var validationResult = await Validator.ValidateAsync(block_2);
            if (!validationResult.IsValid)
            {
                // Clear existing messages
                messageStore.Clear();
                // Add new validation messages
                foreach (var error in validationResult.Errors)
                {
                    var fieldIdentifier = new FieldIdentifier(block_2, error.PropertyName);
                    messageStore.Add(fieldIdentifier, error.ErrorMessage);
                }
                // Notify the EditContext that the validation state has changed
                editContext.NotifyValidationStateChanged();
                is_error = true;
                return;
            }

            CheckTimeWarning();
            CheckInformantAge();
            CheckMobileNumber();
            int saved = await dB.SaveAsync<Tbl_Block_FieldOperation>(block_2);
            if (saved > 0)
            {
                if(SessionStorage.GetUserRole() == SessionStorage.UserRole.JSO)
                {
                    var hhd = await dB.GetCurrentHHD(SessionStorage.SelectedFSUId, SessionStorage.selected_hhd_id);
                    if (hhd != null && hhd.hhdStatus != 12)
                    {
                        hhd.hhdStatus = 15;
                        await dB.SaveUpdateSCH0Block7(hhd);
                    }
                }
                toastService.ShowSuccess("Data saved successfully");
                if (!string.IsNullOrEmpty(item_3_warning))
                {
                    warningVM.AddWarning(item_3_warning, "HIS", "2", "3", SessionStorage.selected_hhd_id);
                }
                if (!string.IsNullOrEmpty(item_6_warning))
                {
                    warningVM.AddWarning(item_6_warning, "HIS", "2", "6", SessionStorage.selected_hhd_id);
                }
                if (!string.IsNullOrEmpty(item_7_warning))
                {
                    warningVM.AddWarning(item_7_warning, "HIS", "2", "7", SessionStorage.selected_hhd_id);
                }
                await warningVM.SaveWarningAsync("HIS", "2");
                warningVM._tempWarnings.Clear();
                if (is_go_next)
                {
                    NavigationManager.NavigateTo("/dashboard/his/ssu_page");
                }
            }
            else
            {
                toastService.ShowError("Error saving data. Please try again.");
            }
        }
        catch (Exception ex)
        {
            await loggingService.LogError("HIS_Block_2_Page_HandleSubmit", ex);
        }
        
    }


}
