@page "/dashboard/his/block_7a_2"
@using Blazored.FluentValidation
@using FluentValidation
@using Income.Common.HIS2026
@using Income.Database.Models.Common
@using Income.Database.Models.HIS_2026
@using Income.Validators.HIS2026
@using Income.Viewmodels
@using System.Linq.Expressions
@using System.Reflection
@inject IJSRuntime JSRuntime
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject Comment_vm comment_vm
@inject LocalizationService Loc
@inject IValidator<Tbl_Block_7a> Validator

<div class="main-content">
    <CommonContentHeader SelectedFsuId="@SessionStorage.SelectedFSUId" survey_time="@survey_date"/>

    @if (editContext != null)
    {
        <EditForm EditContext="editContext">
            <FluentValidationValidator/>
            <div class="card custom-card">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-bordered align-middle text-center mb-0">
                            <thead>
                                <tr>
                                    <th colspan="3" class="bg-transparent text-start">
                                        <label class="form-label fw-bold m-0">
                                            <span class="badge bg-primary me-1">Q7.2</span>
                                            Expenses incurred by the household during ‘last 365 days’ on inputs used for production of crops (including imputed expenses)
                                        </label>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="width: 50px;">S. No.</th>
                                    <th>Description of Item</th>
                                    <th>Cost of Input (in Rs.)</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>1</td>
                                    <td>Seeds </td>
                                    <td>
                                        <input disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7A.item_2_1" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                               @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7A.item_2_1, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7A.item_2_1)" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Manures, chemicals, bio-fertilizers, plant protection materials (chemicals/bio-pesticides) </td>
                                    <td>
                                          <input disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7A.item_2_2" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7A.item_2_2, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7A.item_2_2)" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Feed and fodder</td>
                                    <td>
                                          <input disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7A.item_2_3" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7A.item_2_3, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7A.item_2_3)" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Diesel, electricity and other fuel charges</td>
                                    <td>
                                          <input disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7A.item_2_4" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7A.item_2_4, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7A.item_2_4)" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Irrigation / water charges</td>
                                    <td>
                                          <input disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7A.item_2_5" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7A.item_2_5, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7A.item_2_5)" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Cost of hiring, repair and maintenance of machinery and equipment used for crop production </td>
                                    <td>
                                          <input disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7A.item_2_6" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7A.item_2_6, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7A.item_2_6)" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Labour cost (human and animal)</td>
                                    <td>
                                          <input disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7A.item_2_7" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7A.item_2_7, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7A.item_2_7)" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Lease rent for land used for crop production</td>
                                    <td>
                                          <input disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7A.item_2_8" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7A.item_2_8, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7A.item_2_8)" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Interest paid on loans utilized for the purpose of crop production and cost of crop insurance / premium </td>
                                    <td>
                                          <input disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7A.item_2_9" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7A.item_2_9, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7A.item_2_9)" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Transportation & packaging charges  </td>
                                    <td>
                                          <input disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7A.item_2_10" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7A.item_2_10, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7A.item_2_10)" />

                                    </td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Storage charges (includes cold storage charges)</td>
                                    <td>
                                          <input disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7A.item_2_11" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                               @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7A.item_2_11, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7A.item_2_11)" />

                                    </td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>Others (include veterinary services etc.)</td>
                                    <td>
                                          <input disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7A.item_2_12" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                               @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7A.item_2_12, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7A.item_2_12)" />

                                    </td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td class="fw-bold">Total (sum of entries at s. nos. 01-12)</td>
                                    <td>
                                        <input class="form-control form-control-sm no-spinner" value="@block_7A.item_2_13" disabled />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @* 7.3, 7.4 .... *@
            <div class="card custom-card">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-bordered align-middle text-center mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="badge bg-primary me-1">Q7.3</div>
                                    </td>
                                    <td>Receipts from Sale of seeds/ manure / bio-fertilizer / saplings etc. during last 365 days (in whole no. of Rs.) </td>
                                    <td>
                                        <input disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7A.item_3" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                               @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7A.item_3, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7A.item_3)" />
                                    </td>
                                </tr>
                                  

                                <tr>
                                    <td>
                                        <div class="badge bg-primary me-1">Q7.4</div>
                                    </td>
                                    <td>Sale value of produces which were cultivated beyond last 365 days but sold during last 365 days (in whole no. of Rs.) </td>
                                    <td>
                                        <input disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7A.item_4" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                               @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7A.item_4, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7A.item_4)" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="badge bg-primary me-1">Q7.5</div>
                                    </td>
                                    <td>Imputed value of crops consumed by the household or bartered to other households out of total production during last 365 days (in whole no. of Rs.) </td>
                                    <td>
                                          <input disabled="@(!codeListEntryNeeded)" class="form-control form-control-sm no-spinner" value="@block_7A.item_5" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)"
                                                 @oninput="e =>
                                               {
                                                   UpdateFieldAndValidate(() => block_7A.item_5, e);
                                               }" />
                                          <ValidationMessage For="@(() => block_7A.item_5)" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="badge bg-primary me-1">Q7a.9</div>
                                    </td>
                                    <td>Gross Profit / Loss before tax realized by the establishment during last 365 days (in whole no. of Rs.) </td>
                                    <td>
                                          <input class="form-control form-control-sm no-spinner" value="@block_7A.item_6" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)" disabled />
                                          <ValidationMessage For="@(() => block_7A.item_6)" />
                                          @if(!string.IsNullOrEmpty(item_6_warning))
                                        {
                                            <div class="text-success mt-1 fw-bold">
                                                @item_6_warning
                                            </div>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </EditForm>
        
    }
    @* 7.2 *@
    
</div>
<div class="footer">
    @* Remarks Card *@
    <div class="card custom-card">
        <div class="card-header">
            <h5 class="card-title m-0">
                Remarks
            </h5>
        </div>
        <div class="card-body">
            <textarea maxlength="500" class="form-control w-100" rows="4" @bind="block_1.block_7a_remark"></textarea>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-outline-secondary"><i class="fi fi-rr-angle-left me-1" onclick="@GoBack"></i>Back</button>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center justify-content-end">
                <NavLink class="btn btn-outline-primary me-2" @onclick="@(() => Save(false))"><i class="fi fi-rr-disk me-1"></i>Save</NavLink>
                <NavLink class="btn btn-primary" @onclick="@(() => Save(true))">Next<i class="fi fi fi-rr-angle-right ms-1"></i></NavLink>
            </div>
        </div>

    </div>

</div>


@code {
    private Modal modal = default!;
    private Tbl_Block_4? block_4 = null;
    private Tbl_Block_7a? block_7A = new();
    private Tbl_Block_1? block_1 = new();
    private List<Tbl_Block_7a_1> CropIncomeList = [];
    EditContext editContext;
    ValidationMessageStore messageStore;
    int Q7_1_Sum = 0;
    bool codeListEntryNeeded = false;
    DBQueries dB = new();
    bool isAdd;
    DateTime survey_date = DateTime.Now;
    string remarks = string.Empty;
    string item_6_warning = string.Empty;


    async void GoBack()
    {
        await JSRuntime.InvokeVoidAsync("__handleGoBack");
        return;
    }

    protected override async Task OnInitializedAsync()
    {
        block_4 = await dB.Fetch_SCH_HIS_Block4(SessionStorage.selected_hhd_id);
        block_1 = await dB.FetchSingleForFsuAndHhdAsync<Tbl_Block_1>() ?? null;
        CropIncomeList = await dB.Fetch_SCH_HIS_Block7A_CodeList();
        if (CropIncomeList != null && CropIncomeList.Count > 0)
        {
            Q7_1_Sum = CropIncomeList.Sum(x =>
                          (x.item_6 ?? (x.item_7.GetValueOrDefault() * x.item_5.GetValueOrDefault()))
                        + x.item_8.GetValueOrDefault()
                        + x.item_9.GetValueOrDefault());
        }
        codeListEntryNeeded = block_4 != null && (block_4.item_4_1.GetValueOrDefault() || block_4.item_4_2.GetValueOrDefault());
        await LoadData();
        if (block_7A == null)
        {
            block_7A = new();
            block_7A.id = Guid.NewGuid();
        }
        editContext = new EditContext(block_7A);
        messageStore = new ValidationMessageStore(editContext);
        editContext.OnFieldChanged += EditContext_OnFieldChanged;

        StateHasChanged();
    }

    private void EditContext_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        // Clear validation messages for this specific field
        messageStore.Clear(e.FieldIdentifier);

        // Update validation state
        editContext.NotifyValidationStateChanged();
    }

    private async Task LoadData()
    {
        block_7A = await dB.Fetch_SCH_HIS_Block7A(SessionStorage.selected_hhd_id);
    }

    private void UpdateFieldAndValidate(Expression<Func<int?>> field, ChangeEventArgs e)
    {
        var identifier = FieldIdentifier.Create(field);

        // Try parse
        int? value = null;
        if (!string.IsNullOrWhiteSpace(e.Value?.ToString()) &&
            int.TryParse(e.Value?.ToString(), out var v))
        {
            value = v;
        }

        // 1️⃣ Update the actual model field
        var memberExpr = (MemberExpression)field.Body;
        var prop = (PropertyInfo)memberExpr.Member;
        prop.SetValue(block_7A, value);

        block_7A.item_2_13 = block_7A.item_2_1.GetValueOrDefault() + block_7A.item_2_2.GetValueOrDefault() + block_7A.item_2_3.GetValueOrDefault() + block_7A.item_2_4.GetValueOrDefault()
           + block_7A.item_2_5.GetValueOrDefault() + block_7A.item_2_6.GetValueOrDefault() + block_7A.item_2_7.GetValueOrDefault() + block_7A.item_2_8.GetValueOrDefault() +
           block_7A.item_2_9.GetValueOrDefault() + block_7A.item_2_10.GetValueOrDefault() + block_7A.item_2_11.GetValueOrDefault() + block_7A.item_2_12.GetValueOrDefault();


        block_7A.item_6 = Q7_1_Sum + block_7A.item_3.GetValueOrDefault() + block_7A.item_5.GetValueOrDefault() - block_7A.item_2_13.GetValueOrDefault();
        if (block_7A.item_6.HasValue)
        {
            CheckItem6Warning();
        }
        // Notify Blazor that item_7 changed
        editContext?.NotifyFieldChanged(
            new FieldIdentifier(block_7A, nameof(block_7A.item_2_13))
        );

        // 2️⃣ Clear previous errors
        messageStore?.Clear(identifier);

        // 3️⃣ Notify Blazor validation system
        editContext?.NotifyFieldChanged(identifier);
    }

    void CheckItem6Warning()
    {
        try
        {
            item_6_warning = string.Empty;
            if (block_7A != null && block_7A.item_6 < 0)
            {
                item_6_warning = $"W043: Please recheck the value";
            }
        }
        catch (Exception ex)
        {
            
        }
        
    }

    private async Task Save(bool is_go_next = false)
    {
        try
        {
            if(SessionStorage.GetUserRole() != SessionStorage.UserRole.JSO)
            {
                NavigationManager.NavigateTo("/dashboard/his/block_7b");
                return;
            }
            if (!codeListEntryNeeded)
            {
                NavigationManager.NavigateTo("/dashboard/his/block_7b");
                return;
            }

            messageStore.Clear();
            var validation = Validator.Validate(block_7A);

            foreach (var error in validation.Errors)
            {
                var fieldIdentifier = new FieldIdentifier(block_7A, error.PropertyName);
                messageStore.Add(fieldIdentifier, error.ErrorMessage);
            }
            editContext.NotifyValidationStateChanged();

            if (!validation.IsValid)
            {
                toastService.ShowError("Please resolve all the errors");
                return;
            }
            else
            {
                int saved = await dB.Save_SCH_HIS_Block7A(block_7A);
                if (saved > 0)
                {
                    toastService.ShowSuccess("Saved successfully");
                }
                else
                {
                    toastService.ShowSuccess("Data could not be saved");
                }
            }

            if(!is_go_next)
            {
                return;
            }
            if (block_1 != null)
            {
                await dB.SaveAsync<Tbl_Block_1>(block_1);
            }
            NavigationManager.NavigateTo("/dashboard/his/block_7b");
        }
        catch (Exception ex)
        {
            
        }
    }
}
