@page "/dashboard/his/block_11b"
@layout Income.Components.Layout.DashboardLayout
@inject NavigationManager NavigationManager
@inject IToastService toastService
@using FluentValidation
@using Income.Database.Models.HIS_2026
@using Microsoft.AspNetCore.Components.Forms
@inject IJSRuntime JSRuntime


<div class="my2">
    <CommonContentHeader SelectedFsuId="@SelectedFsuId" survey_time="@survey_time" />
    <div class="card card-style2">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h3 class="card-title m-0 d-flex align-items-center">
                <span class="text-primary me-2">Block 11b: Particulars of direct tax (income tax, professional tax, etc.) paid</span>
            </h3>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal"><i class="bi bi-plus"></i>Add</button>
        </div>
        @* Card Body *@
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-bordered table-striped mb-0 text-center">
                    <thead>
                        <tr>
                            <th>S.no.of the member</th>
                            <th>Name of the member</th>
                            <th>Whether paid any direct tax during last financial year? <br /> (yes-1, no-2) </th>
                            <th>
                                Amount of direct tax paid (net of refunds) in last financial year (in Rs.)
                            </th>
                        </tr>
                        <tr>
                            <th>(1)</th>
                            <th>(2)</th>
                            <th>(3)</th>
                            <th>(4)</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var user in showDataTable11B)
                        {
                            <tr>
                                <td>@user.item_1</td>
                                <td>@user.item_2</td>
                                <td>@user.item_3</td>
                                <td>@user.item_4</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    @* Model Popup When Click Add Button *@
    <div class="modal fade" id="addModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <EditForm Model="@table11B">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="modal-header">
                        <h5 class="modal-title">Add Item</h5>
                    </div>

                    <div class="modal-body">
                        <div class="row">

                            <div class="col-sm-6 mb-3">
                                <label class="form-label fw-bold">
                                    1. S.no.of the member
                                </label>
                                <input type="number" readonly class="form-control form-control-sm" value="@table11B.item_1" disabled />
                            </div>

                            <div class="col-sm-6 mb-3">
                                <label class="form-label fw-bold">
                                    2. Name of Member
                                </label>
                                <InputText @bind-Value="table11B.item_2"
                                           class="form-control form-control-sm"
                                           id="memberName"
                                           onkeypress="return /^[A-Za-z ]*$/.test(event.target.value + event.key)" />
                            </div>

                            <div class="col-sm-6 mb-3">
                                <label class="form-label fw-bold">
                                    3. Whether paid any direct tax during last financial year? (yes-1, no-2)
                                </label>
                                <InputSelect @bind-Value="table11B.item_3"
                                             class="form-select form-select-sm">
                                    <option value="">-Select-</option>
                                    <option value="1">1-yes</option>
                                    <option value="2">2-no</option>

                                </InputSelect>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label class="form-label fw-bold">
                                    4. Amount of direct tax paid (net of refunds) in last financial year (in Rs.)
                                </label>
                                <input class="form-control form-control-sm" onkeypress="return /^(\d*)$/.test(event.target.value + event.key)" @bind-value="table11B.item_4" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm" @onclick="handleSave">
                            <i class="bi bi-floppy-fill me-1"></i>
                            Save
                        </button>
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>

</div>

@code {
    int SelectedFsuId = SessionStorage.SelectedFSUId;
    private CommonConfig commonConfig = new CommonConfig();
    DateTime survey_time = DateTime.Now;
    //Create Object Tbl_Block_11b
    private Tbl_Block_11b table11B = new();
    //Store Data Using List
    private List<Tbl_Block_11b> showDataTable11B = new();

    //Validate And Hard Check All Field
    private void handleValidation()
    {
        
    }
    //Save Data And show List
    private void handleSave()
    {
        table11B.item_1 = showDataTable11B.Count + 1;

        showDataTable11B.Add(table11B);

        table11B = new Tbl_Block_11b(); // reset form
    }
}
